@{
    ViewBag.Title = "Catálogos - Item Code Steelgo";
}

@section breadcrumb {
    <li>
        <a href="@Url.Action("landing", "Home")"><span id="ListadoAvisoLlegada0020"></span></a>
    </li>
    <li>
        <a href="@Url.Action("ItemCodeSteelGo", "Catalogos")"><span id="ItemCodeSteelGo0001"></span></a>
    </li>
    <li class="active">
        <a href="@Url.Action("AsociacionItemCodes", "Catalogos")"><span id="AsociacionICS0004"></span></a>
    </li>
}

<div id="formAsociacionItemCodes" class="form clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="formNav clearfix">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="button-section">
                            <div class="btn-group save-group">
                                <button id="GuardarICS" onclick="javascript:void(0);" type="button" class="btn btn-yellow"><span id="LlegadaMaterial0011"></span></button>
                            </div>
                            <a id="Cancelar" href="#" class="btn btn-black"><span id="LlegadaMaterial0012"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-11">
                    <div class="row">
                        <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-2">
                            <label for="icinput" id="AsociacionICS0001"></label>
                            <input id="icinput" type="text" />
                        </div>
                        <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-2">
                            <label for="D1">D1</label>
                            <input id="D1" class="general-input" readonly disabled type="number" />
                        </div>
                        <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-2">
                            <label for="D2">D2</label>
                            <input id="D2" class="general-input" readonly disabled type="number" />
                        </div>
                        <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-2">
                            <label for="descripcionIC" id="AsociacionICS0002"></label>
                            <input id="descripcionIC" class="general-input" readonly disabled type="text" />
                        </div>
                        <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-2">
                            <label for="icsasociado" id="AsociacionICS0003"></label>
                            <input id="icsasociado" class="general-input" readonly disabled type="text" />
                            <input type="number" hidden id="idICS" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div id="grid"></div>
                </div>
            </div>
        </div>
        <ul id="context-menu">
            <li>Seleccionar Item Code Steelgo</li>
        </ul>
    </div>
</div>

<script>
@section JavascriptGlobalVariables {
    editado=false;
    itemActual={};
    var $AsociacionItemCodesModel = {
        listContainer: {
            create: "",
            list: ["#grid","#icinput"],
            detail: "",
            destroy: ""
        },
        properties:{
            icinput:{
                visible: ".form-group:first",
                editable: "#icinput",
                required: "#icinput"
            },
            guardarics:{
                visible: ".save-group",
                editable: "#GuardarICS",
                required: "#GuardarICS"
            }
        }
    };
}

@section JavascriptGlobalFunctions {
    function changeLanguageCall() {
        tmp=removeGrid($("#grid"));
        cargarInicialGrid();
        $("#grid").data("kendoGrid").dataSource.data(tmp);
    };

    $("#Cancelar").on("click",function(){
        var options = $("#grid").data("kendoGrid").options;
        $("#grid").data("kendoGrid").destroy();
        $("#grid").empty().kendoGrid(options);
        options=$("#icinput").data("kendoComboBox").options;
        $("#icinput").data("kendoComboBox").destroy();
        $("#icinput").empty().kendoComboBox(options);
        $("#D1").val(null);
        $("#D2").val(null);
        $("#descripcionIC").val(null);
        $("#icsasociado").val(null);
        itemActual=[];
        editado=false;
    })

    $("#icinput").kendoComboBox({
        dataSource: {
            transport: {
                read: {
                    url:$AsociacionICS.AsociacionICS.urlNoId + "?token=" + Cookies.get("token"),
                    dataType: "json",
                    type:"GET"
                }
            }
        },
        change:function(e){
            $AsociacionICS.AsociacionICS.read({},{itemCode:$("#icinput").data("kendoComboBox").value(),token:Cookies.get("token")}).done(function(data){
                $("#D1").val(data[0].D1);
                $("#D2").val(data[0].D2);
                $("#descripcionIC").val(data[0].Descripcion);
                $("#icsasociado").val(data[0].ItemCodeSteelgo);
                itemActual=data[0];
            })
        },
        dataTextField: "value",
        dataValueField: "id"
    });

    function cargarInicialGrid(){
        $("#grid").kendoGrid({
            columns: [
                { field: "Codigo", title: _dictionary.ItemCodeSteelGo0001[$("#language").data("kendoDropDownList").value()], filterable: { cell: { showOperators: false, operator: "contains",cell: { inputWidth: 116 } } }, width: "120px" },
                { field: "Descripcion", title: _dictionary.ItemCodeSteelGo0005[$("#language").data("kendoDropDownList").value()], filterable: { cell: { showOperators: false, operator: "startswith",cell: { inputWidth: 116 } } }, width: "120px" },
                //{ field: "DescripcionLarga", title: _dictionary.ItemCodeSteelGo0006[$("#language").data("kendoDropDownList").value()], hidden: true, filterable: { cell: { showOperators: false, operator: "startswith" } } },
                //{ field: "DescripcionIngles", title: _dictionary.ItemCodeSteelGo0007[$("#language").data("kendoDropDownList").value()], hidden: true, filterable: { cell: { showOperators: false, operator: "startswith" } } },
                //{ field: "DescripcionLargaIngles", title: _dictionary.ItemCodeSteelGo0008[$("#language").data("kendoDropDownList").value()], hidden: true, filterable: { cell: { showOperators: false, operator: "startswith" } } },
                { field: "Diametro1", title: _dictionary.ItemCodeSteelGo0009[$("#language").data("kendoDropDownList").value()], filterable: { cell: { showOperators: false, operator: "startswith",cell: { inputWidth: 116 } } }, width: "120px" },
                { field: "Diametro2", title: _dictionary.ItemCodeSteelGo0010[$("#language").data("kendoDropDownList").value()], filterable: { cell: { showOperators: false, operator: "startswith",cell: { inputWidth: 116 } } }, width: "120px" },
                { field: "Grupo", title: _dictionary.ItemCodeSteelGo0011[$("#language").data("kendoDropDownList").value()], filterable: { cell: { showOperators: false, operator: "startswith",cell: { inputWidth: 116 } } }, width: "120px" },
                { field: "Acero", title: _dictionary.ItemCodeSteelGo0012[$("#language").data("kendoDropDownList").value()], filterable: { cell: { showOperators: false, operator: "startswith",cell: { inputWidth: 116 } } }, width: "120px" },
                { field: "CedulaA", title: _dictionary.ItemCodeSteelGo0013[$("#language").data("kendoDropDownList").value()], filterable: { cell: { showOperators: false, operator: "startswith",cell: { inputWidth: 116 } } }, width: "120px" },
                { field: "CedulaB", title: _dictionary.ItemCodeSteelGo0014[$("#language").data("kendoDropDownList").value()], filterable: { cell: { showOperators: false, operator: "startswith",cell: { inputWidth: 116 } } }, width: "120px" },
                { field: "Libra", title: _dictionary.ItemCodeSteelGo0015[$("#language").data("kendoDropDownList").value()], filterable: { cell: { showOperators: false, operator: "startswith",cell: { inputWidth: 116 } } }, width: "120px" },
                { field: "Inch", title: _dictionary.ItemCodeSteelGo0016[$("#language").data("kendoDropDownList").value()], filterable: { cell: { showOperators: false, operator: "startswith",cell: { inputWidth: 116 } } }, width: "120px" },
                { field: "MM", title: "MM", filterable: { cell: { showOperators: false, operator: "startswith",cell: { inputWidth: 116 } } }, width: "120px" },
                { field: "Espesor", title: _dictionary.ItemCodeSteelGo0017[$("#language").data("kendoDropDownList").value()], filterable: { cell: { showOperators: false, operator: "startswith",cell: { inputWidth: 116 } } }, width: "120px" },
                { field: "Peso", title: _dictionary.ItemCodeSteelGo0018[$("#language").data("kendoDropDownList").value()], filterable: { cell: { showOperators: false, operator: "startswith",cell: { inputWidth: 116 } } }, width: "120px" },
                { field: "Area", title: _dictionary.ItemCodeSteelGo0019[$("#language").data("kendoDropDownList").value()], filterable: { cell: { showOperators: false, operator: "startswith",cell: { inputWidth: 116 } } }, width: "120px" },
            ],
            dataSource: {
                data: [],
                schema: {
                    model: {
                        id:"ItemCodeSteelgoID",
                        fields: {
                            ItemCodeSteelgoID: { editable: false, nullable: true },
                            Codigo: { type:"string",validation: { required: false } },
                            Descripcion: { type:"string",validation: { required: false } },
                            //DescripcionLarga: { type:"string",validation: { required: false } },
                            //DescripcionIngles: { type:"string",validation: { required: false } },
                            //DescripcionLargaIngles: { type:"string",validation: { required: false } },
                            Diametro1: { type:"string", validation: { required: false } },
                            Diametro2: { type:"string", validation: { required: false } },
                            Grupo: { type:"string",validation: { required: false } },
                            GrupoID: { editable: false, nullable: true },
                            Acero: { type:"string",validation: { required: false } },
                            AceroID: { editable: false, nullable: true },
                            CedulaID: { editable: false, nullable: true },
                            CedulaA: { type:"string",validation: { required: false }},
                            CedulaB: { type:"string",validation: { required: false }},
                            Libra: { type:"string",validation: { required: false }},
                            Inch: { type: "string", validation: { required: false }, editable: false },
                            MM: { type: "string", validation: { required: false }, editable: false },
                            Espesor: { type: "string", validation: { required: false }, editable: false },
                            Peso: { type: "string", validation: { required: true }, editable: false },
                            Area: { type: "string", validation: { required: false }, editable: false },
                        }
                    }
                },
                serverPaging: false,
                serverFiltering: false,
                serverSorting: false,
                pageSize: 20,
                transport:{
                    read:{
                        url:$CatalogoICSteelgo.CatalogoICSteelgo.urlNoId+"?token="+Cookies.get("token"),
                        dataType:"json",
                        type:"GET",
                        cache: false
                    },
                    parameterMap: function(options, operation) {
                        if (operation !== "read" && options.models) {
                            return {models: kendo.stringify(options.models)};
                        }
                    }
                },
            },
            autoHeight: true,
            sortable: false,
            scrollable: false,
            filterable:{
                extra: false,
                mode: "row",
                cell: {
                    showOperators: false,
                    operator: "contains"
                }
            },
            pageable: {
                refresh: false,
                pageSizes: [10, 15, 20],
                info: false,
                input: false,
                numeric: true,
                buttonCount: 2
            },
            dataBound: function(e) {
                $("#context-menu").kendoContextMenu({
                    //target: "#grid tr td:first-child",
                    target: "#grid",
                    filter: "td",
                    alignToAnchor: true,
                    select:function(e){
                        var dataItem = $("#grid").data("kendoGrid").dataItem($(e.target).closest("tr"));
                        $("#icsasociado").val(dataItem.Codigo);
                        itemActual["ItemCodeSteelgoIDNuevo"]=dataItem.ItemCodeSteelgoID;
                        editado=true;
                        this.close();
                    }
                })
                if(!$("#grid").data("kendoGrid").dataSource.filter()){
                    $("#grid").data("kendoGrid").tbody.hide();
                }else{
                    $("#grid").data("kendoGrid").tbody.show()
                }
            },
        });
    }

    $("#GuardarICS").on("click",function(){
        if (itemActual["ItemCodeSteelgoIDNuevo"]) {
            $AsociacionICS.AsociacionICS.create({},{itemCode:itemActual["ItemCodeID"],itemCodeSteelgo:itemActual["ItemCodeSteelgoIDNuevo"],token:Cookies.get("token")}).done(function(data){
                if(data.ReturnMessage[0]=="OK"){
                    displayMessage("AsociacionICS0005", "", '0');
                }else{
                    displayMessage("",data.ReturnMessage[0], '2');
                }
            });
        }else{
            displayMessage("AsociacionICS0006", "", '1');
        }
    })
};

@section JavascriptDocumentReadyFunctions {
    $authorizationModel["AsociacionItemCodes"] = $AsociacionItemCodesModel;
};
    
@section JavascriptDocumentReadyHomeCookie {
    Cookies.set("home", true, { path: '/' });
    Cookies.set("navegacion", "46", { path: '/' });
};

</script>