@{
    ViewBag.Title = "Catálogos - Item Code Steelgo";
}

@section breadcrumb {
    <li>
        <a href="@Url.Action("landing", "Home")"><span id="ListadoAvisoLlegada0020"></span></a>
    </li>
    <li>
        <a href="@Url.Action("Catalogos", "Catalogos")"><span id="ListadoCatalogos0001"></span></a>
    </li>
    <li class="active">
        <a href="@Url.Action("ItemCodeSteelGo", "Catalogos")"><span id="ItemCodeSteelGo0001"></span></a>
    </li>
}
<h3>Item Code Steelgo</h3>
<div class="formNav clearfix">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="button-section">
                <div class="btn-group save-group">
                    <button id="GuardarICS" onclick="javascript:void(0);" type="button" class="btn btn-yellow"><span id="LlegadaMaterial0011"></span></button>
                    <button id="Editar" onclick="javascript:void(0);" type="button" class="btn btn-yellow" style="display:none"><span id="LlegadaMaterial0044"></span></button>
                </div>
                <a id="Cancelar" href="#" class="btn btn-black"><span id="LlegadaMaterial0012"></span></a>
            </div>
            <div class="button-section">
                <a id="GenerarOrdenDescarga" href="#" class="btn btn-primary"><span id="ItemCodeSteelGo0004"></span></a>
            </div>
            <a id="Imprimir" href="#" class="btn btn-fadeBlue"></a>
        </div>
    </div>
</div>
<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div id="grid"></div>
</div>

<script>
@section JavascriptGlobalVariables {
}

@section JavascriptGlobalFunctions {
    function changeLanguageCall() {
        cargarInicialGrid();
    };

    function cargarInicialGrid() {
        $("#grid").kendoGrid({
            columns: [
                { field: "Codigo",title:_dictionary.ItemCodeSteelGo0004[$("#language").data("kendoDropDownList").value()]}, 
                { field: "Descripcion",title:_dictionary.ItemCodeSteelGo0005[$("#language").data("kendoDropDownList").value()] },
                { field: "DescripcionLarga",title:_dictionary.ItemCodeSteelGo0006[$("#language").data("kendoDropDownList").value()]},
                { field: "DescripcionIngles",title:_dictionary.ItemCodeSteelGo0007[$("#language").data("kendoDropDownList").value()]},
                { field: "DescripcionInglesLarga",title:_dictionary.ItemCodeSteelGo0008[$("#language").data("kendoDropDownList").value()] },
                { field: "Diametro1",title:_dictionary.ItemCodeSteelGo0009[$("#language").data("kendoDropDownList").value()]},
                { field: "Diametro2",title:_dictionary.ItemCodeSteelGo0010[$("#language").data("kendoDropDownList").value()]},
                { field: "Grupo",title:_dictionary.ItemCodeSteelGo0011[$("#language").data("kendoDropDownList").value()]},
                { field: "Acero",title:_dictionary.ItemCodeSteelGo0012[$("#language").data("kendoDropDownList").value()]},
                { field: "CedulaA",title:_dictionary.ItemCodeSteelGo0013[$("#language").data("kendoDropDownList").value()]},
                { field: "CedulaB",title:_dictionary.ItemCodeSteelGo0014[$("#language").data("kendoDropDownList").value()]},
                { field: "Libra",title:_dictionary.ItemCodeSteelGo0015[$("#language").data("kendoDropDownList").value()]},
                { field: "Inch",title:_dictionary.ItemCodeSteelGo0016[$("#language").data("kendoDropDownList").value()]},
                { field: "MM",title:"MM"},
                { field: "Espesor",title:_dictionary.ItemCodeSteelGo0017[$("#language").data("kendoDropDownList").value()]},
                { field: "Peso",title:_dictionary.ItemCodeSteelGo0018[$("#language").data("kendoDropDownList").value()]},
                { field: "Area", title:_dictionary.ItemCodeSteelGo0019[$("#language").data("kendoDropDownList").value()]},
            ],
            dataSource: {
                data: [],
                schema: {
                    model: {
                        id:"ItemCodeSteelgoID",
                        fields: {
                            ItemCodeSteelgoID: { editable: false, nullable: true },
                            Codigo: { type:"string",validation: { required: false } },
                            Descripcion: { type:"string",validation: { required: false } },
                            DescripcionLarga: { type:"string",validation: { required: false } },
                            DescripcionIngles: { type:"string",validation: { required: false } },
                            DescripcionLargaIngles: { type:"string",validation: { required: false } },
                            Diametro1: { type:"number", validation: { required: false } },
                            Diametro2: { type:"number", validation: { required: false } },
                            Grupo: { type:"string",validation: { required: false } },
                            GrupoID: { editable: false, nullable: true },
                            Acero: { type:"string",validation: { required: false } },
                            AceroID: { editable: false, nullable: true },
                            CedulaID: { editable: false, nullable: true },
                            CedulaA: { type:"string",validation: { required: false } },
                            CedulaB: { type:"string",validation: { required: false } },
                            Libra: { type:"string",validation: { required: false } },
                            Inch: { type:"number", validation: { required: false } },
                            MM: { type:"number", validation: { required: false } },
                            Espesor: { type:"number", validation: { required: false } },
                            Peso: { type:"number", validation: { required: true } },
                            Area: { type:"number", validation: { required: false } },
                        }
                    }
                },
                serverPaging: false,
                serverFiltering: false,
                serverSorting: false,
                pageSize: 20,
                serverPaging: false,
                serverFiltering: false,
                serverSorting: false,
                transport:{
                    read:{
                        url:$CatalogoICSteelgo.CatalogoICSteelgo.urlNoId+"?token="+Cookies.get("token"),
                        dataType:"json",
                        type:"GET",
                        cache: false
                    },
                    create:{
                        url:"save",
                        dataType:"json",
                        type:"POST",
                        cache: false
                    },
                    parameterMap: function(options, operation) {
                        if (operation !== "read" && options.models) {
                            return {models: kendo.stringify(options.models)};
                        }
                    }
                },
            },
            autoHeight: true,
            sortable: true,
            scrollable: false,
            filterable: {
                extra: false,
                operators: {
                    string: {
                        startswith: "Starts with",
                        eq: "Is equal to",
                        neq: "Is not equal to"
                    }
                }
            },
            pageable: {
                refresh: false,
                pageSizes: [10, 15, 20],
                info: false,
                input: false,
                numeric: true,
                buttonCount: 2
            },
            toolbar: ["create"],
            editable: "inline",
            save: function(e) {
                //console.log(e);
            },
            remove: function(e) {
                //console.log(e);
            },
            dataBound: function(e) {
                //console.log(e);
            },
        });
    };
};

@section JavascriptDocumentReadyFunctions {
};
    
@section JavascriptDocumentReadyHomeCookie {
    //Cookies.set("home", true, { path: '/' });
    //Cookies.set("navegacion", "7", { path: '/' });
};

</script>
