@{
    ViewBag.Title = "Listado - Catálogos";
}

@section breadcrumb {
    <li>
        <a href="@Url.Action("landing", "Home")"><span id="ListadoAvisoLlegada0020"></span></a>
    </li>
    <li>
        <a href="@Url.Action("Catalogos", "ListadoCatalogos")"><span id="ListadoCatalogos0001"></span></a>
    </li>
    <li class="active">
        <a href="@Url.Action("ListadoAvisoLlegada", "AvisoLlegada")"><span id="ListadoCatalogos0002"></span></a>
    </li>
}

<div class="form-group col-xs-12 col-sm-9 col-md-6 col-lg-5">
    @*<select id="listaCatalogos" class="form-group col-xs-12 col-sm-9 col-md-6 col-lg-5">
        <option disabled selected="true" value="---------">--------</option>
        <option value="transportistas">Transportistas</option>
        <option value="camiones">Camiones</option>
        <option value="choferes">Choferes</option>
        <option value="plana">Planas</option>
    </select>*@
    <input type="text" id="listaCatalogos"/>
</div>
<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div id="grid"></div>
</div>

<script>
@section JavascriptGlobalVariables {
    dataBoundCounter=0;
    models={
        "1":{
            id: "PatioID",
            fields: {
                PatioID: { editable: false, nullable: true },
                Descripcion: { type:"string" },
                Propietario: { validation: { required: true } },
                RequierePermiso: { type: "string", validation: { required: true }}
            }
        },
        "2":{
            id: "ChoferID",
            fields: {
                ChoferID: { editable: false, nullable: true },
                Nombre: { type:"string",validation: { required: true } },
                TransportistaID: { type:"number", validation: { required: true } },
                TransportistaNombre: { type:"string",validation: { required: true } },
            }
        },
        "4":{
            id: "TransportistaID",
            fields: {
                TransportistaID: { editable: false, nullable: true },
                ContactoID: { type:"number", validation: { required: true } },
                Contacto: { type:"string",validation: { required: true } },
                Nombre: { type:"string",validation: { required: true } },
                Descripcion: { type:"string"},
                Direccion: { type:"string"},
                Telefono: { type:"string"},
            }
        },
        "5":{
            id: "VehiculoID",
            fields: {
                VehiculoID: { editable: false, nullable: true },
                Placas: { type:"string",validation: { required: true } },
                TarjetaCirculacion: { type:"string",validation: { required: true } },
                PolizaSeguro: { type:"string"}
            }
        },
        "6":{
            id: "VehiculoID",
            fields: {
                VehiculoID: { editable: false, nullable: true },
                TractoID: { type:"number", validation: { required: true } },
                Placas: { type:"string",validation: { required: true } },
                Unidad: { type:"string"},
                Modelo : { type:"string"}
            }
        },
        "7":{
            id: "ProveedorID",
            fields: {
                ProveedorID: { editable: false, nullable: true },
                ContactoID: { type:"number", validation: { required: true } },
                Contacto: { type:"string",validation: { required: true } },
                Nombre: { type:"string",validation: { required: true } },
                Direccion : { type:"string"},
                Descripcion : { type:"string"},
                Telefono : { type:"string"}
            }
        },
        "10":{
            id: "AceroID",
            fields: {
                AceroID: { editable: false, nullable: true },
                FAmiliaAceroID: { type:"number", validation: { required: true } },
                FamiliaAcero: { type:"string",validation: { required: true } },
                Nomenclatura: { type:"string",validation: { required: true } },
                VerificadoPorCalidad : { type:"string"}
            }
        },
        "11":{
            id: "ColadasID",
            fields: {
                ColadasID: { editable: false, nullable: true },
                FabricanteID: { type:"number", validation: { required: true } },
                Fabricante: { type:"string",validation: { required: true } },
                AceroID: { type:"number", validation: { required: true } },
                Acero: { type:"string",validation: { required: true } },
                ProyectoID: { type:"number", validation: { required: true } },
                Proyecto: { type:"string",validation: { required: true } },
                NumeroColada : { type:"string"},
                NumeroCertificado : { type:"string"},
                HoldCalidad : { type:"string"}
            }
        },
    }
}

@section JavascriptGlobalFunctions {
    function changeLanguageCall() {
        $("#grid").kendoGrid({columns:[]});
    };

    function getUrl(){
        return $Catalogos.AdministracionCatalogos.urlNoId+"?catalogoID="+$("#listaCatalogos").data("kendoDropDownList").value()+"&token=";
    }

    function cargarInicialGrid(val) {
        loadingStart();
        var contenedor=$("#grid").parent();
        $("#grid").remove();
        contenedor.append("<div id='grid'></div>");
        var dataSGrid=getDataSourceGrid(val);
        $("#grid").kendoGrid({
            dataSource: dataSGrid,
            autoHeight: true,
            sortable: true,
            scrollable: false,
            filterable: {
                extra: false,
                operators: {
                    string: {
                        startswith: "Starts with",
                        eq: "Is equal to",
                        neq: "Is not equal to"
                    }
                }
            },
            pageable: {
                refresh: false,
                pageSizes: [10, 15, 20],
                info: false,
                input: false,
                numeric: true,
            },
            toolbar: ["create"],
            editable: "inline",
            save: function(e) {
                var catalogo=$("#listaCatalogos").data("kendoDropDownList").value();
                var data={};
                for(f in models[catalogo].fields){
                    data[f]=e.model[f];
                }
                if(e.model.id!==null){
                    var direccion=parseUrl(data,catalogo);
                }else{
                    //
                }
                var grid=$("#grid").data("kendoGrid");
                grid.options.dataSource.options.transport.update.url=direccion;
                grid.options.dataSource.sync();
            },
            dataBound: function (e) {
                if(dataBoundCounter==0){
                    dataBoundCounter++;
                    $(".k-grid input.k-textbox").prop('readonly', true);
                    $(".k-grid td .k-button").text('');
                    $(".k-grid td:first-child, .k-grid td:last-child").css('text-overflow', 'clip');
                    var grid=$("#grid").data("kendoGrid");
                    grid.columns.push({ command: "edit", title: "Editar",width:"75px"});
                    grid.columns.push({ command: "destroy", title: "Borrar",width:"75px"});
                    grid.options.columns=grid.columns;
                    var options=grid.options;
                    grid.destroy();
                    $("#grid").empty().kendoGrid(options);
                }
            }
        });
        loadingStop();
    };

    function parseUrl(data,catalogo){
        switch(catalogo){
            case "1":
                data.RequierePermiso=="Si" ? data.RequierePermiso=true : data.RequierePermiso=false;
                return getUrl()+Cookies.get("token")+"&data="+encodeURIComponent(JSON.stringify(data));
        }
    }
     
    function getDataSourceGrid(val){
        return new kendo.data.DataSource({
            data: [],
            schema: {
                model: models[val]
            },
            serverPaging: false,
            serverFiltering: false,
            serverSorting: false,
            pageSize: 20,
            serverPaging: false,
            serverFiltering: false,
            serverSorting: false,
            transport:{
                read:{
                    url:getUrl()+Cookies.get("token"),
                    dataType:"json",
                    cache: false
                },
                update:{
                    url:getUrl()+Cookies.get("token"),
                    dataType:"json"
                },
                destroy:{
                    url:getUrl()+Cookies.get("token"),
                    dataType:"json"
                },
                create:{
                    url:getUrl()+Cookies.get("token"),
                    dataType:"json"
                },
                parameterMap: function(options, operation) {
                    if (operation !== "read" && options.models) {
                        return {models: kendo.stringify(options.models)};
                    }
                }
            },
        });
    }

    $("#listaCatalogos").width("50%").kendoDropDownList({
        dataTextField: "value",
        dataValueField: "id",
        optionLabel: "Selecciona un catálogo",
        dataSource: {
            transport: {
                read: {
                    dataType: "json",
                    url: $Catalogos.AdministracionCatalogos.urlNoId+"?token="+Cookies.get("token")
                }
            }
        },
        change:function(e){
            dataBoundCounter=0;
            if($("#listaCatalogos").data("kendoDropDownList").value()){
                cargarInicialGrid($("#listaCatalogos").data("kendoDropDownList").value());
            }
        }
    })
};

@section JavascriptDocumentReadyFunctions {
};
    
@section JavascriptDocumentReadyHomeCookie {
    //Cookies.set("home", true, { path: '/' });
    //Cookies.set("navegacion", "7", { path: '/' });
};

</script>
