@{
    ViewBag.Title = "Listado - Catálogos";
}

@section breadcrumb {
    <li>
        <a href="@Url.Action("landing", "Home")"><span id="ListadoAvisoLlegada0020"></span></a>
    </li>
    <li>
        <a href="@Url.Action("Catalogos", "Catalogos")"><span id="ListadoCatalogos0001"></span></a>
    </li>
    <li class="active">
        <a href="@Url.Action("ListadoCatalogos", "Catalogos")"><span id="ListadoCatalogos0002"></span></a>
    </li>
}

<div class="form-group col-xs-12 col-sm-9 col-md-6 col-lg-5">
    @*<select id="listaCatalogos" class="form-group col-xs-12 col-sm-9 col-md-6 col-lg-5">
        <option disabled selected="true" value="---------">--------</option>
        <option value="transportistas">Transportistas</option>
        <option value="camiones">Camiones</option>
        <option value="choferes">Choferes</option>
        <option value="plana">Planas</option>
    </select>*@
    <input type="text" id="listaCatalogos"/>
</div>
<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div id="grid"></div>
</div>

<script>
@section JavascriptGlobalVariables {
    dataBoundCounter=0;
    models={
        "1":{
            id: "PatioID",
            fields: {
                PatioID: { editable: false, nullable: true},
                Nombre: { type:"string" },
                Descripcion: { type:"string" },
                Propietario: { validation: { required: true } },
                RequierePermiso: { type: "string" }
            }
        },
        "2":{
            id: "ChoferID",
            fields: {
                ChoferID: { editable: false, nullable: true },
                Nombre: { type:"string",validation: { required: true } },
                TransportistaID: { type:"number", validation: { required: true } },
                TransportistaNombre: { type:"string",validation: { required: true } },
            }
        },
        "3":{
            id:"Id",
            fields:{
                Id: { editable: false, nullable: true },
                Nombre: { type:"string",validation: { required: true } },
            }
        },
        "4":{
            id: "TransportistaID",
            fields: {
                TransportistaID: { editable: false, nullable: true },
                ContactoID: { type:"number", validation: { required: true } },
                Contacto: { type:"string",validation: { required: true } },
                Nombre: { type:"string",validation: { required: true } },
                Descripcion: { type:"string"},
                Direccion: { type:"string"},
                Telefono: { type:"string"},
            }
        },
        "5":{
            id: "VehiculoID",
            fields: {
                VehiculoID: { editable: false, nullable: true },
                Placas: { type:"string",validation: { required: true } },
                TarjetaCirculacion: { type:"string",validation: { required: true } },
                PolizaSeguro: { type:"string"},
                choferID: { editable: false, nullable: true },
                choferNombre: { type:"string",validation: { required: true } },
                transportistaID: { editable: false, nullable: true },
                transportistaNombre: { type: "string", validation: { required: true } },
                relVehiculoChoferID: { editable: false, nullable: true },
                relVehiculoTransportistaID: {editable: false, nullable: true},
            }
        },
        "6":{
            id: "VehiculoID",
            fields: {
                VehiculoID: { editable: false, nullable: true },
                TractoID: { type:"number", validation: { required: true } },
                Placas: { type:"string",validation: { required: true } },
                Unidad: { type:"string"},
                Modelo : { type:"string"},
                choferID: { editable: false, nullable: true },
                choferNombre: { type:"string",validation: { required: true } },
                transportistaID: { editable: false, nullable: true },
                transportistaNombre: { type: "string", validation: { required: true } },
                relVehiculoChoferID: { editable: false, nullable: true },
                relVehiculoTransportistaID: { editable: false, nullable: true },
            }
        },
        "7":{
            id: "ProveedorID",
            fields: {
                ProveedorID: { editable: false, nullable: true },
                ContactoID: { type:"number", validation: { required: true } },
                Contacto: { type:"string",validation: { required: true } },
                Nombre: { type:"string",validation: { required: true } },
                Direccion : { type:"string"},
                Descripcion : { type:"string"},
                Telefono : { type:"string"}
            }
        },
        "8":{
            id:"Id",
            fields:{
                Id: { editable: false, nullable: true },
                Nombre: { type:"string",validation: { required: true } },
            }
        },
        "9":{
            id:"Id",
            fields:{
                Id: { editable: false, nullable: true },
                Nombre: { type:"string",validation: { required: true } },
            }
        },
        "10":{
            id: "AceroID",
            fields: {
                AceroID: { editable: false, nullable: true },
                FAmiliaAceroID: { type:"number", validation: { required: true } },
                FamiliaAcero: { type:"string",validation: { required: true } },
                Nomenclatura: { type:"string",validation: { required: true } },
                VerificadoPorCalidad : { type:"string"}
            }
        },
        "11":{
            id: "ColadasID",
            fields: {
                ColadasID: { editable: false, nullable: true },
                FabricanteID: { type:"number", validation: { required: true } },
                Fabricante: { type:"string",validation: { required: true } },
                AceroID: { type:"number", validation: { required: true } },
                Acero: { type:"string",validation: { required: true } },
                ProyectoID: { type:"number", validation: { required: true } },
                Proyecto: { type:"string",validation: { required: true } },
                NumeroColada : { type:"string"},
                NumeroCertificado : { type:"string"},
                HoldCalidad : { type:"string"}
            }
        },
        "14":{
            id: "FabricanteID",
            fields: {
                FabricanteID: { editable: false, nullable: true },
                ContactoID: { type:"number", validation: { required: true } },
                Contacto: { type:"string",validation: { required: true } },
                Nombre: { type:"string", validation: { required: true } },
                Descripcion: { type:"string",validation: { required: true } },
                ProyectoID: { type:"number", validation: { required: true } },
                Direccion: { type:"string",validation: { required: true } },
                Telefono: { type:"string",validation: { required: true } },
            }
        },
    }
    columnas={
        "1":{
            "RequierePermiso":{ field: "RequierePermiso", title: "Requiere permiso", editor: dropdownSiNo}
        },
        "2":{
            "TransportistaNombre":{
                field: "TransportistaNombre",
                title: "Nombre Transportista",
                editor: function(container, options) {
                    $("<input/>").attr("name", options.field).appendTo(container).kendoComboBox({
                        dataSource: {
                            transport: {
                                read: {
                                    dataType: "json",
                                    url: $Transportista.Transportista.urlNoId+"?esAvisoEntrada=0&token="+Cookies.get("token")
                                }
                            }
                        },
                        close: function(e) {
                            var data=getDropData(e);
                            $("#grid").data("kendoGrid")._data[data.posicion].TransportistaID=data.id;
                            $("#grid").data("kendoGrid")._data[data.posicion].TransportistaNombre=data.nombre;
                        },
                        dataTextField: "Nombre",
                        dataValueField: "TransportistaID"
                    });
                }
            }
        },
        "4":{
            "Contacto":{
                field: "Contacto",
                title: "Contacto",
                editor: function(container, options) {
                    $("<input/>").attr("name", options.field).appendTo(container).kendoComboBox({
                        dataSource: {
                            transport: {
                                read: {
                                    dataType: "json",
                                    url: $Contacto.Contacto.urlNoId+"?token="+Cookies.get("token")
                                }
                            }
                        },
                        close: function(e) {
                            var data=getDropData(e);
                            $("#grid").data("kendoGrid")._data[data.posicion].ContactoID=data.id;
                            $("#grid").data("kendoGrid")._data[data.posicion].Contacto=data.nombre;
                        },
                        dataTextField: "Nombre",
                        dataValueField: "ContactoID"
                    });
                }
            }
        },
        "5":{
            "choferNombre":{
                field: "choferNombre",
                title: "Nombre Chofer",
                editor: function(container, options) {
                    $("<input/>").attr("name", options.field).appendTo(container).kendoComboBox({
                        dataSource: {
                            transport: {
                                read: {
                                    dataType: "json",
                                    url: $Chofer.Chofer.urlNoId+"?esAvisoEntrada=0&token="+Cookies.get("token")
                                }
                            }
                        },
                        close: function(e) {
                            var data=getDropData(e);
                            $("#grid").data("kendoGrid")._data[data.posicion].choferID=data.id;
                            $("#grid").data("kendoGrid")._data[data.posicion].choferNombre=data.nombre;
                        },
                        dataTextField: "Nombre",
                        dataValueField: "ChoferID"
                    });
                }
            },
            "transportistaNombre":{
                field: "transportistaNombre",
                title: "Nombre Transportista",
                editor: function(container, options) {
                    $("<input/>").attr("name", options.field).appendTo(container).kendoComboBox({
                        dataSource: {
                            transport: {
                                read: {
                                    dataType: "json",
                                    url: $Transportista.Transportista.urlNoId+"?esAvisoEntrada=0&token="+Cookies.get("token")
                                }
                            }
                        },
                        close: function(e) {
                            var data=getDropData(e);
                            $("#grid").data("kendoGrid")._data[data.posicion].transportistaID=data.id;
                            $("#grid").data("kendoGrid")._data[data.posicion].transportistaNombre=data.nombre;
                        },
                        dataTextField: "Nombre",
                        dataValueField: "TransportistaID"
                    });
                }
            },
        },
        "6":{
            "choferNombre":{
                field: "choferNombre",
                title: "Nombre Chofer",
                editor: function(container, options) {
                    $("<input/>").attr("name", options.field).appendTo(container).kendoComboBox({
                        dataSource: {
                            transport: {
                                read: {
                                    dataType: "json",
                                    url: $Chofer.Chofer.urlNoId+"?esAvisoEntrada=0&token="+Cookies.get("token")
                                }
                            }
                        },
                        close: function(e) {
                            var data=getDropData(e);
                            $("#grid").data("kendoGrid")._data[data.posicion].choferID=data.id;
                            $("#grid").data("kendoGrid")._data[data.posicion].choferNombre=data.nombre;
                        },
                        dataTextField: "Nombre",
                        dataValueField: "ChoferID"
                    });
                }
            },
            "transportistaNombre":{
                field: "transportistaNombre",
                title: "Nombre Transportista",
                editor: function(container, options) {
                    $("<input/>").attr("name", options.field).appendTo(container).kendoComboBox({
                        dataSource: {
                            transport: {
                                read: {
                                    dataType: "json",
                                    url: $Transportista.Transportista.urlNoId+"?esAvisoEntrada=0&token="+Cookies.get("token")
                                }
                            }
                        },
                        close: function(e) {
                            var data=getDropData(e);
                            $("#grid").data("kendoGrid")._data[data.posicion].transportistaID=data.id;
                            $("#grid").data("kendoGrid")._data[data.posicion].transportistaNombre=data.nombre;
                        },
                        dataTextField: "Nombre",
                        dataValueField: "TransportistaID"
                    });
                }
            }
        },
        "7":{
            "Contacto":{
                field: "Contacto",
                title: "Contacto",
                editor: function(container, options) {
                    $("<input/>").attr("name", options.field).appendTo(container).kendoComboBox({
                        dataSource: {
                            transport: {
                                read: {
                                    dataType: "json",
                                    url: $Contacto.Contacto.urlNoId+"?token="+Cookies.get("token")
                                }
                            }
                        },
                        close: function(e) {
                            var data=getDropData(e);
                            $("#grid").data("kendoGrid")._data[data.posicion].ContactoID=data.id;
                            $("#grid").data("kendoGrid")._data[data.posicion].Contacto=data.nombre;
                        },
                        dataTextField: "Nombre",
                        dataValueField: "ContactoID"
                    });
                }
            }
        },
        "10":{
            "FamiliaAcero":{
                field: "FamiliaAcero",
                title: "Familia Acero",
                editor: function(container, options) {
                    $("<input/>").attr("name", options.field).appendTo(container).kendoComboBox({
                        dataSource: {
                            transport: {
                                read: {
                                    dataType: "json",
                                    url: $Familia.Familia.urlNoId+"?token="+Cookies.get("token")
                                }
                            }
                        },
                        close: function(e) {
                            var data=getDropData(e);
                            $("#grid").data("kendoGrid")._data[data.posicion].FAmiliaAceroID=data.id;
                            $("#grid").data("kendoGrid")._data[data.posicion].FamiliaAcero=data.nombre;
                        },
                        dataTextField: "Nombre",
                        dataValueField: "FamiliaAceroID"
                    });
                }
            },
            "VerificadoPorCalidad":{ field: "VerificadoPorCalidad", title: "VerificadoPorCalidad", editor: dropdownSiNo},
        },
        "11":{
            "Fabricante":{
                field: "Fabricante",
                title: "Fabricante",
                editor: function(container, options) {
                    $("<input/>").attr("name", options.field).appendTo(container).kendoComboBox({
                        dataSource: {
                            transport: {
                                read: {
                                    dataType: "json",
                                    url: $Fabricantes.Fabricantes.urlNoId+"?token="+Cookies.get("token")
                                }
                            }
                        },
                        close: function(e) {
                            var data=getDropData(e);
                            $("#grid").data("kendoGrid")._data[data.posicion].FabricanteID=data.id;
                            $("#grid").data("kendoGrid")._data[data.posicion].Fabricante=data.nombre;
                        },
                        dataTextField: "Nombre",
                        dataValueField: "FabricanteID"
                    });
                }
            },
            "Acero":{
                field: "Acero",
                title: "Acero",
                editor: function(container, options) {
                    $("<input/>").attr("name", options.field).appendTo(container).kendoComboBox({
                        dataSource: {
                            transport: {
                                read: {
                                    dataType: "json",
                                    url: $TipoAcero.TipoAcero.urlNoId+"?token="+Cookies.get("token")
                                }
                            }
                        },
                        close: function(e) {
                            var data=getDropData(e);
                            $("#grid").data("kendoGrid")._data[data.posicion].AceroID=data.id;
                            $("#grid").data("kendoGrid")._data[data.posicion].Acero=data.nombre;
                        },
                        dataTextField: "Nomenclatura",
                        dataValueField: "AceroID"
                    });
                }
            },
            "Proyecto":{
                field: "Proyecto",
                title: "Proyecto",
                editor: function(container, options) {
                    $("<input/>").attr("name", options.field).appendTo(container).kendoComboBox({
                        dataSource: {
                            transport: {
                                read: {
                                    dataType: "json",
                                    url: $Proyecto.Proyecto.urlNoId+"?token="+Cookies.get("token")
                                }
                            }
                        },
                        close: function(e) {
                            var data=getDropData(e);
                            $("#grid").data("kendoGrid")._data[data.posicion].FAmiliaAceroID=data.id;
                            $("#grid").data("kendoGrid")._data[data.posicion].FamiliaAcero=data.nombre;
                        },
                        close: function(e) {
                            var data=getDropData(e);
                            $("#grid").data("kendoGrid")._data[data.posicion].ProyectoID=data.id;
                            $("#grid").data("kendoGrid")._data[data.posicion].Proyecto=data.nombre;
                        },
                        dataTextField: "Nombre",
                        dataValueField: "ProyectoID"
                    });
                }
            },
            "HoldCalidad":{ field: "HoldCalidad", title: "HoldCalidad", editor: dropdownSiNo}
        },
        "14":{
            "Contacto":{
                field: "Contacto",
                title: "Contacto",
                editor: function(container, options) {
                    $("<input/>").attr("name", options.field).appendTo(container).kendoComboBox({
                        dataSource: {
                            transport: {
                                read: {
                                    dataType: "json",
                                    url: $Contacto.Contacto.urlNoId+"?token="+Cookies.get("token")
                                }
                            }
                        },
                        dataTextField: "Nombre",
                        dataValueField: "ContactoID"
                    });
                }
            }
        },
    }
}

@section JavascriptGlobalFunctions {
    function changeLanguageCall() {
        $("#grid").kendoGrid({columns:[]});
    };

    function getDropData(e){
        var id=e.sender._old;
        var nombre=e.sender._prev;
        var grid=$("#grid").data("kendoGrid");
        var dirty = $.map(grid._data, function(obj, index) {
            if(obj.dirty == true) {
                return index;
            }
        });
        return {id:id,nombre:nombre,posicion:dirty[dirty.length-1]}
    }

    function getUrl(){
        return $Catalogos.AdministracionCatalogos.urlNoId+"?catalogoID="+$("#listaCatalogos").data("kendoDropDownList").value()+"&token=";
    }

    function cargarInicialGrid(val) {
        loadingStart();
        var contenedor=$("#grid").parent();
        $("#grid").remove();
        contenedor.append("<div id='grid'></div>");
        var dataSGrid=getDataSourceGrid(val);
        $("#grid").kendoGrid({
            dataSource: dataSGrid,
            autoHeight: true,
            sortable: true,
            scrollable: false,
            filterable: {
                extra: false,
                operators: {
                    string: {
                        startswith: "Starts with",
                        eq: "Is equal to",
                        neq: "Is not equal to"
                    }
                }
            },
            pageable: {
                refresh: false,
                pageSizes: [10, 15, 20],
                info: false,
                input: false,
                numeric: true,
            },
            toolbar: ["create"],
            editable: "inline",
            save: function(e) {
                var catalogo=$("#listaCatalogos").data("kendoDropDownList").value();
                var grid=$("#grid").data("kendoGrid");
                var data={};
                for(f in models[catalogo].fields){
                    data[f]=e.model[f];
                }
                if(e.model.id!==null && e.model.id!==""){
                    var direccion=parseUrl(data,catalogo,"put");
                    grid.options.dataSource.options.transport.update.url=direccion;
                }else{
                    data[models[catalogo].id]="0";
                    var direccion=parseUrl(data,catalogo,"post");
                    grid.options.dataSource.options.transport.create.url=direccion;
                }
            },
            remove: function(e) {
                var catalogo=$("#listaCatalogos").data("kendoDropDownList").value();
                var grid=$("#grid").data("kendoGrid");
                var data={};
                for(f in models[catalogo].fields){
                    data[f]=e.model[f];
                }
                if(e.model.id!==null && e.model.id!==""){
                    var direccion=parseUrl(data,catalogo,"delete");
                    grid.options.dataSource.options.transport.destroy.url=direccion;
                }else{
                    alert("Ha ocurrido un error: El elemento aun no existe en la BD");
                }
            },
            dataBound: function (e) {
                if(dataBoundCounter==0){
                    dataBoundCounter++;
                    $(".k-grid input.k-textbox").prop('readonly', true);
                    $(".k-grid td .k-button").text('');
                    $(".k-grid td:first-child, .k-grid td:last-child").css('text-overflow', 'clip');
                    var grid=$("#grid").data("kendoGrid");
                    grid.columns.push({ command: "edit", title: "Editar",width:"75px"});
                    grid.columns.push({ command: "destroy", title: "Borrar",width:"75px"});
                    for(c in columnas[$("#listaCatalogos").data("kendoDropDownList").value()]){
                        var columna=$.grep(grid.columns, function(e){ return e.field == c; });
                        grid.columns[grid.columns.indexOf(columna[0])]=columnas[$("#listaCatalogos").data("kendoDropDownList").value()][c];
                    }
                    grid.options.columns=grid.columns;
                    var ids=$.grep(grid.columns, function(e){ if(e.field){return e.field.toString().toUpperCase().indexOf("ID")>-1;} });
                    ids.forEach(function(i){
                        i.field.length-i.field.toUpperCase().indexOf("ID")==2 ? grid.hideColumn(i.field) : null;
                    });
                    var options=grid.options;
                    grid.destroy();
                    $("#grid").empty().kendoGrid(options);
                }
            }
        });
        loadingStop();
    };

    function parseUrl(data,catalogo,method){
        switch(catalogo){
            case "1":
                //data.RequierePermiso=="Si" ? data.RequierePermiso=true : data.RequierePermiso=false;
                break;
        }
        if(method!=="delete"){
            return getUrl()+Cookies.get("token")+"&data="+encodeURIComponent(JSON.stringify(data));
        }else{
            return getUrl()+Cookies.get("token")+"&id="+data[models[catalogo].id];
        }
    }
     
    function getDataSourceGrid(val){
        return new kendo.data.DataSource({
            data: [],
            schema: {
                model: models[val]
            },
            serverPaging: false,
            serverFiltering: false,
            serverSorting: false,
            pageSize: 20,
            serverPaging: false,
            serverFiltering: false,
            serverSorting: false,
            transport:{
                read:{
                    url:getUrl()+Cookies.get("token"),
                    dataType:"json",
                    type:"GET",
                    cache: false
                },
                update:{
                    dataType:"json",
                    type:"PUT",
                    cache: false
                },
                destroy:{
                    dataType:"json",
                    type:"DELETE",
                    cache: false
                },
                create:{
                    dataType:"json",
                    type:"POST",
                    cache: false
                },
                parameterMap: function(options, operation) {
                    if (operation !== "read" && options.models) {
                        return {models: kendo.stringify(options.models)};
                    }
                }
            },
        });
    }

    $("#listaCatalogos").width("50%").kendoDropDownList({
        dataTextField: "value",
        dataValueField: "id",
        optionLabel: "Selecciona un catálogo",
        dataSource: {
            transport: {
                read: {
                    dataType: "json",
                    url: $Catalogos.AdministracionCatalogos.urlNoId+"?token="+Cookies.get("token")
                }
            }
        },
        change:function(e){
            dataBoundCounter=0;
            if($("#listaCatalogos").data("kendoDropDownList").value()){
                cargarInicialGrid($("#listaCatalogos").data("kendoDropDownList").value());
            }
        }
    })

    function dropdownSiNo(container, options) {
        $('<input id="sinodrop" data-text-field="text" data-value-field="value" data-bind="value:' + options.field + '"/>')
        .appendTo(container)
        .kendoDropDownList({
            dataTextField: "text",
            dataValueField: "value",
            optionLabel:"Selecciona una opción",
            dataSource: [
                { text: "Si", value: true },
                { text: "No", value: false }
            ]
        });
    }
};

@section JavascriptDocumentReadyFunctions {
};
    
@section JavascriptDocumentReadyHomeCookie {
    //Cookies.set("home", true, { path: '/' });
    //Cookies.set("navegacion", "7", { path: '/' });
};

</script>
