@{
    ViewBag.Title = "Consulta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section breadcrumb {
    <li>
        <a href="@Url.Action("landing", "Home")"><span id="lblInicio"></span></a>
    </li>
    <li>
        <a href="@Url.Action("landing", "Home")"><span id="lblEmbarque"></span></a>
    </li>
    <li class="active">
        <a href="@Url.Action("Consulta", "Embarque")"><span id="lblConsulta"></span></a>
    </li>
}
<div id="FormVisualDimensional" class="form clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <div id="FieldSetView">
        <div id="containerDiv">
            <div class="row">
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <label id=""><span id="EmbarqueConsultaArea"></span></label>
                    <input id="Area" />
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <label id=""><span id="EmbarqueConsultaCuadrante"></span></label>
                    <input id="Cuadrante" />
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <label id="">&nbsp;</label>
                    <button type="button" id="btnAgregar" class="btn btn-blue"><span id="botonBuscar"></span></button>
                </div>
            </div>
            <div class="row clearfix">
                &nbsp;
            </div>
            <div class="row clearfix">
                <div class="addedSection col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                        <div class="form-group col-sm-12 col-md-12 col-lg-12">
                            <div id="ContenedorGrid" class="row">
                                <div id="grid" data-role="grid" class="k-grid k-widget">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input id="hdAccionFiltrado" type="hidden" />
    </div>

</div>
<script type="text/javascript" src="~/Scripts/AppComponents/Embarque/Consulta/Ajax.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/Embarque/Consulta/Handlers.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/Embarque/Consulta/Render.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/Embarque/Consulta/Captura.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/Embarque/Consulta/Seguridad.js"></script>


<script>
    @section JavascriptDocumentReadyFunctions {
    $authorizationModel["Consulta"] = $ConsultaModel;
    }
</script>