@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section breadcrumb {
    <li>
        <a href="@Url.Action("landing", "Home")"><span id="lblInicio"></span></a>
    </li>
    <li>
        <a href="#"><span id="lblEmbarque"></span></a>
    </li>
    <li class="active">
        <a href="@Url.Action("Embarque", "Embarque")"><span id="lblEmbarque2"></span></a>
    </li>
}
<div id="FormEmbarqueEmbarque" class="form clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12">
    @*Menu superior*@
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="formNav clearfix">
                <div class="button-section editButtonSection">
                    <div class="btn-group save-group">
                        <button id="Guardar" onclick="javascript:void(0);" type="button" class="btn btn-yellow accionGuardar"><span id="botonGuardar"></span></button>
                        <button id="dropdown-toggle" type="button" class="btn btn-yellow dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caretWhite"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" id="btnGuardar" class="accionGuardar"><span id="botonGuardar2"></span></a></li>
                            <li><a href="#" id="btnGuardarYNuevo"><span id="botonGuardarYNuevo"></span></a></li>
                        </ul>
                    </div>
                    <a id="btnCancelar" class="btn btn-black"><span id="botonCancelar"></span></a>
                </div>
                <div id="EmbarquerevisionDivSuperior" class="button-section">
                    <a id="EmbarquerevisionSuperior" href="@Url.Action("ListadoEmbarque", "Embarque")" class="btn btn-primary"><span id="lblListadoEmbarque"></span></a>
                </div>
                <div class="button-section actionButtonSection">
                    <div class="dropdown action-group">
                        <a id="Acciones" data-target="#" href="#" data-toggle="dropdown" role="button" ariahaspopup="true" aria-expanded="false" class="btn btn-default">
                            <span id="botonAcciones1"></span>
                            <span class="caretBlue"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="Acciones"></ul>
                    </div>
                </div>
                <a id="Imprimir" href="#" class="btn btn-fadeBlue actionButtonSection"></a>
            </div>
        </div>
    </div>
    @*Controles Superior*@
    <div class="row">
        <input type="hidden" value=@ViewBag.embarqueID id="embarqueID" />
        <div class="col-sm-2 col-md-2 col-lg-2" id="ProveedorDiv">
            <label id=""><span id="EmbarqueProveedor"></span></label>
            <input id="Proveedor" />
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2" id="TractoDiv">
            <label id=""><span id="EmbarqueTracto"></span></label>
            <input id="Tracto" />
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2" id="ChoferDiv">
            <label id=""><span id="EmbarqueChofer"></span></label>
            <input id="Chofer" />
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label id=""><span id="EmbarquePlana"></span></label>
            <input id="Plana" />
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label id=""><span id="EmbarqueDestino"></span></label>
            <input id="Destino" />
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label id="">&nbsp;</label>
            <button type="button" id="btnAgregar" class="btn btn-blue"><span id="botonAgregar"></span></button>

        </div>
    </div>
    @*GRID*@
    <div class="row addedSectionInLine">
        <div id="ContenedorGrid" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="grid" data-role="grid" class="k-grid k-widget">
            </div>
        </div>
        <input id="hdAccionFiltrado" type="hidden" />
    </div>
    @*Menu Inferior*@
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="formNav clearfix">
                <div class="button-section editButtonSection">
                    <div class="btn-group save-group">
                        <button id="Guardar1" onclick="javascript:void(0);" type="button" class="btn btn-yellow accionGuardar"><span id="botonGuardar3"></span></button>
                        <button id="dropdown-toggle" type="button" class="btn btn-yellow dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caretWhite"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" id="btnGuardar1" class="accionGuardar"><span id="botonGuardar4"></span></a></li>
                            <li><a href="#" id="btnGuardarYNuevo1"><span id="botonGuardarYNuevo1"></span></a></li>
                        </ul>
                    </div>
                    <a id="btnCancelar" class="btn btn-black"><span id="botonCancelar2"></span></a>
                </div>
                <div id="RequisicionDiv" class="button-section">
                    <a id="Requisicion" href="@Url.Action("ListadoEmbarque", "Embarque")" class="btn btn-primary"><span id="lblListadoEmbarque2"></span></a>
                </div>
                <div class="button-section actionButtonSection">
                    <div class="dropdown action-group">
                        <a id="Acciones" data-target="#" href="#" data-toggle="dropdown" role="button" ariahaspopup="true" aria-expanded="false" class="btn btn-default">
                            <span id="botonAcciones2"></span>
                            <span class="caretBlue"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="Acciones"></ul>
                    </div>
                </div>
                <a id="Imprimir" href="#" class="btn btn-fadeBlue actionButtonSection"></a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/Scripts/AppComponents/Embarque/Embarque/Ajax.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/Embarque/Embarque/Handlers.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/Embarque/Embarque/Render.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/Embarque/Embarque/Captura.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/Embarque/Embarque/Seguridad.js"></script>



<script>
    @section JavascriptDocumentReadyFunctions {
    $authorizationModel["Embarque"] = $EmbarqueModel;
    }
</script>
