
@{
    ViewBag.Title = "Consulta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section breadcrumb {
    <li>
        <a href="@Url.Action("landing", "Home")"><span id="lblInicio"></span></a>
    </li>
    <li>
        <a href="@Url.Action("landing", "Home")"><span>Embarque</span></a>
    </li>
    <li class="active">
        <a href="@Url.Action("Dimensional", "Inspeccion")"><span>Listado Embarque</span></a>
    </li>
}
<div id="FormVisualDimensional" class="form clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12">
   
    <div id="FieldSetView">
       
       
        <div class="row clearfix">
            <div class="addedSection col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="btn-group tabList col-xs-12 col-sm-12 col-md-12 col-lg-12" role="group" id="divStatusEmbarque" arial-label="tabList">

                        <button id="btnSinPermiso" class="btn btn-tabList"><span id="">Todos </span><span id="">0</span></button>
                        <button id="btnSinAutorizacion" class="btn btn-tabList active"><span id="">Enviados </span><span id="">0</span>10</button>

                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-12 col-md-12 col-lg-12">
                        <div id="ContenedorGrid" class="row">
                            <div id="grid" data-role="grid" class="k-grid k-widget">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input id="hdAccionFiltrado" type="hidden" />
        <div id="windowFecha" style="display: none; z-index:inherit;">
            <div class="form-group">
                <label class="col-sm-4 col-md-4 col-lg-4 "><span id="">Fecha</span></label>
                <input id="Fecha"/>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <a class=" btn btn-blue " id="GuardarFolio"><span id="botonGuardar3"></span></a>
                </div>
            </div>
        </div>

        <div id="windowFolio" style="display: none; z-index:inherit;">
            <div class="form-group">
                <label class="col-sm-4 col-md-4 col-lg-4 "><span id="">Folio</span></label>
                <input id="Folio" />
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <a class=" btn btn-blue " id="GuardarFolio"><span id="botonGuardar4"></span></a>
                </div>
            </div>
            <input class="" type="hidden" id="RowRequisicionID" />
        </div>
    </div>
    
</div>
<script type="text/javascript" src="~/Scripts/AppComponents/Embarque/ListadoEmbarque/Ajax.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/Embarque/ListadoEmbarque/Handlers.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/Embarque/ListadoEmbarque/Render.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/Embarque/ListadoEmbarque/Captura.js"></script>


