@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section breadcrumb {
    <li>
        <a href="@Url.Action("landing", "Home")"><span id="lblInicio"></span></a>
    </li>
    <li>
        <a href="#"><span id="lblEmbarque">Embarque</span></a>
    </li>
    <li class="active">
        <a href="@Url.Action("ListadoEmbarque", "Embarque")"><span id="lblListadoEmbarque">Listado Embarque</span></a>
    </li>
}
<div id="FormVisualDimensional" class="form clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12">
    @*Menu superior*@
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="formNav clearfix">
                <div class="button-section editButtonSection">
                    <div class="btn-group save-group">
                        <button id="Guardar" onclick="javascript:void(0);" type="button" class="btn btn-yellow accionGuardar"><span id="botonGuardar"></span></button>
                        <button id="dropdown-toggle" type="button" class="btn btn-yellow dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caretWhite"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" id="btnGuardar" class="accionGuardar"><span id="botonGuardar2"></span></a></li>
                            <li><a href="#" id="btnGuardarYNuevo"><span id="botonGuardarYNuevo"></span></a></li>
                        </ul>
                    </div>
                    <a id="btnCancelar" class="btn btn-black"><span id="botonCancelar"></span></a>
                </div>
                <div id="CargasEmbarqueDivSuperior" class="button-section">
                    <a id="CargasEmbarqueSuperior" href=@Url.Action("RevisionEmbarque", "Embarque") class="btn btn-primary"><span id="botonEmbarque">Revisión Embarque</span></a>
                </div>
                <div class="button-section actionButtonSection">
                    <div class="dropdown action-group">
                        <a id="Acciones" data-target="#" href="#" data-toggle="dropdown" role="button" ariahaspopup="true" aria-expanded="false" class="btn btn-default">
                            <span id="botonAcciones1"></span>
                            <span class="caretBlue"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="Acciones"></ul>
                    </div>
                </div>
                <a id="Imprimir" href="#" class="btn btn-fadeBlue actionButtonSection"></a>
            </div>

        </div>
    </div>
    
    <div id="FieldSetView">
        <div class="row clearfix">
            <div id="containerDiv">
                <div class="row addedSectionInLine">
                        <div class="btn-group tabList col-xs-12 col-sm-12 col-md-12 col-lg-12" role="group" id="divStatusEmbarque" arial-label="tabList">
                            <button id="btnPendientes" class="btn btn-tabList  active"><span id="ListadoEmbarqueEnviados"> Pendientes</span><span id="nPendientes">&nbsp;1</span></button>
                            <button id="btnSinAutorizacion" class="btn btn-tabList "><span id="ListadoEmbarqueEnviados"> Enviados</span><span id="nEnviados">&nbsp;0</span></button>
                            
                        </div>
                   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                       <div id="ContenedorGrid">
                            <div id="grid" data-role="grid" class="k-grid k-widget"></div>
                       </div>
                   </div>
                </div>
            </div>
        </div>
        <input id="hdAccionFiltrado" type="hidden" />
        <div id="windowFecha" style="display: none; z-index:inherit;">
            <div class="form-group col-sm-12 col-md-12 col-lg-11">
                <div class="row">
                    <div class="form-group  col-sm-5 col-md-5 col-lg-5">
                        <label><span id="ListadoEmbarqueFecha"></span></label>
                        <input id="Fecha" />
                    </div>
                    <div class="form-group  col-sm-3 col-md-3 col-lg-3">
                        <br />
                        <a class=" btn btn-blue " id="EnviarEmbarque"><span id="botonEnviar"></span></a>
                    </div>
                </div>
            </div>
        </div>

        <div id="windowFolio" style="display: none; z-index:inherit;">
            <div id="formaObrero" class="col-sm-12 col-md-12 col-lg-11">
                <div class="row">
                    <div class="form-group  col-sm-5 col-md-5 col-lg-5">
                        <label id=""><span>Folio</span></label>
                        <input id="Folio" class="k-input" />
                    </div>
                    <div class="form-group  col-sm-3 col-md-3 col-lg-3">
                        <a class=" btn btn-blue " href="#" id="GuardarFolio"><span id="botonGuardar4"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
@*Menu Inferior*@
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="formNav clearfix">
            <div class="button-section editButtonSection">
                <div class="btn-group save-group">
                    <button id="Guardar1" onclick="javascript:void(0);" type="button" class="btn btn-yellow"><span id="botonGuardar3"></span></button>
                    <button id="dropdown-toggle" type="button" class="btn btn-yellow dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caretWhite"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#" id="btnGuardar1"><span id="botonGuardar4"></span></a></li>
                        <li><a href="#" id="btnGuardarYNuevo1"><span id="botonGuardarYNuevo1"></span></a></li>
                    </ul>
                </div>
                <a id="btnCancelar" class="btn btn-black"><span id="botonCancelar1"></span></a>
            </div>
            <div id="EntregaresultadosDivINF" class="button-section">
                <a id="EntregaresultadosINF" class="btn btn-primary"><span id="">Revisión embarque</span></a>
            </div>
            <div class="button-section actionButtonSection">
                <div class="dropdown action-group">
                    <a id="Acciones" data-target="#" href="#" data-toggle="dropdown" role="button" ariahaspopup="true" aria-expanded="false" class="btn btn-default">
                        <span id="botonAcciones2"></span>
                        <span class="caretBlue"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="Acciones"></ul>
                </div>
            </div>
            <a id="Imprimir" href="#" class="btn btn-fadeBlue actionButtonSection"></a>
        </div>
    </div>
</div>

</div>
<script type="text/javascript" src="~/Scripts/AppComponents/Embarque/ListadoEmbarque/Ajax.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/Embarque/ListadoEmbarque/Handlers.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/Embarque/ListadoEmbarque/Render.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/Embarque/ListadoEmbarque/Captura.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/Embarque/ListadoEmbarque/Seguridad.js"></script>

<script>
    @section JavascriptDocumentReadyFunctions {
    //$authorizationModel["Listado Embarque"] = $ListadoEmbarqueModel;
    }
</script>
