
<div id="formaObreroUbicacion" class="col-sm-12 col-md-12 col-lg-11">
    <div class="row">
        <div class="alert-container">
            <div class="message">
                Mensaje de éxito/error/advertencia
            </div>
        </div>
        <div class="form-group" id="ModoDiv">
            <input type="hidden" id="Modo" value="0" />
        </div>
        <div class="form-group " id="ObreroUbicacionIDDiv">
            <input id="ObreroUbicacionID" type="hidden" />
        </div>
        <div class="form-group form-group col-sm-6 col-md-8 col-lg-3" id="TipoObreroIDDiv" style="display:none">
            <label id="Obrero0002"></label>
            <input id="TipoObreroID" />
        </div>
        <div class="form-group form-group col-sm-6 col-md-8 col-lg-3" id="ObreroIDDiv">
            <label id="Obrero0005"></label>
            <input id="ObreroID" />
        </div>
        <div class="form-group form-group col-sm-6 col-md-8 col-lg-3" id="PatioIDDiv">
            <label id="Obrero0009"></label>
            <input id="PatioID" />
        </div>
        <div class="form-group form-group col-sm-6 col-md-8 col-lg-3 " id="FechaInicioLaborDiv">
            <label id="Obrero0010"></label>
            <input id="FechaInicioLabor" />
        </div>
        <div class="form-group form-group col-sm-6 col-md-8 col-lg-3" id="FechaFinLaborDiv">
            <label id="Obrero0011"></label>
            <input id="FechaFinLabor" />
        </div>

    </div>
    <div class="row">

        <div class="buttonSave">
            <a id="GuardarObrero" href="#" class="btn btn-primary">
                <span id="LlegadaMaterial0049"></span>
            </a>
            <a id="CancelarObrero" href="#" class="btn btn-primary">
                <span id="LlegadaMaterial0050"></span>
            </a>
        </div>
    </div>
</div>




