
@{
    ViewBag.Title = "Dynasol";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section breadcrumb {
    <li>
        <a href="@Url.Action("landing", "Home")"><span id="lblInicio"></span></a>
    </li>
    <li class="active">
        <a href="#"><span id="">Seguimiento Dynasol</span></a>
    </li>
}
<div id="FormCapturaReportePruebas" class="form clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12">
    @*Menu superior*@
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="formNav clearfix">
                <div class="button-section editButtonSection">
                    <div class="btn-group save-group">
                        <button id="Guardar" onclick="javascript:void(0);" type="button" class="btn btn-yellow"><span id="botonGuardar"></span></button>
                        <button id="dropdown-toggle" type="button" class="btn btn-yellow dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caretWhite"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" id="btnGuardar2"><span id="botonGuardar2"></span></a></li>
                            <li><a href="#" id="btnGuardarYNuevo"><span id="botonGuardarYNuevo"></span></a></li>
                        </ul>
                    </div>
                    <a id="btnCancelar" class="btn btn-black"><span id="botonCancelar"></span></a>
                </div>
                <div id="PreparacionEmbarqueDivSup" class="button-section">
                    <a id="" href=@Url.Action("PackingList", "Dynasol") class="btn btn-primary"><span id="">Packing List</span></a>
                </div>
                <div class="button-section actionButtonSection">
                    <div class="dropdown action-group">
                        <a id="Acciones" data-target="#" href="#" data-toggle="dropdown" role="button" ariahaspopup="true" aria-expanded="false" class="btn btn-default">
                            <span id="botonAcciones1"></span>
                            <span class="caretBlue"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="Acciones"></ul>
                    </div>
                </div>
                <a id="Imprimir" href="#" class="btn btn-fadeBlue actionButtonSection"></a>
            </div>
        </div>
    </div>
    @*Controles Superior*@


    @*Controles Superior*@
    <div id="FieldSetView" class="row addedSectionInLineWithoutColor">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 altoControl" id="divProyecto">
            <label id="">Orden de compra</label>
            <input id="inputProyecto" class="" />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 altoControl">
            <label id="lblMostrar"></label>
            <input type="radio" name="Muestra" style="width:auto;" class="radio-responsive" value="C" checked />&nbsp;<span id="">Cecilia</span>&nbsp;
            <input type="radio" name="Muestra" style="width:auto;" class="radio-responsive" value="G" />&nbsp;<span id="">Gerez </span>
            <input type="radio" name="Muestra" style="width:auto;" class="radio-responsive" value="S" />&nbsp;<span id="">Steelgo</span>
        </div>
    </div>

    @*GRID PARA RT*@
    <div class="row addedSectionInLine" id="gridRT">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row" id="FieldSetView3">
                <div id="ContenedorGrid" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div id="grid" data-role="grid" class="k-grid k-widget">
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*Menu Inferior*@
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="formNav clearfix">
                <div class="button-section editButtonSection">
                    <div class="btn-group save-group">
                        <button id="Guardar1" onclick="javascript:void(0);" type="button" class="btn btn-yellow"><span id="botonGuardar3"></span></button>
                        <button id="dropdown-toggle" type="button" class="btn btn-yellow dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caretWhite"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" id="btnGuardar1"><span id="botonGuardar4"></span></a></li>
                            <li><a href="#" id="btnGuardarYNuevo1"><span id="botonGuardarYNuevo1"></span></a></li>
                        </ul>
                    </div>
                    <a id="btnCancelar" class="btn btn-black"><span id="botonCancelar1"></span></a>
                </div>
                <div id="PreparacionEmbarqueDivInf" class="button-section">
                    <a id="" href=@Url.Action("PackingList", "Dynasol") class="btn btn-primary"><span id="">Packing List</span></a>
                </div>
                <div class="button-section actionButtonSection">
                    <div class="dropdown action-group">
                        <a id="Acciones" data-target="#" href="#" data-toggle="dropdown" role="button" ariahaspopup="true" aria-expanded="false" class="btn btn-default">
                            <span id="botonAcciones2"></span>
                            <span class="caretBlue"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="Acciones"></ul>
                    </div>
                </div>
                <a id="Imprimir" href="#" class="btn btn-fadeBlue actionButtonSection"></a>
            </div>
        </div>
    </div>
</div>
</div>
@*cecilia*@
<div id="windowGrid" style="display: none; z-index:inherit;">


    <div class="form-group">
        <div id="ContenedorGridPopUp">
            <div id="gridPopUp" data-role="grid" class="k-grid k-widget">
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-3 col-md-3 col-lg-3">
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
            <a class="btn btn-blue" href="#" id="GuardarPlacas"><span id="CapturaReporteGuardarPopup"></span></a>

        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
            <a class="btn btn-blue" href="#" id="CancelarPlacas"><span id="CapturaReporteCancelarPlacasPopup"></span></a>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
        </div>
    </div>
</div>

@*Gerez*@
<div id="windowGridGerez" style="display: none; z-index:inherit;">


    <div class="form-group">
        <div id="ContenedorGridPopUpGerez">
            <div id="gridPopUpGerez" data-role="grid" class="k-grid k-widget">
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-3 col-md-3 col-lg-3">
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
            <a class="btn btn-blue" href="#" id="GuardarPlacasGerez"><span id="">Agregar</span></a>

        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
            <a class="btn btn-blue" href="#" id="CancelarPlacasGerez"><span id="">Cancelar</span></a>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
        </div>
    </div>
</div>


@*cecilia*@
<div id="windowGridCecilia" style="display: none; z-index:inherit;">


    <div class="form-group">
        <div id="ContenedorGridPopUpCecilia">
            <div id="gridPopUpCecilia" data-role="grid" class="k-grid k-widget">
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-2 col-md-2 col-lg-2">
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
            <a class="btn btn-blue" href="#" id="GuardarPlacasCecilia"><span id="">Agregar</span></a>

        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
            <a class="btn btn-blue" href="#" id="CancelarPlacasCecilia"><span id="">Cancelar</span></a>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
        </div>
    </div>
</div>



@*Steelgo*@
<div id="windowGridDefectos" style="display: none;  z-index:inherit;">


    <div class="form-group">
        <div id="ContenedorGridPopUpDefectos">
            <div id="gridPopUpDefectos" data-role="grid" class="k-grid k-widget" style="padding-left: 0px; padding-right: 0px;">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3 col-md-3 col-lg-3">
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
            <a class="btn btn-blue" href="#" id="GuardarDefectos"><span id="CapturaReporteGuardarDefectosPopup"></span></a>
            <input type="hidden" id="PlacaID" />
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
            <a class="btn btn-blue" href="#" id="CancelarDefectos"><span id="CapturaReporteCancelarDefectosPopup"></span></a>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
        </div>
    </div>
</div>

<div id="windowGridInspeccion" style="display: none; z-index:inherit;">


    <div class="form-group">
        <div id="ContenedorGridPopUpInspeccion">
            <div id="gridPopUpInspeccion" data-role="grid" class="k-grid k-widget">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3 col-md-3 col-lg-3">
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
            <a class="btn btn-blue" href="#" id="GuardarInspeccion"><span id="">Guardar</span></a>

        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
            <a class="btn btn-blue" href="#" id="CancelarInspeccion"><span id="">Cancelar</span></a>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
        </div>
    </div>
</div>



<script type="text/javascript" src="~/Scripts/AppComponents/OrdenCompraDynasol/Dynasol/Ajax.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/OrdenCompraDynasol/Dynasol/Handlers.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/OrdenCompraDynasol/Dynasol/Render.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/OrdenCompraDynasol/Dynasol/Captura.js"> </script>
@*<script type="text/javascript" src="~/Scripts/AppComponents/Dynasol/Seguridad.js"></script>*@


<script>
    Cookies.set("home", true, { path: '/' });
    Cookies.set("navegacion", "10042", { path: '/' });
    @section JavascriptDocumentReadyFunctions {
    //$authorizationModel["AsignarRequisicion"] = $AsignarRequisicionModel;
    }
</script>
