
@{
    ViewBag.Title = "Packing List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section breadcrumb {
    <li>
        <a href="@Url.Action("landing", "Home")"><span id="lblInicio"></span></a>
    </li>
    <li class="active">
        <a href="#"><span id="">Packing List</span></a>
    </li>
}
<div id="FormCapturaReportePruebas" class="form clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12">
    @*Menu superior*@
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="formNav clearfix">
                <div class="button-section editButtonSection">
                    <div class="btn-group save-group">
                        <button id="Guardar" onclick="javascript:void(0);" type="button" class="Guardar btn btn-yellow"><span id="botonGuardar"></span></button>
                        <button id="dropdown-toggle" type="button" class="btn btn-yellow dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caretWhite"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" class="Guardar" id="btnGuardar2"><span id="botonGuardar2"></span></a></li>
                            <li><a href="#" class="GuardarNuevo"  id="btnGuardarYNuevo"><span id="botonGuardarYNuevo"></span></a></li>
                        </ul>
                    </div>
                    <a id="btnCancelar" class="btn btn-black"><span id="botonCancelar"></span></a>
                </div>
                <div id="PackingListDivSup" class="button-section">
                    <a id="" href=@Url.Action("Dynasol", "Dynasol") class="btn btn-primary"><span id="">Orden Compra</span></a>
                </div>
                <div class="button-section actionButtonSection">
                    <div class="dropdown action-group">
                        <a id="Acciones" data-target="#" href="#" data-toggle="dropdown" role="button" ariahaspopup="true" aria-expanded="false" class="btn btn-default">
                            <span id="botonAcciones1"></span>
                            <span class="caretBlue"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="Acciones"></ul>
                    </div>
                </div>
                <a id="Imprimir" href="#" class="btn btn-fadeBlue actionButtonSection"></a>
            </div>
        </div>
    </div>
    @*Controles Superior*@


    @*Controles Superior*@
    <div id="FieldSetView" class="row addedSectionInLineWithoutColor">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 altoControl" id="divProyecto">
            <label id="">Orden de compra</label>
            <input id="inputProyecto" class="" />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 altoControl">
            <label id="">Packing List</label>
            <input id="InputPackingList" class="item-select general-input" />
        </div>
    </div>

    @*GRID PARA RT*@
    <div class="row addedSectionInLine" id="gridRT">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row" id="FieldSetView3">
                <div id="ContenedorGrid" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div id="grid" data-role="grid" class="k-grid k-widget">
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*Menu Inferior*@
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="formNav clearfix">
                <div class="button-section editButtonSection">
                    <div class="btn-group save-group">
                        <button id="Guardar1" onclick="javascript:void(0);" type="button" class="Guardar btn btn-yellow"><span id="botonGuardar3"></span></button>
                        <button id="dropdown-toggle" type="button" class="btn btn-yellow dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caretWhite"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" class="Guardar"  id="btnGuardar1"><span id="botonGuardar4"></span></a></li>
                            <li><a href="#" class="GuardarNuevo"  id="btnGuardarYNuevo1"><span id="botonGuardarYNuevo1"></span></a></li>
                        </ul>
                    </div>
                    <a id="btnCancelar" class="btn btn-black"><span id="botonCancelar1"></span></a>
                </div>
                <div id="PackingListDivInf" class="button-section">
                    <a id="" href=@Url.Action("Dynasol", "Dynasol") class="btn btn-primary"><span id="">Orden Compra</span></a>
                </div>
                <div class="button-section actionButtonSection">
                    <div class="dropdown action-group">
                        <a id="Acciones" data-target="#" href="#" data-toggle="dropdown" role="button" ariahaspopup="true" aria-expanded="false" class="btn btn-default">
                            <span id="botonAcciones2"></span>
                            <span class="caretBlue"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="Acciones"></ul>
                    </div>
                </div>
                <a id="Imprimir" href="#" class="btn btn-fadeBlue actionButtonSection"></a>
            </div>
        </div>
    </div>
</div>






<script type="text/javascript" src="~/Scripts/AppComponents/OrdenCompraDynasol/PackingList/Ajax.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/OrdenCompraDynasol/PackingList/Handlers.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/OrdenCompraDynasol/PackingList/Render.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/OrdenCompraDynasol/PackingList/Captura.js"> </script>
@*<script type="text/javascript" src="~/Scripts/AppComponents/Dynasol/Seguridad.js"></script>*@


<script>
    Cookies.set("home", true, { path: '/' });
    Cookies.set("navegacion", "10042", { path: '/' });
    @section JavascriptDocumentReadyFunctions {
    //$authorizationModel["AsignarRequisicion"] = $AsignarRequisicionModel;
    }
</script>
