@{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }


@section breadcrumb {
        <li>
            <a href="#"><span id="spnInicio"></span></a>
        </li>
        <li>
            <a href="#"><span id="spnMediciones"></span></a>
        </li>
        <li class="active">
            <a href=""><span id="spanCondicionesClimaticas"></span></a>
        </li>
    }


<div id="FormCapturaArmado" class="form clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12">
    @*Menu superior*@
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="formNav clearfix">
                <div class="button-section editButtonSection">
                    <div class="btn-group save-group">
                        <button id="Guardar" onclick="javascript:void(0);" type="button" class="btn btn-yellow"><span id="botonGuardar"></span></button>
                        <button id="Editar" onclick="javascript:void(0);" type="button" class="btn btn-yellow" style="display:none"><span id="botonEdtar"></span></button>
                        <button id="dropdown-toggle" type="button" class="btn btn-yellow dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caretWhite"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" id="btnGuardar"><span id="botonGuardar2"></span></a></li>
                            <li><a href="#" id="btnGuardarYNuevo"><span id="botonGuardarYNuevo"></span></a></li>
                        </ul>
                    </div>
                    <a id="btnCancelar" class="btn btn-black"><span id="botonCancelar"></span></a>
                </div>

                <div class="button-section actionButtonSection">
                    <div class="dropdown action-group">
                        <a id="Acciones" data-target="#" href="#" data-toggle="dropdown" role="button" ariahaspopup="true" aria-expanded="false" class="btn btn-default">
                            <span id="botonAcciones1"></span>
                            <span class="caretBlue"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="Acciones"></ul>
                    </div>
                </div>
                <a id="Imprimir" href="#" class="btn btn-fadeBlue actionButtonSection"></a>
            </div>
        </div>
    </div>

    @*Controles Superior*@
    <div class="row" id="FieldSetView">
        <input type="hidden" id="hddCambioClimaticoID" />
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                @*<div class="col-sm-2 col-md-2 col-lg-3" id="">
                    <label id="lblMedicionesProyectoID"> </label>
                    <input id="inputProyecto" />
                </div>*@
                <div class="col-sm-2 col-md-2 col-lg-3" id="divinputPatio">
                    <label id="lblMedicionesPatioID"> </label>
                    <input id="inputPatio" required />
                </div>
                <div class="col-sm-2 col-md-2 col-lg-3" id="divArea">
                    <label id="lblMedicionesZonas"> </label>
                    <input id="Area" required />
                </div>
                <div class="col-sm-2 col-md-2 col-lg-3" id="divinputMedicionesfechaToma">
                    <label id="lblMedicionesfechaToma"> </label>
                    <input id="inputMedicionesfechaToma" required />
                </div>
                <div class="col-sm-2 col-md-2 col-lg-3" id="divinputMedicionesHoraToma">
                    <label id="lblMedicionesHoraToma"> </label>
                    <input id="inputMedicionesHoraToma" required />
                </div>

                @*mediciones con equipo de toma*@
                <br /><br />
                <div class="col-sm-2 col-md-2 col-lg-6" id="divinputEquipoTomaTempAmbID">
                    <label id="lblEquipoTomaTempAmb"></label>
                    <input id="inputEquipoTomaTempAmbID" required />
                </div>
                <div class="col-sm-2 col-md-2 col-lg-6" id="divinputMedicionesTempAmbiente">
                    <label id="lblMedicionesTempAmbiente"> </label>
                    <input id="inputMedicionesTempAmbiente" required />
                </div>

                <div class="col-sm-2 col-md-2 col-lg-6" id="divinputEquipoTomaHumedadID">
                    <label id="lblEquipoTomaHumedad"></label>
                    <input id="inputEquipoTomaHumedadID" required />
                </div>
                <div class="col-sm-2 col-md-2 col-lg-6" id="divinputMedicionesHumedad">
                    <label id="lblMedicionesHumedad"> </label>
                    <input id="inputMedicionesHumedad" required />
                </div>

                <br /><br />
                <div class="col-sm-2 col-md-2 col-lg-6" id="divinputEquipoTomaPtoRocioID">
                    <label id="lblEquipoTomaPtoRocio"> </label>
                    <input id="inputEquipoTomaPtoRocioID" required />
                </div>
                <div class="col-sm-2 col-md-2 col-lg-6" id="divinputMedicionesPuntoRocio">
                    <label id="lblMedicionesPuntoRocio"> </label>
                    <input id="inputMedicionesPuntoRocio" required />
                </div>

                <div class="col-sm-2 col-md-2 col-lg-6" id="divinputEquipoTomaCampoXID">
                    <label id="lblEquipoTomaCampoX"> </label>
                    <input id="inputEquipoTomaCampoXID" required />
                </div>
                <div class="col-sm-2 col-md-2 col-lg-6" id="divinputMedicionesCampoX">
                    <label id="lblMedicionesCampoX"> </label>
                    <input id="inputMedicionesCampoX" required />
                </div>
            </div>
    </div>
    <br />
    <br />
    
    @*Menu Inferior*@
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="formNav clearfix">
                <div class="button-section editButtonSection ">
                    <div class="btn-group save-group ">
                        <button id="GuardarPie" onclick="javascript:void(0);" type="button" class="btn btn-yellow"><span id="CapturaSoldaduraGuardar"></span></button>
                        <button id="EditarPie" onclick="javascript:void(0);" type="button" class="btn btn-yellow" style="display:none"><span id="CapturaSoldaduraGuardar"></span></button>
                        <button id="dropdown-toggle" type="button" class="btn btn-yellow dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caretWhite"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" id="btnGuardar"><span id="btnGuardarPiePagina"></span></a></li>
                            <li><a href="#" id="btnGuardarYNuevo"><span id="DetalleAvisoLlegada0062"></span></a></li>
                        </ul>
                    </div>
                    <a id="btnCancelar" class="btn btn-black"><span id="CapturaSoldaduraCancelar"></span></a>

                </div>

                <div class="button-section actionButtonSection">
                    <div class="dropdown action-group">
                        <a id="Acciones" data-target="#" href="#" data-toggle="dropdown" role="button" ariahaspopup="true" aria-expanded="false" class="btn btn-default">
                            <span id="CapturaSoldaduraAcciones"></span>
                            <span class="caretBlue"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="Acciones"></ul>
                    </div>
                </div>
                <a id="Imprimir" href="#" class="btn btn-fadeBlue actionButtonSection"></a>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/AppComponents/MedicionesClimatologicas/Ajax.js"></script>
<script src="~/Scripts/AppComponents/MedicionesClimatologicas/Captura.js"></script>
<script src="~/Scripts/AppComponents/MedicionesClimatologicas/Handlers.js"></script>
<script src="~/Scripts/AppComponents/MedicionesClimatologicas/Render.js"></script>
<script src="~/Scripts/AppComponents/MedicionesClimatologicas/Seguridad.js"></script>
<script>
    @section JavascriptDocumentReadyFunctions {
    $authorizationModel["Mediciones Climaticas"] = $CondicionClimatologica;
    }
</script>