@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section breadcrumb {
    <li>
        <a href="#"><span id="lblInicio"></span></a>
    </li>
    <li>
        <a href="#"><span id="menuMedicionesClimatologicas"></span></a>
    </li>
    <li class="active">
        <a href=""><span id="menuMedClimCondicionesClimatologicas"></span></a>
    </li>
}


<div id="FormCapturaArmado" class="form clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12">
    @*Menu superior*@
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="formNav clearfix">
                <div class="button-section editButtonSection">
                    <div class="btn-group save-group">
                        <button id="Guardar" onclick="javascript:void(0);" type="button" class="btn btn-yellow"><span id="botonGuardar"></span></button>
                        @*<button id="Editar" onclick="javascript:void(0);" type="button" class="btn btn-yellow" style="display:none"><span id="botonEdtar"></span></button>*@
                        <button id="dropdown-toggle" type="button" class="btn btn-yellow dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caretWhite"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" id="btnGuardar"><span id="botonGuardar2"></span></a></li>
                            <li><a href="#" id="btnGuardarYNuevo"><span id="botonGuardarYNuevo"></span></a></li>
                        </ul>
                    </div>
                    <a id="btnCancelar" class="btn btn-black"><span id="botonCancelar"></span></a>
                </div>

                <div class="button-section actionButtonSection">
                    <div class="dropdown action-group">
                        <a id="Acciones" data-target="#" href="#" data-toggle="dropdown" role="button" ariahaspopup="true" aria-expanded="false" class="btn btn-default">
                            <span id="botonAcciones1"></span>
                            <span class="caretBlue"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="Acciones"></ul>
                    </div>
                </div>
                <a id="Imprimir" href="#" class="btn btn-fadeBlue actionButtonSection"></a>
            </div>
        </div>
    </div>

    @*Controles Superior*@
    <div class="row" id="FieldSetView">
        <input type="hidden" id="hddCambioClimaticoID" />
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" id="divinputMedicionesfechaToma">
                <label id="lblFechaToma"> </label>
                <input id="inputMedicionesfechaToma" required />
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" id="divinputMedicionesHoraToma">
                <label id="lblHoraToma"> </label>
                <input id="inputMedicionesHoraToma" style="width: 100%;" required />
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" id="divinputPatio">
                <label id="lblPatio"> </label>
                <input id="inputPatio" required />
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" id="divZona">
                <label>Zona</label>
                <input id="inputZona" required />
            </div>
            <br /><br />
            @*mediciones con equipo de toma*@
            <br /><br />
            <div class="row" id="FieldSetView">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id="divinputMedicionesTempAmbiente">
                        <label id="lblMedicionesTempAmbiente"> </label>
                        <input id="inputMedicionesTempAmbiente" class="item-select" required />
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id="divinputEquipoTomaTempAmbID">
                        <label id="lblEquipoTomaTemperatura"></label>
                        <input id="inputEquipoTomaTempAmb" required />
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id="divinputMedicionesHumedad">
                <label id="">&nbsp;</label>
                <label id="lblMedicionesHumedad"> </label>
                <input id="inputMedicionesHumedad" class="item-select" required />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id="divinputEquipoTomaHumedadID">
                <label id="">&nbsp;</label>
                <label id="lblEquipoTomaHumedad"></label>
                <input id="inputEquipoTomaHumedad" required />
            </div>
            <br /><br />
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id="divinputMedicionesPuntoRocio">
                <label id="">&nbsp;</label>
                <label id="lblMedicionesPuntoRocio"> </label>
                <input id="inputMedicionesPuntoRocio" class="item-selec" required />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id="divinputEquipoTomaPtoRocioID">
                <label id="">&nbsp;</label>
                <label id="lblEquipoTomaRocio"> </label>
                <input id="inputEquipoTomaPtoRocio" required />
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id="divinputMedicionesCampoX">
                <label id="">&nbsp;</label>
                <label id="lblMedicionesCampoX"> </label>
                <input id="inputMedicionesCampoX" class="item-select" required />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id="divinputEquipoTomaCampoXID">
                <label id="">&nbsp;</label>
                <label id="lblEquipoTomaCampoX"> </label>
                <input id="inputEquipoTomaCampoX" required />
            </div>
        </div>
    </div>
    <br />
    <br />

    @*Menu Inferior*@
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="formNav clearfix">
                <div class="button-section editButtonSection ">
                    <div class="btn-group save-group ">
                        <button id="GuardarPie" onclick="javascript:void(0);" type="button" class="btn btn-yellow"><span id="botonGuardar3"></span></button>
                        @*<button id="EditarPie" onclick="javascript:void(0);" type="button" class="btn btn-yellow" style="display:none"><span id="botonEditar1"></span></button>*@
                        <button id="dropdown-toggle" type="button" class="btn btn-yellow dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caretWhite"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" id="btnGuardarPie"><span id="botonGuardar4"></span></a></li>
                            <li><a href="#" id="btnGuardarYNuevoPie"><span id="botonGuardarYNuevo1"></span></a></li>
                        </ul>
                    </div>
                    <a id="btnCancelar" class="btn btn-black"><span id="botonCancelar1"></span></a>

                </div>

                <div class="button-section actionButtonSection">
                    <div class="dropdown action-group">
                        <a id="Acciones" data-target="#" href="#" data-toggle="dropdown" role="button" ariahaspopup="true" aria-expanded="false" class="btn btn-default">
                            <span id="botonAcciones2"></span>
                            <span class="caretBlue"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="Acciones"></ul>
                    </div>
                </div>
                <a id="Imprimir" href="#" class="btn btn-fadeBlue actionButtonSection"></a>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/AppComponents/MedicionesClimatologicas/CondicionesClimatologicas/Ajax.js"></script>
<script src="~/Scripts/AppComponents/MedicionesClimatologicas/CondicionesClimatologicas/Captura.js"></script>
<script src="~/Scripts/AppComponents/MedicionesClimatologicas/CondicionesClimatologicas/Handlers.js"></script>
<script src="~/Scripts/AppComponents/MedicionesClimatologicas/CondicionesClimatologicas/Render.js"></script>
<script src="~/Scripts/AppComponents/MedicionesClimatologicas/CondicionesClimatologicas/Seguridad.js"></script>

@*<script>
        @section JavascriptDocumentReadyFunctions {
        $authorizationModel["Mediciones Climaticas"] = $CondicionClimatologica;
        }
    </script>*@