
@{
    ViewBag.Title = "AdminComponentes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section breadcrumb {
    <li>
        <a href="@Url.Action("landing", "Home")"><span id="lblInicio"></span></a>
    </li>

    <li>
        <a href="#"><span id="layoutLabel0003"></span></a>
    </li>
    <li>
        <a href="#"><span id="PinturaBreadcrumb"></span></a>
    </li>
    <li class="active">
        <a href="@Url.Action("AdminComponentes", "Pintura")"><span id="menuPinturaAdminControladores"></span></a>
    </li>
}

<div id="FormCapturaAdminReductores" class="form clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12">
    @*Menu superior*@
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="formNav clearfix">
                <div class="button-section editButtonSection">
                    <div class="btn-group save-group">
                        <button id="Guardar" onclick="javascript:void(0);" type="button" class="btn btn-yellow accionGuardar"><span id="botonGuardar"></span></button>
                        <button id="dropdown-toggle" type="button" class="btn btn-yellow dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caretWhite"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" id="btnGuardar" class="accionGuardar"><span id="botonGuardar2"></span></a></li>
                            
                        </ul>
                    </div>
                    <a id="btnCancelar" class="btn btn-black"><span id="botonCancelar"></span></a>
                </div>
                <div id="AdminComponentesDivSuperior" class="button-section">
                    <a id="AdminComponentesSuperior" href="@Url.Action("SistemaPintura","Pintura")" class="btn btn-primary"><span id="lblSistemaPinturaSiguientePasoHeader"></span></a>
                </div>
                <div class="button-section actionButtonSection">
                    <div class="dropdown action-group">
                        <a id="Acciones" data-target="#" href="#" data-toggle="dropdown" role="button" ariahaspopup="true" aria-expanded="false" class="btn btn-default">
                            <span id="botonAcciones1"></span>
                            <span class="caretBlue"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="Acciones"></ul>
                    </div>
                </div>
                <a id="Imprimir" href="#" class="btn btn-fadeBlue actionButtonSection"></a>
            </div>
        </div>
    </div>

    @*GRID*@
    <div class="row addedSectionInLine">
        <div id="ContenedorGrid" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="grid" data-role="grid" class="k-grid k-widget">
            </div>
        </div>
    </div>

    @*Menu Inferior*@
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="formNav clearfix">
                <div class="button-section editButtonSection ">
                    <div class="btn-group save-group ">
                        <button id="GuardarPie" onclick="javascript:void(0);" type="button" class="btn btn-yellow accionGuardar"><span id="botonGuardar1"></span></button>

                        <button id="dropdown-toggle" type="button" class="btn btn-yellow dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caretWhite"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" id="btnGuardarPie" class="accionGuardar"><span id="botonGuardar3"></span></a></li>
                           
                        </ul>
                    </div>
                    <a id="btnCancelar" class="btn btn-black"><span id="botonCancelar1"></span></a>

                </div>
                <div id="AdminComponentesDivInferior" class="button-section">
                    <a id="AdminComponentesInferior" href="@Url.Action("SistemaPintura","Pintura")" class="btn btn-primary"><span id="lblSistemaPinturaSiguientePasoFooter"></span></a>
                </div>
                <div class="button-section actionButtonSection">
                    <div class="dropdown action-group">
                        <a id="Acciones" data-target="#" href="#" data-toggle="dropdown" role="button" ariahaspopup="true" aria-expanded="false" class="btn btn-default">
                            <span id="botonAcciones2"></span>
                            <span class="caretBlue"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="Acciones"></ul>
                    </div>
                </div>
                <a id="Imprimir" href="#" class="btn btn-fadeBlue actionButtonSection"></a>
            </div>
        </div>
    </div>
</div>
    <script type="text/javascript" src="~/Scripts/AppComponents/Pintura/AdminComponentes/Ajax.js"></script>
    <script type="text/javascript" src="~/Scripts/AppComponents/Pintura/AdminComponentes/Handlers.js"></script>
    <script type="text/javascript" src="~/Scripts/AppComponents/Pintura/AdminComponentes/Render.js"></script>
    <script type="text/javascript" src="~/Scripts/AppComponents/Pintura/AdminComponentes/Captura.js"> </script>
    <script type="text/javascript" src="~/Scripts/AppComponents/Pintura/AdminComponentes/Seguridad.js"></script>
 
<script>
            @section JavascriptDocumentReadyFunctions {
    $authorizationModel["AdministracionComponentes"] = $AdministracionComponentesModel;
            }
    </script>
