@{
    ViewBag.Title = "Captura avance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section breadcrumb {
    <li>
        <a href="@Url.Action("landing", "Home")"><span id="lblCapturaAvanceIntAcabadoInicio"></span></a>
    </li>
    <li>
        <a href="@Url.Action("landing", "Home")"><span id="lblPintura"></span></a>
    </li>
    <li class="active">
        <a href="@Url.Action("CapturaAvanceIntAcabado", "Pintura")"><span id="lblCapturaAvanceIntAcabado"></span></a>
    </li>
}

<div id="FormCapturaAvanceIntAcabado" class="form clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="formNav clearfix">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="button-section editButtonSection">
                            <div class="btn-group save-group">
                                <button id="Guardar" onclick="javascript:void(0);" type="button" class="btn btn-yellow Guardar"><span id="lblGuardar"></span></button>
                                <button id="dropdown-toggle" type="button" class="btn btn-yellow dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="caretWhite"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#" id="btnGuardar" class="btnGuardar"><span id="lblGuardarYNuevo"></span></a></li>
                                </ul>
                            </div>

                            <a id="btnCancelar" class="btn btn-black btnCancelar"><span id="lblCancelar"></span></a>
                        </div>
                        <div id="CapturaDePruebasDiv" class="button-section">
                            <a id="CapturaDePruebas" href="pintura/LotesCapturaReporte" class="btn btn-primary"><span id="lblCapturaDePruebas"></span></a>
                        </div>

                        <div class="button-section actionButtonSection">
                            <div class="dropdown action-group">
                                <a id="Acciones" data-target="#" href="#" data-toggle="dropdown" role="button" ariahaspopup="true" aria-expanded="false" class="btn btn-default">
                                    <span id="lblAccion001"></span>
                                    <span class="caretBlue" id="lblAccion002"></span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="Acciones"></ul>
                            </div>
                        </div>
                        <a id="Imprimir" href="#" class="btn btn-fadeBlue actionButtonSection"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 col-md-2 col-lg-2" id="divCuadrante">
            <label id="lblCuadrante"></label>
            <input id="inputCuadrante" />
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="btn-group " role="group" id="PasoCapturaAvanceIntAcabadoDiv">
                <label id="lblPaso"></label>
                <input type="radio" name="PasoTipo" style="width:auto;" value="intermedio" /><span id="lblPasoIntermedio"></span>
                <input type="radio" name="PasoTipo" style="width:auto;" value="acabado" /><span id="lblPasoAcabado"></span>
            </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <br />
            <button class="btn btn-blue" id="btnMostrar"><span id="lblMostrar"></span></button>
        </div>
    </div>
    <br />
    <div class="row addedSection">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-sm-2 col-md-2 col-lg-2" id="divColor">
                    <label id="lblCapturaAvanceIntAcabadoColor"></label>
                    <input id="inputColor" />
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2" id="divFecha">
                    <label id="lblCapturaAvanceIntAcabadoFecha"></label>
                    <input id="inputFechaCapturaAvanceIntAcabado" />
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2" id="divPintor">
                    <label id="lblCapturaAvanceIntAcabadoPintor"></label>
                    <input id="inputPintor" />
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2" id="divLote">
                    <label id="lblCapturaAvanceIntAcabadoLote"></label>
                    <input id="inputLote" />
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2" id="divPinturaComponenteComposicion">
                    <label id="lblCapturaAvanceIntAcabadoSistemaPintura"></label>
                    <input id="inputSistemaPintura" />
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-2 col-md-2 col-lg-2" id="divPinturaComponenteComposicion">
                    <label id="lblCapturaAvanceIntAcabadoPinturaComponenteComposicion"></label>
                    <input id="inputPinturaComponenteComposicion" />
                </div>

                <div class="btn-group " role="group" id="LlenaCapturaAvanceIntAcabadoDiv">
                    <label id="CapturaAvanceIntAcabadoHeaderLlenadoMasivo"></label>
                    <input type="radio" id="LlenaTodos" name="LLena" style="width:auto;" value="Todos" /><span id="CapturaLlenadoMasivoTodos"></span>
                    <input type="radio" id="LlenaVacios" name="LLena" style="width:auto;" value="Vacios" /><span id="CapturaLlenadoMasivoVacios"></span>
                </div>

            </div>
            <br />
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div id="ContenedorGrid" class="row">
                        <div id="grid" data-role="grid" class="k-grid k-widget">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input id="hdAccionFiltrado" type="hidden" />
    <div id="window">
    </div>
    <br /><br />

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="formNav clearfix">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="button-section editButtonSection">
                            <div class="btn-group save-group">
                                <button id="GuardarFooter" onclick="javascript:void(0);" type="button" class="btn btn-yellow GuardarFooter"><span id="lblGuardarFooter"></span></button>
                                <button id="dropdown-toggle" type="button" class="btn btn-yellow dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="caretWhite"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#" id="btnGuardarFooter" class="btnGuardarFooter"><span id="lblGuardarYNuevoFooter"></span></a></li>
                                </ul>
                            </div>
                            <a id="btnCancelar" class="btn btn-black btnCancelar"><span id="lblCancelarFooter"></span></a>
                        </div>
                        <div id="CapturaDePruebasDiv" class="button-section">
                            <a id="CapturaDePruebas" href="pintura/LotesCapturaReporte" class="btn btn-primary CapturaDePruebas"><span id="lblCapturaDePruebasFooter"></span></a>
                        </div>
                        <div class="button-section actionButtonSection">
                            <div class="dropdown action-group">
                                <a id="Acciones" data-target="#" href="#" data-toggle="dropdown" role="button" ariahaspopup="true" aria-expanded="false" class="btn btn-default">
                                    <span id="lblAccion001"></span>
                                    <span class="caretBlue" id="lblAccion002"></span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="Acciones"></ul>
                            </div>
                        </div>
                        <a id="Imprimir" href="#" class="btn btn-fadeBlue actionButtonSection"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/AppComponents/Pintura/CapturaAvanceIntAcabado/Render.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/Pintura/CapturaAvanceIntAcabado/Ajax.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/Pintura/CapturaAvanceIntAcabado/Handlers.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/Pintura/CapturaAvanceIntAcabado/Captura.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/Pintura/CapturaAvanceIntAcabado/Seguridad.js"></script>

<script>
    @section JavascriptDocumentReadyFunctions {
    $authorizationModel["CapturaAvanceIntAcabado"] = $CapturaAvanceIntAcabadoModel;
    }
</script>
