@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section breadcrumb {
    <li>
        <a href="@Url.Action("landing", "Home")"><span id="lblCapturaAvanceIntAcabadoInicio"></span></a>
    </li>
    <li>
        <a href="#"><span id="lblPintura"></span></a>
    </li>
    <li class="active">
        <a href="@Url.Action("CapturaAvanceIntAcabado", "Pintura")"><span id="menuPinturaCapturaAvanceIntAcabadoTop"></span></a>
    </li>
}

<div id="FormCapturaAvanceIntAcabado" class="form clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12">
    @*Menu superior*@
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="formNav clearfix">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="button-section editButtonSection">
                            <div class="btn-group save-group">
                                <button id="Guardar" onclick="javascript:void(0);" type="button" class="btn btn-yellow Guardar"><span id="lblGuardar"></span></button>
                                <button id="dropdown-toggle" type="button" class="btn btn-yellow dropdown-toggle botonDeplegaMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="caretWhite"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#" id="btnGuardar"><span id="botonGuardar2"></span></a></li>
                                    <li><a href="#" id="btnGuardarYNuevo"><span id="lblGuardarYNuevo"></span></a></li>
                                </ul>
                            </div>

                            <a id="btnCancelar" class="btn btn-black btnCancelar"><span id="lblCancelar"></span></a>
                        </div>
                        <div id="CapturaAvanceIntAcabadoDivSuperior" class="button-section">
                            <a id="CapturaAvanceIntAcabadoSuperior" href="@Url.Action("LotesCapturaReporte", "Pintura")" class="btn btn-primary"><span id="lblCapturaDePruebas"></span></a>
                        </div>
                        <div class="button-section actionButtonSection">
                            <div class="dropdown action-group">
                                <a id="Acciones" data-target="#" href="#" data-toggle="dropdown" role="button" ariahaspopup="true" aria-expanded="false" class="btn btn-default">
                                    <span id="botonAcciones1"></span>
                                    <span class="caretBlue"></span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="Acciones"></ul>
                            </div>
                        </div>
                        <a id="Imprimir" href="#" class="btn btn-fadeBlue actionButtonSection"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*Controles Superiores*@
    <div class="row" id="FieldSetView">
        <div class="col-sm-2 col-md-2 col-lg-2" id="InputCuadranteDiv">
            <label id="lblCuadrante"></label>
            <input id="inputCuadrante" />
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="btn-group " role="group" id="PasoCapturaAvanceIntAcabadoDiv">
                <label id="lblPaso"></label>
                <input type="radio" name="PasoTipo" style="width:auto;" value="intermedio" /><span id="lblPasoIntermedio"></span>
                <input type="radio" name="PasoTipo" style="width:auto;" value="acabado" /><span id="lblPasoAcabado"></span>
            </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2 FieldSetView">
            <br />
            <button class="btn btn-blue" id="btnMostrar"><span id="lblMostrar"></span></button>
        </div>
    </div>
    @*GRID*@
    <div class="row addedSectionInLine " >
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row" id="FieldSetView2">
                <div class="col-sm-3 col-md-3 col-lg-3" id="divColor">
                    <label id="lblCapturaAvanceIntAcabadoColor"></label>
                    <input id="inputColor" />
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3" id="divFecha">
                    <label id="lblCapturaAvanceIntAcabadoFecha"></label>
                    <input id="inputFechaCapturaAvanceIntAcabado" />
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3" id="divPintor">
                    <label id="lblCapturaAvanceIntAcabadoPintor"></label>
                    <input id="inputPintor" />
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3" id="divLote">
                    <label id="lblCapturaAvanceIntAcabadoLote"></label>
                    <input id="inputLote" />
                </div>
                
            </div>
            <div class="row" id="FieldSetView3">
                <div class="col-sm-3 col-md-3 col-lg-3" id="divPinturaComponenteComposicion">
                    <label id="lblCapturaAvanceIntAcabadoSistemaPintura"></label>
                    <input id="inputSistemaPintura" />
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3" id="divPinturaComponenteComposicion">
                    <label id="lblCapturaAvanceIntAcabadoPinturaComponenteComposicion"></label>
                    <input id="inputPinturaComponenteComposicion" />
                </div>

                <div class="btn-group col-xs-3 col-sm-3 col-md-3 col-lg-3" role="group" id="LlenaCapturaAvanceIntAcabadoDiv">
                    <label id="CapturaAvanceIntAcabadoHeaderLlenadoMasivo"></label>
                    <input type="radio" id="LlenaTodos" name="LLena" style="width:auto;" value="Todos" /><span id="CapturaLlenadoMasivoTodos"></span>
                    <input type="radio" id="LlenaVacios" name="LLena" style="width:auto;" value="Vacios" /><span id="CapturaLlenadoMasivoVacios"></span>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <label id="">&nbsp;</label>
                    <button type="button" id="ButtonPlanchar" class="btn btn-blue"><span id="botonAplicar"></span></button>
                </div>
            </div>


                <div class="row">
                    <div id="ContenedorGrid" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div id="grid" data-role="grid" class="k-grid k-widget"></div>
                    </div>
                </div>
            </div>
        <input id="hdAccionFiltrado" type="hidden" />
    </div>
    
    <div id="window"></div>
    
    @*Menu Inferior*@
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="formNav clearfix"> 
                <div class="button-section editButtonSection">
                    <div class="btn-group save-group">
                        <button id="GuardarPie" onclick="javascript:void(0);" type="button" class="btn btn-yellow GuardarFooter"><span id="lblGuardarFooter"></span></button>
                        <button id="dropdown-toggle" type="button" class="btn btn-yellow dropdown-toggle botonDeplegaMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caretWhite"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" id="Guardar1"><span id="botonGuardar4"></span></a></li>
                            <li><a href="#" id="btnGuardarYNuevo1"><span id="botonGuardarYNuevo1"></span></a></li>
                        </ul>
                    </div>
                    <a id="btnCancelar" class="btn btn-black btnCancelar"><span id="lblCancelarFooter"></span></a>
                </div>
                <div id="CapturaAvanceIntAcabadoDivInferior" class="button-section">
                    <a id="CapturaAvanceIntAcabadoInferior" href="@Url.Action("LotesCapturaReporte", "Pintura")" class="btn btn-primary"><span id="lblCapturaDePruebasPie"></span></a>
                </div>
                <div class="button-section actionButtonSection">
                    <div class="dropdown action-group">
                        <a id="Acciones" data-target="#" href="#" data-toggle="dropdown" role="button" ariahaspopup="true" aria-expanded="false" class="btn btn-default">
                            <span id="botonAcciones2"></span>
                            <span class="caretBlue" id="lblAccion002"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="Acciones"></ul>
                    </div>
                </div>
                <a id="Imprimir" href="#" class="btn btn-fadeBlue actionButtonSection"></a> 
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/AppComponents/Pintura/CapturaAvanceIntAcabado/Render.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/Pintura/CapturaAvanceIntAcabado/Ajax.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/Pintura/CapturaAvanceIntAcabado/Handlers.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/Pintura/CapturaAvanceIntAcabado/Captura.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/Pintura/CapturaAvanceIntAcabado/Seguridad.js"></script>

<script>
    @section JavascriptDocumentReadyFunctions {
    $authorizationModel["CapturaAvanceIntAcabado"] = $CapturaAvanceIntAcabadoModel;
    }
</script>
