@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section breadcrumb {
    <li>
        <a href="@Url.Action("landing", "Home")"><span id="lblInicio"></span></a>
    </li>
    <li>
        <a href="#"><span id="PinturaBreadcrumb"></span></a>
    </li>
    <li class="active">
        <a href="@Url.Action("CapturaAvance", "Pintura")"><span id="PinturaCapturaAvanceBreadcrumb"></span></a>
    </li>
}
<div id="FormCapturaAvance" class="form clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12">
    @*Menu Superior*@
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="formNav clearfix">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="button-section editButtonSection">
                            <div class="btn-group save-group">
                                <button id="Guardar" onclick="javascript:void(0);" type="button" class="btn btn-yellow accionGuardar"><span id="botonGuardar2"></span></button>
                                <button id="dropdown-toggle" type="button" class="btn btn-yellow dropdown-toggle botonDeplegaMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="caretWhite"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#" id="btnGuardar" class="accionGuardar"><span id="botonGuardar"></span></a></li>
                                    <li><a href="#" id="btnGuardarYNuevo"><span id="botonGuardarYNuevo"></span></a></li>
                                </ul>

                            </div>

                            <a id="btnCancelar" class="btn btn-black"><span id="botonCancelar"></span></a>
                        </div>
                        <div id="CapturaAvanceDivSuperior" class="button-section">
                            <a id="CapturaAvanceSuperior" href="@Url.Action("DescargaCarritos","Pintura")" class="btn btn-primary"><span id="lblDescargaDeCarroSup"></span></a>
                        </div>
                        <div class="button-section actionButtonSection">
                            <div class="dropdown action-group">
                                <a id="Acciones" data-target="#" href="#" data-toggle="dropdown" role="button" ariahaspopup="true" aria-expanded="false" class="btn btn-default">
                                    <span id="botonAcciones1"></span>
                                    <span class="caretBlue"></span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="Acciones">
                                    <li><a href="#" id="CapturaLotes"><span id="PinturaLotesCapturaPruebaBreadcrumb"></span></a></li>
                                    <li><a href="#" id="CapturaSpool"><span id="PinturaCapturaPruebaSpoolBreadcrumb"></span></a></li>
                                </ul>
                            </div>
                        </div>
                        <a id="Imprimir" href="#" class="btn btn-fadeBlue actionButtonSection"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*Controles Superior*@
    <div class="row  addedSectionInLineWithoutColor" id="ProcesoPinturaDiv">
        <div class="row col-xs-12 col-sm-4 col-md-2 col-lg-6 altoControl" id="carroDiv">
            <label><span id="lblProcesosPintura"></span></label>
            <div class="btn-group " data-toggle="buttons" role="group">
                <label>&nbsp;</label>
                <div class="btn btn-primary" id="stylePPShotBlast">
                    <input type="radio" name="ProcesoPintura" style=" width:auto;" value="1" class="radioProcesoPintura" /><span id="lblSPShotBlast"></span>
                </div>
                <div class="btn btn-primary" id="stylePPPrimario">
                    <input type="radio" name="ProcesoPintura" style=" width:auto;" value="2" class="radioProcesoPintura" /><span id="lblSPPrimario"> </span>
                </div>
                <div class="btn btn-primary" id="stylePPIntermedio">
                    <input type="radio" name="ProcesoPintura" style=" width:auto;" value="3" class="radioProcesoPintura" /><span id="lblSPIntermedio"> </span>
                </div>
                <div class="btn btn-primary" id="stylePPAvanzado">
                    <input type="radio" name="ProcesoPintura" style=" width:auto;" value="4" class="radioProcesoPintura" /><span id="lblSPAvanzado"> </span>
                </div>
            </div>
        </div>
    </div>

    <div class="row addedSectionInLineWithoutColor" id="FieldSetView">
        <div class="row col-xs-12 col-sm-4 col-md-2 col-lg-4 altoControl" id="carroDiv">
            <label><span id="lblCarroEscritorio"></span></label>
            <input style="width:60%;" id="inputCarro" />
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 altoControl" id="divColor">
            <label id="lblColor"></label>
            <input id="inputColor" />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 altoControl">
            <label id="lblMostrar"></label>
            <input type="radio" name="Muestra" class="radio-responsive" style="width:auto;" value="SinCaptura" /><span id="lblSinCaptura"></span>
            <input type="radio" name="Muestra" class="radio-responsive" style="width:auto;" value="Todos" /><span id="lblTodos"> </span>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-3" id="">
            <label id="">&nbsp;</label>
            <button type="button" id="btnMostrar" class="btn btn-blue"><span id="botonMostrar"></span></button>
        </div>
    </div>

    <div class="row addedSectionInLineWithoutColor">
        <div class="row col-xs-12 col-sm-2 col-md-2 col-lg-4" id="InputIDDiv">
            <label id="lblSpoolID"></label>
            <input style="width:43%" id="InputOrdenTrabajo" class="general-input" />-<input id="InputID" placeholder="ID" style="width:44%;" />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 altoControl" style="display:none">
            <label id="lblVersion"></label>
            <input style="width:60%;" id="inputVersion" />
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-3" id="">
            <label id="">&nbsp;</label>
            <button type="button" id="btnAgregar" class="btn btn-blue"><span id="botonAgregar"></span></button>
        </div>
    </div>

    @*GRID*@

    <div class="row addedSectionInLine">
        <div class="col-xs-12 col-sm-4 col-md-2 ">
            <label><span id="lblFechaShotblast"></span></label>
            <input id="FechaShotBlast" />
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4   ">
            <label><span id="lblShotblastero"></span></label>
            <input id="inputShotBlastero" />
        </div>
        <div  id="divAgregarComponentesReductoresDinamicos" style="width:auto; padding-left:0px; padding-right:0px;">
        </div>

        <div class="col-xs-12 col-sm-6 col-md-2 " id="LlenaCapturaAvanceIntAcabadoDiv" >
            <label id="lblPlanchar"></label>
            <input type="radio" id="LlenaTodos" name="LLena" class="radio-responsive" style="width:auto;" value="Todos" /><span id="lblTodos1"></span>
            <input type="radio" id="LlenaVacios" name="LLena" class="radio-responsive" style="width:auto;" value="Vacios" /><span id="lblVacio"></span>

        </div>
        
        <div class="col-xs-12 col-sm-4 col-md-1" >
            <label id="">&nbsp;</label>
            <button type="button" id="ButtonPlanchar" class="btn btn-blue"><span id="botonPlanchar"></span></button>
        </div>
        <div id="ContenedorGrid" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="grid" data-role="grid" class="k-grid k-widget"></div>
        </div>


    </div>


    <input id="hdAccionFiltrado" type="hidden" />
    @*Menu Inferior*@
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="formNav clearfix">
                <div class="button-section editButtonSection">
                    <div class="btn-group save-group">
                        <button id="GuardarPie" onclick="javascript:void(0);" type="button" class="btn btn-yellow accionGuardar"><span id="botonGuardar3"></span></button>
                        <button id="dropdown-toggle" type="button" class="btn btn-yellow dropdown-toggle botonDeplegaMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caretWhite"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" id="btnGuardar4" class="accionGuardar"><span id="botonGuardar4"></span></a></li>
                            <li><a href="#" id="btnGuardarYNuevo2"><span id="botonGuardarYNuevo1"></span></a></li>
                        </ul>
                    </div>

                    <a id="btnCancelar2" class="btn btn-black"><span id="botonCancelar1"></span></a>
                </div>
                <div id="CapturaAvanceDivInferior" class="button-section">
                    <a id="CapturaAvanceInferior" href="@Url.Action("DescargaCarritos","Pintura")" class="btn btn-primary"><span id="lblDescargaDeCarroInf"></span></a>
                </div>
                <div class="button-section actionButtonSection">
                    <div class="dropdown action-group">
                        <a id="Acciones" data-target="#" href="#" data-toggle="dropdown" role="button" ariahaspopup="true" aria-expanded="false" class="btn btn-default">
                            <span id="botonAcciones2"></span>
                            <span class="caretBlue"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="Acciones">
                            <li><a href="#" id="CapturaLotes"><span id="PinturaLotesCapturaPruebaBreadcrumb1"></span></a></li>
                            <li><a href="#" id="CapturaSpool"><span id="PinturaCapturaPruebaSpoolBreadcrumb1"></span></a></li>
                        </ul>
                    </div>
                </div>
                <a id="Imprimir" href="#" class="btn btn-fadeBlue actionButtonSection"></a>
            </div>
        </div>
    </div>
</div>
<div id="windowDownload" style="display:none">
    <div class="container-fluid" style="margin:0px">
        <div class="form-group">
            @*<center>*@
            <span id="PinturaCargaMsjDescargaSpool"></span>
            @*</center>*@
        </div>
        <div class="form-group row">
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
            <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3">
                <input id="inputZonaPopup" placeholder="Zona" />
            </div>
            <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3">
                <input id="inputCuadrantePopup" placeholder="Cuadrante" />
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
        </div>
        <div class="row">
            <center>
                <a class="btn btn-primary confirm_yes" href="#/" id="btnDescargar">
                    <span id="PinturaCargaDescargar"></span>
                </a>
                <a class="btn btn-primary confirm_yes" href="#/" id="btnCerrarPopup">
                    <span id="PinturaCargaCerrarPopup"></span>
                </a>
            </center>
        </div>
    </div>
</div>
<div id="ventanaConfirmCapturaProcesoPintura"></div>
<script type="text/javascript" src="~/Scripts/AppComponents/Pintura/CapturaAvance/Render.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/Pintura/CapturaAvance/Seguridad.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/Pintura/CapturaAvance/Ajax.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/Pintura/CapturaAvance/Handlers.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/Pintura/CapturaAvance/Captura.js"></script>

<script>
        @section JavascriptDocumentReadyFunctions {
    $authorizationModel["Captura Avance"] = $CapturaAvanceModel;
    }
</script>