@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section breadcrumb {
    <li>
        <a href="@Url.Action("landing", "Home")"><span id="DashboardDespachoCorte0001"></span></a>
    </li>
    <li class="">
        <a href="#"><span id="PinturaBreadcrumb"></span></a>
    </li>
    <li class="active">
        <a href="@Url.Action("DashboardPintura", "Pintura")"><span id="PinturaDashboardBreadcrumb"></span></a>
    </li>
}


<div id="formDashboardPintura" class="form clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="formNav filtersFields clearfix">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
                        <label id="lblMostrar"></label>

                        <input type="radio" name="Muestra" class="radio-responsive" style="width:auto;" value="PorSpool" /><span>Por Spool</span><br />
                        <input type="radio" name="Muestra" class="radio-responsive" style="width:auto;" value="PorM2" /><span>Por M2</span><br />
                        <input type="radio" name="Muestra" class="radio-responsive" style="width:auto;" value="PorToneladas" /><span>Por Toneladas</span>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2" id="divProyecto">
                        <label id="lblProyecto"></label>
                        <input id="inputProyecto" />
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2" id="divCliente">
                        <label id="lblCliente"></label>
                        <input id="inputCliente" />
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 altoControl" id="FechaInicialDiv">
                        <label id="lblFechaInicial"></label>
                        <input id="inputFechaInicial" />
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2" id="FechaFinalDiv">
                        <label id="lblFechaFinal"></label>
                        <input id="inputFechaFinal" />
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-3 col-lg-2">
                        <label id="">&nbsp;</label>
                        <a class=" btn btn-blue href="#" id="botonBuscar">
                            <span id="botonBuscar"></span>
                        </a>
                    </div>
                <br />
                @*<div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
                        <label>Busqueda</label>

                        <input type="radio" name="Tiempo" class="radio-responsive" style="width:auto;" value="PorFechas" checked="true" /><span>Por Fechas</span><br />
                        <input type="radio" name="Tiempo" class="radio-responsive" style="width:auto;" value="PorM2" /><span>Por Periodo</span><br />
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 altoControl" id="FechaInicialDiv">
                        <label id="lblFechaInicial"></label>
                        <input id="inputFechaInicial" />
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2" id="FechaFinalDiv">
                        <label id="lblFechaFinal"></label>
                        <input id="inputFechaFinal" />
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 altoControl" id="divPeriodo" style="display:none">
                        <label id="lblPeriodo"></label>
                        <input style="width:40%" id="inputCantidadPeriodo" />-<input id="inputTipoPeriodo" style="width:40%;" />
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-3 col-lg-2">
                        <label id="">&nbsp;</label>
                        <a class=" btn btn-blue href="#" id="botonBuscar">
                            <span id="botonBuscar"></span>
                        </a>
                    </div>
                </div>*@
            </div>

            @*GRID POPUP*@
            <div id="windowGrid" style="display: none; z-index:inherit;">

                <div class="row col-sm-12 col-md-12 col-lg-12" style="width: 100%; padding-right:20px;">
                    <div class="form-group">
                        <div id="ContenedorGridPopUp">
                            <div id="gridPopUp" data-role="grid" class="k-grid k-widget">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row col-sm-12 col-md-12 col-lg-12">
                    <div class="col-sm-5 col-md-5 col-lg-5"></div>
                    <a class=" btn btn-primary col-sm-1 col-md-1 col-lg-1" href="#" id="CerrarDetalleJunta">
                        <span id="botonCerrar"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="btn-group col-xs-12 col-sm-12 col-md-12 col-lg-12 dashboardNoPadding" role="group" arial-label="tabs">
                    <button id="btnShotBlast" class="btn btn-tab btn-dashPinturaHeader">
                        <label id="lblShotblast"></label>
                    </button>
                    <button id="btnPrimario" class="btn btn-tab btn-dashPinturaHeader">
                        <label id="lblPrimario"></label>
                    </button>
                    <button id="btnIntermedio" class="btn btn-tab btn-dashPintura2Header">
                        <label id="lblIntermedio"></label>
                    </button>
                    <button id="btnAcabado" class="btn btn-tab btn-dashPintura2Header">
                        <label id="lblAcabado"></label>
                    </button>
                    <button id="btnOKPintura" class="btn btn-tab btn-dashPinturaOKPinturaHeader">
                        <label id="menuOkPintura"></label>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="btn-group col-xs-12 col-sm-12 col-md-12 col-lg-12 dashboardNoPadding" role="group" arial-label="tabs">
                    <button class="btn btn-tab btn-dashPintura">
                        <label>Por cargar</label>
                        <span>0</span>
                    </button>
                    <button class="btn btn-tab btn-dashPintura">
                        <label>Por Capturar</label>
                        <span>1</span>
                    </button>
                    <button class="btn btn-tab btn-dashPintura">
                        <label>Por Probar</label>
                        <span>4</span>
                    </button>

                    <button class="btn btn-tab btn-dashPintura">
                        <label>Por Capturar</label>
                        <span>1</span>
                    </button>
                    <button class="btn btn-tab btn-dashPintura">
                        <label>Por Probar</label>
                        <span>5</span>
                    </button>
                    <button class="btn btn-tab btn-dashPintura">
                        <label>Por Descargar</label>
                        <span>3</span>
                    </button>

                    <button class="btn btn-tab btn-dashPintura">
                        <label>Por Capturar</label>
                        <span>1</span>
                    </button>
                    <button class="btn btn-tab btn-dashPintura">
                        <label>Por Probar</label>
                        <span>1</span>
                    </button>

                    <button class="btn btn-tab btn-dashPintura">
                        <label>Por Capturar</label>
                        <span>2</span>
                    </button>
                    <button class="btn btn-tab btn-dashPintura">
                        <label>Por Probar</label>
                        <span>4</span>
                    </button>
                    <button class="btn btn-tab btn-dashPinturaOKPintura">
                        <label></label>
                        <span>7</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="~/Scripts/AppComponents/Pintura/DashboardPintura/Ajax.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/Pintura/DashboardPintura/Handlers.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/Pintura/DashboardPintura/Captura.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/Pintura/DashboardPintura/Seguridad.js"></script>
