
@{
    ViewBag.Title = "SistemaPinturaAplicable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section breadcrumb {
    <li>
        <a href="@Url.Action("landing","Home" )"><span id="lblInicio"></span></a>
    </li>
    <li>
        <a href="#"><span id="menuConfiguracion"></span></a>
    </li>
    <li>
        <a href="#"><span id="PinturaBreadcrumb"></span></a>
    </li>
    <li class="active">
        <a href="@Url.Action("SistemaPinturaAplicable","Pintura" )"><span id="PinturaSistemaPinturaAplicableBreadcrumb"></span></a>
    </li>
}
<div id="FormEntregaRequisicion" class="form clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12">
    @*Menu superior*@
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="formNav clearfix">
                <div class="button-section editButtonSection">
                    <div class="btn-group save-group">
                        <button id="Guardar" onclick="javascript:void(0);" type="button" class="btn btn-yellow"><span id="botonGuardar"></span></button>
                        <button id="dropdown-toggle" type="button" class="btn btn-yellow dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caretWhite"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#/" id="btnGuardar"><span id="botonGuardar2"></span></a></li>
                            <li><a href="#/" id="btnGuardarYNuevo"><span id="botonGuardarYNuevo"></span></a></li>
                        </ul>
                    </div>
                    <a id="btnCancelar" class="btn btn-black"><span id="botonCancelar"></span></a>
                </div>
                
                <div id="CargaCarroSuperior" class="button-section">
                    <a id="CargaCarroSuperior" href="@Url.Action("AdminCargaCarro", "Pintura")" class="btn btn-primary"><span id="CargaCarroSup"></span></a>
                </div>

                <div class="button-section actionButtonSection">
                    <div class="dropdown action-group">
                        <a id="Acciones" data-target="#" href="#/" data-toggle="dropdown" role="button" ariahaspopup="true" aria-expanded="false" class="btn btn-default">
                            <span id="botonAcciones1"></span>
                            <span class="caretBlue"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="Acciones">
                            <li><a href="#/" id="btnCargaCsv"><span id="botonCargaExcel"></span></a></li>
                            <li><a href="#/" id="btnDescargaCsv"><span id="botonDescargaExcel"></span></a></li>
                        </ul>
                    </div>
                </div>
                <a id="Imprimir" href="#" class="btn btn-fadeBlue actionButtonSection"></a>
            </div>
        </div>
    </div>
    @*Filtros de Búsqueda*@
    <div id="ventanaConfirmCapturaCambioTipo"></div>
    <div id="ventanaConfirmPlanchar"></div>
    <div id="ventanaConfirmMostrar"></div>
    <div class="row addedSectionInLineWithoutColor">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-1">
            <div id="tipoVista" class="btn-group " data-toggle="buttons" role="group">
                <label>&nbsp;</label>
                <div class="btn btn-primary" id="styleSpool">
                    <input type="radio" name="TipoBusqueda" style="width:auto;" value="spool" /><span id="SistemaPinturaAplicableSpool"></span>
                </div>
                <div class="btn btn-primary" id="styleNc">
                    <input type="radio" name="TipoBusqueda" style="width:auto;" value="nc" /><span id="SistemaPinturaAplicableNC"></span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="divProyecto" style="left: 12px;">
            <label id="lblProyecto"></label>
            <input id="inputProyecto" />
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2" id="divSpool">
            <label id="lblSpoolContiene"></label>
            <input id="inputSpool" class="general-input" maxlength="1023" />
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2" id="divNc" style="display:none">
            <label id="lblNcContiene"></label>
            <input id="inputNc" class="general-input" maxlength="1023" />
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <label id="">&nbsp;</label>
            <button type="button" id="btnBuscar" class="btn btn-blue botonSizeGeneral"><span id="lblMostrar"></span></button>
        </div>
    </div>
    @*GRID*@
    <div class="row addedSectionInLine">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="divSistemaPintura">
                    <label id="lblSistemaPintura"></label>
                    <input id="inputSistemaPintura" />
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="divColor">
                    <label id="lblColor"></label>
                    <input id="inputColorPintura" />
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="div">
                    <label id="lblPlanchar">Planchado</label>
                    <input name="Planchar" style="width: auto;" type="radio" value="Vacios"><span id="lblVacio">Todos</span>
                    <input name="Planchar" style="width: auto;" type="radio" value="Todos"><span id="lblTodos1">Vacíos</span>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="divButtonAplicar">
                    <label id="">&nbsp;</label>
                    <button type="button" id="btnPlanchar" class="btn btn-blue"><span id="botonPlanchar"></span></button>
                </div>
            </div>
        </div>
        <div id="ContenedorGrid" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="grid" data-role="grid" class="k-grid k-widget"></div>
        </div>
    </div>
    @*Menu Inferior*@
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="formNav clearfix">
                <div class="button-section editButtonSection">
                    <div class="btn-group save-group">
                        <button id="Guardar1" onclick="javascript:void(0);" type="button" class="btn btn-yellow"><span id="botonGuardar3"></span></button>
                        <button id="dropdown-toggle" type="button" class="btn btn-yellow dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caretWhite"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#/" id="btnGuardar1"><span id="botonGuardar4"></span></a></li>
                            <li><a href="#/" id="btnGuardarYNuevo1"><span id="botonGuardarYNuevo1"></span></a></li>
                        </ul>
                    </div>
                    <a id="btnCancelar" class="btn btn-black"><span id="botonCancelar1"></span></a>
                </div>
                <div id="CargaCarroInferior" class="button-section">
                    <a id="CargaCarroInferior" href="@Url.Action("AdminCargaCarro", "Pintura")" class="btn btn-primary"><span id="CargaCarroInf"></span></a>
                </div>

                <div class="button-section actionButtonSection">
                    <div class="dropdown action-group">
                        <a id="Acciones" data-target="#" href="#/" data-toggle="dropdown" role="button" ariahaspopup="true" aria-expanded="false" class="btn btn-default">
                            <span id="botonAcciones2"></span>
                            <span class="caretBlue"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="Acciones">
                            <li><a href="#/" id="btnCargaCsv1"><span id="botonCargaExcel1"></span></a></li>
                            <li><a href="#/" id="btnDescargaCsv1"><span id="botonDescargaExcel1"></span></a></li>
                        </ul>
                    </div>
                </div>
                <a id="Imprimir" href="#" class="btn btn-fadeBlue actionButtonSection"></a>
            </div>
        </div>
    </div>
</div>
<div id="windowLoadFile" style="display:none;">
    <div class="row" style="margin:0px">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <label>Tipo de Carga</label><br />
            <input type="radio" name="TipoCarga" style="width:auto;" value="spool" /><span id="SPAlblSpool"></span>
            <input type="radio" name="TipoCarga" style="width:auto;" value="nc" /><span id="SPAlblNc"> </span>
        </div>
        <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-4 selectFilesDiv">
            <input type="file" name="File Upload" id="inputFile" class="hidden" accept=".csv" />
            <button id="btntFile" class="btn btn-primary" type="button">
                <span id="botonSeleccionarArchivo"></span>
            </button>
        </div>
        <div class="form-group col-xs-12 col-sm-7 col-md-7 col-lg-7 selectFilesDiv">
            <span id="lblRutaArchivo"></span>
        </div><br /><br />
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <center>
                <button type="button" class='confirm_yes btn btn-blue' id='btnGuardarCarga'>
                    <span id="lblGuardar"></span>
                </button>
                <button type="button" class='confirm_yes btn btn-blue' id='btnCerrarPopup'>
                    <span id="PinturaCargaCerrarPopup"></span>
                </button>
            </center>
        </div>
    </div>
</div>
<div id="windowDelete" style="display:none;">
    <div class="row" style="margin:0px">
        <span id="spanDetalle"></span>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="gridDetalle" data-role="grid" class="k-grid k-widget"></div>
        </div><br /><br />
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <button type="button" class='confirm_yes btn btn-blue' id="btnDescargar">
                <span id="PinturaCargaDescargar"></span>
            </button>
            <button type="button" class='confirm_yes btn btn-blue' id='btnCerrarPopup'>
                <span id="PinturaCargaCerrarPopup"></span>
            </button>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/Scripts/AppComponents/Pintura/SistemaPinturaApicable/Ajax.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/Pintura/SistemaPinturaApicable/Handlers.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/Pintura/SistemaPinturaApicable/Render.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/Pintura/SistemaPinturaApicable/Captura.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/Pintura/SistemaPinturaApicable/Seguridad.js"></script>

<script>
    @section JavascriptDocumentReadyFunctions {
    $authorizationModel["SistemaPinturaAplicable"] = $SistemaPinturaAplicableModel;
    }
</script>