
<div id="CamposRequeridosPQR" class="col-sm-12 col-md-12 col-lg-11">

    <div class="row">
        <div class="row" style="display:none">
            <div class=" col-sm-6 col-md-6 col-lg-3" id="PQRidDiv">
                <input type="text" id="IdPQR" class="" />
            </div>
        </div>
        <div class="alert-container">
            <div class="message">
                Mensaje de éxito/error/advertencia
            </div>
        </div>



    </div>
    <div class="row">
        <div class=" col-sm-6 col-md-6 col-lg-3" id="PQRNombreDiv">
            <br />
            <label id="lblPQRNombre"> </label>
            <input id="NombreId" />
        </div>
        <div class=" col-sm-6 col-md-6 col-lg-3" id="PQRPreheatDiv">
            <br />
            <label id="lblPQRPREHEAT"></label>
            <input type="checkbox" id="chkPreheat" data-bind="checked: optionCheck" />
        </div>
        <div class=" col-sm-6 col-md-6 col-lg-3" id="PQRPWHTDiv">
            <br />
            <label id="lblPQRPWHT"></label>
            <input type="checkbox" id="chkPwht" data-bind="checked: optionCheckPWHT" />
        </div>
    </div>
    <div class="row">
        <br />
        <div class=" col-sm-6 col-md-6 col-lg-3" id="PQREspesorDiV">
            <br />
            <label id="lblPQREspesor"></label>
            <input type="text" id="Espesor" class="" />
        </div>
        <div class=" col-sm-6 col-md-6 col-lg-3" id="PQRProcesoSoldaduraDiv">
            <br />
            <label id="lblPQRProcesoSoldaduraID"></label>
            <input id="ProcesoSoldaduraID" class="" />
        </div>
        <div class=" col-sm-6 col-md-6 col-lg-3" id="PQRNumeroPDiv">
            <br />
            <label id="lblPQRNumeroP"></label>
            <input id="NumeroPID" class="" />
        </div>
    </div>


    <div class="row">
        <br />

        <div class=" col-sm-6 col-md-6 col-lg-3" id="PQRGrupoPDiv">
            <br />
            <label id="lblPQRGrupoP"></label>
            <input id="GrupoPID" class="" />
        </div>
        <div class=" col-sm-6 col-md-6 col-lg-3" id="PQRAporteDiv">
            <br />
            <label id="lblPQRAporte"></label>
            <input id="AporteID" class="" />
        </div>
        <div class=" col-sm-6 col-md-6 col-lg-3" id="PQRMezclaDiv">
            <br />
            <label id="lblPQRMezcla"></label>
            <input id="MezclaID" class="" />
        </div>
    </div>


    <div class="row">
        <div class=" col-sm-6 col-md-6 col-lg-3" id="PQRRespaldoDiv">
            <br />
            <br />
            <label id="lblPQRRespaldo"></label>
            <input id="RespaldoID" class="" />
        </div>
        <div class=" col-sm-6 col-md-6 col-lg-3" id="PQRGrupoFDiv">
            <br />
            <br />
            <label id="lblPQRGrupoF"></label>
            <input id="GrupoFID" class="" />
        </div>
        <div class=" col-sm-6 col-md-6 col-lg-3" id="PQRVacioDiv">
            <br />
            <br />

        </div>
    </div>

    <div class="row">
        <div class=" col-sm-6 col-md-6 col-lg-3" id="PQRVacio2Div">
            <br />
            <br />

        </div>
        <div class=" col-sm-6 col-md-6 col-lg-3" id="PQREditaDiv">
            <br />
            <br />
            <a id="EditaPQR" href="#" style="width:50%" class="btn btn-primary">
                <span id="lblBotonEditarPQR"></span>
            </a>
        </div>
        <div class=" col-sm-6 col-md-6 col-lg-3" id="PQRCancelaDiv">
            <br />
            <br />
            <a id="CancelaEditarPQR" href="#" style="width:50%" class="btn btn-primary">
                <span id="lblBotonCancelaEditarPQR"></span>
            </a>
        </div>
        <div class=" col-sm-6 col-md-6 col-lg-3" id="PQRVacio3Div">
            <br />
            <br />

        </div>
    </div>

</div>

