<div id="ValidaCamposRequeridosWPS">
    <input id="WPSID" style="display:none;" />
    <div class="alert-container">
        <div class="message">
            Mensaje de éxito/error/advertencia
        </div>
    </div>
    <div id="DivNombreWPS">
        <label id="WPSNombre"></label>
        <input id="NomnreWPS" class="k-input" type="text" />
        <br /><br />
    </div>



    @*IZQUEIRDA*@
    <div class="col-sm-5 col-md-5 col-lg-5">
        <div id="DivNombrePQRRaiz">
            <label id="WPSPQRRAIZ"></label>
            <input id="PQRRaizNombre" />
        </div>
        <div>
            <label id="WPSPQRGrupoPRelleno"></label>
            <input id="grupoPRaiz" readonly="readonly" />
        </div>
        <div>
            <label id="WPSPWHTRaiz"></label>
            <input type="checkbox" id="PWHRaiz" data-bind="checked: optionCheck" readonly="readonly" checked onclick="javascript: return false;" />
        </div>
        <div>
            <label id="WPSEspesorMaximoRaiz"></label>
            <input id="EspesoirMaximoRaiz" value="0" readonly="readonly" />
        </div>
        <div>
            <label id="WPSEspesorMinimoRaiz"></label>
            <input id="EspesoirMinimoRaiz" value="0" readonly="readonly" />
        </div>
    </div>
    @*DERECHA*@
    <div class="col-sm-5 col-md-5 col-lg-5">
        <div id="DivNombrePQRRelleno">
            <label id="WPSPQRRelleno"></label>
            <input id="PQRRellenoNombre" />
        </div>
        <div>
            <label id="WPSPQRGrupoPRaiz"></label>
            <input id="grupoPRelleno" readonly="readonly" />
        </div>
        <div>
            <label id="WPSPWHTRelleno"></label>
            <input type="checkbox" id="PWHRelleno" data-bind="checked: optionCheck" readonly="readonly" checked onclick="javascript: return false;" />
        </div>
        <div>
            <label id="WPSEspesorMaximoRelleno"></label>
            <input id="EspesoirMaximoRelleno" value="0" readonly="readonly" />
        </div>
        <div>
            <label id="WPSEspesorMinimoRelleno"></label>
            <input id="EspesoirMinimoRelleno" value="0" readonly="readonly" />
        </div>
    </div>

    <div class="form-group col-sm-6 col-md-6 col-lg-6" id="divPQRRelleno">
        <a id="GuardarWPS" href="#" class="btn btn-primary"><span id="botonGuardar"></span></a>
        <a id="CancelarWPS" href="#" class="btn btn-primary"><span id="botonCancelar"></span></a>
    </div>


</div>

<script src="~/Scripts/AppComponents/WPS/PopUp/PopUpAjax.js"></script>
<script src="~/Scripts/AppComponents/WPS/PopUp/PopUpHandlers.js"></script>
<script src="~/Scripts/AppComponents/WPS/PopUp/PopUpWPS.js"></script>




