@using ReportViewerForMvc;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section breadcrumb {
    <li>
        <a href="@Url.Action("landing", "Home")"><span id="lblInicio"></span></a>
    </li>

    <li class="active">
        <a href="@Url.Action("ObtenerReportes", "Reportes")"><span id="Reportes"></span></a>
    </li>
}

@Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer, new { scrolling = "no", width = "100%", height = "auto", })