@{
    ViewBag.Title = "Busca Spool";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section breadcrumb {
    <li>
        <a href="@Url.Action("landing", "Home")"><span id="lblInicio"></span></a>
    </li>
    <li>
        <a href="#"><span id="IngenieriaBreadcrumb"></span></a>
    </li>
    <li class="active">
        <a href="@Url.Action("BuscaSpool", "Ingenieria")"><span id="IngenieriaBuscaSpoolBreadcrumb"></span></a>
    </li>
}

<div id="FormCapturaReportePruebas" class="form clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12">
    @*Menu superior*@
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="formNav clearfix">
                <div class="button-section editButtonSection">
                    <div class="btn-group save-group">
                        <button id="Guardar" onclick="javascript:void(0);" type="button" class="btn btn-yellow"><span id="botonGuardar"></span></button>
                        <button id="dropdown-toggle" type="button" class="btn btn-yellow dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caretWhite"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" id="btnGuardar2"><span id="botonGuardar2"></span></a></li>
                            <li><a href="#" id="btnGuardarYNuevo"><span id="botonGuardarYNuevo"></span></a></li>
                        </ul>
                    </div>
                    <a id="btnCancelar" class="btn btn-black"><span id="botonCancelar"></span></a>
                </div>
                @*<div class="button-section actionButtonSection">
                    <div class="dropdown action-group">
                        <a id="Acciones" data-target="#" href="#" data-toggle="dropdown" role="button" ariahaspopup="true" aria-expanded="false" class="btn btn-default">
                            <span id="botonAcciones1"></span>
                            <span class="caretBlue"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="Acciones"></ul>
                    </div>
                </div>
                <a id="Imprimir" href="#" class="btn btn-fadeBlue actionButtonSection"></a>*@
            </div>
        </div>
    </div>
    @*Controles Superior*@
    
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 altoControl">
            <label id="lblProyecto"></label>
            <input id="inputProyecto" />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 altoControl">
            <label id="lblNombreLoop"></label>
            <input id="inputNombreLoop" class="item-select general-input" onchange="buscaLoop();" />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 altoControl">
            <label id="lblDibujo"></label>
            <input id="inputDibujo" class="item-select general-input" />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 altoControl">
            <label id="lblProcentahePnd"></label>
            <input id="inputPND" />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 altoControl">
            <label id="lblRequierePWHT"></label>
            <input id="inputRequierePWHT" type="checkbox"/>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 altoControl">
            <label id="lblRevisionCliente"></label>
            <label id="labelRevisionCliente2"></label>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 altoControl">
            <label id="lblRevisionSteelgo"></label>
            <label id="labelRevision2"></label>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 altoControl">
            <label id="lblAcero"></label>
            <label id="labelAcero2"></label>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 altoControl">
            <label id="lblAcero2">Acero 2</label>
            <label id="labelAcero4"></label>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 altoControl">
            <label id="lblEspecificacion"></label>
            <label id="labelEspecificacion2"></label>
        </div>
    </div>
    <div class="row">
        
        
        <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 altoControl">
            <label id="lblSistemaPintura"></label>
            <label id="labelSistemaPintura2"></label>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 altoControl">
            <label id="lblColorPintura"></label>
            <label id="labelColorPintura"></label>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 altoControl">
            <label id="lblPdi"></label>
            <label id="labelPDI2"></label>
        </div>
    </div>
    <div id="contenedor_master">

    </div>
        @*</div>*@
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label>&nbsp;</label>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label>&nbsp;</label>
            </div>
        </div>

        <div class="row" id="controls_content_2" hidden="hidden">
            <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 altoControl" id="divRequisicion">
                <label id="lblSpool"></label>
                <input class="" value="s5-k1113-07-1" readonly="readonly" />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 altoControl" id="divPrueba">
                <label id="lblNumeroSalidas"></label>
                <input style="width:47%" id="inputPrueba2" class="" />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 altoControl" id="divPrueba">
                <label id="lblNumeroSalidas"></label>
                <input style="width:30%" id="inputPruebaJuntasCerradas2" class="" />
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <label>&nbsp;</label>
                <button type="button" id="btnAgregar2" class="btn btn-blue">Agregar</button>
            </div>


        </div>
    </div>
    <div class="col-xs-12col-sm-12 col-md-12 col-lg-12" id="grid_content_2" hidden="hidden">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="ContenedorGrid" class="row">
                <div id="grid2" data-role="grid" class="k-grid k-widget">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label>&nbsp;</label>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label>&nbsp;</label>
        </div>
    </div>

    <div class="row" id="controls_content_3" hidden="hidden">
        <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 altoControl" id="divRequisicion">
            <label style="width:120px" >SPOOL</label>
            <input class="" value="s5-k1113-08-1" readonly="readonly" />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 altoControl" id="divPrueba">
            <label>Cuantas Salidas</label>
            <input style="width:47%" id="inputPrueba3" class="" />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 altoControl" id="divPrueba">
            <label>Cuantas juntas cerradas</label>
            <input style="width:30%" id="inputPruebaJuntasCerradas3" class="" />
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <label>-</label>
            <button type="button" id="btnAgregar3" class="btn btn-blue">Agregar</button>
        </div>
        

    </div>

    @*<div class="col-xs-12 col-sm-6 col-md-1 col-lg-1 altoControl" id="divProveedor">

    </div>*@
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="grid_content_3" hidden="hidden">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="ContenedorGrid" class="row">
                <div id="grid3" data-role="grid" class="k-grid k-widget">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label>&nbsp;</label>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label>&nbsp;</label>
        </div>
    </div>
    @*Menu Inferior*@
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="formNav clearfix">
                <div class="button-section editButtonSection">
                    <div class="btn-group save-group">
                        <button id="Guardar1" onclick="javascript:void(0);" type="button" class="btn btn-yellow"><span id="botonGuardar3"></span></button>
                        <button id="dropdown-toggle" type="button" class="btn btn-yellow dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caretWhite"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" id="btnGuardar1"><span id="botonGuardar4"></span></a></li>
                            <li><a href="#" id="btnGuardarYNuevo1"><span id="botonGuardarYNuevo1"></span></a></li>
                        </ul>
                    </div>
                    <a id="btnCancelar" class="btn btn-black"><span id="botonCancelar1"></span></a>
                </div>
                @*<div class="button-section actionButtonSection">
                    <div class="dropdown action-group">
                        <a id="Acciones" data-target="#" href="#" data-toggle="dropdown" role="button" ariahaspopup="true" aria-expanded="false" class="btn btn-default">
                            <span id="botonAcciones2"></span>
                            <span class="caretBlue"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="Acciones"></ul>
                    </div>
                </div>
                <a id="Imprimir" href="#" class="btn btn-fadeBlue actionButtonSection"></a>*@
            </div>
        </div>
    </div>
</div>
<div id="windowGrid" style="display: none; z-index:inherit;">


    <div class="form-group">
        <div id="ContenedorGridPopUp">
            <div id="gridPopUp" data-role="grid" class="k-grid k-widget">
            </div>
        </div>
    </div>

    @*<div class="form-group">
        <div class="col-sm-3 col-md-3 col-lg-3">
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
            <a class="btn btn-blue" href="#" id="GuardarPlacas"><span id="CapturaReporteGuardarPopup"></span></a>

        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
            <a class="btn btn-blue" href="#" id="CancelarPlacas"><span id="CapturaReporteCancelarPlacasPopup"></span></a>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
        </div>
    </div>*@
</div>
<div id="windowGridDefectos" style="display: none; z-index:inherit;">


    <div class="form-group">
        <div id="ContenedorGridPopUpDefectos">
            <div id="gridPopUpDefectos" data-role="grid" class="k-grid k-widget">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3 col-md-3 col-lg-3">
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
            <a class="btn btn-blue" href="#" id="GuardarDefectos"><span id="CapturaReporteGuardarDefectosPopup"></span></a>
            <input type="hidden" id="PlacaID" />
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
            <a class="btn btn-blue" href="#" id="CancelarDefectos"><span id="CapturaReporteCancelarDefectosPopup"></span></a>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
        </div>
    </div>
</div>

<ul id="context-menu_agregar_junta"></ul>

<script type="text/javascript" src="~/Scripts/AppComponents/Ingenieria/BuscaSpool/Ajax.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/Ingenieria/BuscaSpool/Handlers.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/Ingenieria/BuscaSpool/Render.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/Ingenieria/BuscaSpool/Captura.js"> </script>
<script type="text/javascript" src="~/Scripts/AppComponents/Ingenieria/BuscaSpool/Seguridad.js"></script>


