<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="SamContext" connectionString="metadata=res://*/Sam3.Model1.csdl|res://*/Sam3.Model1.ssdl|res://*/Sam3.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DF-APP-SQL-03\MSSQLSERVER2012;initial catalog=steelgo-sam3;persist security info=True;user id=DeFiAdmin;password=Chelsea102!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="SamContext" connectionString="metadata=res://*/Sam3.Model.csdl|res://*/Sam3.Model.ssdl|res://*/Sam3.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DF-APP-SQL-03\MSSQLSERVER2012;initial catalog=steelgo-sam3;persist security info=True;user id=DeFiAdmin;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities" connectionString="metadata=res://*/Sam3.ModeloSamLogging.csdl|res://*/Sam3.ModeloSamLogging.ssdl|res://*/Sam3.ModeloSamLogging.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DF-APP-SQL-03\MSSQLSERVER2012;initial catalog=steelgo-samlogging;user id=DeFiAdmin;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>