
@{
    ViewBag.Title = "Autorizar Permiso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section breadcrumb {
    <li>
        <a href="@Url.Action("landing", "Home")"><span id="AutorizarPermiso0002"></span></a>
    </li>
    <li>
        <a href="@Url.Action("DashboardAvisoLlegada", "AvisoLlegada")"><span id="AutorizarPermiso0007"></span></a>
    </li>
    <li>
        <a href="@Url.Action("ListadoAvisoLlegada", "AvisoLlegada")"><span id="AutorizarPermiso0008"></span></a>
    </li>
    <li class="active">
        <a href="@Url.Action("AutorizarPermiso", "AvisoLlegada")"><span id="AutorizarPermiso0003"></span></a>
    </li>
}

<div id="PermisoAduana" class="form clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <div id="formaAutorizarPermiso" class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
            <div class="row">
                <div id="FolioAvisoLlegadaIDDiv" class="form-group col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <label id="AutorizarPermiso0001"></label>
                    <input id="FolioAvisoLlegadaID" class="" />
                </div>
                <div id="NumeroPermisoDiv" class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <label id="AutorizarPermiso0005"></label>
                    <input id="NumeroPermiso" class="general-input" />
                </div>
                <div id="ArchivoAutorizarDiv" class="form-group col-xs-12 col-sm-12 col-md-5 col-lg-5">
                    <label id="AutorizarPermiso0006"></label>
                    <div id="divArchivoAutorizar">
                        <input name="ArchivoAutorizar" id="ArchivoAutorizar" type="file" class="" />
                    </div>
                    <div id="divLinkAutorizar" style="display: none"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    kendo.ui.Upload.fn._supportsDrop = function () { return false; }
    @section JavascriptDocumentReadyHomeCookie {
        Cookies.set("home", true, { path: '/' });
        Cookies.set("navegacion", "8", { path: '/' });
    }

    @section JavascriptGlobalVariables {
    var folio = getUrlParameter("folio", "-1");
    var Folio = {};
    var $AutorizarPermisoModel = {
        listContainer: {
            create: "",
            list: "",
            detail: "",
            destroy: ""
        },
        properties: {
            folioAvisoLlegada: {
                visible: "#FolioAvisoLlegadaIDDiv",
                editable: "#FolioAvisoLlegadaID",
                required: "#FolioAvisoLlegadaID"
            },
            numeropermiso: {
                visible: "#NumeroPermisoDiv",
                editable: "#NumeroPermiso",
                required: "#NumeroPermiso"
            },
            archivos: {
                visible: "#ArchivoAutorizarDiv",
                editable: "#ArchivoAutorizar",
                required: "#ArchivoAutorizar"
            },
        }
    };
    }

    @section JavascriptGlobalFunctions {
        //Es la carga inicial de los controles
        //Parametros: N/A
        //Return:     N/A
        function CargaInicial() {
            $("#FolioAvisoLlegadaID").kendoComboBox({
                dataTextField: "id",
                dataValueField: "value",
                select: function (e) {
                    var dataItem = this.dataItem(e.item.index());
                    CargarFolio(dataItem.id);
                    ChecarAutorizacion(dataItem.id);
                },
                change: function () {
                    $(".k-upload-files").remove();
                    $(".k-upload-status").remove();
                    $(".k-upload-selected").remove();
                    $(".k-upload.k-header").addClass("k-upload-empty");
                    $(".k-upload-button").removeClass("k-state-focused");
                },
                filter: "contains"
            });

            $('#ArchivoAutorizar').kendoUpload({
                async: {
                    saveUrl: $DocumentoPermisoAduana,
                    autoUpload: false,
                    withCredentials: false,
                    batch: true
                },
                success: function (data) {
                    $("#ArchivoAutorizar").data("kendoUpload").disable();
                    $("#NumeroPermiso").attr("disabled", "disabled");
                },
                error: function (data) { },
                upload: onUploadArchivoAutorizar
            });

            ObtenerFolioEntradaMaterial();

            cargarFolioDeterminado();
        };
        function CargarFolio(id) {
            Folio = {};
            Folio = { FolioAvisoLlegadaID: id };
        };

        //Se hace la peticion al controlador del tipo listado 2 
        //para obtener los folios
        //Funcion: ObtenerFolioEntradaMaterial
        //Parametros: N/A
        //Return:     N/A
        function ObtenerFolioEntradaMaterial() {
            $folioEntradaMaterial.Listado.read({ tipoListado: 2, token: Cookies.get("token"), parametroBusqueda:"" }).done(function (result) {
                ControlErroresObjetosComboBox("FolioAvisoLlegadaID", result);
            });
        };

        //Se retira la clase de error para que no siga mostrando el asterisco
        //Funcion: removerValidacionRequeridos
        //Parametros: N/A
        //Return:     N/A
        function removerValidacionRequeridos() {
            $("#formaAutorizarPermiso .security_required").each(function (i, elem) {
                if (elem.tagName.toLowerCase() != 'label') {
                    if ($(elem).attr("id") == "NumeroPermiso") {
                        $(this).closest("div").find("label").removeClass("error");
                        $(this).closest("div").removeClass("clearfix");
                    }
                };
            });
        };

        //Se checa si el folio seleccionado tiene permiso aduana
        //Si tiene permiso se muestra la liga del archivo
        //Si no tiene se muestra el control para subir archivos
        //Funcion: ChecarAutorizacion
        //Parametros: N/A
        //Return:     N/A
        function ChecarAutorizacion() {
                var folio = Folio.FolioAvisoLlegadaID ? Folio.FolioAvisoLlegadaID : "-1";

                removerValidacionRequeridos();

                $ValidacionFolioConPermisoAduana.ValidacionFolioConPermisoAduana.read({ Folio: folio, token: Cookies.get("token") }).done(function (result) {
                    if (!result) {
                        $("#divArchivoAutorizar").show();
                        $("#divLinkAutorizar").empty();
                        $("#divLinkAutorizar").hide();
                        $("#ArchivoAutorizar").data("kendoUpload").enable();
                        $("#NumeroPermiso").removeAttr("disabled");
                        limpiarUploadFiles();
                        $("#NumeroPermiso").val("");
                    }else{

                        if (result.PermisoAutorizado)
                        {
                            $("#ArchivoAutorizar").data("kendoUpload").disable();
                            $("#NumeroPermiso").attr("disabled", "disabled");
                            $("#divArchivoAutorizar").hide();
                            $("#divLinkAutorizar").empty();
                            $("#divLinkAutorizar").show();
                            $("#divLinkAutorizar").append("<a target='_blank' href='" + result.Url + "'>" + result.Url + "</a>");
                            $("#NumeroPermiso").val(result.NumeroPermiso);
                        }
                    }
                });
        };

        //Al subir un archivo se valida los siguiente:
        //Si son requeridos los campos
        //folio seleccionado
        //Funcion: onUploadArchivoAutorizar
        //Parametros: N/A
        //Return:     N/A
        function onUploadArchivoAutorizar(e) {
            var folio = Folio.FolioAvisoLlegadaID ? Folio.FolioAvisoLlegadaID : "-1";
            var bool = false;

            $("#formaAutorizarPermiso .security_required").each(function (i, elem) {
                if (elem.tagName.toLowerCase() != 'label') {
                    if ($(elem).attr("id") == "NumeroPermiso")
                    {
                        if (!$(this).val()) {
                            bool = true;
                            $(this).closest("div").find("label").addClass("error");
                            $(this).closest("div").addClass("clearfix");
                        } else {
                            $(this).closest("div").find("label").removeClass("error");
                            $(this).closest("div").removeClass("clearfix");
                        };
                    }
                };
            });

            if(bool){
                if (!$("#NumeroPermiso").val()) {
                    displayMessage("notificationslabel0006", "", '1');
                    e.preventDefault();
                };
            }
            if (folio == -1) {
                displayMessage("notificationslabel0007", "", '1');
                e.preventDefault();
            };
            
            var numeropermiso = $("#NumeroPermiso").val() ? $("#NumeroPermiso").val() : 0;
            $("#ArchivoAutorizar").data("kendoUpload").options.async.saveUrl = $DocumentoPermisoAduana + "?folioAvisoLlegada=" + folio + "&NumeroPermiso=" + numeropermiso + "&token=" + Cookies.get("token");
        };


        //Si viene de otra pagina se carga el folio y
        //se checa si dicho folio esta autorizado
        //Funcion: cargarFolioDeterminado
        //Parametros: N/A
        //Return:     N/A
        function cargarFolioDeterminado() {
            if (folio != -1) {
                CargarFolio(folio);
                ChecarAutorizacion();
                $("#FolioAvisoLlegadaID").data("kendoComboBox").value(folio);
            };
        };

        //Se obtiene el mensaje de error y realiza lo siguient:
        //Si es 401 se cierra la sesion
        //si es cualquier otro error se muestra el mensaje
        //Funcion: Error
        //Parametros: data
        //Return:     bool
        function Error(data) {
            if (data.ReturnCode) {
                if (data.ReturnCode != 200) {
                    if (data.ReturnCode == 401) {
                        removeUserSession();
                        return true;
                    } else {
                        displayMessage("notificationslabel0008", data.ReturnMessage, '2');
                        return false;
                    }
                }
            } else {
                return true;
            }
        };
        

        //Se borra la lista de archivos del control de subida de archivos, para que se muestre en limpio
        //Funcion: limpiarUploadFiles
        //Parametros: N/A
        //Return:     N/A
        function limpiarUploadFiles() {
            $(".k-upload-files").remove();
            $(".k-upload-status").remove();
            $(".k-upload-selected").remove();
            $(".k-upload.k-header").addClass("k-upload-empty");
            $(".k-upload-button").removeClass("k-state-focused");
        };

        //Se carga el resultado JSON en el combo, si llegara a fallar se muestra vacio
        //Funcion: ControlErroresObjetosComboBox
        //Parametros: control,  result
        //Return:     N/A
        function ControlErroresObjetosComboBox(control, result) {
            if (Error(result)) {
                $("#" + control).data("kendoComboBox").dataSource.data(result);
            } else {
                $("#" + control).data("kendoComboBox").dataSource.data([]);
            };
        };

    }

    @section JavascriptDocumentReadyFunctions {
        CargaInicial();
        $authorizationModel["Autorización de Permiso"] = $AutorizarPermisoModel;
    }

</script>