
@{
    ViewBag.Title = "Autorizar Permiso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section breadcrumb {
 
}

<div class="form-group col-sm-6 col-md-12 col-lg-6">
    <label id="AutorizarPermiso0001"></label>
    <input id="FolioAvisoLlegadaID" class="" />
</div>

<script>
     @section JavascriptDocumentReadyHomeCookie {
        Cookies.set("home", true, { path: '/' });
        Cookies.set("navegacion", "3", { path: '/' });
    }

     @section JavascriptGlobalVariables {

     }
     @section JavascriptGlobalFunctions {

     }
     @section JavascriptDocumentReadyFunctions {

     }
</script>