
@{
    ViewBag.Title = "DetalleAvisoLlegada";
     Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>DetalleAvisoLlegada</h2>


<div class="form">
    <div class="form-group">
        <label id="DetalleAvisoLlegada0001"></label> 
        <input id="Proyecto" class="form-control"/>
    </div>
    <div class="form-group">
        <label id="DetalleAvisoLlegada0002"></label> 
        <input id="Factura" class="form-control"/>
    </div>
    <div class="form-group">
        <label id="DetalleAvisoLlegada0003"></label> 
        <input id="Transportista" class="form-control"/>
    </div>
    <div class="form-group">
        <label id="DetalleAvisoLlegada0004"></label>
        <input id="FechaRecepcion" class="form-control"/>
    </div>
    <div class="form-group">
        <label id="DetalleAvisoLlegada0005"></label> 
        <input id="Proveedor" class="form-control"/>
    </div>
    <div class="form-group">
        <label id="DetalleAvisoLlegada0006"></label> 
        <input id="Plana" class="form-control"/>
    </div>
    <div class="form-group">
        <label id="DetalleAvisoLlegada0007"></label> 
        <input id="OrdenDeCompra" class="form-control"/>
    </div>
    <div class="form-group">
        <label id="DetalleAvisoLlegada0008"></label> 
        <input id="Patio" class="form-control"/>
    </div>
    <div class="form-group">
        <label id="DetalleAvisoLlegada0009"></label> 
        <input id="Chofer" class="form-control"/>
    </div>

    <div class="form-group">
        <label id="FileUpload"></label> 
        <input name="files" id="files" type="file" class="form-control" />
    </div>

    <div class="form-group">
        <label id="DetalleAvisoLlegada0010"></label>
        <input id="TipoArchivo" class="form-control"/>
        
        <br />        

        <table id="listaArchivos">
             <thead><tr><td>Archivo</td><td>Tipo de Archivo</td><td>&nbsp;</td></tr></thead>
        </table>

    </div>
    <input id="Guardar" type="button" class="btn btn-primary" value="Guardar"/>
    <input id="Cancelar" type="button" class="btn btn-primary" value="Cancelar"/>
</div>


<script>
    @section JavascriptGlobalVariables {
        //your partial views variables
        var FechaRecepcion;
        var folio = getUrlParameter("folio", "-1");
        var Transportista = [];
        var Proveedor = [];
        var Patio = [];
        var Plana = [];
        var Chofer = [];
    }

    @section JavascriptGlobalFunctions {
        function changeDatePickerDateFormat(datePickerOptions)
        {
            FechaRecepcion.setOptions(datePickerOptions);
        };

        //Your partial views specific functions
        function CargaInicial()
        {
            FechaRecepcion = new kendo.ui.DatePicker($("#FechaRecepcion"));

            $("#Guardar").click(function (e) {
                GuardarAvisoLlegada();
            });

            $("#Cancelar").click(function (e) {
                var detalleIdeaUrl = "@Url.Action("ListadoAvisoLLegada", "AvisoLLegada")";
                window.location.href = detalleIdeaUrl + "?leng=" + $("#language").data("kendoDropDownList").value();
            });

            $("#Proyecto").kendoMultiSelect({
                dataSource: {
                    serverFiltering: false,
                    type: "json",
                    transport: {
                        read: {
                            url: "http://localhost:60960/backendsam/api/Proyecto",
                        }
                    }
                },
                dataTextField: "value",
                dataValueField: "id",
                filter: "contains",
            });

            $("#Transportista").kendoAutoComplete({
                dataSource: {
                    serverFiltering: false,
                    type: "json",
                    transport: {
                        read: {
                            url: "http://localhost:60960/backendsam/api/DummyTransportista",
                        }
                    }
                },
                dataTextField: "Nombre",
                dataValueField: "TransportistaID",
                select: function(e)
                {
                    var dataItem = this.dataItem(e.item.index());
                    CargarTransportista(dataItem.TransportistaID, dataItem.Nombre);
                },
                filter: "contains",
            });
            
            $("#Proveedor").kendoAutoComplete({
                dataSource: {
                    serverFiltering: false,
                    type: "json",
                    transport: {
                        read: {
                            url: "http://localhost:60960/backendsam/api/DummyProveedor",
                        }
                    }
                },
                dataTextField: "Nombre",
                dataValueField: "ProveedorID",
                select: function (e) {
                    var dataItem = this.dataItem(e.item.index());
                    CargarProveedor(dataItem.id, dataItem.value);
                },
                filter: "contains",
            });

            $("#Plana").kendoAutoComplete({
                dataSource: {
                    serverFiltering: false,
                    type: "json",
                    transport: {
                        read: {
                            url: "http://localhost:60960/backendsam/api/Proyecto",
                        }
                    }
                },
                dataTextField: "value",
                dataValueField: "id",
                select: function (e) {
                    var dataItem = this.dataItem(e.item.index());
                    CargarPlana(dataItem.id, dataItem.value);
                },
                filter: "contains",
            });

            $("#Patio").kendoAutoComplete({
                dataSource: {
                    serverFiltering: false,
                    type: "json",
                    transport: {
                        read: {
                            url: "http://localhost:60960/backendsam/api/Proyecto",
                        }
                    }
                },
                dataTextField: "value",
                dataValueField: "id",
                select: function (e) {
                    var dataItem = this.dataItem(e.item.index());
                    CargarPatio(dataItem.id, dataItem.value);
                },
                filter: "contains",
            });

            $("#Chofer").kendoAutoComplete({
                dataSource: {
                    serverFiltering: false,
                    type: "json",
                    transport: {
                        read: {
                            url: "http://localhost:60960/backendsam/api/Proyecto",
                        }
                    }
                },
                dataTextField: "value",
                dataValueField: "id",
                select: function (e) {
                    var dataItem = this.dataItem(e.item.index());
                    CargarChofer(dataItem.id, dataItem.value);

                },
                filter: "contains",
            });

            $("#TipoArchivo").kendoComboBox({
                dataSource: {
                    serverFiltering: false,
                    type: "json",
                    transport: {
                        read: {
                            url: "http://localhost:60960/backendsam/api/Proyecto",
                        }
                    }
                },
                dataTextField: "value",
                dataValueField: "id",
                filter: "contains",
            });

            $('#files').kendoUpload({
                async: {
                    saveUrl: '@Url.Action("AvisoLlegada", "FileUploadFile")',
                    autoUpload: false
                },
                success: function (data) {

                },
                error: function (data) { },
                upload: onUpload
            });
        };

        function onUpload(e) {
            if (!$("#TipoArchivo").data("kendoComboBox").value())
            {
                alert("Por favor, seleccionar el tipo de archivo");
                return false;
            }
        };

        function GuardarAvisoLlegada()
        {
                //Arreglo Aviso de llegada
                AvisoLlegada = [];
                AvisoLlegada[0] = { FolioAvisoLlegadaID: "", Proyectos: "", Factura: "", Transportistas: "", FechaRecepcion: "", Proveedores: "", Planas: "", OrdenCompra: "", Patios: "", Choferes: "", Archivos: "" };
                //objeto para los proyectos y documentos.
                ProyectoIDs = [];
                Documentos = [];                

                var proyectos = $("#Proyecto").data("kendoMultiSelect").value();
                $.each(proyectos, function (index, value) {
                    alert(index + ":" + value);
                    item = {};
                    item["ProyectoID"] = value;
                    ProyectoIDs.push(item);
                });
            
                $('#listaArchivos > tbody  > tr').each(function () {
                    if ($(this).find("td:first").length > 0) {
                        var id = $(this).attr("id").split(",")[0];
                        var archivo = $(this).find("td a").eq(0).html();
                        var extencion = $(this).attr("id").split(",")[1];

                        item = {};
                        item["ArchivoID"] = id;
                        item["Nombre"] = archivo;
                        item["Extension"] = extencion;
                        Documentos.push(item);
                    }
                });

                var d = new Date($("#FechaRecepcion").data("kendoDatePicker").value());

                AvisoLlegada[0].FolioAvisoLlegadaID = folio != -1 ? folio : -1;
                AvisoLlegada[0].Proyectos = ProyectoIDs;
                AvisoLlegada[0].Factura = $("#Factura").val();
                AvisoLlegada[0].Transportistas = Transportista;
                AvisoLlegada[0].FechaRecepcion = d.toLocaleDateString($("#language").data("kendoDropDownList").value());;
                AvisoLlegada[0].Proveedores = Proveedor;
                AvisoLlegada[0].Planas = Plana;
                AvisoLlegada[0].OrdenCompra = $("#OrdenDeCompra").val();
                AvisoLlegada[0].Patios = Patio;
                AvisoLlegada[0].Choferes = Chofer;
                AvisoLlegada[0].Archivos = Documentos;

                console.log(JSON.stringify(AvisoLlegada));

                var Client = new $.RestClient('http://localhost:60960' + '/backendsam/api/');
                Client.add('DummyAvisoLlegada');

                if (folio != -1)
                {
                    Client.DummyAvisoLlegada.update({}, { avisollegada: JSON.stringify(AvisoLlegada), username: $.cookie("user"), token: $.cookie("token") }).done(function (data) {
                        console.log("Client.DummyAvisoLlegada.update");
                    });
                } else
                {
                    Client.DummyAvisoLlegada.create({}, { avisollegada: JSON.stringify(AvisoLlegada), username: $.cookie("user"), token: $.cookie("token") }).done(function (data) {
                        console.log("Client.DummyAvisoLlegada.create");
                    });
                }
        };

        function descargarArchivo(id) {
            var Client = new $.RestClient('http://localhost:60960' + '/backendsam/api/');
            Client.add('DummyDescargarArchivo');

            Client.DummyDescargarArchivo.read({}, { archivoID: id, username: $.cookie("user"), token: $.cookie("token") }).done(function (data) {
                console.log("Client.DummyDescargarArchivo.read");
            });
        };

        function borrarArchivo(id,fila) {
            var Client = new $.RestClient('http://localhost:60960' + '/backendsam/api/');
            Client.add('DummyFileManager');

            Client.DummyFileManager.destroy({}, { archivoID: id, username: $.cookie("user"), token: $.cookie("token") }).done(function (data) {
                fila.closest("tr").remove();
                console.log("Client.DummyFileManager.destroy");
            });
        };

        function CargaInicialEdicion(id) {
            var Client = new $.RestClient('http://localhost:60960' + '/backendsam/api/');
            Client.add('DummyAvisoLlegada');

            Client.DummyAvisoLlegada.read({}, { folio: id, username: $.cookie("user"), token: $.cookie("token") }).done(function (data) {
                console.log(data);
                var concat = "";

                $.each(data[0].Proyectos, function (index, value) {
                    concat += "," + value.ProyectoID;
                    console.log(" concat:" + concat);
                });

                $("#Proyecto").data("kendoMultiSelect").value(concat.split(","));
                $("#Factura").val(data[0].Factura);

                //Se carga el arreglo transportista
                if(data[0].Transportistas){
                    CargarTransportista(data[0].Transportistas.TransportistaID, data[0].Transportistas.Nombre);
                    $("#Transportista").data("kendoAutoComplete").value(data[0].Transportistas.Nombre);
                }
                //Fecha Recepcion
                var d = new Date(data[0].FechaRecepcion);
                $("#FechaRecepcion").data("kendoDatePicker").value(d.toLocaleDateString($("#language").data("kendoDropDownList").value()));

                //Se carga el arreglo Proveedores
                if(data[0].Proveedores){
                    CargarProveedor(data[0].Proveedores.ProveedorID, data[0].Proveedores.Nombre);
                    $("#Proveedor").data("kendoAutoComplete").value(data[0].Proveedores.Nombre);
                }

                if(data[0].Planas) {
                    CargarPlana(data[0].Planas.PlanaID, data[0].Planas.Nombre);
                    $("#Plana").data("kendoAutoComplete").value(data[0].Planas.Nombre);
                }

                $("#OrdenDeCompra").val(data[0].OrdenCompra);

                //Se carga el arreglo Patio
                if(data[0].Patios) {
                    CargarPatio(data[0].Patios.PatioID, data[0].Patios.Nombre);
                    $("#Patio").data("kendoAutoComplete").value(data[0].Patios.Nombre);
                }

                //Se carga el arreglo Chofer
                if (data[0].Choferes) {
                    CargarChofer(data[0].Choferes.ChoferID, data[0].Choferes.Nombre);
                    $("#Chofer").data("kendoAutoComplete").value(data[0].Choferes.Nombre);
                }

                $.each(data[0].Archivos, function (index, value) {
                    $("#listaArchivos").append("<tr id='" + value.id + "," + value.Extension + "'><td><a href='javascript:void(0);' onclick='descargarArchivo(" + value.id + ");'>" + value.Archivo + "</a></td><td>" + $("#TipoArchivo").data("kendoComboBox").value() + "</td><td><a href='javascript:void(0);' onclick='borrarArchivo(" + value.id + ",$(this));' >" + "cancelar" + "</a></td></tr>");
                });
            });
        };

        function CargarTransportista(id, value) {
            Transportista = [];
            _transportista = {};
            _transportista["TransportistaID"] = id;
            _transportista["Nombre"] = value;
            Transportista.push(_transportista);
        };

        function CargarPatio(id, value) {
            Patio = [];
            _patio = {};
            _patio["PatioID"] = id;
            _patio["Nombre"] = value;
            Patio.push(_patio);
        };

        function CargarProveedor(id, value) {
            Proveedor = [];
            _proveedor = {};
            _proveedor["ProveedorID"] = id;
            _proveedor["Nombre"] = value;
            Proveedor.push(_proveedor);
        };

        function CargarPlana(id, value) {
            Plana = [];
            _plana = {};
            _plana["PlanaID"] = id;
            _plana["Nombre"] = value;
            Plana.push(_plana);
        };

        function CargarChofer(id, value) {
            Chofer = [];
            _chofer = {};
            _chofer["ChoferID"] = id;
            _chofer["Nombre"] = value;
            Chofer.push(_chofer);
        };
}

    @section JavascriptDocumentReadyFunctions {
        //Your partial view document ready functions
        alert(getUrlParameter("folio", "-1"));

        CargaInicial();

        if (folio != -1)
        {
            CargaInicialEdicion(folio);
        }
        else
        {

            // simulacion de la alta de archivos ya que manda error y no termina en el success, checar consola al parecer es algo del servicio de la api, por que la peticion si llega.        
            var Client = new $.RestClient('http://localhost:60960' + '/backendsam/api/');
            Client.add('DummyFileManager');

            Client.DummyFileManager.read({}, { username: $.cookie("user"), token: $.cookie("token") }).done(function (data) {
                $.each(data, function (index, value) {
                    $("#listaArchivos").append("<tr id='" + value.id + "," + value.Extension + "'><td><a href='javascript:void(0);' onclick='descargarArchivo(" + value.id + ");'>" + value.Archivo + "</a></td><td>" + $("#TipoArchivo").data("kendoComboBox").value() + "</td><td><a href='javascript:void(0);' onclick='borrarArchivo(" + value.id + ",$(this));' >" + "cancelar" + "</a></td></tr>");
                });
        
            });
        }
    }
</script>