
@{
    ViewBag.Title = "ListadoAvisoLlegada";
}

<h2>ListadoAvisoLlegada</h2>
<div class="form">
        <div class="form-group">
           <div id="grid"></div>
        </div>
</div>
   

<script>
    @section JavascriptGlobalVariables {
    //your partial views variables

    }

    @section JavascriptGlobalFunctions {
    function changeLanguageCall(){
        CargarGridAvisoLlegada();
    }
    //Your partial views specific functions
        function CargarGridAvisoLlegada()
        {
            $("#grid").kendoGrid({
                dataSource: {
                    type: "json",
                    transport: {
                        read: "http://localhost:60960/backendsam/api/DummyListadoAvisoLlegada"
                    },
                    pageSize: 20
                },
                height: 550,
                sortable: true,
                filterable: true,
                pageable: {
                    refresh: false,
                    pageSizes: false

                },
                columns: [
                    { field: "FolioAvisoLlegadaID", title: _dictionary.ListadoAvisoLlegada0001[$("#language").data("kendoDropDownList").value()], width: "200px" },
                    { command: { text: _dictionary.ListadoAvisoLlegada0002[$("#language").data("kendoDropDownList").value()], click: showDetails }, title: " ", width: "130px" },
                    { command: { text: _dictionary.ListadoAvisoLlegada0003[$("#language").data("kendoDropDownList").value()], click: borrarFolio }, title: " ", width: "130px" }]
            });
        }


        function showDetails()
        {

        }

        function borrarFolio() {

        }
    }

    @section JavascriptDocumentReadyFunctions {
    //Your partial view document ready functions
    CargarGridAvisoLlegada();
    }
</script>

