
@{
    ViewBag.Title = "CapturaArmado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section breadcrumb {
    <li>
        <a href="@Url.Action("landing", "Home")"><span id="ListadoLlegadaMaterial0020"></span></a>
    </li>
    <li>
        <a href="@Url.Action("DashboardLlegadaMaterial", "EntradaMaterial")"><span id="CapturaArmadoArmadoSpool"></span></a>
    </li>
    <li class="active">
        <a href="@Url.Action("ListadoLlegadaMaterial", "EntradaMaterial")"><span id="CapturaArmadoCapturaArmado"></span></a>
    </li>
} 

<div></div>


<div id="FormCapturaArmado" class="form clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div    class="form clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="formNav filtersFields clearfix">
                    <div class="row">
                        <div class="col-sm-1 col-md-1 col-lg-1">
                            <button type="button" id="btnGuardar" class="btn btn-yellow"><span id="">Guardar</span></button>
                        </div>
                        <div class="col-sm-1 col-md-1 col-lg-1">
                            <button type="button" id="btnCancelar" class="btn btn-black"><span id="">Cancelar</span></button>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label id="LabelProyecto"> </label>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <input type="radio" class="k-input" name="Muestra" style=" width:auto;" value="Sin Capturar" />Sin Capturar
                            <input type="radio" class="k-input" name="Muestra" style=" width:auto;" value="Todos" />Todos
                        </div>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="row">
                        <div class="col-sm-10 col-md-10 col-lg-9 filter-section">
                            <div class="row">
                                <div class="col-sm-6 col-md-6 col-lg-3">
                                    <label id="">Spool ID</label>
                                    <input style="width:40%" id="InputOrdenTrabajo" class="item-select" />-<input id="InputID" placeholder="ID" style="width:40%;" />
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-3">
                                    <label id="CapturaArmadoHeaderJunta">Junta</label>
                                    <input id="Junta" class="" />
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-3">
                                    <label id="">&nbsp;</label>
                                    <button type="button" id="ButtonAgregar" class="btn btn-blue"><span id="CapturaArmadoAgregarArmado">Agregar</span></button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="formNav filtersFields clearfix">
                    <div class="row">
                        <div class="col-sm-10 col-md-10 col-lg-9 filter-section">
                            <div class="row">
                                <div class="col-sm-6 col-md-6 col-lg-3">
                                    <label id="CapturaArmadoHeaderFechaArmado">Fecha Armado</label>
                                    <input id="FechaArmado" placeholder="2015-10-10" />
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-3">
                                    <label id="CapturaArmadoHeaderTubero">Tubero</label>
                                    <input id="inputTubero" class="" />
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-3">
                                    <label id="CapturaArmadoHeaderTaller">Taller</label>
                                    <input id="inputTaller" class="" />
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        @*<div id="grid"></div>*@

                        <div id="ContenedorGrid" class="row" style="overflow-x:scroll">
                            <div id="grid" data-role="grid" class="k-grid k-widget" style="width:2129px;">

                            </div>
                        </div>
                    </div>
                </div>
                <div id="window">
                    @*Content of the Window*@
                </div>
            </div>
        </div>

        <input id="hdAccionFiltrado" type="hidden" />

    </div>
</div>
<script src="~/Scripts/AppComponents/Armado/Ajax.js"></script>
<script src="~/Scripts/AppComponents/Armado/Handlers.js"></script>
<script src="~/Scripts/AppComponents/Armado/Render.js"></script>
<script src="~/Scripts/AppComponents/Armado/Captura.js" type="text/javascript"> </script>