@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section breadcrumb {
    <li>
        <a href=""><span id="ValidacionResultadosCabeceraInicio"></span></a>
    </li>
    <li>
        <a href="#"><span id="menuPlaneacionYControl"></span></a>
    </li>
    <li class="active">
        <a href=""><span id="menuEmisionOrdenTrabajo"></span></a>
    </li>
}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="formNav clearfix">
            <div class="button-section editButtonSection">
                <div class="btn-group save-group">
                    <button id="Proyectar" onclick="javascript:void(0);" type="button" class="btn btn-yellow"><span id="spanEmisionProyectar"></span></button>

                </div>
                <a id="btnCancelar" class="btn btn-black"><span id="ListadoAvisoLlegada0016"></span></a>
            </div>
            <div id="ArmadoSoldaduraDivSuperior" class="button-section">
                <a id="EmitirOT" href="#" onclick="javascript:void(0);" class="btn btn-primary"><span id="spanEmisionEmitir"></span></a>
            </div>
            <div class="button-section actionButtonSection">
                <div class="dropdown action-group">
                    <a id="Acciones" data-target="#" href="#" data-toggle="dropdown" role="button" ariahaspopup="true" aria-expanded="false" class="btn btn-default">
                        <span id="DetalleAvisoLlegada0064"></span>
                        <span class="caretBlue"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="Acciones"></ul>
                </div>
            </div>
            <a id="Imprimir" href="#" class="btn btn-fadeBlue actionButtonSection"></a>
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group col-xs-3 col-sm-3 col-md-3 col-lg-3" ">
        <label id="Cuantificacion0013"></label>
        <input id="inputProyecto" />
    </div>
    <div class="form-group col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <label id="DashboardAvisoLlegada0005"></label>
        <input id="inputPatio" />
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
        <br />
        <button class="btn btn-blue" id="btnMostrar"><span id="lblMostrar"></span></button>
    </div>
</div>
<br />
<br />
<div class="row ">
    <div id="FloatContainer" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
        <div id="gridStack">
            <div class="grid-stack" style="font-size:10px;">
                <div class="grid-stack-item" data-gs-x="0" data-gs-y="0" data-gs-width="12" data-gs-height="4">
                    <div class="grid-stack-item-content border-shadow" id="gridProyecciones">

                        <div id="divEmisionTotalProyecciones" style="color:#ffffff; font-size:14px;position: relative; bottom: 0; width:100%" class="header-grid text-center"></div>
                        <div id="ContenedorGrid" class="row">
                            <div id="grid" data-role="grid" class="k-grid k-widget">
                            </div>
                        </div>
                        <script type="text/x-kendo-template" id="templateGridNivelDos">
                            <div class="nivel2"></div>
                        </script>

                        <script type="text/x-kendo-template" id="templateGridNivelTres">
                            <div class="nivel3"></div>
                        </script>
                    </div>
                </div>

                <div class="grid-stack-item" data-gs-x="6" data-gs-y="7" data-gs-width="6" data-gs-height="4">
                    <div class="grid-stack-item-content border-shadow" style="" id="gridCapacidad">
                        <div id="divEmisionCapacidad" style="color:#ffffff; font-size:14px;" class="header-grid text-center"></div>
                        @*Vista de Sergio*@
                        <table class="table table-condensed" style="border-collapse:collapse;">
                            <thead>
                                <tr>
                                    <th><span id="CapturaArmadoHeaderTaller"></span></th>
                                    <th><span id="spanEmisionCapacidadAuto"></span></th>
                                    <th><span id="spanEmisionCapacidadAutoMan"></span></th>
                                    <th><span id="spanEmisionCapacidadMan"></span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td width="10%"><span id="spanA"></span></td>
                                    <td width="30%" id="tallerA-automatico" class="automatico"></td>
                                    <td width="30%" id="tallerA-automan" class="automan"></td>
                                    <td width="30%" id="tallerA-manual" class="manual"></td>
                                </tr>
                                <tr>
                                    <td width="10%"><span id="spanB"></span></td>
                                    <td width="30%" id="tallerB-automatico"></td>
                                    <td width="30%" id="tallerB-automan"></td>
                                    <td width="30%" id="tallerB-manual"></td>
                                </tr>
                                <tr>
                                    <td width="10%"><span id="spanC"></span></td>
                                    <td width="30%" id="tallerC-automatico"></td>
                                    <td width="30%" id="tallerC-automan"></td>
                                    <td width="30%" id="tallerC-manual"></td>
                                </tr>
                                <tr>
                                    <td width="10%"><span id="spanD"></span></td>
                                    <td width="30%" id="tallerD-automatico"></td>
                                    <td width="30%" id="tallerD-automan"></td>
                                    <td width="30%" id="tallerD-manual"></td>
                                </tr>
                                <tr>
                                    <td width="10%"><span id="spanEmisionCapacidadDespacho"></span></td>
                                    <td colspan="3" id="tallerDespacho"></td>
                                </tr>
                                <tr>
                                    <td width="10%"><span id="spanEmisionCapacidadCorte"></span></td>
                                    <td colspan="3" id="tallerCorte"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="grid-stack-item" data-gs-x="0" data-gs-y="7" data-gs-width="6" data-gs-height="4">
                    <div class="grid-stack-item-content border-shadow" id="gridTalleres">
                        <div id="divEmisionProyecciones" style="color:#ffffff; font-size:14px;" class="header-grid text-center"></div>
                        <table class="table table-condensed" style="border-collapse:collapse;">
                            <thead>
                                <tr>
                                    <th width="20px">&nbsp;</th>
                                    <th>&nbsp;</th>
                                    <th width="20px" style="text-align:center;"><span id="spanA"></span></th>
                                    <th width="20px" style="text-align:center;"><span id="spanB"></span></th>
                                    <th width="20px" style="text-align:center;"><span id="spanC"></span></th>
                                    <th width="20px" style="text-align:center;"><span id="spanD"></span></th>
                                </tr>
                            </thead>
                            <tbody id="contenedorProyecciones"></tbody>
                        </table>
                    </div>
                </div>
                <span style="color:#ffffff">.</span>

                <form id="divProyectarWindow" style="display:none">
                    <div class="row">
                        <div class="container" style="padding:15px;;width:inherit">
                            <div class="form-group col-xs-9 col-sm-9 col-md-9 col-lg-9" style="display:none" id="inputCrearProyeccion">
                                <label id="lblEmisionNuevaProyeccion"></label>
                                <input id="inputWindowProyeccion" class="form-control" type="text" />
                                <button class="btn btn-primary" type="button" id="btnCrearProyeccion"><span id="spanEmisionProyectar"></span></button>
                            </div>
                            <div class="form-group col-xs-9 col-sm-9 col-md-9 col-lg-9" style="display:none" id="cmbSeleccionarProyeccion">
                                <label id="lblEmisionSelNuevaProyeccion"></label>
                                <input id="inputProyecciones" class="form-control" type="text" />
                                <button class="btn btn-primary" type="button" id="btnSeleccionaProyeccion"><span id="spanEmisionProyectar"></span></button>
                            </div>
                            <div id="ProyectarPreguntaDiv">
                                <span id="spanPreguntaCrearProyeccion"></span>
                                <div class="buttonSave col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" style="padding:15px;">
                                    <button class="btn btn-primary" type="button" id="btnCrearNuevaProyeccion"><span id="spanEmisionCrear"></span></button>
                                    <button class="btn btn-primary" type="button" id="btnUtilizarProyeccionExistente"><span id="spanEmisionExistente"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <form id="divEmitirWindow" style="display:none">
                    <div class="row">
                        <div class="container" style="padding:15px;width:inherit">
                            <div class="form-group col-xs-9 col-sm-9 col-md-9 col-lg-9" style="display:none" id="inputCrearOrdenTrabajo">
                                <label id="lblEmisionEscribaOrdenTrabajo"></label>
                                <input id="inputOrdenTrabajo" class="form-control" type="text" />
                                <button class="btn btn-primary" type="button" id="btnCrearOrdenTrabajo"><span id="spanEmitirOrdenTrabajo"></span></button>
                            </div>
                            <div class="form-group col-xs-9 col-sm-9 col-md-9 col-lg-9" style="display:none" id="cmbSeleccionarOT">
                                <label id="lblSeleccionOrdenTrabajo"></label>
                                <input id="inputOrdenesTrabajo" class="form-control" type="text" />
                                <button class="btn btn-primary" type="button" id="btnOrdenTrabajo"><span id="spanEmitirOrdenTrabajo"></span></button>
                            </div>
                            <div id="EmitirPreguntaDiv">
                                <span id="spanPreguntaCrearOrdenTrabajo"></span>
                                <div class="buttonSave col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" style="padding:15px;">
                                    <button class="btn btn-primary" type="button" id="btnCrearNuevaOrdenTrabajo"><span id="spanEmisionCrear"></span></button>
                                    <button class="btn btn-primary" type="button" id="btnUtilizarOrdenTrabajoExistente"><span id="spanEmisionExistente"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<br /><br />
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="formNav clearfix">
            <div class="button-section editButtonSection">
                <div class="btn-group save-group">
                    <button id="Guardar" onclick="javascript:void(0);" type="button" class="btn btn-yellow"><span id="botonGuardar3"></span></button>

                </div>
                <a id="btnCancelar" class="btn btn-black"><span id="botonCancelar2"></span></a>
            </div>
            <div id="ArmadoSoldaduraDivSuperior" class="button-section">
                <a id="ArmadoSoldaduraSuperior" href="" class="btn btn-primary"><span id="spanEmisionEmitirx"></span></a>
            </div>
            <div class="button-section actionButtonSection">
                <div class="dropdown action-group">
                    <a id="Acciones" data-target="#" href="#" data-toggle="dropdown" role="button" ariahaspopup="true" aria-expanded="false" class="btn btn-default">
                        <span id="botonAcciones2"></span>
                        <span class="caretBlue"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="Acciones"></ul>
                </div>
            </div>
            <a id="Imprimir" href="#" class="btn btn-fadeBlue actionButtonSection"></a>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/AppComponents/PlaneacionYControl/EmisionOrdenesTrabajo/Render.js"></script>
@*<script type="text/javascript" src="~/Scripts/AppComponents/PlaneacionYControl/EmisionOrdenesTrabajo/Seguridad.js"></script>*@
<script type="text/javascript" src="~/Scripts/AppComponents/PlaneacionYControl/EmisionOrdenesTrabajo/Ajax.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/PlaneacionYControl/EmisionOrdenesTrabajo/Handlers.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/PlaneacionYControl/EmisionOrdenesTrabajo/Captura.js"></script>
<link href="~/Content/EmisionOT/EmisionOT.css" rel="stylesheet">

@*GridStack*@
<script type="text/javascript" src="~/Scripts/Widgets/GridStack/Underscore.js"></script>
<script type="text/javascript" src="~/Scripts/Widgets/GridStack/gridstack.js"></script>
<link href="~/Scripts/Widgets/GridStack/gridstack.css" rel="stylesheet">


@*<script>
        @section JavascriptDocumentReadyFunctions {
        $authorizationModel["EmisionOT"] = $EmisionOTModel;
        }
    </script>*@
