
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section breadcrumb {
    <li>
        <a href=""><span id="lblInicio"></span></a>
    </li>
    <li>
        <a href="#"><span id="GridstackHeaderPlaneacionControl"></span></a>
    </li>
    <li class="active">
        <a href=""><span id="PeticionGrupoEmbarque"></span></a>
    </li>
}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="formNav clearfix">
            <div class="button-section editButtonSection">
                <div class="btn-group save-group">
                    <button id="Guardar" onclick="javascript:void(0);" type="button" class="btn btn-yellow"><span id="botonGuardar"></span></button>
                    <button id="dropdown-toggle" type="button" class="btn btn-yellow dropdown-toggle botonDeplegaMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caretWhite"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#" id="btnGuardar"><span id="botonGuardar2"></span></a></li>
                        <li><a href="#" id="btnGuardarYNuevo"><span id="botonGuardarYNuevo"></span></a></li>
                    </ul>

                </div>
                <a id="btnCancelar" class="btn btn-black"><span id="botonCancelar"></span></a>
            </div>
            @*<div id="ArmadoSoldaduraDivSuperior" class="button-section">
                    <a id="EmitirOT" href="#" onclick="javascript:void(0);" class="btn btn-primary"><span id="">Emitir</span></a>
                </div>*@
            <div class="button-section actionButtonSection">
                <div class="dropdown action-group">
                    <a id="Acciones" data-target="#" href="#" data-toggle="dropdown" role="button" ariahaspopup="true" aria-expanded="false" class="btn btn-default">
                        <span id="botonAcciones1"></span>
                        <span class="caretBlue"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="Acciones"></ul>
                </div>
            </div>
            <a id="Imprimir" href="#" class="btn btn-fadeBlue actionButtonSection"></a>
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group col-xs-3 col-sm-3 col-md-3 col-lg-3" ">
        <label><span id="PeticionlblPeticion"></span></label>
        <input id="inputPeticiones" />
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
        <br />
        <button class="btn btn-blue" id="btnMostrar"><span id="lblMostrar"></span></button>
    </div>
</div>

@*GRID*@
<div class="row addedSectionInLine">
    <div id="ContenedorGrid" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="grid" data-role="grid" class="k-grid k-widget"></div>

        <script type="text/x-kendo-template" id="templateGridDetalleSpool">
            <div class="gridDetalleSpool"></div>
        </script>

    </div>
    <input id="hdAccionFiltrado" type="hidden" />
</div>

<br /><br />
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="formNav clearfix">
            <div class="button-section editButtonSection">
                <div class="btn-group save-group">
                    <button id="GuardarPie" onclick="javascript:void(0);" type="button" class="btn btn-yellow accionGuardar"><span id="botonGuardar3"></span></button>
                    <button id="dropdown-toggle" type="button" class="btn btn-yellow dropdown-toggle botonDeplegaMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caretWhite"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#" id="Guardar1"><span id="botonGuardar4"></span></a></li>
                        <li><a href="#" id="btnGuardarYNuevo1"><span id="botonGuardarYNuevo1"></span></a></li>
                    </ul>
                </div>
                <a id="btnCancelar" class="btn btn-black"><span id="botonCancelar2"></span></a>
            </div>

            <div class="button-section actionButtonSection">
                <div class="dropdown action-group">
                    <a id="Acciones" data-target="#" href="#" data-toggle="dropdown" role="button" ariahaspopup="true" aria-expanded="false" class="btn btn-default">
                        <span id="botonAcciones2"></span>
                        <span class="caretBlue"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="Acciones"></ul>
                </div>
            </div>
            <a id="Imprimir" href="#" class="btn btn-fadeBlue actionButtonSection"></a>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/AppComponents/PlaneacionYControl/Peticiones/Render.js"></script>
@*<script type="text/javascript" src="~/Scripts/AppComponents/PlaneacionYControl/Peticiones/Seguridad.js"></script>*@
<script type="text/javascript" src="~/Scripts/AppComponents/PlaneacionYControl/Peticiones/Ajax.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/PlaneacionYControl/Peticiones/Handler.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/PlaneacionYControl/Peticiones/Captura.js"></script>
