
@{
    ViewBag.Title = "Detalle Orden Recepcion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div id="formOrdenRecepcion" class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="formNav clearfix">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="button-section">
                            <div class="dropdown action-group">
                                <a id="Acciones" data-target="#" href="#" data-toggle="dropdown" role="button" ariahaspopup="true" aria-expanded="false" class="btn btn-default">
                                    <span id="GenerarOrdenRecepcion0003"></span>
                                    <span class="caretBlue"></span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="Acciones">
                                    <li><a id="RedirectDashboard"><span id="DetalleOrdenRecepcion0003"></span></a></li>
                                    <li><a><span id="DetalleOrdenRecepcion0004"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                 <div id="grid"></div>
        </div>
    </div>
</div>

<script>
    @section JavascriptGlobalVariables 
    {
    var _resultadoJson;
    var _ordenRecepcionID = getUrlParameter("OrdenRecepcionID", "-1");

    var $GenerarOrdenRecepcionModel = {
        listContainer: {
            create: "#Guardar",
            list: "#grid",
            detail: ".detailLink",
            destroy: ".k-grid-Cancelar"
        },
        properties: {
            username: {
                visible: "",
                editable: "",
                required: ""
            }
        }
    };
    }
    @section JavascriptGlobalFunctions 
    {
    function changeLanguageCall() {
        CargaInicialGrid();
    };

    function CargaInicial() {
        CargarDatosGrid();
    };


    function CargaInicialGrid() {
        var grid = $("#grid").kendoGrid({
            dataSource: {
                data: _resultadoJson,
                schema: {
                    model: {
                        fields: {
                            AvisoEntradaID: { type: "int" },
                        }
                    }
                },
                serverPaging: false,
                serverFiltering: false,
                serverSorting: false
            },
            detailInit: detailInit,
            columns: [
                { field: "AvisoEntradaID", title: _dictionary.GenerarOrdenRecepcion0009[$("#language").data("kendoDropDownList").value()], width: "110px" },
            ]
        }).getKendoGrid();


        grid.tbody.on("change", ".master", function () {
            var checkbox = $(this);
            var nextRow = checkbox.closest("tr").next();
            var value = checkbox.closest("tr").children()[2].innerHTML;

            checkNodoPrincipal[value] = { FolioAvisoEntradaID: value, checked: checkbox.is(":checked") };

            for (var i in checkItemCodesID) {
                if (checkItemCodesID[i].FolioAvisoEntradaID == value) {
                    checkItemCodesID[i].checked = false;
                }
            }

            if (nextRow.hasClass("k-detail-row")) {
                nextRow.find(":checkbox")
                    .prop("checked", checkbox.is(":checked"));
                nextRow.find(":checkbox")
                    .prop("disabled", checkbox.is(":checked"));
            }
        });
    };

    function detailInit(e) {

        $("<div/>").appendTo(e.detailCell).kendoGrid({
            dataSource: {
                data: e.data.Accesorios,
                schema: {
                    model: {
                        fields: {
                            ItemCodeID: { type: "int" },
                            Codigo: { type: "string" },
                            Descripcion: { type: "string" },
                            D1: { type: "number" },
                            D2: { type: "number" },
                            Cantidad: { type: "int" },
                            TipoMaterial: { type: "int" }
                        }
                    }
                }
            },
            autoBind: true,
            scrollable: false,
            sortable: true,
            columns: [
                { field: "ItemCodeID", title: _dictionary.DetalleOrdenRecepcion0005[$("#language").data("kendoDropDownList").value()], width: "110px", hidden: true },
                { field: "Codigo", title: _dictionary.DetalleOrdenRecepcion0006[$("#language").data("kendoDropDownList").value()], width: "70px" },
                { field: "Descripcion", title: _dictionary.DetalleOrdenRecepcion0007[$("#language").data("kendoDropDownList").value()], width: "200px" },
                { field: "D1", title: _dictionary.DetalleOrdenRecepcion0008[$("#language").data("kendoDropDownList").value()], width: "50px" },
                { field: "D2", title: _dictionary.DetalleOrdenRecepcion0009[$("#language").data("kendoDropDownList").value()], width: "50px" },
                { field: "Cantidad", title: _dictionary.DetalleOrdenRecepcion0010[$("#language").data("kendoDropDownList").value()], width: "50px" },
                { field: "TipoMaterial", title: _dictionary.DetalleOrdenRecepcion0011[$("#language").data("kendoDropDownList").value()], width: "70px" },
                { command: { text: _dictionary.DetalleOrdenRecepcion0012[$("#language").data("kendoDropDownList").value()], click: cancelarItemCode }, title: " ", width: "99px" }

            ]
        });

        $("<div/>").appendTo(e.detailCell).kendoGrid({
            dataSource: {
                data: e.data.Tubos,
                schema: {
                    model: {
                        fields: {
                            ItemCodeID: { type: "int" },
                            Codigo: { type: "string" },
                            Descripcion: { type: "string" },
                            D1: { type: "number" },
                            D2: { type: "number" },
                            Cantidad: { type: "int" },
                            TipoMaterial: { type: "int" }
                        }
                    }
                }
            },
            autoBind: true,
            scrollable: false,
            sortable: true,
            columns: [
                { field: "ItemCodeID", title: _dictionary.GenerarOrdenRecepcion0010[$("#language").data("kendoDropDownList").value()], width: "110px", hidden: true },
                { field: "Codigo", title: _dictionary.GenerarOrdenRecepcion0011[$("#language").data("kendoDropDownList").value()], width: "70px" },
                { field: "Descripcion", title: _dictionary.GenerarOrdenRecepcion0012[$("#language").data("kendoDropDownList").value()], width: "200px" },
                { field: "D1", title: _dictionary.GenerarOrdenRecepcion0013[$("#language").data("kendoDropDownList").value()], width: "50px" },
                { field: "D2", title: _dictionary.GenerarOrdenRecepcion0014[$("#language").data("kendoDropDownList").value()], width: "50px" },
                { field: "Cantidad", title: _dictionary.GenerarOrdenRecepcion0015[$("#language").data("kendoDropDownList").value()], width: "50px" },
                { field: "TipoMaterial", title: _dictionary.GenerarOrdenRecepcion0016[$("#language").data("kendoDropDownList").value()], width: "70px" },
            ]
        });

    }

    function CargarDatosGrid() {
        loadingStart();

        $OrdenRecepcion.OrdenRecepcion.read({}, { ordenrecepcionID: _ordenRecepcionID, token: $.cookie("token") }).done(function (result) {
            if (Error(result)) {
                _resultadoJson = result;
                if (_resultadoJson.length > 0) {
                    $("#grid").data("kendoGrid").dataSource.data(_resultadoJson);
                } else {
                    $("#grid").data("kendoGrid").dataSource.data([]);
                };
            }
            loadingStop();
        });
    };

    
    }

    @section JavascriptDocumentReadyFunctions {
    $authorizationModel["Orden Recepcion"] = $GenerarOrdenRecepcionModel;
    CargaInicial();

    }
     @section JavascriptDocumentReadyHomeCookie {
    Cookies.set("home", true, { path: '/' });
    Cookies.set("navegacion", "14", { path: '/' });
    }
</script>
