@{
    ViewBag.Title = "Listado Orden Recepcion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section breadcrumb {
    <li>
        <a href="@Url.Action("landing", "Home")"><span id="ListadoOrdenRecepcion0025"></span></a>
    </li>
    <li>
        <a href=""><span id="ListadoOrdenRecepcion0027"></span></a>
    </li>
    <li class="active">
        <a href="@Url.Action("ListadoOrdenRecepcion", "OrdenRecepcion")"><span id="ListadoOrdenRecepcion0026"></span></a>
    </li>
}

<div class="form clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="formNav clearfix">
                <div class="row">
                    <div class="col-sm-12 col-md-2 col-lg-2">
                        <div class="button-section">
                            <button id="Nuevo" type="button" class="btn btn-newArrival btn-yellow"><span id="ListadoPackingList0007"></span></button>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-10 col-lg-10 filter-section">
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-2">
                                <label id="ListadoPackingList0001"></label>
                                <input id="ClienteID" class="" />
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-2">
                                <label id="ListadoPackingList0002"></label>
                                <input id="ProyectoID" class="" />
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-2">
                                <label id="ListadoPackingList0003"></label>
                                <input id="FolioAvisoEntradaID" class="" />
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-2">
                                <label id="ListadoPackingList0004"></label>
                                <input id="FechaInic" class="" />
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-2">
                                <label id="ListadoPackingList0005"></label>
                                <input id="FechaFinal" class="" />
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-2">
                                <label id="ListadoPackingList0006"></label>
                                <input id="PeriodoTiempo" class="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="grid"></div>
        </div>
    </div>
</div>
<input id="hdAccionFiltrado" type="hidden" />
<script>
    @section JavascriptGlobalVariables 
    {
    var Cliente = {}, Proyecto = {}, FolioAvisoEntrada = {}, FechaInic, FechaFinal, PeriodoTiempo, resultadoJson;

    var $ListadoOrdenRecepcionModel = {
        listContainer: {
            create: "#Nuevo",
            list: "#grid",
            detail: ".detailLink",
            destroy: ".k-grid-Cancelar"
        },
    };
    }

    @section JavascriptGlobalFunctions 
    {
    function changeDatePickerDateFormat(datePickerOptions) {
        FechaInic.setOptions(datePickerOptions);
        FechaFinal.setOptions(datePickerOptions);
    };

    function changeLanguageCall() {
        cargarInicialGrid();
        createPeriodoTiempo();
    };

    function CargaInicial() {
        $("#Nuevo").click(function () {
            var detalleIdeaUrl = "@Url.Action("Cuantificacion", "Cuantificacion")";
            window.location.href = detalleIdeaUrl + "?leng=" + $("#language").data("kendoDropDownList").value();
        });

        $("#ClienteID").kendoComboBox({
            dataTextField: "Nombre",
            dataValueField: "ClienteID",
            select: function (e) {
                var dataItem = this.dataItem(e.item.index());
                CargarCliente(dataItem.ClienteID, dataItem.Nombre);

            },
            change: function (e) {
                var value = this.value();
                if (!value) {
                    Cliente = {};
                }
                Filtros();
            },
            filter: "contains",
        });
        ObtenerCliente();

        $("#ProyectoID").kendoComboBox({
            dataTextField: "Nombre",
            dataValueField: "ProyectoID",
            select: function (e) {
                var dataItem = this.dataItem(e.item.index());
                CargarProyecto(dataItem.ProyectoID, dataItem.Nombre);
            },
            change: function (e) {
                var value = this.value();

                if (!value) {
                    Proyecto = {};
                }
                Filtros();
            },
            filter: "contains",
        });

        ObtenerProyecto();


        $("#FolioAvisoEntradaID").kendoComboBox({
            dataTextField: "id",
            dataValueField: "value",
            filter: "contains",
            select: function (e) {
                var dataItem = this.dataItem(e.item.index());
                CargarFolio(dataItem.id);
            },
            change: function (e) {
                var value = this.value();

                if (!value) {
                    FolioAvisoEntrada = {};
                }
                Filtros();
            },
        });

        ObtenerFolioAvisoEntrada();

        $("#PeriodoTiempo").kendoComboBox({});

        FechaInic = new kendo.ui.DatePicker($("#FechaInic"));
        FechaFinal = new kendo.ui.DatePicker($("#FechaFinal"));

        $("#FechaInic").bind("change", function () {
            Filtros();
        });

        $("#FechaFinal").bind("change", function () {
            Filtros();
        });

        ObtenerFechasporDefecto();
        Filtros();
    };

    function cargarInicialGrid() {
        var grid = $("#grid").kendoGrid({
            dataSource: {
                data: resultadoJson,
                schema: {
                    model: {
                        fields: {
                            FechaOrdenRecepcion: { type: "string" },
                            OrdenRecepcion: { type: "int" }
                        }
                    }
                },
                serverPaging: false,
                serverFiltering: false,
                serverSorting: false,
                pageSize: 20,
                serverPaging: false,
                serverFiltering: false,
                serverSorting: false
            },
            autoHeight: true,
            sortable: true,
            scrollable: false,
            filterable: {
                extra: false,
                operators: {
                    string: {
                        startswith: "Starts with",
                        eq: "Is equal to",
                        neq: "Is not equal to"
                    }
                }
            },
            pageable: {
                refresh: false,
                pageSizes: [10, 15, 20],
                info: false,
                input: false,
                numeric: true,
            },
            columns: [
                { field: "FechaFolioAvisoEntrada", title: _dictionary.ListadoPackingList0008[$("#language").data("kendoDropDownList").value()], width: "110px" },
                { field: "FolioEntrada", title: _dictionary.ListadoPackingList0009[$("#language").data("kendoDropDownList").value()], width: "110px", template: "<a class='detailLink' onclick='mostrarDetalle(#:FolioEntrada#,#:FolioCuantificacion#)'>#:FolioEntrada#</a>" },
                { field: "PackingList", title: _dictionary.ListadoPackingList0009[$("#language").data("kendoDropDownList").value()], width: "110px" },
                { field: "FolioCuantificacion", title: _dictionary.ListadoOrdenRecepcion0020[$("#language").data("kendoDropDownList").value()], width: "110px" },
                { field: "TipoPackingList", title: _dictionary.ListadoOrdenRecepcion0020[$("#language").data("kendoDropDownList").value()], width: "110px" },
                { field: "TipoUso", title: _dictionary.ListadoOrdenRecepcion0020[$("#language").data("kendoDropDownList").value()], width: "110px" },
                { field: "Estatus", title: _dictionary.ListadoOrdenRecepcion0020[$("#language").data("kendoDropDownList").value()], width: "110px" },
            ],
            dataBound: function (e) {
                $(".k-grid input.k-textbox").prop('readonly', true);
                $(".k-grid td .k-button").text('');
                $(".k-grid td:first-child, .k-grid td:last-child").css('text-overflow', 'clip');
            }
        }).getKendoGrid();
    };

    function detailInit(e) {
        $("<div/>").appendTo(e.detailCell).kendoGrid({
            dataSource: {
                data: e.data.Detalle,
                schema: {
                    model: {
                        fields: {
                            ItemCode: { type: "string" },
                            Cantidad: { type: "int" }
                        }
                    }
                }
            },
            //dataBound: onDataBoundDetail,
            autoBind: true,
            scrollable: false,
            sortable: false,
            columns: [
                { field: "AvisoEntrada", title: _dictionary.ListadoOrdenRecepcion0024[$("#language").data("kendoDropDownList").value()], width: "110px", },
                { field: "Itemcode", title: _dictionary.ListadoOrdenRecepcion0021[$("#language").data("kendoDropDownList").value()], width: "110px", },
                { field: "Cantidad", title: _dictionary.ListadoOrdenRecepcion0022[$("#language").data("kendoDropDownList").value()], width: "50px" }
            ]
        });
    }

    function ObtenerFechasporDefecto() {
        var fechaFinal = new Date();
        var fechainicio = new Date(fechaFinal.getTime() - (7 * 24 * 3600 * 1000));

        if ($("#language").data("kendoDropDownList").value() == "es-MX") {
            format = "dd/MM/yyyy";
        } else {
            format = "MM/dd/yyyy";
        };

        var curr_date0 = fechainicio.getDate();
        var curr_month0 = fechainicio.getMonth() + 1; //Months are zero based
        var curr_year0 = fechainicio.getFullYear();


        var curr_date = fechaFinal.getDate();
        var curr_month = fechaFinal.getMonth() + 1; //Months are zero based
        var curr_year = fechaFinal.getFullYear();


        var fechaInicial = new Date(curr_year0, curr_month0 - 1, curr_date0);
        var fechFinal = new Date(curr_year, curr_month - 1, curr_date);

        var fechaInicialkendo = kendo.parseDate(fechaInicial, format);
        var fechaFinalkendo = kendo.parseDate(fechFinal, format);

        $("#FechaInic").data("kendoDatePicker").value(fechaInicialkendo);
        $("#FechaFinal").data("kendoDatePicker").value(fechaFinalkendo);
    };

    function createPeriodoTiempo() {
        $("#PeriodoTiempo").kendoComboBox({
            dataTextField: "Periodo",
            dataValueField: "PeriodoID",
            dataSource: [
                { "PeriodoID": "1", "Periodo": _dictionary.ListadoOrdenRecepcion0014[$("#language").data("kendoDropDownList").value()] },
                { "PeriodoID": "2", "Periodo": _dictionary.ListadoOrdenRecepcion0015[$("#language").data("kendoDropDownList").value()] },
                { "PeriodoID": "3", "Periodo": _dictionary.ListadoOrdenRecepcion0016[$("#language").data("kendoDropDownList").value()] },
                { "PeriodoID": "4", "Periodo": _dictionary.ListadoOrdenRecepcion0017[$("#language").data("kendoDropDownList").value()] },
                { "PeriodoID": "5", "Periodo": _dictionary.ListadoOrdenRecepcion0018[$("#language").data("kendoDropDownList").value()] }
            ],
            select: function (e) {
                var dataItem = this.dataItem(e.item.index());

                CargarPeriodoTiempo(dataItem.PeriodoID);
            },
            change: function (e) {
                var value = this.value();

                if (!value) {
                    PeriodoTiempo = [];
                }
                ObtenerFechasporPeriodo(value);
            },
            filter: "contains",
        });
    };

    function ObtenerFechasporPeriodo(id) {
        var fechaInicio = FechaFinal.value();
        var fechaFin = FechaFinal.value();

        if ($("#language").data("kendoDropDownList").value() == "es-MX") {
            format = "dd/MM/yyyy";
        } else {
            format = "MM/dd/yyyy";
        }

        var curr_date = fechaFin.getDate();
        var curr_month = fechaFin.getMonth() + 1;
        var curr_year = fechaFin.getFullYear();

        var fechaFinal = new Date(curr_year, curr_month - 1, curr_date);
        var fechaFinalkendo = kendo.parseDate(fechaFinal, format);

        switch (parseInt(id)) {
            case 1: //Semana Actual
                fechaInicio.setDate(fechaInicio.getDate() - 7);
                break;
            case 2: //Dos Semanas
                fechaInicio.setDate(fechaInicio.getDate() - 14);
                break;
            case 3: //Mes
                fechaInicio.setMonth(fechaInicio.getMonth() - 1);
                break;
            case 4: //Trimestre
                fechaInicio.setMonth(fechaInicio.getMonth() - 3);
                break;
            case 5: //Año
                fechaInicio.setFullYear(fechaInicio.getFullYear() - 1);
                break;
        }

        var curr_date0 = fechaInicio.getDate();
        var curr_month0 = fechaInicio.getMonth() + 1;
        var curr_year0 = fechaInicio.getFullYear();

        var fechaInicial = new Date(curr_year0, curr_month0 - 1, curr_date0);

        var fechaInicialkendo = kendo.parseDate(fechaInicial, format);

        $("#FechaInic").data("kendoDatePicker").value(fechaInicialkendo);
        $("#FechaFinal").data("kendoDatePicker").value(fechaFinalkendo);
    };

    function CargarCliente(id, value) {
        Cliente = {};
        Cliente = { ClienteID: id };
    };

    function CargarProyecto(id, value) {
        Proyecto = {};
        Proyecto = { ProyectoID: id, Nombre: value };
    };

    function CargarFolio(id) {
        FolioAvisoEntrada = {};
        FolioAvisoEntrada = { FolioAvisoEntradaID: id };
    };

    function CargarPeriodoTiempo(id) {
        PeriodoTiempo = {};
        PeriodoTiempo = { PeriodoTiempo: id };
    };

    function ControlErroresObjetosComboBox(control, result) {
        if (Error(result)) {
            $("#" + control).data("kendoComboBox").dataSource.data(result);
        } else {
            $("#" + control).data("kendoComboBox").dataSource.data([]);
        };
    };

    function ObtenerProyecto() {
        $Proyecto.Proyecto.read({ token: Cookies.get("token") }).done(function (result) {
            ControlErroresObjetosComboBox("ProyectoID", result);
        });
    };

    function ObtenerCliente() {
        $Cliente.Cliente.read({ token: Cookies.get("token") }).done(function (result) {
            ControlErroresObjetosComboBox("ClienteID", result);
        });
    };
    function ObtenerFolioAvisoEntrada() {
        $folioEntradaMaterial.Listado.read({ tipoListado: 1, token: Cookies.get("token"), parametroBusqueda: "" }).done(function (result) {
            ControlErroresObjetosComboBox("FolioAvisoEntradaID", result);
        });
    };

    function mostrarDetalle(folioAvisoLlegadaID, foliocuantificacion) {
        var detalleIdeaUrl = "@Url.Action("Cuantificacion", "Cuantificacion")";
        window.location.href = detalleIdeaUrl + "?leng=" + $("#language").data("kendoDropDownList").value() + "&EdicionPackingList=1" + "&FolioAvisoEntradaID=" + folioAvisoLlegadaID + "&FolioCuantificacionID=" + foliocuantificacion;
    };
    function Filtros() {
        var Listado;
        var accion = $("#hdAccionFiltrado").val() ? $("#hdAccionFiltrado").val() : 1;
        AccionesListado(accion);
    };

    function AccionesListado(accion) {
        loadingStart();
        var Listado;
        Listado = ArregloListado(accion);

        $("#hdAccionFiltrado").val(accion);
        $folioEntradaMaterial.Listado.read({  data: JSON.stringify(Listado) }).done(function (data) {
            if (Error(data)) {
                resultadoJson = data;
                if ($("#grid").data("kendoGrid")) {
                    if (resultadoJson.length > 0) {
                        $("#grid").data("kendoGrid").dataSource.data(resultadoJson);
                        $("#grid").data("kendoGrid").dataSource.page(1);
                    } else {
                        $("#grid").data("kendoGrid").dataSource.data([]);
                        $("#grid").data("kendoGrid").dataSource.page(0);
                    };
                    applySecurityPolicy(false);
                };
            };
            loadingStop();
        });
    };

    function ArregloListado(accion) {
        var Listado;
        Listado = { FolioAvisoEntradaID: "", ProyectoID: "", ClienteID: "", FechaInicial: "", FechaFinal: "", token: "" };

        var d = new Date($("#FechaInic").data("kendoDatePicker").value());
        var d1 = new Date($("#FechaFinal").data("kendoDatePicker").value());

        Listado.FolioAvisoEntradaID = FolioAvisoEntrada.FolioAvisoEntradaID ? FolioAvisoEntrada.FolioAvisoEntradaID : "";
        Listado.ProyectoID = Proyecto.ProyectoID ? Proyecto.ProyectoID : "";
        Listado.ClienteID = Cliente.ClienteID ? Cliente.ClienteID : "";
        Listado.FechaInicial = obtenerFormatoFecha(d);
        Listado.FechaFinal = obtenerFormatoFecha(d1);
        Listado.token = Cookies.get("token");
        Listado.TipoListado = 17;
        
        return Listado;
    };

    function imprimirOrden() {
        e.preventDefault();
        var dataItem = $("#grid").data("kendoGrid").dataItem($(e.currentTarget).closest("tr"));
        var OrdenRecepcion = dataItem.OrdenRecepcion;
        window.open("http://www.asp.net");
    };

    function obtenerFormatoFecha(d) {
        var curr_date = d.getDate();
        var curr_month = d.getMonth() + 1; //Months are zero based
        var curr_year = d.getFullYear();
        var horaActual = new Date();

        return curr_year + "-" + curr_month + "-" + curr_date + " " + horaActual.getHours() + ":" + horaActual.getMinutes() + ":" + horaActual.getSeconds();
    };

    function Error(data) {
        if (data.ReturnCode) {
            if (data.ReturnCode != 200) {
                if (data.ReturnCode == 401) {
                    removeUserSession();
                    return true;
                } else {
                    displayMessage("notificationslabel0008", data.ReturnMessage, '2');
                    return false;
                }
            } else {
                return true;
            }
        } else {
            return true;
        }
    };
    }

    @section JavascriptDocumentReadyFunctions {

    CargaInicial();


    }
    @section JavascriptDocumentReadyHomeCookie {
    $authorizationModel["Orden Recepcion"] = $ListadoOrdenRecepcionModel;
    Cookies.set("home", true, { path: '/' });
    Cookies.set("navegacion", "15", { path: '/' });
    }

</script>