@{
    ViewBag.Title = "Orden de Recepcion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-sm-12 col-md-12 col-lg-12 formatTag">
    <div class="row">
        <div class="tags-container">
            <div id="divPackingList"></div>
        </div>
    </div>
</div>
<script>
    @section JavascriptGlobalVariables 
    {

    }

    @section JavascriptGlobalFunctions 
    {
        function init() {
            $(".pull-right").hide();
            $(".sidebar").hide();
            $(".breadcrumb-container").hide();
            $("header").hide();
            $(".content-container").removeClass("topbar").addClass("printView");
            $(".content-frame").removeClass("content-frame");
            $("body").css("background", "#FFFFFF");
        }
    }

    @section JavascriptDocumentReadyFunctions 
    {
        init();

    }
</script>
