@{
    ViewBag.Title = "Dashboard - Llegada Material";
}

@section breadcrumb {
    <li>
        <a href="@Url.Action("landing", "Home")"><span id="DashboardLlegadaMaterial0001"></span></a>
    </li>
    <li class="active">
        <a href="@Url.Action("DashboardLlegadaMaterial", "EntradaMaterial")"><span id="DashboardLlegadaMaterial0002"></span></a>
    </li>
}


<div class="form clearfix col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="formNav filtersFields clearfix">
                <div class="row">
                    <div class="col-sm-2 col-md-2 col-lg-1">
                        <div class="button-section">
                            <button id="Nuevo" type="button" class="btn btn-yellow"><span id="DashboardLlegadaMaterial0014"></span></button>
                        </div>
                    </div>
                    <div class="col-sm-10 col-md-10 col-lg-9 filter-section">
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-3">
                                <label id="DashboardLlegadaMaterial0004"></label>
                                <input id="PatioID" class="" />
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-3">
                                <label id="DashboardLlegadaMaterial0003"></label>
                                <input id="ClienteID" class="" />
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-3">
                                <label id="DashboardLlegadaMaterial0005"></label>
                                <input id="FechaInicial" class="" />
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-3">
                                <label id="DashboardLlegadaMaterial0006"></label>
                                <input id="FechaFinal" class="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="btn-group col-sm-12 col-md-12 col-lg-12" role="group" arial-label="tabs">
                    <button id="btnCreados" class="btn btn-tab">
                        <label id="DashboardLlegadaMaterial0007"></label>
                        <span id="spanCreados"></span>
                    </button>
                    <button id="btnSinPermiso" class="btn btn-tab">
                        <label id="DashboardLlegadaMaterial0008"></label>
                        <span id="spanSinPermiso"></span>
                    </button>
                    <button id="btnSinAutorizacion" class="btn btn-tab active">
                        <label id="DashboardLlegadaMaterial0009"></label>
                        <span id="spanSinAutorizacion"></span>
                    </button>
                    <button id="btnCompletos" class="btn btn-tab">
                        <label id="DashboardLlegadaMaterial0010"></label>
                        <span id="spanCompletos"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    @section JavascriptDocumentReadyHomeCookie {
        Cookies.set("home", true, { path: '/' });
        Cookies.set("navegacion", "10", { path: '/' });
    }

    @section JavascriptGlobalVariables {
        var Patio = {}, Cliente = {};
        var FechaInicial, FechaFinal;
    }
    @section JavascriptGlobalFunctions {
        function changeDatePickerDateFormat(datePickerOptions) {
            FechaInicial.setOptions(datePickerOptions);
            FechaFinal.setOptions(datePickerOptions);
        };

        function CargaInicial() {
            $("#Nuevo").click(function () {
                var url = "@Url.Action("DetalleLlegadaMaterial", "EntradaMaterial")";
                 window.open(url + "?leng=" + $("#language").data("kendoDropDownList").value());
             });

            //Botones Dashboard
             $("#btnCreados").click(function () { AccionesListado(1); });
             $("#btnSinPermiso").click(function () { AccionesListado(2); });
             $("#btnSinAutorizacion").click(function () { AccionesListado(3); });
             $("#btnCompletos").click(function () { AccionesListado(4); });

             $("#PatioID").kendoComboBox({
                 dataTextField: "Nombre",
                 dataValueField: "PatioID",
                 select: function (e) {
                     var dataItem = this.dataItem(e.item.index());
                     CargarPatio(dataItem.PatioID, dataItem.Nombre);
                 },
                 change: function (e) {
                     var value = this.value();
                     if (!value) {
                         Patio = [];
                     } else {
                         CantidadesDelMenuDashboard();
                     };
                 },
                 filter: "contains",
             });
             ObtenerPatio();

             $("#ClienteID").kendoComboBox({
                 dataTextField: "Nombre",
                 dataValueField: "ClienteID",
                 select: function (e) {
                     var dataItem = this.dataItem(e.item.index());
                     CargarCliente(dataItem.ClienteID, dataItem.Nombre);
                 },
                 change: function (e) {
                     var value = this.value();
                     if (!value) {
                         Cliente = [];
                     } else {
                         CantidadesDelMenuDashboard();
                     };
                 },
                 filter: "contains",
             });
             ObtenerCliente();

             FechaInicial = new kendo.ui.DatePicker($("#FechaInicial"));
             FechaFinal = new kendo.ui.DatePicker($("#FechaFinal"));

             $("#FechaInicial").bind("change", function () {
                 CantidadesDelMenuDashboard();
             });

             $("#FechaFinal").bind("change", function () {
                 CantidadesDelMenuDashboard();
             });

             ObtenerFechasporDefecto();
             CantidadesDelMenuDashboard();
        };

        function obtenerFormatoFecha(d) {
            var curr_date = d.getDate();
            var curr_month = d.getMonth() + 1; //Months are zero based
            var curr_year = d.getFullYear();

            return curr_year + "-" + curr_month + "-" + curr_date;
        };

        function CantidadesDelMenuDashboard() {
            var Listado;
            Listado = { PatioID: "", ClienteID: "", FechaInicial: "", FechaFinal: "", token: "", TipoListado: "" };

            var d = new Date($("#FechaInicial").data("kendoDatePicker").value());
            var d1 = new Date($("#FechaFinal").data("kendoDatePicker").value());

            Listado.PatioID = $("#PatioID").data("kendoComboBox").value();
            Listado.FechaInicial = obtenerFormatoFecha(d);
            Listado.FechaFinal = obtenerFormatoFecha(d1);
            Listado.ClienteID = $("#ClienteID").data("kendoComboBox").value();
            Listado.token = Cookies.get("token");
            Listado.TipoListado = 4;
            console.log("CantidadesDelMenuDashboard: " + JSON.stringify(Listado));

            ObtenerAccionesListado(Listado);
        };

        function ObtenerAccionesListado(Listado) {

            $("#spanCreados").html(24);
            $("#spanSinPermiso").html(22);
            $("#spanSinAutorizacion").html(1);
            $("#spanCompletos").html(1);

            //$folioEntradaMaterial.Listado.read({}, { data: JSON.stringify(Listado) }).done(function (result) {
            //    Error(result);

                //$("#spanCreados").html(result.Creados ? result.Creados : 0);
                //$("#spanSinPermiso").html(result.SinPermiso ? result.SinPermiso : 0);
                //$("#spanSinAutorizacion").html(result.SinAutorizacion ? result.SinAutorizacion : 0);
                //$("#spanCompletos").html(result.Completos ? result.Completos : 0);

                //$("#spanPorcentajeCompletos").html(result.PorcentajeCompletos ? result.PorcentajeCompletos : 0);
                //$("#spanPorcentajeSinAutorizacion").html(result.ProcentajeSinAutorizacion ? result.ProcentajeSinAutorizacion : 0);
                //$("#spanPorcentajeSinPermiso").html(result.PorcentajeSinPermiso ? result.PorcentajeSinPermiso : 0);
            //});
        };

        function AccionesListado(accion) {
            var PatioID = Patio.PatioID ? Patio.PatioID : "";
            var ClienteID = Cliente.ClienteID ? Cliente.ClienteID : "";

            var d = new Date($("#FechaInicial").data("kendoDatePicker").value());
            var d1 = new Date($("#FechaFinal").data("kendoDatePicker").value());
            var fechainicial = obtenerFormatoFecha(d);
            var fechafinal = obtenerFormatoFecha(d1);

            var url = "@Url.Action("ListadoLlegadaMaterial", "EntradaMaterial")";
            window.location.href = url + "?leng=" + $("#language").data("kendoDropDownList").value() + "&DashBoardAccionListado=" + accion + "&DashPatioID=" + PatioID + "&DashClienteID=" + ClienteID + "&DashFechaInicial=" + fechainicial + "&DashFechaFinal=" + fechafinal;
        };

        function CargarPatio(id, value) {
            Patio = {};
            Patio = { PatioID: id, Nombre: value };
        };

        function CargarCliente(id, value) {
            Cliente = {};
            Cliente = { ClienteID: id, Nombre: value };
        };

        function ObtenerPatio() {
            $Patio.Patio.read({ esAvisoEntrada: 0, token: Cookies.get("token") }).done(function (result) {
                Error(result);
                $("#PatioID").data("kendoComboBox").dataSource.data(result);

            });
        };

        function ObtenerCliente() {
            $Cliente.Cliente.read({ token: Cookies.get("token") }).done(function (result) {
                Error(result);
                $("#ClienteID").data("kendoComboBox").dataSource.data(result);

            });
        };

        function ObtenerFechasporDefecto() {
            var fechaFinal = new Date();
            var fechainicio = new Date(fechaFinal.getTime() - (7 * 24 * 3600 * 1000));

            if ($("#language").data("kendoDropDownList").value() == "es-MX") {
                format = "dd/MM/yyyy";
            } else {
                format = "MM/dd/yyyy";
            };

            var curr_date0 = fechainicio.getDate();
            var curr_month0 = fechainicio.getMonth() + 1; //Months are zero based
            var curr_year0 = fechainicio.getFullYear();


            var curr_date = fechaFinal.getDate();
            var curr_month = fechaFinal.getMonth() + 1; //Months are zero based
            var curr_year = fechaFinal.getFullYear();


            var fechaInicial = new Date(curr_year0, curr_month0 - 1, curr_date0);
            var fechFinal = new Date(curr_year, curr_month - 1, curr_date);

            var fechaInicialkendo = kendo.parseDate(fechaInicial, format);
            var fechaFinalkendo = kendo.parseDate(fechFinal, format);

            $("#FechaInicial").data("kendoDatePicker").value(fechaInicialkendo);
            $("#FechaFinal").data("kendoDatePicker").value(fechaFinalkendo);
        };

        function Error(data) {
            if (data.ReturnCode) {
                if (data.ReturnCode != 200) {
                    if (data.ReturnCode == 401) {
                        removeUserSession();
                    } else {
                        displayMessage("notificationslabel0009", data.ReturnMessage, '2');
                        return;
                    }
                } else {
                    return true;
                }
            } else {
                return true;
            }
        };


    }

    @section JavascriptDocumentReadyFunctions {
        CargaInicial();
        
    }
</script>