@{
    ViewBag.Title = "EntradaMaterial";
     Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="form-group">
        <label id="EntradaMaterial0003"></label> 
        <input id="FolioEntradaID" class="form-control"/>
    </div>
    <div class="form-group">
        <label id="EntradaMaterial0002"></label> 
        <input id="ProyectoID" class="form-control"/>
    </div>
    <div class="form-group">
        <label id="EntradaMaterial0004"></label> 
        <input id="Estatus" class="form-control"/>
    </div>
    <div id="divPatio" class="form-group" style="display:none">
        <label id="EntradaMaterial0001"></label> 
        <input id="PatioID" />
         <a href='javascript:void(0);' onclick="VentanaModal(4);">Icono</a>
    </div>

    <div class="form-group">
         <label id="EntradaMaterial0005"></label> 
         <input name="files" id="AdjuntarArchivos" type="file"/>
    </div>

    <div class="form-group">
        <label id="EntradaMaterial0006"></label> 
        <input id="Descripcion" class="form-control"/>
    </div>

@*Ventana Modal*@
    <div id="window">
        <div id="modalPatio" style="display:none">
            <div class="form-group">           
                <label id="EntradaMaterial0007"></label> 
                <input id="Nombre_Patio" class="form-control"/>
            </div>
            <div class="form-group">           
                <label id="EntradaMaterial0008"></label> 
                <input id="Propietario_Patio" class="form-control"/>
            </div>
            <div class="form-group">           
                <label id="EntradaMaterial0009"></label> 
                <input id="Descripcion_Patio" class="form-control"/>
            </div>
            <div class="form-group">
                <a id="GuardarPatio" href="javascript:void(0);"  class="btn btn-primary"><label id="EntradaMaterial0010"></label></a>
            </div>
        </div>
    </div>
<script>
  @section JavascriptGlobalVariables {
        //your partial views variables
        var FechaRecepcion;
        var Patio = [];
    };


    @section JavascriptGlobalFunctions {
    function CargaInicial() {
            $("#FolioEntradaID").kendoAutoComplete({
                dataSource: {
                    serverFiltering: false,
                    type: "json",
                    transport: {
                        read: {
                            url: "http://localhost:60960/backendsam/api/DummyFolioEntrada",
                        }
                    }
                },
                dataTextField: "FolioAvisoLlegadaID",
                dataValueField: "Consecutivo",
                select: function (e) {
                    var dataItem = this.dataItem(e.item.index());
                    CargarFolio(dataItem.FolioAvisoLlegadaID);
                },
                filter: "contains"
            });

            $("#PatioID").kendoAutoComplete({
                dataSource: {
                    serverFiltering: false,
                    type: "json",
                    transport: {
                        read: {
                            url: "http://localhost:60960/backendsam/api/DummyPatio",
                        }
                    }
                },
                dataTextField: "Nombre",
                dataValueField: "PatioID",
                select: function (e) {
                    var dataItem = this.dataItem(e.item.index());
                    CargarPatio(dataItem.PatioID, dataItem.Nombre);
                },
                filter: "contains"
            });

            $("#ProyectoID").kendoComboBox({
                dataSource: {
                    serverFiltering: false,
                    type: "json",
                    transport: {
                        read: {
                            url: "http://localhost:60960/backendsam/api/Proyecto",
                        }
                    }
                },
                dataTextField: "value",
                dataValueField: "id",
                filter: "contains",
            });

            $("#Estatus").kendoComboBox({
                dataSource: {
                    serverFiltering: false,
                    type: "json",
                    transport: {
                        read: {
                            url: "http://localhost:60960/backendsam/api/DummyEstatus",
                        }
                    }
                },
                dataTextField: "Nombre",
                dataValueField: "EstatusID",
                select: function (e) {
                    var dataItem = this.dataItem(e.item.index());
                    if(dataItem.Nombre=="En Patio"){
                        $("#divPatio").show();
                    } else
                    {
                        $("#divPatio").hide();
                        $("#PatioID").data("kendoAutoComplete").value("");
                    }
                },
                filter: "contains",
            });


            $('#AdjuntarArchivos').kendoUpload({
                async: {
                    saveUrl: "http://localhost:60960/backendsam/api/DummyFileManager?username=test&token=testt",
                    autoUpload: true,
                    withCredentials: false
                },
                success: function (data) {
                    alert("hola");
                    //Se crea la tabla dinamica con el archivo que  se dio de alta, [id], [Archivo], [Extension]
                    $.each(data, function (index, value) {
                        $("#listaArchivos").append("<tr id='" + value.id + "," + value.Extension + "'><td><a href='javascript:void(0);' onclick='descargarArchivo(" + value.id + ");'>" + value.Archivo + "</a></td><td>" + $("#TipoArchivo").data("kendoComboBox").value() + "</td><td><a href='javascript:void(0);' onclick='borrarArchivo(" + value.id + ",$(this));' >" + "Icono cancelar" + "</a></td></tr>");
                    });
                },
                error: function (data) { },
                upload: onUploadAdjuntarArchivos
            });
    };

        function VentanaModal(id) {

            switch (id) {
                case 1:
                    $("#modalProveedor").hide();
                    $("#modalPatio").hide();
                    $("#modalChofer").hide();
                    $("#modalPlana").hide();
                    $("#modalTransportista").show();
                    break;
                case 2:
                    $("#modalTransportista").hide();
                    $("#modalPatio").hide();
                    $("#modalChofer").hide();
                    $("#modalPlana").hide();
                    $("#modalProveedor").show();
                    break;
                case 3:
                    $("#modalTransportista").hide();
                    $("#modalPatio").hide();
                    $("#modalChofer").hide();
                    $("#modalProveedor").hide();
                    $("#modalPlana").show();
                    break;
                case 4:
                    $("#modalTransportista").hide();
                    $("#modalProveedor").hide();
                    $("#modalChofer").hide();
                    $("#modalPlana").hide();
                    $("#modalPatio").show();
                    break;
                case 5:
                    $("#modalTransportista").hide();
                    $("#modalProveedor").hide();
                    $("#modalPatio").hide();
                    $("#modalPlana").hide();
                    $("#modalChofer").show();
                    break;
            };

            var window = $("#window");
            var win = window.kendoWindow({
                actions: ["Maximize", "Minimize", "Close"],
                modal: true,
                resizable: false,
                visible: false,
                width: "60%",
                height: "50%",
                position: {
                    top: "10%",
                    left: "20%"
                }
            }).data("kendoWindow");
            window.data("kendoWindow").open();
        };

        function CargarPatio(id, value) {
            Patio = [];
            _patio = {};
            _patio["PatioID"] = id;
            _patio["Nombre"] = value;
            Patio.push(_patio);
        };

        function CargarFolio(id) {
            Folio = [];
            _folio = {};
            _folio["FolioAvisoLlegadaID"] = id;
            Folio.push(_folio);
        };

        @*$('#AdjuntarArchivos').kendoUpload({
            async: {
                saveUrl: '@Url.Action("AvisoLlegada", "FileUploadFile")',
                    autoUpload: false
                },
            success: function (data) {
                $("#hdAdjuntarArchivos").val(data.id + ',' + data.Archivo + "," + data.Extension);//Se guarda en un hidden el archivo autorizado
            },
            error: function (data) { },
            upload: onUploadAdjuntarArchivos
        });

        *@
    function onUploadAdjuntarArchivos() {

        };
    };
   
    @section JavascriptDocumentReadyFunctions {
        CargaInicial();
    };
 </script>