@{
    ViewBag.Title = "Listado Llegada de Material";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-10">
            <div class="row">
                <div class="form-group col-sm-12 col-md-6 col-lg-3">
                    <label id="ListadoLlegadaMaterial0001"></label>
                    <input id="PackingListID" class="" />
                </div>
                <div class="form-group col-sm-12 col-md-6 col-lg-3">
                    <label id="ListadoLlegadaMaterial0002"></label>
                    <input id="FolioLlegadaID" class="" />
                </div>
                <div class="form-group col-sm-12 col-md-6 col-lg-3">
                    <label id="ListadoLlegadaMaterial0003"></label>
                    <input id="Placas" class="" />
                </div>
                <div class="form-group col-sm-12 col-md-6 col-lg-3">
                    <label id="ListadoLlegadaMaterial0004"></label>
                    <input id="ChoferID" class="" />
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="row">
                <div class="form-group buttonBar col-sm-6 col-md-6 col-lg-9">
                    <a id="Mostrar" href="javascript:void(0);" class="btn btn-yellow"><span id="ListadoLlegadaMaterial0005"></span></a>
                </div>
                <div class="form-group buttonBar col-sm-6 col-md-6 col-lg-3">
                    <a id="Creacion" href="javascript:void(0);" class="btn btn-primary"></a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div id="grid"></div>
                </div>
            </div>
        </div>

        <div id="window">
            @*Content of the Window*@
        </div>
    </div>
</div>

<script>

    @section JavascriptGlobalVariables 
    {
        var PackingList = [], FolioLlegada = [], Placa = [],
            Chofer = [], resultadoJson;
    }

    @section JavascriptGlobalFunctions 
    {
        function changeLanguageCall() {
            CargarGridLlegadaMaterial();
        };

        function CargarGridLlegadaMaterial() {
            $("#grid").kendoGrid({
                dataSource: {
                    data: resultadoJson,
                    schema: {
                        model: {
                            fields: {
                                FolioLlegadaID: { type: "string" },
                                FolioAvisoLlegadaID: { type: "string" },
                                PackingListID: { type: "string" },
                                Proyecto: { type: "string" },
                                Patio: { type: "string" },
                                Estatus: { type: "string" },
                                EstatusFolioEntrada: { type: "string" },
                                EstatusPackingList: { type: "string" }
                            }
                        }
                    },
                    pageSize: 20,
                    serverPaging: false,
                    serverFiltering: false,
                    serverSorting: false
                },
                autoHeight: true,
                sortable: true,
                scrollable: false,
                filterable: true,
                pageable: {
                    refresh: false,
                    pageSizes: [10, 15, 20],
                    info: false,
                    input: true,
                    numeric: false,
                    messages: {
                        page: "",
                        of: _dictionary.ListadoAvisoLlegada0018[$("#language").data("kendoDropDownList").value()],
                        itemsPerPage: _dictionary.ListadoAvisoLlegada0019[$("#language").data("kendoDropDownList").value()],
                    }
                },
                columns: [
                    { field: "FolioLlegadaID", title: _dictionary.ListadoLlegadaMaterial0007[$("#language").data("kendoDropDownList").value()], filterable: true },
                    { field: "FolioAvisoLlegadaID", title: _dictionary.ListadoLlegadaMaterial0008[$("#language").data("kendoDropDownList").value()], filterable: true },
                    { field: "PackingListID", title: _dictionary.ListadoLlegadaMaterial0009[$("#language").data("kendoDropDownList").value()], filterable: true },
                    { field: "Proyecto", title: _dictionary.ListadoLlegadaMaterial0010[$("#language").data("kendoDropDownList").value()], filterable: true },
                    { field: "Patio", title: _dictionary.ListadoLlegadaMaterial0011[$("#language").data("kendoDropDownList").value()], filterable: true },
                    { field: "Estatus", title: _dictionary.ListadoLlegadaMaterial0012[$("#language").data("kendoDropDownList").value()], filterable: true },
                    { field: "EstatusFolioEntrada", title: _dictionary.ListadoLlegadaMaterial0015[$("#language").data("kendoDropDownList").value()], filterable: true },
                    { field: "EstatusPackingList", title: _dictionary.ListadoLlegadaMaterial0016[$("#language").data("kendoDropDownList").value()], filterable: true },
                    { command: { text: _dictionary.ListadoLlegadaMaterial0017[$("#language").data("kendoDropDownList").value()], click: complemento }, title: " ", width: "40px"},
                    { command: { text: _dictionary.ListadoLlegadaMaterial0018[$("#language").data("kendoDropDownList").value()], click: cuantificacion }, title: " ", width: "40px"},
                    { command: { text: _dictionary.ListadoLlegadaMaterial0013[$("#language").data("kendoDropDownList").value()], click: mostrarDetalle }, title: " ", width: "40px"},
                    { command: { text: _dictionary.ListadoLlegadaMaterial0014[$("#language").data("kendoDropDownList").value()], click: cancelarFolio }, title: " ", width: "40px" }
                ]
            });
        };

            
        function complemento(e) {
            alert("complemento");
        };

        function cuantificacion(e) {
            alert("cuantificacion");
        };

        function mostrarDetalle(e) {
            e.preventDefault();
            var dataItem = $("#grid").data("kendoGrid").dataItem($(e.currentTarget).closest("tr"));
            var FolioLlegadaID = dataItem.FolioLlegadaID
            var FolioAvisoLlegadaID = dataItem.FolioAvisoLlegadaID
            //REDIRECT

            var detalleIdeaUrl = "@Url.Action("DetalleLlegadaMaterial", "EntradaMaterial")";
            window.location.href = detalleIdeaUrl + "?leng=" + $("#language").data("kendoDropDownList").value() + "&folioLlegada=" + FolioLlegadaID + "&folioAvisoLlegada=" + FolioAvisoLlegadaID;
        };

        function cancelarFolio(e) {
                e.preventDefault();
                var dataItem = $("#grid").data("kendoGrid").dataItem($(e.currentTarget).closest("tr"));
                var FolioLlegadaID = dataItem.FolioLlegadaID
                var folioAvisoLlegadaID = dataItem.FolioAvisoLlegadaID
                var dataSource = $("#grid").data("kendoGrid").dataSource;

                if (confirm("Estas seguro de cancelar el folio de entrada?")) {
                    var Client = new $.RestClient('http://localhost:60960' + '/backendsam/api/');
                    Client.add('DummyCancelacionListadoLlegadaMaterial');

                    Client.DummyCancelacionListadoLlegadaMaterial.read({}, { folioavisollegadaid: folioAvisoLlegadaID, foliollegadaid: FolioLlegadaID, username: $.cookie("user"), token: $.cookie("token") }).done(function (data) {
                        console.log("Client.DummyCancelacionListadoLlegadaMaterial.read");
                        if ($("#grid").data("kendoGrid")) {
                            $("#grid").data("kendoGrid").dataSource.data(data);
                        };
                    });
                };
        };

        function CargaInicial() {
            $("#Mostrar").click(function () { Filtros(2); });
            $("#Creacion").click(function (e) {
                var detalleIdeaUrl = "@Url.Action("DetalleLlegadaMaterial", "EntradaMaterial")";
                window.location.href = detalleIdeaUrl + "?leng=" + $("#language").data("kendoDropDownList").value();
            });

            $("#PackingListID").kendoAutoComplete({
                dataSource: {
                    serverFiltering: false,
                    type: "json",
                    transport: {
                        read: {
                            url: "http://localhost:60960/backendsam/api/DummyPackingList",
                        }
                    }
                },
                dataTextField: "PackingListID",
                dataValueField: "Consecutivo",
                select: function (e) {
                    var dataItem = this.dataItem(e.item.index());
                    CargarPackingList(dataItem.PackingListID, dataItem.Consecutivo);
                },
                filter: "contains",
            });
            $("#FolioLlegadaID").kendoAutoComplete({
                dataSource: {
                    serverFiltering: false,
                    type: "json",
                    transport: {
                        read: {
                            url: "http://localhost:60960/backendsam/api/FolioLlegada",
                        }
                    }
                },
                dataTextField: "FolioLlegadaID",
                dataValueField: "Consecutivo",
                select: function (e) {
                    var dataItem = this.dataItem(e.item.index());
                    CargarFolioLlegada(dataItem.FolioLlegadaID, dataItem.Consecutivo);
                },
                filter: "contains",
            });
            $("#Placas").kendoAutoComplete({
                dataSource: {
                    serverFiltering: false,
                    type: "json",
                    transport: {
                        read: {
                            url: "http://localhost:60960/backendsam/api/DummyCamion",
                        }
                    }
                },
                dataTextField: "Placas",
                dataValueField: "CamionID",
                select: function (e) {
                    var dataItem = this.dataItem(e.item.index());
                    CargarPlacas(dataItem.CamionID, dataItem.Placas);
                },
                filter: "contains",
            });
            $("#ChoferID").kendoAutoComplete({
                dataSource: {
                    serverFiltering: false,
                    type: "json",
                    transport: {
                        read: {
                            url: "http://localhost:60960/backendsam/api/Proyecto",
                        }
                    }
                },
                dataTextField: "value",
                dataValueField: "id",
                select: function (e) {
                    var dataItem = this.dataItem(e.item.index());
                    CargarChofer(dataItem.id, dataItem.value);
                },
                filter: "contains",
            });
            Filtros(1);
        };

        function Filtros(prueba)
        {
            ListadoModal = [];
            ListadoModal[0] = { PackingList: "", FolioLlegada: "", Placas: "", Chofer: "" };

            ListadoModal[0].PackingList = PackingList;
            ListadoModal[0].FolioLlegada = FolioLlegada;
            ListadoModal[0].Placas = Placa;
            ListadoModal[0].Chofer = Chofer;

            console.log(JSON.stringify(ListadoModal));

            var Client = new $.RestClient('http://localhost:60960' + '/backendsam/api/');
            Client.add('DummyListadoLlegadaMaterial');

            Client.DummyListadoLlegadaMaterial.read({}, { prueba: prueba, foliollegada: JSON.stringify(ListadoModal), username: $.cookie("user"), token: $.cookie("token") }).done(function (data) {
                console.log(data);
                resultadoJson = data;
                if ($("#grid").data("kendoGrid")) {
                    $("#grid").data("kendoGrid").dataSource.data(resultadoJson);
                };
                
            });
        };

        function CargarPackingList(id, value) {
            PackingList = [];
            _packingList = {};
            _packingList["PackingListID"] = id;
            _packingList["Consecutivo"] = value;
            PackingList.push(_packingList);
        };

        function CargarFolioLlegada(id, value) {
            FolioLlegada = [];
            _folioLlegada = {};
            _folioLlegada["FolioLlegadaID"] = id;
            _folioLlegada["Consecutivo"] = value;
            FolioLlegada.push(_folioLlegada);
        };

        function CargarPlacas(id, value) {
            Placa = [];
            _placa = {};
            _placa["Placas"] = id;
            _placa["CamionID"] = value;
            Placa.push(_placa);
        };
        
        function CargarChofer(id, value) {
            Chofer = [];
            _chofer = {};
            _chofer["ChoferID"] = id;
            _chofer["Nombre"] = value;
            Chofer.push(_chofer);
        };
    }

    @section JavascriptDocumentReadyFunctions 
    {
        CargaInicial();
    }
     
</script>
