
@{
    ViewBag.Title = "Listado Materiales por Item Code";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section breadcrumb {
    <li>
        <a href="@Url.Action("landing", "Home")"><span id="ListadoMaterialesItemCode0018"></span></a>
    </li>
    <li class="active">
        <a href="@Url.Action("ListadoMaterialesItemCode", "ListadoMateriales")"><span id="ListadoMaterialesItemCode0017"></span></a>
    </li>
}

<div id="formaListadoMaterialesItemCode" class="form clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="formNav filtersFields clearfix">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9 filter-section">
                        <div class="row">
                            <div id="PatioDiv" class="col-xs-12 col-sm-6 col-md-5 col-lg-3">
                                <label id="ListadoMaterialesItemCode0001"></label>
                                <input id="PatioID" class="" />
                            </div>
                            <div id="ProyectoDiv" class="col-xs-12 col-sm-6 col-md-5 col-lg-3">
                                <label id="ListadoMaterialesItemCode0002"></label>
                                <input id="ProyectoID" class="" />
                            </div>
                            <div id="MostrarDiv" class="button-section last-button col-xs-12 col-sm-6 col-md-2 col-lg-3">
                                <a id="Mostrar" href="#" class="btn btn-primary"><span id="ListadoMaterialesItemCode0003"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div id="grid"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    @section JavascriptDocumentReadyHomeCookie {
        Cookies.set("home", true, { path: '/' });
        Cookies.set("navegacion", "22", { path: '/' });
    }

    @section JavascriptGlobalVariables {
    var Patio = {}, Proyecto = {}, resultadoJson;

    var $ListadoMaterialesItemCodeModel = {
        listContainer: {
            create: "",
            list: "#grid",
            detail: ".detailLink",
            destroy: ".k-grid-Cancelar"
        },
        properties: {
            patio: {
                visible: "#PatioDiv",
                editable: "#PatioID",
                required: "#PatioID"
            },
            proyecto: {
                visible: "#ProyectoDiv",
                editable: "#ProyectoID",
                required: "#ProyectoID"
            },
            mostrar: {
                visible: "#MostrarDiv",
                editable: "#Mostrar",
                required: "#Mostrar"
            }
            

        }
    };
    }

    @section JavascriptGlobalFunctions {

    //Es la carga inicial del grid para el multilenguaje
    //Funcion: changeLanguageCall
    //Parametros: N/A
    //Return:     N/A
    function changeLanguageCall() {
        CargarGridItemCode();
    }

    //Es la carga inicial de los controles
    //Funcion: cargaInicial
    //Parametros: N/A
    //Return:     N/A
    function cargaInicial() {

        $("#Mostrar").click(function () { Filtros(); });

        $("#PatioID").kendoComboBox({
            dataTextField: "Nombre",
            dataValueField: "PatioID",
            select: function (e) {
                var dataItem = this.dataItem(e.item.index());
                CargarPatio(dataItem.PatioID, dataItem.Nombre);
            },
            change: function (e) {
                var value = this.value();
                LimpiarCamposPatio();
                if (!value || this.selectedIndex == -1) {
                    Patio = {};
                    this.value("");
                } else {
                    ObtenerLosProyectos();
                }
            },
            filter: "contains",
        });
        ObtenerPatio();

        $("#ProyectoID").kendoComboBox({
            dataTextField: "Nombre",
            dataValueField: "ProyectoID",
            select: function (e) {
                var dataItem = this.dataItem(e.item.index());
                CargarProyecto(dataItem.ProyectoID, dataItem.Nombre);
            },
            change: function (e) {
                var value = this.value();
                LimpiarCamposProyecto();
                if (!value || this.selectedIndex == -1) {
                    Proyecto = {};
                    this.value("");
                }
            },
            filter: "contains",
        });

    };

    function LimpiarCamposPatio() {
        Proyecto = {};
        $("#ProyectoID").data("kendoComboBox").value("");
        $("#ProyectoID").data("kendoComboBox").dataSource.data([]);
        $("#grid").data("kendoGrid").dataSource.data([]);
        $("#grid").data("kendoGrid").dataSource.page(0);
    };
    function LimpiarCamposProyecto() {
        $("#grid").data("kendoGrid").dataSource.data([]);
        $("#grid").data("kendoGrid").dataSource.page(0);
    };
    function ObtenerLosProyectos() {
        var Listado = ArregloListado();
        Listado.TipoListado = 23;

        $folioEntradaMaterial.Listado.read({}, { data: JSON.stringify(Listado) }).done(function (result) {
            ControlErroresObjetosComboBox("ProyectoID", result);
        });
    };



    //Es la carga del grid donde especifican las propiedades y columnas
    //Funcion: CargarGridNumeroUnico
    //Parametros: N/A
    //Return:     N/A
    function CargarGridItemCode() {
        $("#grid").kendoGrid({
            dataSource: {
                schema: {
                    model: {
                        fields: {
                            ItemCode: { type: "string" },
                            Descripcion: { type: "string" },
                            D1: { type: "string" },
                            D2: { type: "string" },
                            TipoMaterial: { type: "string" },
                            TotalIngenieria: { type: "string" },
                            TotalRecibido: { type: "string" },
                            OtrasEntradas: { type: "string" },
                            TotalCondicionada: { type: "string" },
                            TotalRechazado: { type: "string" },
                            TotalDanado: { type: "string" },
                            TotalRecibidoNeto: { type: "string" },
                            EntradasDesdeICEquivalente: { type: "string" },
                            SalidasTemporales: { type: "string" },
                            TotalOtrasSalidas: { type: "string" },
                            TotalMermas: { type: "string" },
                            TotalOrdenTrabajo: { type: "string" },
                            DespachadoPorCortarParaICEquivalente: { type: "string" },
                            CortadoParaICEquivalente: { type: "string" },
                            TotalDespachadoPorCortar: { type: "string" },
                            TotalCortado: { type: "string" },
                            DespachadoDesdeICEquivalente: { type: "string" },
                            DespachadoAProduccion: { type: "string" },
                            SalidaParaICEquivalente: { type: "string" },
                            TotalPorDespachar: { type: "string" },
                            TotalFisicoEnAlmacen: { type: "string" },
                            AsignadoParaICEquivalente: { type: "string" },
                            TotalCongelado: { type: "string" },
                            InventarioDisponibleCruce: { type: "string" },
                            DisponibleICEquivalente: { type: "string" },
                            TotalDisponibleParaCruce: { type: "string" },
                        }
                    }
                },
                pageSize: 20,
                serverPaging: false,
                serverFiltering: false,
                serverSorting: false
            },
            autoHeight: true,
            autoBind: true,
            sortable: true,
            scrollable: false,
            filterable: getKendoGridFilterable($("#language").data("kendoDropDownList").value()),
            pageable: {
                refresh: false,
                pageSizes: [10, 15, 20],
                info: false,
                input: false,
                numeric: true,
                buttonCount: 2
            },
            scrollable: true,
            columns: [
                { field: "ItemCode", title: _dictionary.ListadoMaterialesItemCode0004[$("#language").data("kendoDropDownList").value()], filterable: true, width: "150px" },
                { field: "Descripcion", title: _dictionary.ListadoMaterialesItemCode0005[$("#language").data("kendoDropDownList").value()], filterable: true, width: "200px" },
                { field: "D1", title: _dictionary.ListadoMaterialesItemCode0006[$("#language").data("kendoDropDownList").value()], filterable: true, width: "150px" },
                { field: "D2", title: _dictionary.ListadoMaterialesItemCode0007[$("#language").data("kendoDropDownList").value()], filterable: true, width: "150px" },
                { field: "TipoMaterial", title: _dictionary.ListadoMaterialesItemCode0008[$("#language").data("kendoDropDownList").value()], filterable: true, width: "150px" },
                { field: "TotalIngenieria", title: _dictionary.ListadoMaterialesItemCode0019[$("#language").data("kendoDropDownList").value()], filterable: true, width: "200px" },
                { field: "TotalRecibido", title: _dictionary.ListadoMaterialesItemCode0009[$("#language").data("kendoDropDownList").value()], filterable: true, width: "200px" },
                { field: "OtrasEntradas", title: _dictionary.ListadoMaterialesItemCode0010[$("#language").data("kendoDropDownList").value()], filterable: true, width: "200px" },
                { field: "TotalCondicionada", title: _dictionary.ListadoMaterialesItemCode0011[$("#language").data("kendoDropDownList").value()], filterable: true, width: "200px" },
                { field: "TotalRechazado", title: _dictionary.ListadoMaterialesItemCode0012[$("#language").data("kendoDropDownList").value()], filterable: true, width: "200px" },
                { field: "TotalDanado", title: _dictionary.ListadoMaterialesItemCode0020[$("#language").data("kendoDropDownList").value()], filterable: true, width: "200px" },
                { field: "TotalRecibidoNeto", title: _dictionary.ListadoMaterialesItemCode0013[$("#language").data("kendoDropDownList").value()], filterable: true, width: "200px" },
                { field: "EntradasDesdeICEquivalente", title: _dictionary.ListadoMaterialesItemCode0014[$("#language").data("kendoDropDownList").value()], filterable: true, width: "300px" },
                { field: "SalidasTemporales", title: _dictionary.ListadoMaterialesItemCode0015[$("#language").data("kendoDropDownList").value()], filterable: true, width: "200px" },
                { field: "TotalOtrasSalidas", title: _dictionary.ListadoMaterialesItemCode0016[$("#language").data("kendoDropDownList").value()], filterable: true, width: "200px" },
                { field: "TotalMermas", title: _dictionary.ListadoMaterialesItemCode0022[$("#language").data("kendoDropDownList").value()], filterable: true, width: "200px" },
                { field: "TotalOrdenTrabajo", title: _dictionary.ListadoMaterialesItemCode0023[$("#language").data("kendoDropDownList").value()], filterable: true, width: "200px" },
                { field: "DespachadoPorCortarParaICEquivalente", title: _dictionary.ListadoMaterialesItemCode0024[$("#language").data("kendoDropDownList").value()], filterable: true, width: "350px" },
                { field: "CortadoParaICEquivalente", title: _dictionary.ListadoMaterialesItemCode0025[$("#language").data("kendoDropDownList").value()], filterable: true, width: "300px" },
                { field: "TotalDespachadoPorCortar", title: _dictionary.ListadoMaterialesItemCode0026[$("#language").data("kendoDropDownList").value()], filterable: true, width: "300px" },
                { field: "TotalCortado", title: _dictionary.ListadoMaterialesItemCode0027[$("#language").data("kendoDropDownList").value()], filterable: true, width: "200px" },
                { field: "DespachadoDesdeICEquivalente", title: _dictionary.ListadoMaterialesItemCode0028[$("#language").data("kendoDropDownList").value()], filterable: true, width: "300px" },
                { field: "DespachadoAProduccion", title: _dictionary.ListadoMaterialesItemCode0029[$("#language").data("kendoDropDownList").value()], filterable: true, width: "250px" },
                { field: "SalidaParaICEquivalente", title: _dictionary.ListadoMaterialesItemCode0030[$("#language").data("kendoDropDownList").value()], filterable: true, width: "250px" },
                { field: "TotalPorDespachar", title: _dictionary.ListadoMaterialesItemCode0031[$("#language").data("kendoDropDownList").value()], filterable: true, width: "200px" },
                { field: "TotalFisicoEnAlmacen", title: _dictionary.ListadoMaterialesItemCode0032[$("#language").data("kendoDropDownList").value()], filterable: true, width: "250px" },
                { field: "AsignadoParaICEquivalente", title: _dictionary.ListadoMaterialesItemCode0033[$("#language").data("kendoDropDownList").value()], filterable: true, width: "250px" },
                { field: "TotalCongelado", title: _dictionary.ListadoMaterialesItemCode0034[$("#language").data("kendoDropDownList").value()], filterable: true, width: "200px" },
                { field: "InventarioDisponibleCruce", title: _dictionary.ListadoMaterialesItemCode0035[$("#language").data("kendoDropDownList").value()], filterable: true, width: "250px" },
                { field: "DisponibleICEquivalente", title: _dictionary.ListadoMaterialesItemCode0036[$("#language").data("kendoDropDownList").value()], filterable: true, width: "250px" },
                { field: "TotalDisponibleParaCruce", title: _dictionary.ListadoMaterialesItemCode0037[$("#language").data("kendoDropDownList").value()], filterable: true, width: "250px" },
            ],
            dataBound: function (e) {
                $(".k-grid input.k-textbox").prop('readonly', true);
                $(".k-grid td .k-button").text('');
                $(".k-grid td:first-child, .k-grid td:last-child").css('text-overflow', 'clip');
            }
        });
    }



    //Se carga el Patio
    //Funcion: CargarPatio
    //Parametros: id,value
    //Return:     N/A
    function CargarPatio(id, value) {
        Patio = {};
        Patio = { PatioID: id, Nombre: value };
    };

    function CargarProyecto(id, value) {
        Proyecto = {};
        Proyecto = { ProyectoID: id, Nombre: value };
    };

   
    //Se realiza una peticion para obtenr los patios y cargar el combo con los valores
    //Funcion: ObtenerPatio
    //Parametros: N/A
    //Return:     N/A
    function ObtenerPatio() {
        var Listado = ArregloListado();
        Listado.TipoListado = 22;

        $folioEntradaMaterial.Listado.read({ data: JSON.stringify(Listado) }).done(function (result) {
            ControlErroresObjetosComboBox("PatioID", result);
        });
    };

    function ObtenerProyecto() {
        $Proyecto.Proyecto.read({ token: Cookies.get("token") }).done(function (result) {
            ControlErroresObjetosComboBox("ProyectoID", result);
        });
    };
    
    //Se forma un objeto con todos los filtros e indicando cual tab fue seleccionado
    // creados, sin permiso, sin autorizacion,completos
    //Funcion: ObtenerCliente
    //Parametros: accion
    //Return:    Listado
    function ArregloListado() {
        var Listado = { PatioID: "", ProyectoID: "", FolioCuantificacionID: "", FolioPackingListID: "" };

        Listado.PatioID = Patio.PatioID ? Patio.PatioID : -1;
        Listado.ProyectoID = Proyecto.ProyectoID ? Proyecto.ProyectoID : -1;
        Listado.token = Cookies.get("token");
            
        return Listado;
    };

    //Se realiza una peticion para obtener los datos y llenar el grid dependiendo de la accion que se realizo
    // creados, sin permiso, sin autorizacion,completos
    //Funcion: AccionesListado
    //Parametros: accion
    //Return:    N/A
    function AccionesListado() {
        loadingStart();
        var Listado = ArregloListado();

        $ListadoMaterialesPorItemCode.ListadoMaterialesPorItemCode.read({}, { proyectoID: Listado.ProyectoID, token: Listado.token }).done(function (data) {
            if (Error(data)) {
                resultadoJson = data;
                if (!resultadoJson.length) {
                    displayMessage("notificationslabel0055", "", '1');
                    loadingStop();
                    return;
                };

                if ($("#grid").data("kendoGrid")) {
                    if (resultadoJson.length > 0) {
                        $("#grid").data("kendoGrid").dataSource.data(resultadoJson);
                        $("#grid").data("kendoGrid").dataSource.page(1);
                    } else {
                        $("#grid").data("kendoGrid").dataSource.data([]);
                        $("#grid").data("kendoGrid").dataSource.page(0);
                    };
                    applySecurityPolicy(false);
                };
            };
            loadingStop();
        });
    };

    //Se envia la accion a la funcion de acconeslistado donde se forma el objeto con todos los filtros
    //Funcion: Filtros
    //Parametros: N/A
    //Return:    N/A
    function Filtros() {
        if(validarRequeridosFormaListadoMateriales()){
            AccionesListado();
        } else {
            displayMessage("notificationslabel0031", "", '1');
        }
    };

    function validarRequeridosFormaListadoMateriales() {
        var bool = true;
        $("#formaListadoMaterialesItemCode .security_required").each(function (i, elem) {
            if (elem.tagName.toLowerCase() != 'label') {
                if (!$(this).val()) {
                    bool = false;
                    $(this).closest("div").find("label").addClass("error");
                } else {
                    $(this).closest("div").find("label").removeClass("error");
                };
            };
        });
        return bool;
    };

    function Error(data) {
        if (data.ReturnCode) {
            if (data.ReturnCode != 200) {
                if (data.ReturnCode == 401) {
                    removeUserSession();
                    return true;
                } else {
                    displayMessage("notificationslabel0008", data.ReturnMessage, '2');
                    return false;
                }
            } else {
                return true;
            }
        } else {
            return true;
        }
    };


    function ControlErroresObjetosComboBox(control, result) {
        if (Error(result)) {
            $("#" + control).data("kendoComboBox").dataSource.data(result);
        } else {
            $("#" + control).data("kendoComboBox").dataSource.data([]);
        };
    };
    }

    @section JavascriptDocumentReadyFunctions {
        $authorizationModel["Listado Materiales Item Code"] = $ListadoMaterialesItemCodeModel;
        cargaInicial();
        //applySecurity();
    }

</script>

