
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="~/Scripts/AppComponents/TipoJunta/TipoJunta.js"></script>

<h2>Tipo Junta</h2>

<div class="form clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">

            <div id="gridTipoJunta">

            </div>

            <div>
                <br />
            </div>

        </div>
    </div>
</div>

