@{
    ViewBag.Title = "Inspeccion Visual Dimensional";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section breadcrumb {
    <li>
        <a href="@Url.Action("landing", "Home")"><span id="lblInicio"></span></a>
    </li>
    <li>
        <a href="#"><span id="InspeccionBreadCrum"></span></a>
    </li>
    <li class="active">
        <a href=@Url.Action("InspeccionVisualdimensional", "inspeccion")><span id="InspeccionVisualDimensionalBreadCrum"></span></a>
    </li>
}
<div id="FormVisualDimensional" class="form col-xs-12 col-sm-12 col-md-12 col-lg-12">
    @*Menu superior*@
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="formNav clearfix">
                <div class="button-section editButtonSection">
                    <div class="btn-group save-group">
                        <button id="Guardar" onclick="javascript:void(0);" type="button" class="btn btn-yellow accionGuardar"><span id="botonGuardar"></span></button>
                        <button id="dropdown-toggle" type="button" class="btn btn-yellow dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caretWhite"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" id="btnGuardar" class="accionGuardar"><span id="botonGuardar2"></span></a></li>
                            <li><a href="#" id="btnGuardarYNuevo"><span id="botonGuardarYNuevo"></span></a></li>
                        </ul>
                    </div>
                    <a id="btnCancelar" class="btn btn-black"><span id="botonCancelar"></span></a>
                </div>
                <div id="RequisicionDiv" class="button-section">
                    <a id="Requisicion" href=@Url.Action("RequisicionPND","PND") class="btn btn-primary"><span id="botonRequisicionPNDSup"></span></a>
                </div>
                <div class="button-section actionButtonSection">
                    <div class="dropdown action-group">
                        <a id="Acciones" data-target="#" href="#" data-toggle="dropdown" role="button" ariahaspopup="true" aria-expanded="false" class="btn btn-default">
                            <span id="botonAcciones1"></span>
                            <span class="caretBlue"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="Acciones">
                            @*<li><a id="RedirectDashboard" ><span id="DetalleAvisoLlegada0065"></span></a></li>
                                <li><a><span id="DetalleAvisoLlegada0066"></span></a></li>
                                <li><a id="CancelarFolio" href="#"><span id="DetalleAvisoLlegada0083"></span></a></li>*@
                        </ul>
                    </div>
                </div>
                <a id="Imprimir" href="#" class="btn btn-fadeBlue actionButtonSection"></a>
            </div>
        </div>
    </div>
    @*Controles Superior*@

    <div class="row addedSectionInLineWithoutColor"  id="FieldSetView">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h6> <span id="lblInspeccionDimensional"></span></h6>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 altoControl" id="InputIDDiv">
                <label id="lblSpoolID"></label><input type="hidden" id="InspeccionDimensionalID" />
                <input style="width:40%" id="InputOrdenTrabajo" class="item-select general-input" />-<input id="InputID" placeholder="ID" style="width:40%;" />
            </div>

            <div class="col-xs-12 col-sm-1 col-md-12 col-lg-10 altoControl">
                <label id="">&nbsp;</label>
                @*<button type="button" id="btnAgregar" class="btn btn-blue"><span id="botonAgregar"></span></button>*@
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 altoControl">
                <label id="lblResultadoDimensional"></label>
                <input type="radio" name="ResultadoDimensional" class="radio-responsive" style="width:auto;" id="ResultadoDimensional" value="Aprobado" /><span id="lblAprobado"></span>
                <input type="radio" name="ResultadoDimensional" class="radio-responsive" style="width:auto;" value="Rechazado" /><span id="lblRechazado"></span>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 altoControl" id="inputDefectoDiv">
                <label id="lblDefectos"></label>
                <input id="inputDefecto" class="" />
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 altoControl" id="inputInspectorDiv">
                <label id="lblInspectorDimesional"></label>
                <input id="inputInspector" class="" />
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 altoControl" id="FechaInspeccionDiv">
                <label id="lblFechaDimesional"></label>
                <input id="FechaInspeccion" />
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 altoControl" id="listaJuntasDiv">
                <label id="lblJunta"></label>
                <input id="ListaJuntas" onchange="" />
            </div>
        </div>
    </div>

    @*GRID*@
    <div class="row addedSectionInLine">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h6><span id="lblInspeccionVisual"></span></h6>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row" id="FieldSetView2">
                <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2 altoControl" id="inputTallerDiv">
                    <label id="lblTaller"></label>
                    <input id="inputTaller" class="" />
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2" id="ResultadoVisualRadio">
                    <label id="lblResultadoVisual"></label>
                    <input type="radio" name="ResultadoVisual" class="radio-responsive" style="width:auto;" value="Aprobado" /><span id="lblAprobadoVisual"> </span>
                    <input type="radio" name="ResultadoVisual" class="radio-responsive" style="width:auto;" value="Rechazdo" /><span id="lblRechazadoVisual"> </span>
                    <input type="radio" name="ResultadoVisual" class="radio-responsive" style="width:auto;" value="Ninguno" /><span id="lblNinguno"></span>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 altoControl" id="inputDefectosVisualDiv">
                    <label id="">Defectos</label>
                    <input id="inputDefectosVisual" class="" />

                </div>
                <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2 altoControl" id="inputInspectorVisualDiv">
                    <label id="lblInspectorVisual"></label>
                    <input id="inputInspectorVisual" class="" />
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 altoControl" id="inputFechaVisualDiv">
                    <label id="lblFechaVisual"></label>
                    <input id="inputFechaVisual" class="" />
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 altoControl" id="ResultadoLlenadoMasivoRadio">
                    <label id="lblPlanchar"></label>
                    <input type="radio" name="LLena" class="radio-responsive" style="width:auto;" value="Todos" /><span id="lblTodos1"></span>
                    <input type="radio" name="LLena" class="radio-responsive" style="width:auto;" value="Vacios" /><span id="lblVacios"></span>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-1 altoControl" id="divAplicarCapturaRapida" style="top:-30px">
                    <label id="">&nbsp;</label>
                    <button type="button" id="btnAplicarCapturaRapida" class="btn btn-blue"><span id="botonPlanchar"></span></button>
                </div>
            </div>
            </div>
        <div id="ContenedorGrid" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="top:-30px">
            <div id="grid" data-role="grid" class="k-grid k-widget">
            </div>
        </div>

        <input id="hdAccionFiltrado" type="hidden" />
    </div>

    @*Menu Inferior*@
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="formNav clearfix">
                <div class="button-section editButtonSection">
                    <div class="btn-group save-group">
                        <button id="Guardar1" onclick="javascript:void(0);" type="button" class="btn btn-yellow accionGuardar"><span id="botonGuardar1"></span></button>
                        <button id="dropdown-toggle" type="button" class="btn btn-yellow dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caretWhite"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" id="btnGuardar1" class="accionGuardar"><span id="botonGuardar2"></span></a></li>
                            <li><a href="#" id="btnGuardarYNuevo1"><span id="botonGuardarYNuevo1"></span></a></li>
                        </ul>
                    </div>
                    <a id="btnCancelar" class="btn btn-black"><span id="botonCancelar1"></span></a>
                </div>
                <div id="RequisicionDiv" class="button-section">
                    <a id="Requisicion" href=@Url.Action("GenerarRequisicion","ServiciosTecnicos") class="btn btn-primary"><span id="botonRequisicionPNDInf"></span></a>
                </div>
                <div class="button-section actionButtonSection">
                    <div class="dropdown action-group">
                        <a id="Acciones" data-target="#" href="#" data-toggle="dropdown" role="button" ariahaspopup="true" aria-expanded="false" class="btn btn-default">
                            <span id="botonAcciones2"></span>
                            <span class="caretBlue"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="Acciones">
                            @*<li><a id="RedirectDashboard" ><span id="DetalleAvisoLlegada0065"></span></a></li>
                                <li><a><span id="DetalleAvisoLlegada0066"></span></a></li>
                                <li><a id="CancelarFolio" href="#"><span id="DetalleAvisoLlegada0083"></span></a></li>*@
                        </ul>
                    </div>
                </div>
                <a id="Imprimir" href="#" class="btn btn-fadeBlue actionButtonSection"></a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/AppComponents/Inspeccion/InspeccionVisualDimensional/Ajax.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/Inspeccion/InspeccionVisualDimensional/Handlers.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/Inspeccion/InspeccionVisualDimensional/Render.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/Inspeccion/InspeccionVisualDimensional/Captura.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/Inspeccion/InspeccionVisualDimensional/Seguridad.js"></script>

<script>
    @section JavascriptDocumentReadyFunctions {
    $authorizationModel["Visual Dimensional"] = $VisualDimensionalModel;
    }
</script>