@{
    ViewBag.Title = "Visual Dimensional";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section breadcrumb {
    <li>
        <a href="@Url.Action("landing", "Home")"><span id="ListadoLlegadaMaterial0020"></span></a>
    </li>
   
    <li class="active">
        <a href="@Url.Action("", "")"><span id="">Inspeccion visual dimensional</span></a>
    </li>
}
<div id="FormVisualDimensional" class="form clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="form clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="formNav filtersFields clearfix">
                    <div class="row">
                        <div class="col-sm-1 col-md-1 col-lg-1">
                            <button type="button" id="btnGuardar" class="btn btn-yellow"><span id="botonGuardar"></span></button>
                        </div>
                        <div class="col-sm-1 col-md-1 col-lg-1">
                            <button type="button" id="btnCancelar" class="btn btn-black"><span id="botonCancelar"></span></button>
                        </div>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 filter-section">
                            <div class="row">
                                <div class="col-sm-2 col-md-2 col-lg-2">
                                    <label id="DimensionalVisualHeaderSpoolID"></label>
                                    <input style="width:40%" id="InputOrdenTrabajo" class="item-select" />-<input id="InputID" placeholder="ID" style="width:40%;" />
                                </div>
                                <div class="col-sm-2 col-md-2 col-lg-2">
                                    <label id="DimensionalVisualHeaderJunta"></label>
                                    <input id="Junta" class="" />
                                </div>
                                <div class="col-sm-2 col-md-2 col-lg-2">
                                    <label id="">&nbsp;</label>
                                    <button type="button" id="btnAgregar" class="btn btn-blue"><span id="botonAgregar"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="formNav filtersFields clearfix">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 filter-section">
                            <div class="row">
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <label id="DimensionalVisualHeaderResultadoDimesional"></label>
                                    <input type="radio" class="k-radio" name="ResultadoDimensional" id="ResultadoDimensional" style=" width:auto;" value="Aprobado" /><span id="VisualDimensionalAporbado"> </span>
                                    <input type="radio" class="k-radio" name="ResultadoDimensional" style=" width:auto;" value="Rechazdo" /><span id="VisualDimensionalRechazado"> </span>
                                
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <label id="DimensionalVisualHeaderDefectoDimesional"></label>
                                    <input id="inputDefecto" class="" />
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <label id="DimensionalVisualHeaderInspectorDimesional"></label>
                                    <input id="inputInspector" class="" />
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <label id="DimensionalVisualHeaderFechaDimesional"></label>
                                    <input id="FechaInspeccion" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div id="ContenedorGrid" class="row">
                            <div id="grid" data-role="grid" class="k-grid k-widget" >

                            </div>
                        </div>
                    </div>
                </div>
                <div id="window">
                    @*Content of the Window*@
                </div>
            </div>
        </div>
        <input id="hdAccionFiltrado" type="hidden" />
    </div>
</div>
<script type="text/javascript" src="~/Scripts/AppComponents/Inspeccion/Ajax.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/Inspeccion/Handlers.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/Inspeccion/Render.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/Inspeccion/Captura.js"></script>

