
@{
    ViewBag.Title = "PQR";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section breadcrumb {
    <li>
        <a href="@Url.Action("landing", "Home")"><span id="lblInicio"></span></a>
    </li>
    <li>
        <a href="#">Soldadura</a>
    </li>
    <li class="active">
        <a href="@Url.Action("PQR", "PQR")"><span id="PQRMENU"></span></a>
    </li>
}

<div class="form clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="formNav filtersFields clearfix">
                        <div class="row">
                            <div class="col-sm-12 col-md-2 col-lg-2">
                                <div class="button-section">
                                    <button id="AAgregarPQR" type="button" class="btn btn-newArrival btn-yellow"><span id="botonAgregar"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div id="grid" class=""></div>
                </div>
            </div>
        </div>

    </div>
    <div id="windowPQR" style="display: none; z-index:inherit;">
        @Html.Partial("~/Views/EditaPQR/_EditaPQR.cshtml")
    </div>
</div>


<script src="~/Scripts/AppComponents/Catalogos/PQR/Lista/Ajax.js"></script>
<script src="~/Scripts/AppComponents/Catalogos/PQR/Lista/Handlers.js"></script>
<script src="~/Scripts/AppComponents/Catalogos/PQR/Lista/PQR.js"></script>

<script>
    @section JavascriptDocumentReadyFunctions {
    $authorizationModel["Edita PQR"] = $PqrSaveModel;
    }
</script>


