<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <appSettings>
    <add key="Sam.QuequeNotifications" value="FormatName:Direct=OS:DF-APP-SQL-03\Private$\notificaciones" />
    <add key="Sam.QuequeBitacora" value="FormatName:Direct=OS:DF-APP-SQL-03\Private$\bitacora" />
  </appSettings>
</configuration>