<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="SamLogging" connectionString="metadata=res://*/SamLogging.ModelSamLogging.csdl|res://*/SamLogging.ModelSamLogging.ssdl|res://*/SamLogging.ModelSamLogging.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Maftec_05\SQLEXPRESS;initial catalog=steelgo-samlogging;user id=SA;password=maftec05;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SamContext" connectionString="metadata=res://*/Sam3.ModelSam3.csdl|res://*/Sam3.ModelSam3.ssdl|res://*/Sam3.ModelSam3.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Maftec_05\SQLEXPRESS;initial catalog=steelgo-sam3;persist security info=True;user id=SA;password=maftec05;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Sam2Context" connectionString="metadata=res://*/Sam2.ModelSam2.csdl|res://*/Sam2.ModelSam2.ssdl|res://*/Sam2.ModelSam2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Maftec_05\SQLEXPRESS;initial catalog=SAM;persist security info=True;user id=SA;password=maftec05;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="Sam.QuequeNotifications" value="FormatName:Direct=OS:DF-APP-SQL-03\Private$\notificacion" />
    <add key="Sam.QuequeBitacora" value="FormatName:Direct=OS:DF-APP-SQL-03\Private$\bitacora" />
  </appSettings>
</configuration>