<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="SamLogging" connectionString="metadata=res://*/SamLogging.ModelSamLogging.csdl|res://*/SamLogging.ModelSamLogging.ssdl|res://*/SamLogging.ModelSamLogging.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Maftec_05\SQLEXPRESS;initial catalog=steelgo-samlogging;user id=SA;password=maftec05;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SamContext" connectionString="metadata=res://*/Sam3.ModelSam3.csdl|res://*/Sam3.ModelSam3.ssdl|res://*/Sam3.ModelSam3.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Maftec_05\SQLEXPRESS;initial catalog=steelgo-sam3;persist security info=True;user id=SA;password=maftec05;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Sam2Context" connectionString="metadata=res://*/Sam2.ModelSam2.csdl|res://*/Sam2.ModelSam2.ssdl|res://*/Sam2.ModelSam2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Maftec_05\SQLEXPRESS;initial catalog=SAM;persist security info=True;user id=SA;password=maftec05;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    
    <add key="scrKey" value="@~A4;OPi1]Yztz.#1fhz]uqN4=yNAD1Q{WeLNp|bS}(7D3BXX;" />
    <!--<add key="Sam.QuequeNotifications" value="FormatName:Direct=OS:steelgo-db02\private$\notificaciones" />
    <add key="Sam.QuequeBitacora" value="FormatName:Direct=OS:steelgo-db02\private$\bitacora" />
    <add key="Sam.QuequePrueba" value=".\Private$\prueba" />
    <add key="urlTemplates" value="http://localhost:60960/templates/"/>-->
    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>