@{
    ViewBag.Title = "Archivos";
}

<div id="modalArchivo" class="form clearfix popup col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            <div id="Tipo_ArchivoDiv" class="form-group">
                <label id="ListadoCatalogos0014"></label>
                <input id="Tipo_Archivo" class="" />
            </div>
            <div id="seleccionarArchivoDiv" class="form-group">
                <label id="ListadoCatalogos0015"></label>
                <input id="seleccionarArchivo"  type="file" />
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div id="grid"></div>
                </div>
            </div>
            <div class="buttonSave">
                <button id="close" class="btn btn-primary buttonSave">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script>
    @section JavascriptGlobalVariables {
        var $ArchivosModel = {
            listContainer: {
                create: "",
                list: "#grid",
                detail: ".detailLink",
                destroy: ".k-grid-delete"
            },
            properties: {
                tipoarchivo: {
                    visible: "#Tipo_ArchivoDiv",
                    editable: "#Tipo_Archivo",
                    required: "#Tipo_Archivo"
                },
                seleccionararchivo: {
                    visible: "#seleccionarArchivoDiv",
                    editable: "#seleccionarArchivo",
                    required: "#seleccionarArchivo"
                }
            }
        };
    }

    @section JavascriptGlobalFunctions {
    function changeLanguageCall() {
        CargarGrid();
        //$("#language").data("kendoDropDownList").value()
    }

    function CargaInicial() {
        hideElementsArchivos();
        $("#close").on("click", function () {
            window.parent.$("#window").data("kendoWindow").close();
        });

        $('#seleccionarArchivo').kendoUpload({
            async: {
                saveUrl: $DocumentosCatalogos.DocumentosCatalogos.urlNoId + "?CatalogoID=" + window.parent.datosRegistro.catalogo + "&elementoCatalogoID=" + window.parent.datosRegistro.id + "&token=" + Cookies.get("token"),
                autoUpload: false,
                withCredentials: false,
                batch: false
            },
            enabled: false,
            success: function (data) {
                regenerarGrid();
            },
            localization: getKendoUploadLocalization(window.parent.$("#language").data("kendoDropDownList").value()),
            error: function (data) { },
            select: notDotName,
        });

        $("#Tipo_Archivo").kendoDropDownList({
            dataTextField: "Nombre",
            dataValueField: "TipoArchivoID",
            optionLabel: "Selecciona un tipo de archivo",
            dataSource: {
                transport: {
                    read: {
                        dataType: "json",
                        url: $TipoArchivo.TipoArchivo.urlNoId + "?catalogoID=" + window.parent.datosRegistro.catalogo + "&token=" + Cookies.get("token")
                    }
                }
            },
            change: function (e) {
                if ($("#Tipo_Archivo").data("kendoDropDownList").value()) {
                    $("#seleccionarArchivo").data("kendoUpload").options.async.saveUrl = $DocumentosCatalogos.DocumentosCatalogos.urlNoId + "?CatalogoID=" + window.parent.datosRegistro.catalogo + "&elementoCatalogoID=" + window.parent.datosRegistro.id + "&token=" + Cookies.get("token") + "&tipoArchivoID=" + $("#Tipo_Archivo").data("kendoDropDownList").value();
                    $("#seleccionarArchivo").data("kendoUpload").enable();
                } else {
                    $("#seleccionarArchivo").data("kendoUpload").disable();
                }
            }
        });
    };
        

    function CargarGrid() {
        $("#grid").kendoGrid({
            filterable: getKendoGridFilterable($("#language").data("kendoDropDownList").value()),
            columns: [
                { field: "Nombre", title: "Nombre", template: "<a href='#: Url #'>#: Nombre # </a>"},
                { field: "Extencion", title: "Extensión"},
                { field: "TipoArchivo", title: "Tipo de Archivo"},
                { command: "destroy", title: "Borrar", width: "91px" }
            ],
            dataSource: getDataSource(),
            autoHeight: true,
            sortable: false,
            scrollable: false,
            pageable: {
                refresh: false,
                pageSizes: [10, 15, 20],
                info: false,
                input: false,
                numeric: true,
                buttonCount: 2
            },
            remove: function (e) {
                if (e.model.id !== null && e.model.id !== "") {
                    $DocumentosCatalogos.DocumentosCatalogos.destroy({}, { token: Cookies.get("token"), documentoID: e.model.id }).done(regenerarGrid);
                } else {
                    displayMessage("ListadoCatalogos0009", "", '2');
                }
            },
            editable: true,
            dataBound:function(e){
                quickHeadFilter(this);
            }
        })
    };
        function regenerarGrid(){
            var options = $("#grid").data("kendoGrid").options;
            $("#grid").data("kendoGrid").destroy();
            $("#grid").empty().kendoGrid(options);
        }

        function getDataSource(){
            return new kendo.data.DataSource({
                data: [],
                schema: {
                    model: {
                        id: "DocumentoID",
                        fields: {
                            DocumentoID: { type: "number", editable: false, nullable: true },
                            Nombre: { type: "string", validation: { required: false } },
                            Extencion: { type: "string", validation: { required: false } },
                            Url: { type: "string", validation: { required: false } },
                            TipoArchivo: { type: "string", validation: { required: false } },
                        }
                    }
                },
                serverPaging: false,
                serverFiltering: false,
                serverSorting: false,
                pageSize: 20,
                serverPaging: false,
                serverFiltering: false,
                serverSorting: false,
                transport:{
                    read:{
                        url:$DocumentosCatalogos.DocumentosCatalogos.urlNoId+ "?catalogoID="+window.parent.datosRegistro.catalogo+"&elementoCatalogoID="+window.parent.datosRegistro.id+"&token="+Cookies.get("token"),
                        dataType:"json",
                        type:"GET",
                        cache: false
                    },
                    destroy:{
                        dataType:"json",
                        type:"DELETE",
                        cache: false
                    },
                    parameterMap: function(options, operation) {
                        if (operation !== "read" && options.models) {
                            return {models: kendo.stringify(options.models)};
                        }
                    }
                },                    
            })
        }

        function hideElementsArchivos() {
            $(".sidebar").hide();
            $(".logo").hide();
            $(".search-bar").hide();
            $(".notifications").hide();
            $(".logged-user").hide();
            $(".content-container").removeClass("topbar").addClass("printView");
            $(".breadcrumb-container").hide();
            $(".languageSelector").hide();
            $(".pull-right").hide();
            $("header").hide();
            $(".content-frame").removeClass("content-frame");
            $("body").css("background", "#FFFFFF");
        };

    }
    @section JavascriptDocumentReadyFunctions {
        $authorizationModel["Archivos"] = $ArchivosModel;
        CargaInicial();
    }

    @section JavascriptDocumentReadyHomeCookie {
    Cookies.set("home", true, { path: '/' });
    Cookies.set("navegacion", "41", { path: '/' });
    }
   
</script>