@{
    ViewBag.Title = "Item Code";
}

<div id="modalItemCode" class="form clearfix popup col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            <div class="form-ic">
                @* <div id="Proyecto_ItemCodeDiv" class="form-group">
                    <label id="Cuantificacion0055"></label>
                    <input id="Proyecto_ItemCode" class="" />
                </div>
                <div id="TipoMaterial_ItemCodeDiv" class="form-group">
                    <label id="Cuantificacion0056"></label>
                    <input id="TipoMaterial_ItemCode" class="" />
                </div>
                <div id="Colada_ItemCodeDiv" class="form-group">
                    <label id="Cuantificacion0057"></label>
                    <input id="Colada_ItemCode" />
                </div>*@
                <div id="ItemCode_ItemCodeDiv" class="form-group">
                    <label id="Cuantificacion0045"></label>
                    <input id="ItemCode_ItemCode" class="general-input" />
                </div>
                <div id="Descripcion_ItemCodeDiv" class="form-group">
                    <label id="Cuantificacion0046"></label>
                    <input id="Descripcion_ItemCode" class="general-input" />
                </div>
                @*<div id="Familia_ItemCodeDiv" class="form-group">
                    <label id="Cuantificacion0047"></label>
                    <input id="Familia_ItemCode" class="" />
                </div>*@
                <div id="D1_ItemCodeDiv" class="form-group">
                    <label id="Cuantificacion0030"></label>
                    <input id="D1_ItemCode" class="" />
                </div>
                <div id="D2_ItemCodeDiv" class="form-group">
                    <label id="Cuantificacion0031"></label>
                    <input id="D2_ItemCode" class="" />
                </div>
                <div id="TipoPackingList_ItemCodeDiv" class="form-group">
                    <label id="Cuantificacion0100"></label>
                    <input id="TipoPackingList_ItemCode" class="" />
                </div>
            </div>
            <div class="buttonSave">
                <a id="GuardarItemCode" href="#" class="btn btn-primary">
                    <span id="Cuantificacion0048"></span>
                </a>
                <a id="CancelarItemCode" href="#" class="btn btn-primary">
                    <span id="Cuantificacion0049"></span>
                </a>
            </div>
        </div>
    </div>
</div>
<script>
    @section JavascriptGlobalVariables {
    var Todos=false;
    var ProyectoItemCode = {}, TipoPackingListItemCode = {}, ColadaItemCode = {},
        familiaItemCode = {}, D1_ItemCode = {}, D2_ItemCode = {};

    var $ItemCodeModel = {
        listContainer: {
            create: "#GuardarItemCode",
            list: "",
            detail: "",
            destroy: ""
        },
        properties: {
            proyecto: {
                visible: "#Proyecto_ItemCodeDiv",
                editable: "#Proyecto_ItemCode",
                required: "#Proyecto_ItemCode"
            },
            tipomaterial: {
                visible: "#TipoMaterial_ItemCodeDiv",
                editable: "#TipoMaterial_ItemCode",
                required: "#TipoMaterial_ItemCode"
            },
            colada: {
                visible: "#Colada_ItemCodeDiv",
                editable: "#Colada_ItemCode",
                required: "#Colada_ItemCode"
            },
            codigo: {
                visible: "#ItemCode_ItemCodeDiv",
                editable: "#ItemCode_ItemCode",
                required: "#ItemCode_ItemCode"
            },
            descripcion: {
                visible: "#Descripcion_ItemCodeDiv",
                editable: "#Descripcion_ItemCode",
                required: "#Descripcion_ItemCode"
            },
            //familia: {
            //    visible: "#Familia_ItemCodeDiv",
            //    editable: "#Familia_ItemCode",
            //    required: "#Familia_ItemCode"
            //},
            diametro1: {
                visible: "#D1_ItemCodeDiv",
                editable: "#D1_ItemCode",
                required: "#D1_ItemCode"
            },
            diametro2:{
                visible: "#D2_ItemCodeDiv",
                editable: "#D2_ItemCode",
                required: "#D2_ItemCode"
            },
            tipopackinglist:{
                visible: "#TipoPackingList_ItemCodeDiv",
                editable: "#TipoPackingList_ItemCode",
                required: "#TipoPackingList_ItemCode"
            },
        }
    };
    }
    @section JavascriptGlobalFunctions {
    function changeLanguageCall() {
    }
    function CargaInicial() {
        hideElementsItemCode();

        window.parent.$(".k-i-close").click(function (e) {
            CancelarModalItemCode()
        });

        //$("#Proyecto_ItemCode").kendoComboBox({
        //    dataTextField: "Nombre",
        //    dataValueField: "ProyectoID",
        //    select: function (e) {
        //        var dataItem = this.dataItem(e.item.index());
        //        CargarProyectoItemCode(dataItem.ProyectoID, dataItem.Nombre);
        //    },
        //    change: function (e) {
        //        var value = this.value();
        //        if (!value || this.selectedIndex == -1) {
        //            ProyectoItemCode = {};
        //            this.value("");
        //        }
        //    },
        //    filter: "contains",
        //});
        //ObtenerProyecto("Proyecto_ItemCode");

        //$("#TipoMaterial_ItemCode").kendoComboBox({
        //    dataTextField: "Nombre",
        //    dataValueField: "id",
        //    select: function (e) {
        //        var dataItem = this.dataItem(e.item.index());
        //        CargarTipoPackingListItemCode(dataItem.id, dataItem.Nombre);
        //    },
        //    change: function (e) {
        //        var value = this.value();
        //        if (!value || this.selectedIndex == -1) {
        //            TipoPackingListItemCode = {};
        //            this.value("");
        //        }
        //    },
        //    filter: "contains",
        //});
        //obtenerTipoPackingList("TipoMaterial_ItemCode");

        //$("#Colada_ItemCode").kendoComboBox({
        //    dataTextField: "Nombre",
        //    dataValueField: "ColadaID",
        //    select: function (e) {
        //        var dataItem = this.dataItem(e.item.index());
        //        CargarColadaItemCode(dataItem.ColadaID, dataItem.Nombre);
        //    },
        //    change: function (e) {
        //        var value = this.value();
        //        if (!value || this.selectedIndex == -1) {
        //            ColadaItemCode = {};
        //            this.value("");
        //        }
        //    },
        //    filter: "contains",
        //});
        //ObtenerColada("Colada_ItemCode", 0, 0);

        $("#D1_ItemCode").kendoComboBox({
            dataTextField: "value",
            dataValueField: "id",
            select: function (e) {
                
            },
            change: function (e) {
                var dataItem = this.dataItem();
                dataItem!==undefined ? CargarDiametro1(dataItem.id, dataItem.value):CargarDiametro1("", "");
                var value = this.value();
                if (this.selectedIndex == -1) {
                    if ((typeof returnOfSecurityCheck != 'undefined') && (typeof returnOfSecurityCheck["Diametros"] != 'undefined') && (typeof returnOfSecurityCheck["Diametros"]["create"] != 'undefined') && !returnOfSecurityCheck["Diametros"]["create"]) {
                        messageindexKendoCombobox(this);
                        D1_ItemCode = {};
                        this.value("");
                    };
                } else {
                    if (!value) {
                        messageindexKendoCombobox(this);
                        D1_ItemCode = {};
                        this.value("");
                    };
                };
            },
            filter: "contains",
        });
        ObtenerDiametros("D1_ItemCode");

        $("#D1_ItemCode").focusout(function (e) {
            if ((typeof returnOfSecurityCheck != 'undefined') && (typeof returnOfSecurityCheck["Diametros"] != 'undefined') && (typeof returnOfSecurityCheck["Diametros"]["create"] != 'undefined') && returnOfSecurityCheck["Diametros"]["create"]) {
                if (!validaFloat(this.value)) {
                    this.value = "";
                    $("#D1_ItemCode").data("kendoComboBox").value("");
                    displayMessage("notificationslabel0088", 'D1', '1');
                };
            };
        });
        $("#D2_ItemCode").kendoComboBox({
            dataTextField: "value",
            dataValueField: "id",
            select: function (e) {
                
            },
            change: function (e) {
                var dataItem = this.dataItem();
                dataItem!==undefined ? CargarDiametro2(dataItem.id, dataItem.value):CargarDiametro2("", "");
                var value = this.value();
                if (this.selectedIndex == -1) {
                    if ((typeof returnOfSecurityCheck != 'undefined') && (typeof returnOfSecurityCheck["Diametros"] != 'undefined') && (typeof returnOfSecurityCheck["Diametros"]["create"] != 'undefined') && !returnOfSecurityCheck["Diametros"]["create"]) {
                        messageindexKendoCombobox(this);
                        D2_ItemCode = {};
                        this.value("");
                    };
                } else {
                    if (!value) {
                        messageindexKendoCombobox(this);
                        D2_ItemCode = {};
                        this.value("");
                    };
                };
            },
            filter: "contains",
        });
        ObtenerDiametros("D2_ItemCode");


        $("#D2_ItemCode").focusout(function (e) {
            if ((typeof returnOfSecurityCheck != 'undefined') && (typeof returnOfSecurityCheck["Diametros"] != 'undefined') && (typeof returnOfSecurityCheck["Diametros"]["create"] != 'undefined') && returnOfSecurityCheck["Diametros"]["create"]) {
                if (!validaFloat(this.value)) {
                    this.value = "";
                    $("#D2_ItemCode").data("kendoComboBox").value("");
                    displayMessage("notificationslabel0088", 'D2', '1');
                };
            };
        });

        //$("#Familia_ItemCode").kendoComboBox({
        //    dataTextField: "Nombre",
        //    dataValueField: "FamiliaAceroID",
        //    select: function (e) {
                
        //    },
        //    change: function (e) {
        //        var dataItem = $("#Familia_ItemCode").data("kendoComboBox").dataSource.at($("#Familia_ItemCode").data("kendoComboBox").select());
        //        CargarFamiliaItemCode(dataItem.FamiliaAceroID);
        //        var value = this.value();
        //        if (!value || this.selectedIndex == -1) {
        //            messageindexKendoCombobox(this);
        //            familiaItemCode = {};
        //            this.value("");
        //        };
        //    },
        //    filter: "contains",
        //});
        //ObtenerFamiliaItemCode();

        $("#GuardarItemCode").click(function () {
            if (validarRequeridosModalItemCode()) {
                GuardarItemCode();
            } else {
                displayMessage("notificationslabel0031", "", '1');
            }
        });

        $("#CancelarItemCode").click(function () { CancelarModalItemCode(); });
    };
    function hideElementsItemCode() {
        $(".sidebar").hide();
        $(".logo").hide();
        $(".search-bar").hide();
        $(".notifications").hide();
        $(".logged-user").hide();
        $(".content-container").removeClass("topbar").addClass("printView");
        $(".breadcrumb-container").hide();
        $(".languageSelector").hide();
        $(".pull-right").hide();
        $("header").hide();
        $(".content-frame").removeClass("content-frame");
        $("body").css("background", "#FFFFFF");
    };
    function CargarProyectoItemCode(id, value) {
        ProyectoItemCode = {};
        ProyectoItemCode = { ProyectoID: id, Nombre: value };
    };

    function CargarTipoPackingListItemCode(id, value) {
        TipoPackingListItemCode = {};
        TipoPackingListItemCode = { TipoPackingListID: id, Nombre: value };
    };
    function CargarColadaItemCode(id, value) {
        ColadaItemCode = {};
        ColadaItemCode = { ColadaID: id, Nombre: value };
    };

    function CargarDiametro1(id, value) {
        D1_ItemCode = {};
        D1_ItemCode = { Diametro1ID: id, Valor: value };
    };

    function CargarDiametro2(id,value) {
        D2_ItemCode = {};
        D2_ItemCode = { Diametro2ID: id, Valor: value };
    };

    //function CargarFamiliaItemCode(id) {
    //    familiaItemCode = {};
    //    familiaItemCode = { FamiliaID: id };
    //};

    function ObtenerProyecto(id) {
        $Proyecto.Proyecto.read({ token: Cookies.get("token") }).done(function (result) {
            ControlErroresObjetosComboBox(id, result);
        });
    };

    function obtenerTipoPackingList(id) {
        $TipoPackingList.TipoPackingList.read({ token: Cookies.get("token") }).done(function (result) {
            ControlErroresObjetosComboBox(id, result);
        });
    };

    function ObtenerColada(id, opciones, mostrarOpcion) {
        $Colada.Colada.read({ token: Cookies.get("token"), id: opciones, mostrarOpcion: mostrarOpcion }).done(function (result) {
            ControlErroresObjetosComboBox(id, result);
        });
    };

    //function ObtenerFamiliaItemCode() {
    //    $Familia.Familia.read({ token: Cookies.get("token") }).done(function (result) {
    //        ControlErroresObjetosComboBox("Familia_ItemCode", result);
    //    });
    //};
    function ObtenerDiametros(id) {
        $Diametros.Diametros.read({ token: Cookies.get("token") }).done(function (result) {
            ControlErroresObjetosComboBox(id, result);
        });
    };
    function validarRequeridosModalItemCode() {
        var bool = true;
        $("#modalItemCode .security_required").each(function (i, elem) {
            if (elem.tagName.toLowerCase() != 'label') {
                if (!$(this).val()) {
                    bool = false;
                    $(this).closest("div").find("label").addClass("error");
                    $(this).closest("div").addClass("clearfix");
                } else {
                    $(this).closest("div").find("label").removeClass("error");
                    $(this).closest("div").removeClass("clearfix");
                };
            };
        });
        return bool;
    };

    function cerrarVentanaModal() {
        window.parent.$("#window").data("kendoWindow").close();
        cleanDisplayMessage();
    };

    function LimpiarModalItemCode() {
        $("#ItemCode_ItemCode").val("");
        $("#Descripcion_ItemCode").val("");
        //$("#Familia_ItemCode").data("kendoComboBox").value("");
        $("#D1_ItemCode").data("kendoComboBox").value("");
        $("#D2_ItemCode").data("kendoComboBox").value("");
        //$("#Proyecto_ItemCode").data("kendoComboBox").value("");
        //$("#TipoMaterial_ItemCode").data("kendoComboBox").value("");
        //$("#Colada_ItemCode").data("kendoComboBox").value("");

        //familiaItemCode = {};
        ProyectoItemCode = {};
        TipoPackingListItemCode = {};
        ColadaItemCode = {};
        D1_ItemCode = {};
        D2_ItemCode = {};
    };

    function GuardarItemCode() {
        //loadingStart();
        ItemCode = { ProyectoID: "", TipoPackingList: "", ColadaID: "", ItemCode: "", Descripcion: "", FamiliaID: "", Diametro1: "", Diametro2: "",Diametro1ID:"",Diametro2ID:"" };
        ItemCode.ProyectoID = window.parent.Proyecto.ProyectoID;
        //ItemCode.TipoPackingList = window.parent.TipoPackingList.TipoPackingListID;
        ItemCode.TipoPackingList = !Todos ? window.parent.TipoPackingList.TipoPackingListID : $("#TipoPackingList_ItemCode").data("kendoComboBox").value();
        ItemCode.ColadaID = 1;
        ItemCode.ItemCode = $("#ItemCode_ItemCode").val();
        ItemCode.Descripcion = $("#Descripcion_ItemCode").val();
        //ItemCode.FamiliaID = !familiaItemCode.FamiliaID ? "-1" : familiaItemCode.FamiliaID;
        ItemCode.TipoUsoID = window.parent.TipoUso.TipoUsoID;
        ItemCode.Diametro1ID = D1_ItemCode.Diametro1ID ? D1_ItemCode.Diametro1ID : "0";
        ItemCode.Diametro2ID = D2_ItemCode.Diametro2ID ? D2_ItemCode.Diametro2ID : "0";
        ItemCode.Diametro1 = D1_ItemCode.Valor ? D1_ItemCode.Valor : $("#D1_ItemCode").data("kendoComboBox").value();
        ItemCode.Diametro2 = D2_ItemCode.Valor ? D2_ItemCode.Valor : $("#D2_ItemCode").data("kendoComboBox").value();

        //console.log(JSON.stringify(ItemCode))
        $ItemCode.ItemCode.create({}, { data: JSON.stringify(ItemCode), token: Cookies.get("token") }).done(function (data) {
            LimpiarModalItemCode();
            if (Error(data)) {
                cerrarVentanaModal();
            };
            //loadingStop();
        });

    };

    function cancelarvalidacionRequeridosModalItemCode() {
        $("#modalItemCode .security_required").each(function (i, elem) {
            if (elem.tagName.toLowerCase() != 'label') {
                $(this).closest("div").find("label").removeClass("error");
                $(this).closest("div").removeClass("clearfix");
            };
        });
    };

    function CancelarModalItemCode() {
        LimpiarModalItemCode();
        cerrarVentanaModal();
        cancelarvalidacionRequeridosModalItemCode();
    };

    function ControlErroresObjetosComboBox(control, result) {
        if (Error(result)) {
            $("#" + control).data("kendoComboBox").dataSource.data(result);
        } else {
            $("#" + control).data("kendoComboBox").dataSource.data([]);
        };
    };

    }
    @section JavascriptDocumentReadyFunctions {
    $authorizationModel["Item Code"] = $ItemCodeModel;
    
    CargaInicial();

    $("#language").data("kendoDropDownList").select(_languageOrder[window.parent.$("#language").data("kendoDropDownList").value()]);
    $("#language").data("kendoDropDownList").trigger("change");
    if(!window.parent.$("#TipoPackingListID").parent().is(":visible")){
        $("#TipoPackingList_ItemCode").kendoComboBox({
            dataSource:{
                transport:{
                    read:{
                        url:$TipoPackingList.TipoPackingList.urlNoId+"?token="+Cookies.get("token"),
                        type:"GET",
                        dataType:"json",
                    }
                },
                requestEnd:function(e){
                    Error(e.response);
                }
            },
            dataTextField: "Nombre",
            dataValueField: "id",
        });
        //$("#TipoPackingList_ItemCode").data("kendoComboBox").dataSource.data(window.parent.$tipoPL);
        Todos=true;
    }else{
        $("#TipoPackingList_ItemCode").parent().remove();
    }
    applySecurityPolicy(false);
    }
    @section JavascriptDocumentReadyHomeCookie {
    //Cookies.set("home", true, { path: '/' });
    //Cookies.set("navegacion", "35", { path: '/' });
    }
</script>
