@{
    ViewBag.Title = "Listado Incidencias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section breadcrumb {
    <li>
        <a href="@Url.Action("landing", "Home")"><span id="ListadoIncidencias0001"></span></a>
    </li>
    <li class="active">
        <a href="@Url.Action("ListadoIncidencias", "Incidencias")"><span id="ListadoIncidencias0002"></span></a>
    </li>
}

<div class="form clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="formNav filtersFields clearfix">
                <div class="row">
                    <div class="col-xs-12 col-sm-3 col-md-4 col-lg-3 longButton">
                        <div class="button-section">
                            <button id="Nuevo" type="button" class="btn btn-newArrival btn-yellow"><span id="ListadoIncidencias0003"></span></button>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-9 col-md-8 col-lg-9 filter-section">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                                <label id="ListadoIncidencias0004"></label>
                                <input id="ClienteID" class="" />
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                                <label id="ListadoIncidencias0005"></label>
                                <input id="ProyectoID" class="" />
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                                <label id="ListadoIncidencias0006"></label>
                                <input id="FechaInicial" class="" />
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                                <label id="ListadoIncidencias0007"></label>
                                <input id="FechaFinal" class="" />
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                                <label id="ListadoIncidencias0014"></label>
                                <input id="PeriodoTiempo" class="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 listado">
            <div class="row">
                <div id="filterContainer" class="quick-filters col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="clearfix">
                        <input id="FolioID" class="quickFilters general-input" />
                        <input id="Clasificacion" class="quickFilters general-input" />
                        <input id="TipoIncidencia" class="quickFilters general-input" />
                        <input id="Estatus" class="quickFilters general-input" />
                        <input id="RegistradoPor" class="quickFilters general-input" />
                        <input id="FechaRegistro" class="quickFilters general-input" />
                    </div>
                </div>
            </div>
            <div id="grid"></div>
        </div>
    </div>
</div>
<script>
    @section JavascriptGlobalVariables 
    {
    var Cliente = {}, Proyecto = {}, FechaInicial, FechaFinal, resultadoJson,
        PeriodoTiempo = {};
    var _IncidenciasUrl = "@Url.Action("Incidencias", "Incidencias")";
    var $ListadoIncidenciasModel = {
        listContainer: {
            create: ".button-section",
            list: ".listado",
            detail: ".detailLink",
            destroy: ".k-grid-Cancelar"
        },
    };
    }

    @section JavascriptGlobalFunctions 
    {
        function changeLanguageCall() {
            var tmp = removeGrid($("#grid"));
            cargarInicialGrid();
            $("#grid").data("kendoGrid").dataSource.data(tmp);
            createPeriodoTiempo();
    };
    function changeDatePickerDateFormat(datePickerOptions) {
        FechaInicial.setOptions(datePickerOptions);
        FechaFinal.setOptions(datePickerOptions);
    };

    

    function CargaInicial() {

        $("#FolioID").val("");
        $("#Clasificacion").val("");
        $("#TipoIncidencia").val("");
        $("#Estatus").val("");
        $("#RegistradoPor").val("");
        $("#FechaRegistro").val("");

        $("#FolioID").keyup(function () {
            var ds = $("#grid").data("kendoGrid").dataSource;
            ds.filter([
                {
                    "field": "FolioIncidenciaID",
                    "operator": "Contains",
                    "value": this.value
                }
            ]);
            if(!$("#FolioID").val().length){ $("#FolioID").parent().children("a.k-state-active").removeClass("k-state-active");}
            $("#FolioID").focus();
        });

        $("#Clasificacion").keyup(function () {
            var ds = $("#grid").data("kendoGrid").dataSource;
            ds.filter([
                {
                    "field": "Clasificacion",
                    "operator": "Contains",
                    "value": this.value
                }
            ]);
            if(!$("#Clasificacion").val().length){ $("#Clasificacion").parent().children("a.k-state-active").removeClass("k-state-active");}
            $("#Clasificacion").focus();
        });

        $("#TipoIncidencia").keyup(function () {
            var ds = $("#grid").data("kendoGrid").dataSource;
            ds.filter([
                {
                    "field": "TipoIncidencia",
                    "operator": "Contains",
                    "value": this.value
                }
            ]);
            if(!$("#TipoIncidencia").val().length){ $("#TipoIncidencia").parent().children("a.k-state-active").removeClass("k-state-active");}
            $("#TipoIncidencia").focus();
        });

        $("#Estatus").keyup(function () {
            var ds = $("#grid").data("kendoGrid").dataSource;
            ds.filter([
                {
                    "field": "Estatus",
                    "operator": "Contains",
                    "value": this.value
                }
            ]);
            if(!$("#Estatus").val().length){ $("#Estatus").parent().children("a.k-state-active").removeClass("k-state-active");}
            $("#Estatus").focus();
        });

        $("#RegistradoPor").keyup(function () {
            var ds = $("#grid").data("kendoGrid").dataSource;
            ds.filter([
                {
                    "field": "RegistradoPor",
                    "operator": "Contains",
                    "value": this.value
                }
            ]);
            if(!$("#RegistradoPor").val().length){ $("#RegistradoPor").parent().children("a.k-state-active").removeClass("k-state-active");}
            $("#RegistradoPor").focus();
        });

        $("#FechaRegistro").keyup(function () {
            var ds = $("#grid").data("kendoGrid").dataSource;
            ds.filter([
                {
                    "field": "FechaRegistro",
                    "operator": "Contains",
                    "value": this.value
                }
            ]);
            if(!$("#FechaRegistro").val().length){ $("#FechaRegistro").parent().children("a.k-state-active").removeClass("k-state-active");}
            $("#FechaRegistro").focus();
        });

        $("#Nuevo").click(function () {
            window.location.href = _IncidenciasUrl + "?leng=" + $("#language").data("kendoDropDownList").value();
        });

        $("#ClienteID").kendoComboBox({
            dataTextField: "Nombre",
            dataValueField: "ClienteID",
            select: function (e) {
            },
            change: function (e) {
                var dataItem = this.dataItem();
                dataItem!==undefined ? CargarCliente(dataItem.ClienteID, dataItem.Nombre):CargarCliente("", "");
                var value = this.value();
                if (!value || this.selectedIndex == -1) {
                    messageindexKendoCombobox(this);
                    Cliente = {};
                    this.value("");
                }
                Filtros();
            },
            filter: "contains",
        });
        ObtenerCliente();

        $("#ProyectoID").kendoComboBox({
            dataTextField: "Nombre",
            dataValueField: "ProyectoID",
            select: function (e) {
            },
            change: function (e) {
                var dataItem = this.dataItem();
                dataItem!==undefined ? CargarProyecto(dataItem.ProyectoID, dataItem.Nombre):CargarProyecto("", "");
                var value = this.value();

                if (!value || this.selectedIndex == -1) {
                    messageindexKendoCombobox(this);
                    Proyecto = {};
                    this.value("");
                }
                Filtros();
            },
            filter: "contains",
        });

        ObtenerProyecto();

        FechaInicial = new kendo.ui.DatePicker($("#FechaInicial"));
        FechaFinal = new kendo.ui.DatePicker($("#FechaFinal"));

        $("#FechaInicial").bind("change", function () {
            if (!$("#FechaInicial").data("kendoDatePicker").value() && this.value!=="") {
                $("#FechaInicial").css("color","#EB4D50");
                displayMessage("notificationslabel0082","","2")
            }else{
                $("#FechaInicial").attr("style","");
                Filtros();
            }
        });

        $("#FechaFinal").bind("change", function () {
            if (!$("#FechaFinal").data("kendoDatePicker").value() && this.value!=="") {
                $("#FechaFinal").css("color","#EB4D50");
                displayMessage("notificationslabel0082","","2")
            }else{
                $("#FechaFinal").attr("style","");
                Filtros();
            }
        });

        $("#PeriodoTiempo").kendoComboBox({});

        ObtenerFechasporDefecto();
        Filtros();
    };

    function cargarInicialGrid() {
         $("#grid").kendoGrid({
            dataSource: {
                data: resultadoJson,
                schema: {
                    model: {
                        fields: {
                            FolioConfiguracionIncidencia: { type: "string" },
                            FolioIncidenciaID: { type: "string" },
                            Clasificacion: { type: "string" },
                            TipoIncidencia: { type: "string" },
                            Estatus: { type: "string" },
                            RegistradoPor: { type: "string" },
                            FechaRegistro: { type: "date" }
                        }
                    }
                },
                serverPaging: false,
                serverFiltering: false,
                serverSorting: false,
                pageSize: 20,
                serverPaging: false,
                serverFiltering: false,
                serverSorting: false
            },
            autoHeight: true,
            sortable: true,
            scrollable: false,
            filterable: getKendoGridFilterable($("#language").data("kendoDropDownList").value()),
            pageable: {
                refresh: false,
                pageSizes: [10, 15, 20],
                info: false,
                input: false,
                numeric: true,
                buttonCount: 2
            },
            columns: [
                { field: "FolioConfiguracionIncidencia", title: _dictionary.ListadoIncidencias0008[$("#language").data("kendoDropDownList").value()], template: "<a class='detailLink' onclick='mostrarDetalle(#:FolioIncidenciaID#)'>#:FolioConfiguracionIncidencia#</a>" },
                { field: "Clasificacion", title: _dictionary.ListadoIncidencias0009[$("#language").data("kendoDropDownList").value()] },
                { field: "TipoIncidencia", title: _dictionary.ListadoIncidencias0010[$("#language").data("kendoDropDownList").value()] },
                { field: "Estatus", title: _dictionary.ListadoIncidencias0011[$("#language").data("kendoDropDownList").value()] },
                { field: "RegistradoPor", title: _dictionary.ListadoIncidencias0012[$("#language").data("kendoDropDownList").value()] },
                { field: "FechaRegistro", title: _dictionary.ListadoIncidencias0013[$("#language").data("kendoDropDownList").value()], format: "{0:dd/MM/yyyy}", },
                { field: "FolioIncidenciaID", title: _dictionary.ListadoIncidencias0008[$("#language").data("kendoDropDownList").value()], template: "<a class='detailLink' onclick='mostrarDetalle(#:FolioIncidenciaID#)'>#:FolioIncidenciaID#</a>", hidden:true },
            ],
            dataBound: function (e) {
                //$(".k-grid input.k-textbox").prop('readonly', true);
                //$(".k-grid td .k-button").text('');
                //$(".k-grid td:first-child, .k-grid td:last-child").css('text-overflow', 'clip');

                //$("th[data-field='FolioConfiguracionIncidencia']").append($("#FolioID"));
                //$("th[data-field='Clasificacion']").append($("#Clasificacion"));
                //$("th[data-field='TipoIncidencia']").append($("#TipoIncidencia"));
                //$("th[data-field='Estatus']").append($("#Estatus"));
                //$("th[data-field='RegistradoPor']").append($("#RegistradoPor"));
                //$("th[data-field='FechaRegistro']").append($("#FechaRegistro"));

                //$("#FolioID").click(function( event ) {event.stopPropagation();});
                //$("#Clasificacion").click(function( event ) {event.stopPropagation();});
                //$("#TipoIncidencia").click(function( event ) {event.stopPropagation();});
                //$("#Estatus").click(function( event ) {event.stopPropagation();});
                //$("#RegistradoPor").click(function( event ) {event.stopPropagation();});
                //$("#FechaRegistro").click(function( event ) {event.stopPropagation();});
                checkTH($("#grid").data("kendoGrid"))
                quickHeadFilter($("#grid").data("kendoGrid"));
            }
         });
    };

    function createPeriodoTiempo() {
        $("#PeriodoTiempo").kendoComboBox({
            dataTextField: "Periodo",
            dataValueField: "PeriodoID",
            dataSource: [
                { "PeriodoID": "1", "Periodo": _dictionary.ListadoIncidencias0015[$("#language").data("kendoDropDownList").value()] },
                { "PeriodoID": "2", "Periodo": _dictionary.ListadoIncidencias0016[$("#language").data("kendoDropDownList").value()] },
                { "PeriodoID": "3", "Periodo": _dictionary.ListadoIncidencias0017[$("#language").data("kendoDropDownList").value()] },
                { "PeriodoID": "4", "Periodo": _dictionary.ListadoIncidencias0018[$("#language").data("kendoDropDownList").value()] },
                { "PeriodoID": "5", "Periodo": _dictionary.ListadoIncidencias0019[$("#language").data("kendoDropDownList").value()] }
            ],
            select: function (e) {
            },
            change: function (e) {
                var dataItem = this.dataItem();
                dataItem!==undefined ? CargarPeriodoTiempo(dataItem.PeriodoID):CargarPeriodoTiempo("");
                var value = this.value();

                if (!value || this.selectedIndex == -1) {
                    messageindexKendoCombobox(this);
                    PeriodoTiempo = [];
                    this.value("");
                }
                ObtenerFechasporPeriodo(value);
                Filtros();
            },
            filter: "contains",
        });
    };

    function ObtenerFechasporPeriodo(id) {
        if ($("#language").data("kendoDropDownList").value() == "es-MX") {
            format = "dd/MM/yyyy";
        } else {
            format = "MM/dd/yyyy";
        }


        var fechaInicio = FechaFinal.value();
        var fechaFin = FechaFinal.value();

        if (!fechaInicio) {
            var todayInicio = new Date();
            var curr_dateInicio = todayInicio.getDate();
            var curr_monthInicio = todayInicio.getMonth() + 1;
            var curr_yearInicio = todayInicio.getFullYear();

            var todayInicial = new Date(curr_yearInicio, curr_monthInicio - 1, curr_dateInicio);
            fechaInicio = kendo.parseDate(todayInicial, format);
        }

        if (!fechaFin) {
            var todayFinal = new Date();
            var curr_dateFinal = todayFinal.getDate();
            var curr_monthFinal = todayFinal.getMonth() + 1;
            var curr_yearFinal = todayFinal.getFullYear();

            var todayFinal = new Date(curr_yearFinal, curr_monthFinal - 1, curr_dateFinal);
            fechaFin = kendo.parseDate(todayFinal, format);
        }

        
        var curr_date = fechaFin.getDate();
        var curr_month = fechaFin.getMonth() + 1;
        var curr_year = fechaFin.getFullYear();

        var fechaFinal = new Date(curr_year, curr_month - 1, curr_date);
        var fechaFinalkendo = kendo.parseDate(fechaFinal, format);

        switch (parseInt(id)) {
            case 1: //Semana Actual
                fechaInicio.setDate(fechaInicio.getDate() - 7);
                break;
            case 2: //Dos Semanas
                fechaInicio.setDate(fechaInicio.getDate() - 14);
                break;
            case 3: //Mes
                fechaInicio.setMonth(fechaInicio.getMonth() - 1);
                break;
            case 4: //Trimestre
                fechaInicio.setMonth(fechaInicio.getMonth() - 3);
                break;
            case 5: //Año
                fechaInicio.setFullYear(fechaInicio.getFullYear() - 1);
                break;
            default:
                fechaInicio.setDate(fechaInicio.getDate() - 7);
                break;
        }

        var curr_date0 = fechaInicio.getDate();
        var curr_month0 = fechaInicio.getMonth() + 1;
        var curr_year0 = fechaInicio.getFullYear();

        var fechaInicial = new Date(curr_year0, curr_month0 - 1, curr_date0);

        var fechaInicialkendo = kendo.parseDate(fechaInicial, format);

        $("#FechaInicial").data("kendoDatePicker").value(fechaInicialkendo);
        $("#FechaFinal").data("kendoDatePicker").value(fechaFinalkendo);
    };

    function ObtenerFechasporDefecto() {
        var fechaFinal = new Date();
        var fechainicio = new Date(fechaFinal.getTime() - (7 * 24 * 3600 * 1000));

        if ($("#language").data("kendoDropDownList").value() == "es-MX") {
            format = "dd/MM/yyyy";
        } else {
            format = "MM/dd/yyyy";
        };

        var curr_date0 = fechainicio.getDate();
        var curr_month0 = fechainicio.getMonth() + 1; //Months are zero based
        var curr_year0 = fechainicio.getFullYear();


        var curr_date = fechaFinal.getDate();
        var curr_month = fechaFinal.getMonth() + 1; //Months are zero based
        var curr_year = fechaFinal.getFullYear();


        var fechaInicial = new Date(curr_year0, curr_month0 - 1, curr_date0);
        var fechFinal = new Date(curr_year, curr_month - 1, curr_date);

        var fechaInicialkendo = kendo.parseDate(fechaInicial, format);
        var fechaFinalkendo = kendo.parseDate(fechFinal, format);

        $("#FechaInicial").data("kendoDatePicker").value(fechaInicialkendo);
        $("#FechaFinal").data("kendoDatePicker").value(fechaFinalkendo);
    };

    function CargarCliente(id, value) {
        Cliente = {};
        Cliente = { ClienteID: id };
    };

    function CargarProyecto(id, value) {
        Proyecto = {};
        Proyecto = { ProyectoID: id, Nombre: value };
    };

    function CargarPeriodoTiempo(id) {
        PeriodoTiempo = {};
        PeriodoTiempo = { PeriodoTiempo: id };
    };

    function ObtenerProyecto() {
        $Proyecto.Proyecto.read({ token: Cookies.get("token") }).done(function (result) {
            ControlErroresObjetosComboBox("ProyectoID", result);
        });
    };

    function ObtenerCliente() {
        $Cliente.Cliente.read({ token: Cookies.get("token") }).done(function (result) {
            ControlErroresObjetosComboBox("ClienteID", result);
        });
    };
 
    function mostrarDetalle(FolioIncidenciaID) {
        if ((typeof returnOfSecurityCheck != 'undefined') && (typeof returnOfSecurityCheck["Incidencias"] != 'undefined') && (typeof returnOfSecurityCheck["Incidencias"]["detail"] != 'undefined') && returnOfSecurityCheck["Incidencias"]["detail"]) {
            window.location.href = _IncidenciasUrl + "?leng=" + $("#language").data("kendoDropDownList").value() + "&FolioIncidenciaID=" + FolioIncidenciaID + "&Edicion=1";
        }
    };
    

    function Filtros() {
        var Listado;
        AccionesListado();
    };

    function AccionesListado() {
        //loadingStart();
        var Listado;
        Listado = ArregloListado();

        $folioEntradaMaterial.Listado.read({  data: JSON.stringify(Listado) }).done(function (data) {
            if (Error(data)) {
                resultadoJson = data;
                if ($("#grid").data("kendoGrid")) {
                    if (resultadoJson.length > 0) {
                        $("#grid").data("kendoGrid").dataSource.data(resultadoJson);
                        $("#grid").data("kendoGrid").dataSource.page(1);
                    } else {
                        $("#grid").data("kendoGrid").dataSource.data([]);
                        $("#grid").data("kendoGrid").dataSource.page(0);
                    };
                    AsignarPaginaActualCookie();
                    applySecurityPolicy(false);
                };
            };
            //loadingStop();
        });
    };

    function AsignarPaginaActualCookie() {
        Cookies.set("navegacion", "43", { path: '/' });
    }
    function ArregloListado(accion) {
        var Listado;
        Listado = { ProyectoID: "", ClienteID: "", FechaInicial: "", FechaFinal: "", token: "" };

        var d = new Date($("#FechaInicial").data("kendoDatePicker").value());
        var d1 = new Date($("#FechaFinal").data("kendoDatePicker").value());
        if (d.getFullYear() == "1969") {
            d = new Date();
            d.setDate(d.getDate() - 30);
        }
        if (d1.getFullYear() == "1969") {
            d1 = new Date();
        }
        Listado.ProyectoID = Proyecto.ProyectoID ? Proyecto.ProyectoID : "";
        Listado.ClienteID = Cliente.ClienteID ? Cliente.ClienteID : "";
        Listado.FechaInicial = obtenerFormatoFecha(d);
        Listado.FechaFinal = obtenerFormatoFecha(d1);
        Listado.token = Cookies.get("token");
        Listado.TipoListado = 27;
        
        return Listado;
    };

    function imprimirOrden() {
        e.preventDefault();
        var dataItem = $("#grid").data("kendoGrid").dataItem($(e.currentTarget).closest("tr"));
        var OrdenRecepcion = dataItem.OrdenRecepcion;
        window.open("http://www.asp.net");
    };

    function obtenerFormatoFecha(d) {
        var curr_date = d.getDate();
        var curr_month = d.getMonth() + 1; //Months are zero based
        var curr_year = d.getFullYear();
        var horaActual = new Date();

        if (curr_year == "1969") {
            return null;
        } else {
            return curr_year + "-" + curr_month + "-" + curr_date + " " + horaActual.getHours() + ":" + horaActual.getMinutes() + ":" + horaActual.getSeconds();
        }
    };

    function ControlErroresObjetosComboBox(control, result) {
        if (Error(result)) {
            $("#" + control).data("kendoComboBox").dataSource.data(result);
        } else {
            $("#" + control).data("kendoComboBox").dataSource.data([]);
        };
    };

    function Error(data) {
        if (data.ReturnCode) {
            if (data.ReturnCode != 200) {
                if (data.ReturnCode == 401) {
                    removeUserSession();
                    return false;
                } else {
                    displayMessage("notificationslabel0008", data.ReturnMessage, '2');
                    return false;
                }
            } else {
                return true;
            }
        } else {
            return true;
        }
    };
    }

    @section JavascriptDocumentReadyFunctions {
    CargaInicial();
    $authorizationModel["Incidencias"] = $ListadoIncidenciasModel;
    }
    @section JavascriptDocumentReadyHomeCookie 
    {
    Cookies.set("home", true, { path: '/' });
    Cookies.set("navegacion", "43", { path: '/' });
    }

</script>