@{
    ViewBag.Title = "Dashboard";
}

<!-- LEFT NAV AND RIGHT MAIN CONTENT -->
    <div class="container">
        <div class="row">
            <!-- left sidebar -->
            <div class="col-md-2 left-sidebar">

                <!-- main-nav -->
                <nav class="main-nav">

                    <ul class="main-menu">
                        <li class="active">
                            <a href="#"><i class="fa fa-dashboard fa-fw"></i>
                                <span class="text">Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="js-sub-menu-toggle"><i class="fa fa-clipboard fa-fw"></i>
                                <span class="text">Pages</span>
                                <i class="toggle-icon fa fa-angle-left"></i>
                            </a>
                            <ul class="sub-menu ">
                                <li>
                                    <a href="page-profile.html">
                                        <span class="text">Profile</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="page-invoice.html">
                                        <span class="text">Invoice</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="page-knowledgebase.html">
                                        <span class="text">Knowledge Base</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="page-inbox.html">
                                        <span class="text">Inbox</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="page-new-message.html">
                                        <span class="text">New Message
                                                
                                            <span class="badge element-bg-color-blue">New</span>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="page-view-message.html">
                                        <span class="text">View Message
                                                
                                            <span class="badge element-bg-color-blue">New</span>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="page-search-result.html">
                                        <span class="text">Search Result
                                                
                                            <span class="badge element-bg-color-blue">New</span>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="page-submit-ticket.html">
                                        <span class="text">Submit Ticket
                                                
                                            <span class="badge element-bg-color-blue">New</span>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="page-register.html">
                                        <span class="text">Register</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="page-login.html">
                                        <span class="text">Login</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="page-404.html">
                                        <span class="text">404</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="page-blank.html">
                                        <span class="text">Blank Page</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="js-sub-menu-toggle"><i class="fa fa-bar-chart-o fw"></i>
                                <span class="text">Charts &amp; Statistics</span>
                                <i class="toggle-icon fa fa-angle-left"></i>
                            </a>
                            <ul class="sub-menu ">
                                <li>
                                    <a href="charts-statistics.html">
                                        <span class="text">Charts</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="charts-statistics-interactive.html">
                                        <span class="text">Interactive Charts</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="charts-statistics-real-time.html">
                                        <span class="text">Realtime Charts</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="charts-d3charts.html">
                                        <span class="text">D3 Charts</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="js-sub-menu-toggle"><i class="fa fa-edit fw"></i>
                                <span class="text">Forms</span>
                                <i class="toggle-icon fa fa-angle-left"></i>
                            </a>
                            <ul class="sub-menu ">
                                <li>
                                    <a href="form-inplace-editing.html">
                                        <span class="text">In-place Editing</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="form-elements.html">
                                        <span class="text">Form Elements
                                                
                                            <span class="badge element-bg-color-blue">Updated</span>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="form-layouts.html">
                                        <span class="text">Form Layouts</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="form-bootstrap-elements.html">
                                        <span class="text">Bootstrap Elements</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="form-validations.html">
                                        <span class="text">Validation</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="form-file-upload.html">
                                        <span class="text">File Upload</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="form-text-editor.html">
                                        <span class="text">Text Editor</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="js-sub-menu-toggle"><i class="fa fa-list-alt fw"></i>
                                <span class="text">UI Elements</span>
                                <i class="toggle-icon fa fa-angle-left"></i>
                            </a>
                            <ul class="sub-menu ">
                                <li>
                                    <a href="ui-elements-general.html">
                                        <span class="text">General Elements</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="ui-elements-tabs.html">
                                        <span class="text">Tabs
                                                
                                            <span class="badge element-bg-color-blue">New</span>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="ui-elements-buttons.html">
                                        <span class="text">Buttons</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="ui-elements-icons.html">
                                        <span class="text">Icons
                                                
                                            <span class="badge element-bg-color-blue">Updated</span>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="ui-elements-flash-message.html">
                                        <span class="text">Flash Message</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="widgets.html"><i class="fa fa-puzzle-piece fa-fw"></i>
                                <span class="text">Widgets</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="js-sub-menu-toggle"><i class="fa fa-gears fw"></i>
                                <span class="text">Components</span>
                                <i class="toggle-icon fa fa-angle-left"></i>
                            </a>
                            <ul class="sub-menu ">
                                <li>
                                    <a href="components-wizard.html">
                                        <span class="text">Wizard (with validation)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="components-calendar.html">
                                        <span class="text">Calendar</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="components-maps.html">
                                        <span class="text">Maps
                                                
                                            <span class="badge element-bg-color-blue">Updated</span>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="components-gallery.html">
                                        <span class="text">Gallery</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="js-sub-menu-toggle"><i class="fa fa-table fw"></i>
                                <span class="text">Tables</span>
                                <i class="toggle-icon fa fa-angle-left"></i>
                            </a>
                            <ul class="sub-menu ">
                                <li>
                                    <a href="tables-static-table.html">
                                        <span class="text">Static Table
                                                
                                            <span class="badge element-bg-color-blue">Updated</span>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="tables-dynamic-table.html">
                                        <span class="text">Dynamic Table
                                                
                                            <span class="badge element-bg-color-blue">Updated</span>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="typography.html"><i class="fa fa-font fa-fw"></i>
                                <span class="text">Typography</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /main-nav -->

                <div class="sidebar-minified js-toggle-minified">
                    <i class="fa fa-angle-left"></i>
                </div>

            </div>
            <!-- end left sidebar -->


            <!-- content-wrapper -->
            <div class="col-md-10 content-wrapper">
                <!-- main -->
                <div class="content">
                    <div class="main-header">
                        <h2>DASHBOARD</h2>
                        <em>the first priority information</em>
                    </div>

                    <div class="main-content">
                    </div>
                    <!-- /main-content -->
                </div>
                <!-- /main -->
            </div>
            <!-- /content-wrapper -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
<!-- LEFT NAV AND RIGHT MAIN CONTENT -->
