@{
    ViewBag.Title = "Dashboard";
}
<script>
    @section JavascriptGlobalVariables {
        //your partial views variables
    }

    @section JavascriptGlobalFunctions {
        //Your partial views specific functions
    }

    @section JavascriptDocumentReadyFunctions {
        //Your partial view document ready functions
    }
</script>
<!-- LEFT NAV AND RIGHT MAIN CONTENT -->
<div class="container">
    <div class="row">
        <!-- sidebar -->
        <div class="col-md-2 sidebar">

            <!-- main-nav -->
            <nav class="main-nav">

                <ul class="main-menu">
                    <li class="active">
                        <a href="#">
                            <i class="fa fa-dashboard fa-fw"></i>
                            <span class="text">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="js-sub-menu-toggle">
                            <i class="fa fa-clipboard fa-fw"></i>
                            <span class="text">Transacciones</span>
                            <i class="toggle-icon fa fa-angle-left"></i>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="#">
                                    <span class="text">Submenu</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="text">Submenu</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="text">Submenu</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="text">Submenu</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="text">Submenu</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="js-sub-menu-toggle">
                            <i class="fa fa-bar-chart-o fw"></i>
                            <span class="text">Catálogo</span>
                            <i class="toggle-icon fa fa-angle-left"></i>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="#">
                                    <span class="text">Submenu</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="text">Submenu</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="text">Submenu</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="text">Submenu</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="js-sub-menu-toggle">
                            <i class="fa fa-edit fw"></i>
                            <span class="text">Reportes</span>
                            <i class="toggle-icon fa fa-angle-left"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="js-sub-menu-toggle">
                            <i class="fa fa-list-alt fw"></i>
                            <span class="text">Documentos</span>
                            <i class="toggle-icon fa fa-angle-left"></i>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="#">
                                    <span class="text">Submenu</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="text">Submenu</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="text">Submenu</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="text">Submenu</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="text">Submenu</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="widgets.html">
                            <i class="fa fa-puzzle-piece fa-fw"></i>
                            <span class="text">Configuración</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="js-sub-menu-toggle">
                            <i class="fa fa-gears fw"></i>
                            <span class="text">Soporte</span>
                            <i class="toggle-icon fa fa-angle-left"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="js-sub-menu-toggle">
                            <i class="fa fa-table fw"></i>
                            <span class="text">KPI's</span>
                            <i class="toggle-icon fa fa-angle-left"></i>
                        </a>
                    </li>
                    <li>
                        <a href="typography.html">
                            <i class="fa fa-font fa-fw"></i>
                            <span class="text">Comunicación</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="js-sub-menu-toggle">
                            <i class="fa fa-list-alt fw"></i>
                            <span class="text">Ligas Rápidas</span>
                            <i class="toggle-icon fa fa-angle-left"></i>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="#">
                                    <span class="text">Submenu</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="text">Submenu</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="text">Submenu</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- /main-nav -->

            <div class="sidebar-minified js-toggle-minified">
                <i class="fa fa-angle-left"></i>
            </div>

        </div>
        <!-- end left sidebar -->


        <!-- content-wrapper -->
        <div class="col-md-10 content-container">
            <!-- main -->
            <div class="content">
                <div class="main-header">
                    <h2>DASHBOARD</h2>
                    <em>the first priority information</em>
                </div>

                <div class="main-content">
                </div>
                <!-- /main-content -->
            </div>
            <!-- /main -->
        </div>
        <!-- /content-wrapper -->
    </div>
    <!-- /row -->
</div>
<!-- /container -->
<!-- LEFT NAV AND RIGHT MAIN CONTENT -->
