
<div id="formaTipoTrabajoAdicional" class="col-sm-12 col-md-12 col-lg-11">
    <div class="row">
        <div class="alert-container">
            <div class="message">
                Mensaje de éxito/error/advertencia
            </div>
        </div>
        <div class="form-group" id="ModoDiv">
            <input type="hidden" id="Modo" value="0" />
        </div>
        <div class="" id="TipoTrabajoAdicionalIDDiv">
            <input type="hidden" id="TipoTrabajoAdicionalID" />
        </div>
        <div class="form-group form-group col-sm-6 col-md-8 col-lg-12" id="TrabajoAdicionalDiv">
            <label id="TrabajosAdicionales0002"></label>
            <input  id="TipoTrabajoAdicional" />
        </div>
    </div>
    <div class="row">

        <div class="buttonSave">
            <a id="GuardarTrabajoAdicional" href="#" class="btn btn-primary">
                <span id="LlegadaMaterial0049"></span>
            </a>
            <a id="CancelarTrabajoAdicional" href="#" class="btn btn-primary">
                <span id="LlegadaMaterial0050"></span>
            </a>
        </div>
    </div>
</div>

