
<div id="formaTrabajoAdicional" class="col-sm-12 col-md-12 col-lg-11">
    <div class="row">
        <div class="alert-container">
            <div class="message">
                Mensaje de éxito/error/advertencia
            </div>
        </div>
        <div class="form-group" id="ModoDiv">
            <input type="hidden" id="Modo" value="0" />
        </div>
        <div class="form-group" id="TrabajoAdicionalIDDiv">
            <input type="hidden" id="TrabajoAdicionalID" />
        </div>
        <div class="form-group col-sm-6 col-md-8 col-lg-3" id="TipoTrabajoAdicionalIDDiv">
            <label id="TrabajosAdicionales0002"></label>
            <input id="TipoTrabajoAdicionalID" class="" />
        </div>
        <div class="form-group col-sm-6 col-md-8 col-lg-3" id="NombreCortoDiv">
            <label id="TrabajosAdicionales0003"></label>
            <input id="NombreCorto" class="" />
        </div>
        <div class="form-group col-sm-6 col-md-8 col-lg-3" id="NombreExtendidoDiv">
            <label id="TrabajosAdicionales0004"></label>
            <input id="NombreExtendido" class="" />
        </div>
        <div class="form-group col-sm-6 col-md-8 col-lg-3" id="CuentaContableDiv">
            <label id="TrabajosAdicionales0005"></label>
            <input id="CuentaContable" class="" />
        </div>
        <div class="form-group col-sm-6 col-md-8 col-lg-3" id="SignoInformativoDiv">
            <label id="TrabajosAdicionales0006"></label>
            <input id="SignoInformativo" class="" />
        </div>
    </div>
    <div class="row">


        <div class="buttonSave">
            <a id="GuardarTrabajoAdicional" href="#" class="btn btn-primary">
                <span id="LlegadaMaterial0049"></span>
            </a>
            <a id="CancelarTrabajoAdicional" href="#" class="btn btn-primary">
                <span id="LlegadaMaterial0050"></span>
            </a>
        </div>
    </div>
</div>
