@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="~/Scripts/AppComponents/EmisionOT/Render.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/EmisionOT/Seguridad.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/EmisionOT/Ajax.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/EmisionOT/Handlers.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/EmisionOT/Captura.js"></script>
<link href="~/Scripts/AppComponents/EmisionOT/EmisionOT.css" rel="stylesheet"> 

@*GridStack*@
<script type="text/javascript" src="~/Scripts/Widgets/GridStack/Underscore.js"></script>
<script type="text/javascript" src="~/Scripts/Widgets/GridStack/gridstack.js"></script> 
<link href="~/Scripts/Widgets/GridStack/gridstack.css" rel="stylesheet"> 

@*Acordeon*@
<script type="text/javascript" src="~/Scripts/Widgets/Acordeon/JAcordeon.js"></script>

<script>
    $(document).ready(function () {
        $("body").JAcordeon();
    });

</script> 

<div id="gridStack"></div> 