<div id="CamposRequeridosSoldadorCertificacion" class="form" role="form">
    <div class="col-sm-12 col-md-12 col-lg-12" id="IDSoldadorCertificacion" style="display:none">
        <input id="SoldadorCertificacionID" />
    </div>
    <div class="alert-container">
        <div class="message">
            Mensaje de éxito/error/advertencia
        </div>
    </div>

    <div class="form-group col-sm-2 col-md-2 col-lg-2" id="DivCodigoObrero">
        <label id="SoldadorCertificacionCodigoObrero"></label>
        <input id="SoldadorCertificacionCargarObreroID" />
    </div>
    <div class="form-group col-sm-2 col-md-2 col-lg-2" id="DivNombrePQR">
        <label id="SoldadorCertificacionNombrePQR"></label>
        <input id="SoldadorCertificacionCargarPQRID" />
    </div>
    <div class="form-group col-sm-3 col-md-3 col-lg-3" id="DivProcesoSoldadura">
        <label id="SoldadorCertificacionProcesoSoldaduraPQR"></label>
        <input id="SoldadorCertificacionProcesoSoldaduraID" />
    </div>
    <div class="form-group col-sm-2 col-md-2 col-lg-2" id="DivTipoDePrueba">
        <label id="SoldadorCertificacionTipoDePruebaPQR"></label>
        <input id="SoldadorCertificacionTipoDePruebaID" />
    </div>
    <div class="form-group col-sm-2 col-md-2 col-lg-2" id="DivPosicion">
        <label id="SoldadorCertificacionPosicionPQR"></label>
        <input id="SoldadorCertificacionPosicionID" />
    </div>
    <div class="form-group col-sm-4 col-md-4 col-lg-4" id="DivFechaInicio">
        <label id="SoldadorCertificacionFechaInicioCertificado"></label>
        <input id="SoldadorCertificacionFechaInicio" />
    </div>
    <div class="form-group col-sm-4 col-md-4 col-lg-4" id="DivFechaFin">
        <label id="SoldadorCertificacionFechaFinCertificado"></label>
        <input id="SoldadorCertificacionFechaFin" />
    </div>
    <div class="form-group col-sm-2 col-md-2 col-lg-2" id="DivCedulaTubo">
        <label id="SoldadorCertificacionCedulaTuboPQR"></label>
        <input id="SoldadorCertificacionCedulaTuboID" class="k-input" />
    </div>

    <div class="form-group col-sm-3 col-md-3 col-lg-3" id="DivDiametroCalificado">
        <label id="SoldadorCertificacionDiametroCalificadoPQR"></label>
        <input id="SoldadorCertificacionDiametroCalificadoID" class="k-input" />
    </div>
    <div class="form-group col-sm-2 col-md-2 col-lg-2" id="DivEspesorMaximo">
        <label id="SoldadorCertificacionEspesorMinimo"></label>
        <input id="SoldadorCertificacionEspesorMinimoID" class="k-input" />
    </div>
    <div class="form-group col-sm-2 col-md-2 col-lg-2" id="DivEspesorMinimo">
        <label id="SoldadorCertificacionEspesorMaximo"></label>
        <input id="SoldadorCertificacionEspesorMaximoID" class="k-input" readonly="readonly" />
    </div>
    <div class="form-group col-sm-5 col-md-5 col-lg-5" id="DivPorcentajeJuntas">
        <label id="SoldadorCertificacionPorcentajeJuntasRequiere"></label>
        <input id="SoldadorCertificacionPorcentajeJuntas" class="k-input" />
    </div>
    <div class="form-group col-sm-3 col-md-3 col-lg-4" id="DivCertificadoActivo">
        <label id="SoldadorCertificacionCertificadoActivo"></label>
        <input type="checkbox" id="chkSoldadorCertificacionCertificacion" data-bind="checked: optionCheck" />
    </div>


    
    
        <div class="form-group col-sm-10 col-md-10 col-lg-10">
            <a id="GuardaSoldadorCertificacion" href="#" class="btn btn-primary"><span id="botonGuardar"></span></a>
        
            <a id="CancelaSoldadorCertificacion" href="#" class="btn btn-primary"><span id="botonCancelar"></span></a>
        </div>
   
</div>

<div id="windowPasosSoldadura" style="display:none; z-index:inherit">
    <div class="row">
        <div class="alert-container">
            <div class="message">
                Mensaje de éxito/error/advertencia
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-sm-3 col-md-3 col-lg-5" id="DivDiametroCalificado">
            <label id="lblSoldadorCertificacionPasosDeSoldadura"></label>
        </div>
        <div class="form-group col-sm-3 col-md-3 col-lg-5" id="DivDiametroCalificado">
            <input id="SoldadorCertificacionPasosDeSoldadura" class="active" />
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-3 col-md-3 col-lg-5">
            <a id="GuardarPasosSoldadura" href="#" class="btn btn-primary"><span id="botonGuardar2"></span></a>
        </div>
        <div class="form-group col-sm-3 col-md-3 col-lg-5">
            <a id="CancelaPasosSoldadura" href="#" class="btn btn-primary"><span id="botonCancelar2"></span></a>
        </div>
    </div>
</div>




<script src="~/Scripts/AppComponents/Catalogos/SoldadorCertificacion/PopUp/PopUpAjax.js"></script>
<script src="~/Scripts/AppComponents/Catalogos/SoldadorCertificacion/PopUp/PopUpHandlers.js"></script>
<script src="~/Scripts/AppComponents/Catalogos/SoldadorCertificacion/PopUp/PopUpSoldadorCertificacion.js"></script>




<script>
@section JavascriptGlobalVariables {
    $authorizationModel["Edita SoldadortCertificacion"] = $SoldadorCertificacionSaveModel;
    }
</script>


