/**********************************************************************************
    File name: entities.css
    Description: CSS rules for bussiness related UI entities.

    Index: 

    01  $_login
    02  $_header
    03  $_search-bar
    04  $_logged-user
    05  $_notifications
    06  $_
    07  $_
    08  $_
    09  $_
    10  $_
    11  $_


    Color Palette: Look at site.css

**********************************************************************************/

/**********************************************************************************
 Class name:    $_login
 Description:   Customize the login section.
**********************************************************************************/
.login {
    position: absolute;
    width: 510px;
    height: 374px;
    text-align: center;
    margin: auto;
    padding: 0 15px;
    top: -71px;
    left: 0;
    right: 0;
    bottom: 0;
}

    .login img {
        margin-left: -13px;
        margin-bottom: 47px;
    }

    .login form {
    }

        .login form div {
            text-align: left;
            border: 1px solid #CCCCCC;
            border-top: none;
            padding: 15px 24px 17px;
            text-transform: uppercase;
            font-size: 10px;
        }

            .login form div.form-title {
                padding: 10px 13px 8px;
                border: 1px solid #1C4070;
                background-color: #1C4070;
                color: #FFFFFF;
                letter-spacing: 0.7px;
                font-size: 14px;
            }

            .login form div label.loginLabel {
                color: rgba(065, 065, 065, 0.7);
                font-weight: 900;
                width: 80px;
                margin-right: 41px;
            }

        .login form input[type="text"],
        .login form input[type="password"] {
            width: 70%;
            color: #202020;
            font-size: 15px;
            vertical-align: baseline;
            outline: none;
        }

        .login form input[type="submit"] {
            margin: 31px auto 11px;
        }

        .login form a span {
            font-size: 13px;
            font-weight: 600;
        }
/**********************************************************************************/


/**********************************************************************************
 Class name:    $_header
 Description:   Customize header tag.
**********************************************************************************/
header a.logo {
    background-image: url("/Content/images/SAMC_Logo.png");
    background-size: auto;
    padding: 12px 60px;
    background-repeat: no-repeat;
    position: relative;
    top: 7px;
    left: 1px;
}

header .menu > div {
    display: inline-block;
}
/**********************************************************************************/


/**********************************************************************************
 Class name:    $_search-bar
 Description:   Customize search-bar section in header.
**********************************************************************************/
.search-bar {
    margin-right: 24px;
    max-width: 260px;
    max-height: 32px;
    overflow: hidden;
    float: left;
}

    .search-bar .input-group input,
    .search-bar .input-group span {
        max-height: 32px;
        height: 32px;
    }

    .search-bar .input-group input {
        border-radius: 0;
        border-right: none;
        font-size: 12px;
    }

    .search-bar .input-group span button {
        height: 32px;
        width: 32px;
        border-radius: 0;
        border-color: #2A5178;
        z-index: 2;
    }

        .search-bar .input-group span button.spyglass {
            background-image: url("/Content/images/SAMC_MenuIcon_01.png");
            background-position: center;
            background-repeat: no-repeat;
        }
/**********************************************************************************/


/**********************************************************************************
 Class name:    $_logged-user
 Description:   Customize username section in header.
**********************************************************************************/
.logged-user {
}

    .logged-user .btn-group .dropdown-toggle {
        padding: 4px 10px;
        box-shadow: none;
        border-radius: 0;
    }

    .logged-user .btn-group.open .dropdown-toggle {
        box-shadow: none;
    }

    .logged-user .btn-group a img {
        position: relative;
        top: -1px;
    }

    .logged-user .btn-group a span.name,
    .logged-user .btn-group a span.caret {
        color: #1C4070;
        font-size: 11.5px;
        font-weight: 600;
    }

    .logged-user .btn-group ul {
        width: 100%;
        text-align: center;
        border-radius: 0;
    }
/**********************************************************************************/


/**********************************************************************************
 Class name:    $_notifications
 Description:   Customize notifications section in header.
**********************************************************************************/
.notifications {
    margin-right: 16px;
}

    .notifications img {
        position: relative;
        top: 3px;
    }

    .notifications .count {
        position: absolute;
        top: -1px;
        left: 52%;
        padding: 0px 4.5px;
        border-radius: 30px;
        line-height: 16px;
        text-align: center;
        font-size: 10px;
        border-width: 2px;
        border-style: solid;
        color: #fff;
        background: #e60404 !important;
    }
/**********************************************************************************/


/* Media Queries */

/* xs viewport */
@media screen and (max-width: 767px) {

    /*$_login*/
    .login {
        width: 100%;
        max-width: 510px;
        top: 0;
    }

        .login form div {
            padding: 15px 12px 17px;
        }

            .login form div label.loginLabel {
                margin-right: 4px;
            }

        .login form input {
            width: 67%;
        }
}

/* sm viewport */
@media (min-width: 768px) and (max-width: 991px) {
}

/* tablet viewport*/
@media (min-width: 768px) and (max-width: 1024px) {
}

/* md viewport */
@media (min-width: 992px) and (max-width: 1024px) {
}

/* lg viewport */
@media (min-width: 1025px) {
}
