/**********************************************************************************
    File name: overrides.css
    Description: CSS Framework overrides.

    Index: 

    01  $_languageSelector
    02  $_k-widget
    03  $_k-grid
    04  $_
    05  $_
    06  $_
    07  $_
    08  $_
    09  $_
    10  $_
    11  $_


    Color Palette: Look at site.css

**********************************************************************************/


/**********************************************************************************
 Class name:    $_languageSelector
 Description:   Override kendo language input section.
**********************************************************************************/
.languageSelector {
    display: inline-block;
    position: relative;
    right: -4px;
}

    .languageSelector .k-widget.k-dropdown {
        width: 55px;
    }

        .languageSelector .k-widget.k-dropdown .k-dropdown-wrap span.k-i-arrow-s {
            background-size: 34% 14%;
            background-position: 9px 14px;
        }

    .languageSelector .k-dropdown-wrap.k-state-default {
        border-color: transparent;
        box-shadow: none;
        outline: none;
        background: none;
        background-color: #FFFFFF;
        padding-right: 19px;
    }
/**********************************************************************************/


/**********************************************************************************
 Class name:    $_k-widget
 Description:   Overrides for kendo widgets.
**********************************************************************************/
.k-widget {
    background: #FFFFFF;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border-color: #CCCCCC;
}

    .k-widget.error {
        border-color: #EC4F50;
    }

.k-state-default, .k-state-hover {
    background: none;
    background-color: #FFFFFF !important;
}

.k-widget.k-state-focused, .k-picker-wrap.k-state-focused,
.k-multiselect.k-header.k-state-focused, .k-dropdown-wrap.k-state-focused {
    border-color: #4486CB;
    -moz-box-shadow: 0px 0px 3px #4486CB; /* FF3.5+ */
    -webkit-box-shadow: 0px 0px 3px #4486CB; /* Saf3.0+, Chrome */
    box-shadow: 0px 0px 3px #4486CB; /* Opera 10.5, IE9, Chrome 10+ */
}

.k-textbox > input, .k-autocomplete .k-input,
.k-picker-wrap .k-input, .k-numeric-wrap .k-input,
.k-dropdown-wrap .k-input, .k-selectbox .k-input {
    border-radius: 0;
    min-height: 34px;
    height: 34px;
    font-weight: normal;
    font-size: 14px;
    color: #1B3F70;
    width: 100%;
    padding: 2px 0;
}

.k-filter-menu .k-dropdown .k-input {
    min-height: inherit;
    height: inherit;
}

.k-multiselect, .k-combobox {
    /*min-width: 240px;*/
    width: 100%;
}

.k-autocomplete {
    /*min-width: 242px;*/
    width: 100%;
}

.k-multiselect.k-header {
    max-width: 99.5%;
}

.k-multiselect-wrap {
    min-height: 30px;
    height: 30px;
    padding: 4px 0;
}

    .k-multiselect-wrap span {
        line-height: normal;
    }

.k-block, .k-button, .k-textbox, .k-drag-clue,
.k-touch-scrollbar, .k-window, .k-window-titleless .k-window-content,
.k-window-action, .k-inline-block, .k-grid .k-filter-options,
.k-grouping-header .k-group-indicator, .k-autocomplete, .k-multiselect,
.k-multiselect.k-state-border-down, .k-combobox, .k-dropdown, .k-dropdown-wrap,
.k-dropdown-wrap.k-state-border-down, .k-datepicker, .k-timepicker, .k-colorpicker,
.k-datetimepicker, .k-notification, .k-numerictextbox, .k-picker-wrap,
.k-picker-wrap.k-state-border-down, .k-numeric-wrap, .k-colorpicker, .k-list-container,
.k-calendar-container, .k-calendar td, .k-calendar .k-link, .k-treeview .k-in, .k-editor-inline,
.k-tooltip, .k-tile, .k-slider-track, .k-slider-selection, .k-upload {
    border-radius: 0;
}

.k-datepicker {
    /*min-width: 184px;*/
    width: 100%;
}

    .k-datepicker .k-picker-wrap .k-select {
        border: none;
        width: 38px;
    }

    .k-datepicker .k-picker-wrap span.k-i-calendar {
        height: 100%;
        width: 100%;
        background-image: url("/Content/images/SAMC_Datepicker.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 16px 16px;
    }

.k-combobox .k-dropdown-wrap .k-select {
    border: none;
    width: 38px;
}

.k-combobox .k-dropdown-wrap span.k-i-arrow-s,
.k-dropdown .k-dropdown-wrap span.k-i-arrow-s {
    height: 100%;
    width: 100%;
    background-image: url("/Content/images/SAMC_DropdownArrow.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 11px 6px;
}

.k-upload, .k-upload-files, .k-file {
    border-color: transparent;
}

.k-dropzone {
    padding: 0;
}

    .k-dropzone .k-upload-button,
    .k-dropzone .k-upload-button.k-state-focused,
    .k-upload .k-upload-selected,
    .k-upload .k-upload-selected.k-state-focused {
        color: #FFFFFF;
        background: none;
        background-color: #305E8E;
        border: none;
        border-radius: 3px;
        border-bottom: 3px solid #234568;
        padding: 5px;
        font-size: 16px;
        font-weight: 600;
        box-shadow: none;
    }

        .k-upload .k-upload-selected,
        .k-upload .k-upload-selected.k-state-focused {
            margin-left: 0;
        }

            .k-dropzone .k-upload-button:hover,
            .k-upload .k-upload-selected:hover {
                background-color: rgba(048, 094, 142, 0.9);
                border-bottom-color: rgba(035, 069, 104, 0.5);
            }

.k-upload .k-upload-files .k-file .k-icon {
    background-image: url("/Content/images/SAMC_Attachtment.png");
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
}
/**********************************************************************************/


/**********************************************************************************
 Class name:    $_k-grid
 Description:   Override kendo grid.
**********************************************************************************/
.k-grid {
    margin-top: 15px;
    background-color: #EEEEEE;
}

    .k-grid td {
        padding: 5.5px 13px;
        font-size: 12px;
        line-height: 1.4;
        color: #666666;
        border-bottom: 1px solid #CCCCCC;
    }

    .k-grid tr:last-child td {
        border-bottom: none;
    }

    .k-grid tr {
        background-color: #FFFFFF;
    }

        .k-grid tr.k-alt {
            background-color: #F5F5F5;
        }

        .k-grid tr:hover {
            background-color: #FCEED9;
        }

    .k-grid .k-grid-header tr {
        min-height: 39px;
        height: 39px;
    }

        .k-grid .k-grid-header tr th {
            background: none;
            background-color: #EEEEEE;
            padding-left: 15px;
            padding-right: 19px;
        }

            .k-grid .k-grid-header tr th a.k-link {
                font-size: 10px;
                font-weight: 600;
                text-transform: uppercase;
            }

            .k-grid .k-grid-header tr th .k-filter {
                background-image: url("/Content/images/SAMC_SearchIconChart.png");
                background-size: auto;
                background-position: center 1px;
            }

            .k-grid .k-grid-header tr th .k-i-arrow-n {
                background-image: url("/Content/images/SAMC_FilterUp.png");
                background-size: auto;
                background-position: center !important;
                vertical-align: middle;
            }

            .k-grid .k-grid-header tr th .k-i-arrow-s {
                background-image: url("/Content/images/SAMC_FilterDown.png");
                background-size: auto;
                background-position: center !important;
                vertical-align: middle;
            }

    .k-grid tbody tr td a.k-button {
        color: transparent !important;
        height: 27px;
        max-width: 18px;
        padding: 0;
        margin: 0 -22px;
        font-size: 0;
        border: none;
        outline: none;
        background: none;
        background-color: transparent !important;
        background-repeat: no-repeat;
        background-position: center !important;
        box-shadow: none !important;
    }

        .k-grid tbody tr td a.k-button:active:hover {
            box-shadow: none !important;
        }

        .k-grid tbody tr td a.k-button.k-grid-Detalle,
        .k-grid tbody tr td a.k-button.k-grid-Detail {
            background-image: url("/Content/images/SAMC_DetailIcon.png");
        }

        .k-grid tbody tr td a.k-button.k-grid-Cancelar,
        .k-grid tbody tr td a.k-button.k-grid-Cancel {
            background-image: url("/Content/images/SAMC_Delete.png");
        }

.expanded .k-grid tbody tr td a.k-button {
    margin: 0 -20px;
}

.k-grid-pager {
    background-color: #EEEEEE;
    height: 36px;
    padding: 10px 9px;
}

    .k-grid-pager .k-pager-first,
    .k-grid-pager .k-pager-last {
        display: none;
    }

    .k-grid-pager .k-pager-nav {
        border-radius: 0;
        background: none;
        background-color: #FFFFFF;
        height: 34px;
        width: 34px;
        border-color: #CCCCCC;
    }

        .k-grid-pager .k-pager-nav:hover {
            background-color: #FCEED9;
        }

            .k-grid-pager .k-pager-nav .k-icon,
            .k-grid-pager .k-pager-nav:hover .k-icon {
                height: 16px;
                width: 9px;
                position: relative;
                top: 2px;
                background-repeat: no-repeat;
                background-position: 0 0;
                background-color: transparent;
                background-size: auto;
            }

        .k-grid-pager .k-pager-nav .k-i-arrow-w {
            background-image: url("/Content/images/SAMC_NavigationLeft.png");
            left: -2px;
        }

        .k-grid-pager .k-pager-nav .k-i-arrow-e {
            background-image: url("/Content/images/SAMC_NavigationRight.png");
            right: -1px;
        }

    .k-grid-pager .k-pager-input {
        background-color: #FFFFFF;
        height: 26px;
        border-top: 1px solid #CCCCCC;
        border-bottom: 1px solid #CCCCCC;
        margin: 0px -1px;
        padding: 3px 16px 5px 7.5px;
    }

        .k-grid-pager .k-pager-input input.k-textbox {
            padding: 0;
            margin: 0 0 4px 2px;
            min-height: 20px;
            height: 20px;
            width: 16px;
            font-size: 14px;
            font-weight: 600;
            border: none;
            box-shadow: none !important;
        }

    .k-grid-pager .k-pager-sizes {
        color: #666666;
        float: right;
        padding: 3px 0 0;
        margin-top: 1px;
        font-size: 10px;
        font-weight: 600;
        letter-spacing: 0.9px;
    }

        .k-grid-pager .k-pager-sizes .k-dropdown {
            float: right;
            width: 63px;
            margin-right: 0px;
            margin-top: -4px;
            margin-left: 10px;
        }

        .k-grid-pager .k-pager-sizes .k-dropdown-wrap .k-input {
            min-height: 24px;
            height: 24px;
            font-size: 14px;
            padding: 5px;
            letter-spacing: normal;
        }

        .k-grid-pager .k-pager-sizes .k-dropdown .k-dropdown-wrap .k-select {
            width: 35px;
        }
/**********************************************************************************/


/* Media Queries */

/* xs viewport */
@media screen and (max-width: 767px) {
}

/* sm viewport */
@media (min-width: 768px) and (max-width: 991px) {
}

/* tablet viewport*/
@media (min-width: 768px) and (max-width: 1024px) {

    /*$_k-widget*/
    .k-multiselect, .k-combobox,
    .k-autocomplete, .k-datepicker {
        max-width: 100%;
    }
}

/* md viewport */
@media (min-width: 992px) and (max-width: 1024px) {

    /*$_k-grid*/
    .expanded .k-grid tbody tr td a.k-button {
        margin: 0 -27px;
    }
}

/* lg viewport */
@media (min-width: 1025px) {
}
