/**********************************************************************************
    File name: overrides.css
    Description: CSS Framework overrides.

    Index: 

    01  $_languageSelector
    02  $_k-widget
    03  $_
    04  $_
    05  $_
    06  $_
    07  $_
    08  $_
    09  $_
    10  $_
    11  $_


    Color Palette: Look at site.css

**********************************************************************************/


/**********************************************************************************
 Class name:    $_languageSelector
 Description:   Override kendo language input section.
**********************************************************************************/
.languageSelector {
    display: inline-block;
    position: relative;
    right: -4px;
}

    .languageSelector .k-widget.k-dropdown {
        width: 55px;
    }

    .languageSelector .k-dropdown-wrap.k-state-default {
        border-color: transparent;
        box-shadow: none;
        outline: none;
        background: none;
        background-color: #FFFFFF;
        padding-right: 19px;
    }
/**********************************************************************************/


/**********************************************************************************
 Class name:    $_k-widget
 Description:   Overrides for kendo widgets.
**********************************************************************************/
.k-widget {
    background: #FFFFFF;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border-color: #CCCCCC;
}

.k-state-default, .k-state-hover {
    background: none;
    background-color: #FFFFFF !important;
}

.k-widget.k-state-focused, .k-picker-wrap.k-state-focused,
.k-multiselect.k-header.k-state-focused {
    border-color: #4486CB;
    -moz-box-shadow: 0px 0px 3px #4486CB; /* FF3.5+ */
    -webkit-box-shadow: 0px 0px 3px #4486CB; /* Saf3.0+, Chrome */
    box-shadow: 0px 0px 3px #4486CB; /* Opera 10.5, IE9, Chrome 10+ */
}

.k-textbox > input, .k-autocomplete .k-input,
.k-picker-wrap .k-input, .k-numeric-wrap .k-input,
.k-dropdown-wrap .k-input, .k-selectbox .k-input {
    border-radius: 0;
    min-height: 34px;
    height: 34px;
    font-weight: 600;
    color: #1B3F70;
    width: 100%;
    padding: 2px 0;
}


.k-multiselect {
    min-width: 240px;
    width: 240px;
}

.k-multiselect-wrap {
    min-height: 30px;
    height: 30px;
    padding: 4px 0;
}

.k-block, .k-button, .k-textbox, .k-drag-clue,
.k-touch-scrollbar, .k-window, .k-window-titleless .k-window-content,
.k-window-action, .k-inline-block, .k-grid .k-filter-options,
.k-grouping-header .k-group-indicator, .k-autocomplete, .k-multiselect,
.k-multiselect.k-state-border-down, .k-combobox, .k-dropdown, .k-dropdown-wrap,
.k-datepicker, .k-timepicker, .k-colorpicker, .k-datetimepicker, .k-notification,
.k-numerictextbox, .k-picker-wrap, .k-picker-wrap.k-state-border-down, .k-numeric-wrap, .k-colorpicker, .k-list-container,
.k-calendar-container, .k-calendar td, .k-calendar .k-link, .k-treeview .k-in,
.k-editor-inline, .k-tooltip, .k-tile, .k-slider-track, .k-slider-selection,
.k-upload {
    border-radius: 0;
}

.k-datepicker {
    min-width: 184px;
    width: 184px;
}

    .k-datepicker .k-picker-wrap .k-select {
        border: none;
        width: 38px;
    }

    .k-datepicker .k-picker-wrap span.k-i-calendar {
        height: 100%;
        width: 100%;
        background-image: url("/Content/images/SAMC_Datepicker.png");
        background-repeat: no-repeat;
        background-position: center;
    }

.k-autocomplete {
    min-width: 242px;
    width: 242px;
}
/**********************************************************************************/
/* Media Queries */

/* xs viewport */
@media screen and (max-width: 767px) {
}

/* sm viewport */
@media (min-width: 768px) and (max-width: 991px) {
}

/* tablet viewport*/
@media (min-width: 768px) and (max-width: 1024px) {
}

/* md viewport */
@media (min-width: 992px) and (max-width: 1024px) {
}

/* lg viewport */
@media (min-width: 1025px) {
}
