/**********************************************************************************
    File name: site.css
    Description: CSS Framework customization.

    Index: 

    01  $_html
    02  $_body
    03  $_header
    04  $_footer
    05  $_label
    06  $_links
    07  $_
    08  $_
    09  $_
    10  $_
    11  $_


    Color Palette: 

        

**********************************************************************************/


/**********************************************************************************
 Class name:    $_html
 Description:   Customize html tag.
**********************************************************************************/
html {
    position: relative;
    min-height: 100%;
}
/**********************************************************************************/


/**********************************************************************************
 Class name:    $_body
 Description:   Customize body tag.
**********************************************************************************/
body {
    color: #202020;
    margin: 0;
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8 ) url(/Content/images/loadingGift/loading.gif) 50% 50% no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

    /* Anytime the body has the loading class, our
   modal element will be visible */
    body.loading .modal {
        display: block;
    }
/**********************************************************************************/


/**********************************************************************************
 Class name:    $_header
 Description:   Customize header tag.
**********************************************************************************/
header {
}
/**********************************************************************************/


/**********************************************************************************
 Class name:    $_footer
 Description:   Customize footer tag.
**********************************************************************************/
footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100px;
}

    footer .content-wrapper {
        width: 60%;
        border-top: 1px solid #CCCCCC;
        margin: 0 auto;
        padding-top: 30px;
    }

    footer .footerLinks {
        text-align: right;
    }

    footer label {
        color: #898989;
        font-weight: normal;
        font-size: 12px;
        margin-left: 8px;
        letter-spacing: 0.5px;
    }

    footer a {
        margin-left: 24px;
    }

        footer a span {
            color: #305E8E;
            font-size: 12px;
            font-weight: 600;
            letter-spacing: 0.5px;
        }
/**********************************************************************************/

/**********************************************************************************
 Class name:    $_label
 Description:   Customize label tag.
**********************************************************************************/
label {
    margin: 0;
    padding: 0;
}
/**********************************************************************************/

/**********************************************************************************
 Class name:    $_links
 Description:   Customize anchor tag.
**********************************************************************************/
a, a:link, a:hover, a:visited {
    color: #305E8E;
}
/**********************************************************************************/

/**********************************************************************************
 Class name:    $_
 Description:   Customize  tag.
**********************************************************************************/

/**********************************************************************************/


/* Media Queries */

/* xs viewport */
@media screen and (max-width: 767px) {
    footer {
       text-align: center;
       bottom: 20px;
    }

        footer .content-wrapper {
            border: none;            
            width: 90%;
        }

        footer label {
            margin: 0;            
            display: block;
            font-size: 9px;
        }
}

/* sm viewport */
@media (min-width: 768px) and (max-width: 991px) {
    footer {
       text-align: center;
    }
}

/* tablet viewport*/
@media (min-width: 768px) and (max-width: 1024px) {

    footer .content-wrapper {
        width: 80%;
    }    

}

/* md viewport */
@media (min-width: 992px) and (max-width: 1024px) {

    footer label {
        font-size: 11px;
    }
}

/* lg viewport */
@media (min-width: 1025px) {
}
