/**********************************************************************************
    File name: site.css
    Description: CSS Framework customization.

    Index: 

    01  $_html
    02  $_body
    03  $_header
    04  $_footer
    05  $_content-frame
    06  $_label
    07  $_links
    08  $_input
    09  $_btn
    10  $_$_headings
    11  $_


    Color Palette: 

    Do Not Use Class security_required        

**********************************************************************************/


/**********************************************************************************
 Class name:    $_html
 Description:   Customize html tag.
**********************************************************************************/
html {
    position: relative;
    min-height: 100%;
    height: 100%;
}
/**********************************************************************************/


/**********************************************************************************
 Class name:    $_body
 Description:   Customize body tag.
**********************************************************************************/
body {
    color: #202020;
    margin: 0;
    min-height: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
}
/**********************************************************************************/


/**********************************************************************************
 Class name:    $_header
 Description:   Customize header tag.
**********************************************************************************/
header {
}

    header .content-wrapper {
        margin: 14px 0;
    }
/**********************************************************************************/


/**********************************************************************************
 Class name:    $_footer
 Description:   Customize footer tag.
**********************************************************************************/
footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 100px;
}

    footer .content-wrapper {
        width: 60%;
        border-top: 1px solid #CCCCCC;
        margin: 0 auto;
        padding-top: 30px;
    }

    footer .footerLinks {
        text-align: right;
    }

    footer label {
        color: #898989;
        font-weight: normal;
        font-size: 12px;
        margin-left: 10px;
        letter-spacing: 0.8px;
    }

    footer a {
        margin-left: 27px;
    }

        footer a span {
            color: #305E8E;
            font-size: 12px;
            font-weight: 600;
            letter-spacing: 1.2px;
        }
/**********************************************************************************/


/**********************************************************************************
 Class name:    $_content-frame
 Description:   Customize label tag.
**********************************************************************************/
.content-frame {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
}

    .content-frame .container {
        max-width: 100%;
        width: 100%;
        min-height: 100%;
        height: 100%;
    }

        .content-frame .container > .row {
            min-height: 100%;
            height: 100%;
        }

        .content-frame .container .main-content {
            margin-left: 15px;
            margin-right: 15px;
        }
/**********************************************************************************/


/**********************************************************************************
 Class name:    $_label
 Description:   Customize label tag.
**********************************************************************************/
label {
    margin: 0;
    padding: 0;
}

.form label,
#window label {
    text-transform: uppercase;
    display: block;
    font-size: 10px;
    letter-spacing: 1.2px;
    margin-bottom: 7px;
}

    .form label.required {
        position: relative;
    }

        .form label.required::after {
            content: '*';
            font-size: 18.5px;
            position: absolute;
            top: -4px;
        }

        .form label.required.error::after {
            color: #EC4F50;
        }

.form h2 label {
    color: #666666;
    font-size: 16.5px;
    font-weight: 400;
    text-transform: none;
    margin-bottom: 17px;
    margin-right: 8px;
    letter-spacing: .8px;
    display: inline-block;
}

.inlineLabel,
.inlineLabel + span {
    color: #202020 !important;
    display: inline-block !important;
    font-size: 16.5px;
    margin-right: 2px !important;
    font-weight: 600 !important;
}
/**********************************************************************************/


/**********************************************************************************
 Class name:    $_links
 Description:   Customize anchor tag.
**********************************************************************************/
a, a:link, a:hover, a:visited {
    color: #305E8E;
    outline: none;
    text-decoration: none;
}
/**********************************************************************************/


/**********************************************************************************
 Class name:    $_input
 Description:   Customize input tag.
**********************************************************************************/
input {
    border-color: transparent;
    border-style: solid;
    outline: none;
    box-shadow: none;
    width: 100%;
    box-sizing: border-box;
}

    input:focus {
        outline: none;
        box-shadow: none;
    }

    input:-moz-placeholder {
        font-style: italic;
        font-size: 12px;
        font-weight: 600;
    }

::-webkit-input-placeholder {
    font-style: italic;
    font-size: 12px;
    font-weight: 600;
}

::-moz-placeholder {
    font-style: italic;
    font-size: 12px;
    font-weight: 600;
}

:-ms-input-placeholder {
    font-style: italic;
    font-size: 12px;
    font-weight: 600;
}

.content-container .form input:not(.k-input) {
    height: 40px;
    min-height: 40px;
    color: #1B3F70;
    border: 1px solid #CCCCCC;
    border-radius: 0;
    font-size: 14px;
    padding: 0 5px;
}

    .content-container .form input:not(.k-input):focus {
        border-color: #4486CB;
        -moz-box-shadow: 0px 0px 3px #4486CB; /* FF3.5+ */
        -webkit-box-shadow: 0px 0px 3px #4486CB; /* Saf3.0+, Chrome */
        box-shadow: 0px 0px 3px #4486CB; /* Opera 10.5, IE9, Chrome 10+ */
    }

.content-container .input-group .input-group-btn a {
    padding: 19px 18px;
    border: 1px solid #ccc;
    border-left: none;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
}

/**********************************************************************************/


/**********************************************************************************
 Class name:    $_btn
 Description:   Customize button tag.
**********************************************************************************/
.btn, .btn:hover, .btn:focus {
    color: #FFFFFF;
    text-transform: capitalize;
    display: block;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.3px;
    height: 40px;
    padding: 8px;
    box-sizing: border-box;
}

    .btn span, .btn label {
        color: #FFFFFF;
    }

.btn-yellow {
    background-color: #EC8B00;
    border: none;
    border-bottom: 3px solid #DF6600;
}

    .btn-yellow:hover {
        background-color: rgba(236, 139, 000, 0.9);
        border-bottom-color: rgba(223, 102, 0, 0.5);
    }

.btn-blue {
    background-color: #305E8E;
    border: 1px solid #234568;
}

    .btn-blue:hover {
        background-color: #1C4070;
        border-bottom-color: #152F52;
    }

.btn-primary {
    background-color: #305E8E;
    border: none;
    border-bottom: 3px solid #234568;
}

    .btn-primary:hover {
        background-color: rgba(048, 094, 142, 0.9);
        border-bottom-color: rgba(035, 069, 104, 0.5);
    }

    .btn-primary.disabled, .btn-primary[disabled] {
        background-color: #305E8E;
        border-color: #234568;
    }

.btn-black {
    background-color: #444444;
    border: none;
    border-bottom: 3px solid #2B2B2B;
}

    .btn-black:hover {
        background-color: rgba(068, 068, 068, 0.9);
        border-bottom-color: rgba(043, 043, 043, 0.5);
    }


.buttonBar {
    position: relative;
    top: 21px;
}

#Creacion.btn {
    background-image: url("/Content/images/SAMC_AddIcon.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

#Refrescar.btn {
    background-image: url("/Content/images/SAMC_RefreshIcon.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

.formButtons {
    margin-top: 15px;
    padding-bottom: 20px;
}

    .formButtons .divisor {
        margin: auto 15px;
        padding-top: 20px;
        border-top: 1px solid #CCCCCC;
    }
/**********************************************************************************/


/**********************************************************************************
 Class name:    $_headings
 Description:   Customize headings tag.
**********************************************************************************/
h2 {
    margin-top: 0;
    margin-bottom: 16px;
    border-bottom: 1px solid #CCCCCC;
}

    h2 label {
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: 1.2px;
        margin-bottom: 7px;
    }
/**********************************************************************************/

/* Media Queries */

/* xs viewport */
@media screen and (max-width: 767px) {

    /*$_footer*/
    footer {
        text-align: center;
        bottom: 20px;
    }

        footer .content-wrapper {
            border: none;
            width: 90%;
        }

        footer label {
            margin: 0;
            display: block;
            font-size: 9px;
        }
}

/* sm viewport */
@media (min-width: 768px) and (max-width: 991px) {

    /*$_footer*/
    footer {
        text-align: center;
    }
}

/* tablet viewport*/
@media (min-width: 768px) and (max-width: 1024px) {

    /*$_footer*/
    footer .content-wrapper {
        width: 80%;
    }

    /*$_btn*/
    .buttonBar {
        top: 0;
    }

    #ImprimirPase {
        top: 21px;
    }

    .formButtons {
        margin-top: 25px;
    }
}

/* md viewport */
@media (min-width: 992px) and (max-width: 1024px) {

    /*$_footer*/
    footer label {
        font-size: 11px;
    }
}

/* lg viewport */
@media (min-width: 1025px) {
}


/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8 ) url(/Content/images/loadingGift/loading.gif) 50% 50% no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

    /* Anytime the body has the loading class, our
   modal element will be visible */
    body.loading .modal {
        display: block;
    }
