@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section breadcrumb {
    <li>
        <a href="@Url.Action("landing", "Home")"><span id="DashboardDespachoCorte0001"></span></a>
    </li>
    <li class="">
        <a href="#"><span id="ServiciosTecnicosBreadcrumb"></span></a>
    </li>
    <li class="active">
        <a href="@Url.Action("DashboardPND", "PND")"><span id="ServiciosTecnicosDashboardPNDBreadcrumb"></span></a>
    </li>
}

<div id="formDashboardPND" class="form clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" id="divProyecto">
            <label id="lblProyecto"></label>
            <input id="inputProyecto" />
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" id="divTipoPrueba">
            <label id="lblPrueba"></label>
            <input id="inputTipoPrueba" />
        </div>
        <div class="col-xs-12 col-sm-2 col-md-3 col-lg-3" id="divProveedor" style="display:none">
            <label id="lblProveedor"></label>
            <input id="inputProveedor" />
        </div>

        <div class="col-xs-12 col-sm-2 col-md-3 col-lg-" style="display:none">
            <label id="">&nbsp;</label>
            <a class=" btn btn-blue href="#" id="botonBuscar">
                <span id="botonBuscar"></span>
            </a>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" id="divFechaInicio">
            <label id="lblFechaInicio"></label>
            <input id="inputFechaInicio" />
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" id="divFechaFin">
            <label id="lblFechaFin"></label>
            <input id="inputFechaFin" />
        </div>

    </div>
    <br />
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" >
            <label id="lblMuestra"></label>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" >
                <div class="col-xs-12 col-sm-3 col-md-6 col-lg-3" id="divMuestra">
                    <input type="radio" name="Muestra" style="width:auto;" value="requisicion" />
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" id="divMuestra">
                    <span id="lblPorRequisicion"></span>
                </div>
            </div>
            <kdiv class="col-xs-6 col-sm-6 col-md-6 col-lg-6" >
                <div class="col-xs-6 col-sm-3 col-md-6 col-lg-3" id="divMuestra">
                    <input type="radio" name="Muestra" style="width:auto;" value="elemento" checked="checked" />
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" >
                    <span id="lblPorElemento"> </span>
                </div>
            </kdiv>
            
        </div>
        
    </div>
    <br />
    <div class="row">
        <div id="tabEstatus" class="btn-group form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" role="group" arial-label="tabs">
        </div>
    </div>

    @*GRID*@
    <div class="row addedSectionInLine" style="display:none;" id="contenidoDashboard">
        <div id="divStatusRequisiciones" class="btn-group form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" style="z-index:999; position:absolute; padding-bottom:10px;" role="group" arial-label="tabs"></div>
        <br>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div id="ContenedorGrid">
                <div id="grid" data-role="grid" class="k-grid k-widget">
                </div>
                <input id="hdAccionFiltrado" type="hidden" />
            </div>

        </div>
    </div>
    @*GRIDPOPUP*@
    @*GRID POPUP*@
    <div id="windowGrid" style="display: none; z-index:inherit;">

        <div class="row col-sm-12 col-md-12 col-lg-12" style="width: 100%; padding-right:20px;">
            <div class="form-group">
                <div id="ContenedorGridPopUp">
                    <div id="gridPopUp" data-role="grid" class="k-grid k-widget">
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-sm-12 col-md-12 col-lg-12">
            <div class="col-sm-5 col-md-5 col-lg-5"></div>
            <a class=" btn btn-primary col-sm-1 col-md-1 col-lg-1" href="#" id="CerrarDetalleJunta">
                <span id="botonCerrar"></span>
            </a>
        </div>

    </div>


</div>
<script type="text/javascript" src="~/Scripts/AppComponents/PND/DashboardPND/Ajax.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/PND/DashboardPND/Handlers.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/PND/DashboardPND/Captura.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/PND/DashboardPND/Seguridad.js"></script>