@{
    ViewBag.Title = "Requisicion PND";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section breadcrumb {
    <li>
        <a href="@Url.Action("landing","Home" )"><span id="lblInicio"></span></a>
    </li>
    <li>
        <a href="#"><span id="ServiciosTecnicosBreadcrumb"></span></a>
    </li>
    <li class="active">
        <a href="@Url.Action("RequisicionPND","PND" )"><span id="ServiciosTecnicosRequisicionPND"></span></a>
    </li>
}


<div id="FormGeneraRequisicion" class="form clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12">

    @*Menu superior*@
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="formNav clearfix">
                <div class="button-section editButtonSection">
                    <input type="hidden" value=@ViewBag.id id="idField" />
                    <div class="btn-group save-group">
                        <button onclick="javascript:void(0);" type="button" class="btn btn-yellow accionGuardar"><span id="botonGuardar"></span></button>
                        <button id="dropdown-toggle" type="button" class="btn btn-yellow dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caretWhite"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" id="btnGuardar" class="accionGuardar"><span id="botonGuardar2"></span></a></li>
                            <li><a href="#" id="btnGuardarYNuevo" class="accionGuardarYNuevo"><span id="botonGuardarYNuevo"></span></a></li>
                        </ul>
                    </div>
                    <a id="btnCancelar" class="btn btn-black"><span id="botonCancelar"></span></a>
                </div>
                <div id="GenerarRequisicionASignarRequisicionDivSup" class="button-section">
                    <a id="GenerarRequisicionASignarRequisicionSup" class="btn btn-primary"><span id="ServiciosTecnicosAsignarRequisicion"></span></a>
                </div>
                <div class="button-section actionButtonSection">
                    <div class="dropdown action-group">
                        <a id="Acciones" data-target="#" href="#" data-toggle="dropdown" role="button" ariahaspopup="true" aria-expanded="false" class="btn btn-default">
                            <span id="botonAcciones1"></span>
                            <span class="caretBlue"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="Acciones"></ul>
                    </div>
                </div>
                <a id="Imprimir" href="#" class="btn btn-fadeBlue actionButtonSection"></a>
            </div>
        </div>
    </div>
    <div id="FieldSetView">
        @*Controles Superior*@
        <div class="row" id="AgregadoDiv">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 altoControl" id="divProyecto">
                <label id=""><span id="lblProyecto"></span></label>
                <input id="inputProyecto" class="" />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-2 col-lg-3 altoControl" id="divTipoPrueba">
                <label id=""><span id="lblPrueba"></span></label>
                <input id="inputTipoPrueba" class="" />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 altoControl">
                <label id=""><span id="lblRequisicion"></span></label>
                <input id="listaRequisiciones" class="" />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 altoControl">
                <label id="lblMostrar"></label>
                <input type="radio" name="Muestra" class="radio-responsive" style=" width:auto;" value="SinCaptura" /><span id="lblSinCaptura"></span>
                <input type="radio" name="Muestra" class="radio-responsive" style=" width:auto;" value="Todos" /><span id="lblTodos"> </span>
            </div>
        </div>
        @*GRID*@
        <div class="row addedSectionInLine">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row" id="containerDiv">
                    <div class="col-xs-8 col-sm-2 col-md-2 col-lg-2" id="CapturaArmadoHeaderSpoolIDDiv">
                        <label id="lblSpoolID"></label>
                        <input style="width:40%" id="InputOrdenTrabajo" class="item-select general-input" />-<input id="InputID" placeholder="ID" style="width:40%;" />
                    </div>
                    <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2" id="CapturaRequisicionJunta">
                        <label id="lblJunta"></label>
                        <input id="Junta" class="" />
                    </div>
                    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
                        <label id="">&nbsp;</label>
                        <button type="button" id="ButtonAgregar" class="btn btn-blue"><span id="botonAgregar"></span></button>
                    </div>

                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div id="ContenedorGrid" class="row">
                        <div id="grid" data-role="grid" class="k-grid k-widget">
                        </div>
                        <input id="hdAccionFiltrado" type="hidden" />
                    </div>
                </div>
            </div>
        </div>
        @*Menu Inferior*@
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="formNav clearfix">
                <div class="button-section editButtonSection">
                    <div class="btn-group save-group">
                        <button id="GuardarPie" onclick="javascript:void(0);" type="button" class="btn btn-yellow"><span id="botonGuardar3"></span></button>
                        <button id="dropdown-toggle" type="button" class="btn btn-yellow dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caretWhite"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" id="btnGuardar1" class="accionGuardar"><span id="botonGuardar4"></span></a></li>
                            <li><a href="#" id="btnGuardarYNuevo1" class="accionGuardarYNuevo"><span id="botonGuardarYNuevo1"></span></a></li>
                        </ul>
                    </div>
                    <a id="btnCancelar" class="btn btn-black"><span id="botonCancelar1"></span></a>
                </div>
                <div id="GenerarRequisicionASignarRequisicionDivInf" class="button-section">
                    <a id="GenerarRequisicionASignarRequisicionInf" class="btn btn-primary"><span id="ServiciosTecnicosAsignarRequisicion1"></span></a>
                </div>
                <div class="button-section actionButtonSection">
                    <div class="dropdown action-group">
                        <a id="Acciones" data-target="#" href="#" data-toggle="dropdown" role="button" ariahaspopup="true" aria-expanded="false" class="btn btn-default">
                            <span id="botonAcciones2"></span>
                            <span class="caretBlue"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="Acciones"></ul>
                    </div>
                </div>
                <a id="Imprimir" href="#" class="btn btn-fadeBlue actionButtonSection"></a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/AppComponents/PND/RequisicionPND/Ajax.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/PND/RequisicionPND/Handlers.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/PND/RequisicionPND/Render.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/PND/RequisicionPND/Captura.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/PND/RequisicionPND/Seguridad.js"></script>

<script>
    @section JavascriptDocumentReadyFunctions {
    $authorizationModel["Generar Requisicion"] = $GenerarRequisicion;
    }
</script>