@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section breadcrumb {
    <li>
        <a href="@Url.Action("landing", "Home")"><span id="lblInicio"></span></a>
    </li>
    <li>
        <a href="#"><span id="ServiciosTecnicosBreadcrumb"></span></a>
    </li>
    <li class="active">
        <a href="@Url.Action("ValidacionRT", "PND")"><span id="ServiciosTecnicosValidacionRTBreadcrumb"></span></a>
    </li>
}

<style>
   #grid > .k-grid-header > div > table,
    #grid > .k-grid-content > table
    {
       width: 100% !important;
    }
</style>
<div id="FormCapturaReportePruebas" class="form clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12">
    @*Menu superior*@
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="formNav clearfix">
                <div class="button-section editButtonSection">
                    <div class="btn-group save-group">
                        <button id="Guardar" onclick="javascript:void(0);" type="button" class="btn btn-yellow"><span id="botonGuardar"></span></button>
                        <button id="dropdown-toggle" type="button" class="btn btn-yellow dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caretWhite"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" id="btnGuardar2"><span id="botonGuardar2"></span></a></li>
                            <li><a href="#" id="btnGuardarYNuevo"><span id="botonGuardarYNuevo"></span></a></li>
                        </ul>
                    </div>
                    <a id="btnCancelar" class="btn btn-black"><span id="botonCancelar"></span></a>
                </div>
                <div class="button-section actionButtonSection">
                    <div class="dropdown action-group">
                        <a id="Acciones" data-target="#" href="#" data-toggle="dropdown" role="button" ariahaspopup="true" aria-expanded="false" class="btn btn-default">
                            <span id="botonAcciones1"></span>
                            <span class="caretBlue"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="Acciones"></ul>
                    </div>
                </div>
                <a id="Imprimir" href="#" class="btn btn-fadeBlue actionButtonSection"></a>
            </div>
        </div>
    </div>
    @*Controles Superior*@
    <div class="row addedSectionInLineWithoutColor">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 altoControl" id="divProyecto">
                <label id="CapturaReporteProyecto"></label>
                <input id="inputProyecto" />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 altoControl" id="divPrueba">
                <label id="lblPrueba"></label>
                <input id="inputPrueba" class="" />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 altoControl" id="divProveedor">
                <label id="CapturaReporteProveedor"></label>
                <input id="inputProveedor" />
            </div>            
            <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 altoControl" id="divRequisicion">
                <label id="CapturaReporteRequisicion"> </label>
                <input id="inputRequisicion" />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 altoControl">
                <label id="lblMostrar"></label>
                <input type="radio" name="Muestra" class="radio-responsive" style=" width:auto;" value="SinCaptura" /><span id="lblSinCaptura"></span>
                <input type="radio" checked="checked" name="Muestra" class="radio-responsive" style=" width:auto;" value="Todos" /><span id="lblTodos"> </span>
            </div>                   
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <label id="">&nbsp;</label>
                <button type="button" id="btnAgregar" class="btn btn-blue"><span id="CapturaReporteBotonBuscar"></span></button>
            </div> 
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 altoControl">
                <label id="lblUsuarioVR"> </label>
                <input id="inputUsuarioVR" />
            </div>                            
        </div>                       
    </div>


    @*GRID PARA RT*@
    <div class="row addedSectionInLine" id="gridRT">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">            
            <div class="row" id="FieldSetView3">
                <div id="ContenedorGrid" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div id="grid" data-role="grid" class="k-grid k-widget">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*Menu Inferior*@
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="formNav clearfix">
            <div class="button-section editButtonSection">
                <div class="btn-group save-group">
                    <button id="Guardar1" onclick="javascript:void(0);" type="button" class="btn btn-yellow"><span id="botonGuardar3"></span></button>
                    <button id="dropdown-toggle" type="button" class="btn btn-yellow dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caretWhite"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#" id="btnGuardar1"><span id="botonGuardar4"></span></a></li>
                        <li><a href="#" id="btnGuardarYNuevo1"><span id="botonGuardarYNuevo1"></span></a></li>
                    </ul>
                </div>
                <a id="btnCancelar" class="btn btn-black"><span id="botonCancelar1"></span></a>
            </div>
            <div class="button-section actionButtonSection">
                <div class="dropdown action-group">
                    <a id="Acciones" data-target="#" href="#" data-toggle="dropdown" role="button" ariahaspopup="true" aria-expanded="false" class="btn btn-default">
                        <span id="botonAcciones2"></span>
                        <span class="caretBlue"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="Acciones"></ul>
                </div>
            </div>
            <a id="Imprimir" href="#" class="btn btn-fadeBlue actionButtonSection"></a>
        </div>
    </div>
</div>
</div>

<div id="windowGrid" style="display: none; ">


    <div class="form-group">
        <div id="ContenedorGridPopUp">
            <div id="gridPopUp" data-role="grid" class="k-grid k-widget">
            </div>
        </div>
    </div>

    <div class="form-group">        
        <div class="col-sm-3 col-md-3 col-lg-3" style="display:none;">
            <a class="btn btn-blue" href="#" id="GuardarPlacas"><span id="CapturaReporteGuardarPopup"></span></a>

        </div>
        <div class="col-md-12 col-lg-12 col-sm-12 text-center">
            <a class="btn btn-blue" href="#" id="CancelarPlacas"><span id="CapturaReporteCancelarPlacasPopup"></span></a>
        </div>        
    </div>
</div>
<div id="windowGridDefectos" style="display: none; z-index:inherit;">


    <div class="form-group">
        <div id="ContenedorGridPopUpDefectos">
            <div id="gridPopUpDefectos" data-role="grid" class="k-grid k-widget">
            </div>
        </div>
    </div>
    <div class="form-group">        
        <div class="col-sm-3 col-md-3 col-lg-3" style="display:none;">
            <a class="btn btn-blue" href="#" id="GuardarDefectos"><span id="CapturaReporteGuardarDefectosPopup"></span></a>
            <input type="hidden" id="PlacaID" />
        </div>
        <div class="col-md-12 col-lg-12 col-sm-12 text-center">
            <a class="btn btn-blue" href="#" id="CancelarDefectos"><span id="CapturaReporteCancelarDefectosPopup"></span></a>
        </div>        
    </div>
</div>
<script type="text/javascript" src="~/Scripts/AppComponents/PND/ValidacionRT/Ajax.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/PND/ValidacionRT/Handlers.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/PND/ValidacionRT/Render.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/PND/ValidacionRT/Captura.js"> </script>
<script type="text/javascript" src="~/Scripts/AppComponents/PND/ValidacionRT/Seguridad.js"></script>

<script>
    @section JavascriptDocumentReadyFunctions {
    $authorizationModel["Validacion Resultados"] = $ValidacionResultadosModel;
    }
</script>