@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section breadcrumb {
    <li>
        <a href="@Url.Action("landing", "Home")"><span id="lblInicio"></span></a>
    </li>
    <li>
        <a href="#"><span id="ServiciosTecnicosBreadcrumb"></span></a>
    </li>
    <li class="active">
        <a href="@Url.Action("ValidacionRT", "PND")"><span id="ServiciosTecnicosValidacionRTBreadcrumb"></span></a>
    </li>
}
<div id="FormValidacionResultados" class="form clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12">
    @*Menu superior*@
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="formNav clearfix">
                <div class="button-section editButtonSection">
                    <div class="btn-group save-group">
                        <button id="Guardar" onclick="javascript:void(0);" type="button" class="btn btn-yellow accionGuardar"><span id="botonGuardar"></span></button>
                        <button id="dropdown-toggle" type="button" class="btn btn-yellow dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caretWhite"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" id="btnGuardar" class="accionGuardar"><span id="botonGuardar2"></span></a></li>
                            <li><a href="#" id="btnGuardarYNuevo"><span id="botonGuardarYNuevo"></span></a></li>
                        </ul>
                    </div>
                    <a id="btnCancelar" class="btn btn-black"><span id="botonCancelar"></span></a>
                </div>
                <div id="ImpresionResultadosDivSup" class="button-section">
                    <a id="ImpresionResultadosSup" class="btn btn-primary"><span id="ImpresionResultadosBtnSup"></span></a>
                </div>
                <div class="button-section actionButtonSection">
                    <div class="dropdown action-group">
                        <a id="Acciones" data-target="#" href="#" data-toggle="dropdown" role="button" ariahaspopup="true" aria-expanded="false" class="btn btn-default">
                            <span id="botonAcciones1"></span>
                            <span class="caretBlue"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="Acciones"></ul>
                    </div>
                </div>
                <a id="Imprimir" href="#" class="btn btn-fadeBlue actionButtonSection"></a>
            </div>
        </div>
    </div>
    @*Controles Superior*@
    <div class="row" id="FieldSetView">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-sm-2 col-md-2 col-lg-2 " id="containerDiv">
                <label id=""><span id="lblProyecto"></span></label>
                <input id="inputProyecto" class="" />
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 " id="containerDiv">
                <label id=""><span id="lblPrueba"></span></label>
                <input id="inputTipoPrueba" class="" />
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 " id="containerDiv">
                <label id=""><span id="lblProveedor"></span></label>
                <input id="inputProveedor" class="" />
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 " id="containerDiv">
                <label id=""><span id="lblRequisicion"></span></label>
                <input id="inputRequisicion" class="" />
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2 altoControl">
                <label id="lblMostrar"></label>
                <input type="radio" name="Muestra" style=" width:auto;" value="SinCaptura" /><span id="lblSinCaptura"></span>
                <input type="radio" name="Muestra" style=" width:auto;" value="Todos" /><span id="lblTodos"> </span>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2 altoControl">
                <label id="lblRevisionCon"></label>
                <input type="radio" name="Revision" style=" width:auto;" value="No" /><span id="lblNo"></span>&nbsp;&nbsp;
                <input type="radio" name="Revision" style=" width:auto;" value="Si" /><span id="lblSi"> </span>
            </div>
            @*<div class="col-sm-2 col-md-2 col-lg-2 ">
                    <label id="">&nbsp;</label>
                    <a id="btnVer" href="#" class="btn btn-blue"><span id="botonVer"></span></a>
                </div>*@
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-sm-2 col-md-2 col-lg-2 " id="usuarioContainerDiv" style="display:none">
                <label id=""><span id="lblUsuarioVR"></span></label><label id=""><span id="lblUsuarioVRValue"></span></label>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-sm-2 col-md-2 col-lg-2 " id="proveedorContainerDiv" style="display:none">
                <label id=""><span id="lblProveedorVR"></span></label><label id=""><span id="lblProveedorVRValue"></span></label>
            </div>
        </div>
    </div>
    @*GRID*@
    <div class="row addedSectionInLine">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="ContenedorGrid" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="grid" data-role="grid" class="k-grid k-widget">
                </div>
            </div>

        </div>
    </div>
    @*GRID POPUP*@
    <div id="windowGrid" style="display: none; z-index:inherit;">
        <div class="form-group">
            <label class="col-sm-4 col-md-4 col-lg-4 " id="lblSpoolJunta"></label><label class="col-sm-3 col-md-3 col-lg-3" id="lblUbicacion"></label>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <a class=" btn btn-blue " id="GuardarDefectos"><span id="textoGuardar"></span></a>
            </div>
        </div>
        <input class="" type="hidden" id="hdnPruebaElementoResultadoID" />
        <input class=" " type="hidden" id="hdnRequisicionID" />
        <br />
        <div class="form-group">
            <div id="ContenedorGridPopUp">
                <div id="gridPopUp" data-role="grid" class="k-grid k-widget">
                </div>
            </div>
        </div>

    </div>
    @*Menu Inferior*@
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="formNav clearfix">
                <div class="button-section editButtonSection">
                    <div class="btn-group save-group">
                        <button id="Guardar1" onclick="javascript:void(0);" type="button" class="btn btn-yellow accionGuardar"><span id="botonGuardar3"></span></button>
                        <button id="dropdown-toggle" type="button" class="btn btn-yellow dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caretWhite"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" id="btnGuardar1" class="accionGuardar"><span id="botonGuardar4"></span></a></li>
                            <li><a href="#" id="btnGuardarYNuevo1"><span id="botonGuardarYNuevo1"></span></a></li>
                        </ul>
                    </div>
                    <a id="btnCancelar1" class="btn btn-black"><span id="botonCancelar1"></span></a>
                </div>
                <div id="ImpresionResultadosDivInf" class="button-section">
                    <a id="ImpresionResultadosInf" class="btn btn-primary"><span id="ImpresionResultadosBtnInf"></span></a>
                </div>
                <div class="button-section actionButtonSection">
                    <div class="dropdown action-group">
                        <a id="Acciones" data-target="#" href="#" data-toggle="dropdown" role="button" ariahaspopup="true" aria-expanded="false" class="btn btn-default">
                            <span id="botonAcciones2"></span>
                            <span class="caretBlue"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="Acciones"></ul>
                    </div>
                </div>
                <a id="Imprimir" href="#" class="btn btn-fadeBlue actionButtonSection"></a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/Scripts/AppComponents/PND/ValidacionRT/Ajax.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/PND/ValidacionRT/Captura.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/PND/ValidacionRT/Handlers.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/PND/ValidacionRT/Render.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/PND/ValidacionRT/Seguridad.js"></script>

@*<script>
        @section JavascriptDocumentReadyFunctions {
        $authorizationModel["Validacion Resultados"] = $ValidacionResultadosModel;
        }
</script>*@