@{
    ViewBag.Title = "Materiales - Revisión de Déficit";
}

@section breadcrumb {
    <li class="active">
        <a href="@Url.Action("RevisionDeficit", "Materiales")"><span id="RevisionDeficit0001"></span></a>
    </li>
}

<div class="form clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="formNav clearfix">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="button-section">
                            <button type="button" class="btn" id="solucionar">Solucionar</button>
                            <button type="button" class="btn" id="cancelar">Cancelar</button>
                        </div>
                        <div class="button-section"></div>
                        <div class="button-section">
                            <button type="button" class="btn" id="acciones">Acciones</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form clearfix">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-2">
                            <label for="ordtrabajo" id="NotificacionDeficit0001"></label>
                            <input id="ordtrabajo" type="text" />
                        </div>
                        <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-2">
                            <label for="itemcode">Item Code</label>
                            <input id="itemcode" type="text" />
                        </div>
                    </div>
                </div>
            </div>
            <div id="gridIC"></div>
            <div id="gridSp" style="margin-top:20px"></div>
        </div>
    </div>
</div>

<script>
@section JavascriptGlobalVariables {
    
}

@section JavascriptGlobalFunctions {
    function regenerarCombo(){
        var options = $("#itemcode").data("kendoComboBox").options;
        $("#itemcode").data("kendoComboBox").destroy();
        $("#itemcode").empty().kendoComboBox(options);
    }
    
    function regenerarGrid(grid){
        var options = grid.options;
        var tmp=grid.element.context;
        grid.destroy();
        $("#"+tmp.id).empty().kendoGrid(options);
    }

    function detailInit(e) {
        $("<div/>").appendTo(e.detailCell).kendoGrid({
            dataSource: {
                data:e.data.ItemCodes,
                schema: {
                    model: {
                        id:"ItemCodeID",
                        fields:{
                            ItemCodeID:{ editable: false, nullable: true },
                            ItemCode: { editable: false,type:"string",validation: { required: false } },
                            Diametro1: { editable: false,type:"number", validation: { required: false } },
                            Diametro2: { editable: false,type:"number", validation: { required: false } },
                            Cantidad:{editable: false,type:"number"},
                        }
                    },
                },
            },
            scrollable: true,
            columns: [
                {field:"ItemCode",title:"Item Code"},
                {field:"Diametro1",title:"Diametro 1"},
                {field:"Diametro2",title:"Diametro 2"},
                {field:"Cantidad"},
            ]
        });
    }
};

@section JavascriptDocumentReadyFunctions {
    //$authorizationModel["AsociacionItemCodes"] = $AsociacionItemCodesModel;

    $("#gridSp").hide();

    $("#spoolCheck").on("change",function(){
        if(this.checked && $("#gridIC").data("kendoGrid").dataSource.data().length>0){
            $NotificacionDeficit.NotificacionDeficit.read({},{token:Cookies.get("token"),itemCodeID:$("#itemcode").data("kendoComboBox").value(),ordenTrabajoID:$("#ordtrabajo").data("kendoComboBox").value()}).done(function(data){
                $("#gridSp").data("kendoGrid").dataSource.data(data);
                $("#gridSp").show();
            })
        }else if($("#gridIC").data("kendoGrid").dataSource.data().length==0){
            displayMessage("", "El item code no tiene spools", '2');
        }else{
            $("#gridSp").hide();
        }
    });

    $("#ordtrabajo").kendoComboBox({
        dataSource: {
            transport: {
                read: {
                    url:$NotificacionDeficit.NotificacionDeficit.urlNoId + "?token=" + Cookies.get("token"),
                    dataType: "json",
                    type:"GET"
                }
            }
        },
        minLength: 3,
        change:function(e){
            $("#itemcode").data("kendoComboBox").options.dataSource.transport.read.url=$NotificacionDeficit.NotificacionDeficit.urlNoId + "?token=" + Cookies.get("token")+"&ordenTrabajo="+$("#ordtrabajo").data("kendoComboBox").value();
            regenerarCombo();
        },
        dataTextField: "value",
        dataValueField: "id"
    });

    $("#itemcode").kendoComboBox({
        dataSource: {
            transport: {
                read: {
                    url:"",
                    dataType: "json",
                    type:"GET"
                }
            }
        },
        minLength: 3,
        change:function(e){
            $RevisionDeficit.RevisionDeficit.read({},{ordenTrabajoID:$("#ordtrabajo").data("kendoComboBox").value(),token:Cookies.get("token")}).done(function(data){
                $("#gridIC").data("kendoGrid").dataSource.data(data);
            })
            $RevisionDeficit.RevisionDeficit.read({},{ordenTrabajo:$("#ordtrabajo").data("kendoComboBox").value(),token:Cookies.get("token")}).done(function(data){
                $("#gridSp").data("kendoGrid").dataSource.data(data);
                $("#gridSp").show();
            })
        },
        dataTextField: "value",
        dataValueField: "id"
    });

    $("#gridIC").kendoGrid({
        columns: [
            {field:"SpoolID",title:"SpoolID", },
            {field:"ItemCode",title:"Item Code"},
            {field:"Diametro1",title:"Diametro 1"},
            {field:"Diametro2",title:"Diametro 2"},
            {field:"Descripcion"},
            {field:"Cantidad"},
            {field:"Deficit"},
            { command: "edit", title: "Editar", width: "91px" },
            { command: "destroy", title: "Borrar", width: "91px" }
        ],
        dataSource: {
            data: [],
            schema:{
                model: {
                    id:"SpoolID",
                    fields:{//{"SpoolID":"108581","ItemCodeID":"8","ItemCode":"PCRC70389","Diametro1":"8.0000","Diametro2":"58.0000","Descripcion":"Item Code Steelgo Prueba 01","Cantidad":"0","Deficit":"10"}
                        SpoolID:{ editable: false, nullable: true },
                        ItemCodeID:{ editable: false, nullable: true },
                        ItemCode: { editable: false,type:"string",validation: { required: false } },
                        Diametro1: { editable: false,type:"number", validation: { required: false } },
                        Diametro2: { editable: false,type:"number", validation: { required: false } },
                        Descripcion:{ editable: false,type:"string", validation: { required: false } },
                        Cantidad:{editable: false,type:"number"},
                        Deficit:{editable: true,type:"number"}
                    }
                },
            },
            transport:{
                update:{
                    url:"",
                    type:"PUT",
                    dataType:"json"
                },
                destroy:{
                    url:"",
                    type:"DELETE",
                    dataType:"json"
                },
            },
        },
        autoHeight: true,
        sortable: false,
        scrollable: false,
        filterable: false,
        pageable: false,
        editable:"inline",
        save: function(e) {
            console.log(e);
        },
        remove: function(e) {
            console.log(e);
        },
        dataBound: function(e) {
            //$("#gridIC").data("kendoGrid").editRow($("#gridIC tr:eq(1)"));
        },
        edit:function(e){
        }
    });

    $("#gridSp").kendoGrid({
        columns: [
            { template: '<input type="checkbox" class="sub" >', width: 45 },
            {field:"SpoolID",title:"SpoolID"},
            {field:"Spool",title:"Spool"},
            {field:"Prioridad",title:"Prioridad"},
            {field:"Peqs"},
            {field:"Peso"},
        ],
        dataSource: {
            data: [],
            schema: {
                model: {
                    id:"SpoolID",
                    fields:{
                        SpoolID:{ editable: false, nullable: true },
                        Spool: { editable: false,type:"string",validation: { required: false } },
                        Prioridad: { editable: false,type:"number", validation: { required: false } },
                        Peqs: { editable: false,type:"string", validation: { required: false } },
                        Peso:{editable: false,type:"number"},
                        ItemCodeID:{editable: false,type:"number"}
                    }
                },
            },
        },
        detailInit: detailInit,
        autoHeight: true,
        sortable: false,
        scrollable: false,
        filterable: false,
        editable:"inline",
        pageable: false,
        editable:false,
        save: function(e) {
            console.log(e);
        },
        remove: function(e) {
            console.log(e);
        },
        dataBound: function(e) {
            console.log(e);
        },
        edit:function(e){
            console.log(e);
        }
    });

    $("#solucionar").on("click",function(){
        var deficits=[];
        var spools=[];
        var orden=$("#ordtrabajo").data("kendoComboBox").value();
        $("#gridIC tr[data-uid]").each(function(){
            var dataItem=$("#gridIC").data("kendoGrid").dataItem($(this).closest("tr"));
            deficits.push({ItemCodeID:dataItem.ItemCodeID,DeficitTotal:dataItem.DeficitTotal});
        })
        if(document.getElementById("spoolCheck").checked){
            $("#gridSp input.sub:checked").each(function(){
                var dataItem=$("#gridSp").data("kendoGrid").dataItem($(this).closest("tr"));
                spools.push(dataItem.SpoolID);
            })
        }
        $NotificacionDeficit.NotificacionDeficit.create({},{ordenTrabajoID:orden,spoolID:JSON.stringify(spools),deficit:JSON.stringify(deficits),token:Cookies.get("token")}).done(function(result){
            console.log(result);
        });
    })
};
    
@section JavascriptDocumentReadyHomeCookie {
    //Cookies.set("home", true, { path: '/' });
    //Cookies.set("navegacion", "46", { path: '/' });
};
</script>
