@{
    ViewBag.Title = "CapturaServiciosTecnicos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@section breadcrumb {
    <li>
        <a href="@Url.Action("landing", "Home")"><span id="lblInicio"></span></a>
    </li>
    <li class="active">
        <a href="@Url.Action("CapturaReportePruebas", "ServiciosTecnicos")"><span id="lblTituloCapturaDeReportePruebas"></span></a>
    </li>
}

<div></div>


<div id="FormCapturaReportePruebas" class="form clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="formNav clearfix">
                <div class="row">
                    <input type="hidden" value=@ViewBag.id id="idField" />
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="button-section editButtonSection">
                            <div class="btn-group save-group">
                                <button id="Guardar" onclick="javascript:void(0);" type="button" class="btn btn-yellow"><span id="botonGuardar2"></span></button>
                            </div>
                            <a id="btnCancelar" class="btn btn-black"><span id="botonCancelar"></span></a>
                        </div>
                        <div class="button-section actionButtonSection">
                            <div class="dropdown action-group">
                                <a id="Acciones" data-target="#" href="#" data-toggle="dropdown" role="button" ariahaspopup="true" aria-expanded="false" class="btn btn-default">
                                    <span id="DetalleAvisoLlegada0064"></span>
                                    <span class="caretBlue"></span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="Acciones">                          
                                </ul>
                            </div>
                        </div>
                        <a id="Imprimir" href="#" class="btn btn-fadeBlue actionButtonSection"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <span id="Re">Tipo de Prueba: </span>
            <span id="RequisicionTipoDePrueba"></span>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <span id="Re">Requisición: </span>
            <span id="RequisicionNoRequisicion"></span>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <span id="Re">Fuente: </span>
            <span id="RequisicionHerramientaPrueba"></span>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <span id="Re">Turno: </span>
            <span id="RequisicionTurno"></span>
        </div>
    </div>

    <hr />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="ContenedorGrid" class="row">
                <div id="grid" data-role="grid" class="k-grid k-widget">
                </div>
            </div>
        </div>
    </div>
   
    <input id="hdAccionFiltrado" type="hidden" />
    <div id="window">
    </div>
    <br /><br />
  
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="formNav clearfix">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="button-section editButtonSection">
                            <div class="btn-group save-group">
                                <button id="Guardar" onclick="javascript:void(0);" type="button" class="btn btn-yellow"><span id="">Guardar</span></button>                       
                            </div>
                            <a id="btnCancelar" class="btn btn-black"><span id="">Cancelar</span></a>
                        </div>

                        <div class="button-section actionButtonSection">
                            <div class="dropdown action-group">
                                <a id="Acciones" data-target="#" href="#" data-toggle="dropdown" role="button" ariahaspopup="true" aria-expanded="false" class="btn btn-default">
                                    <span id="">Acciones</span>
                                    <span class="caretBlue"></span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="Acciones">
                                   
                                </ul>
                            </div>
                        </div>
                        <a id="Imprimir" href="#" class="btn btn-fadeBlue actionButtonSection"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/AppComponents/ServiciosTecnicos/CapturaReportePruebas/Ajax.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/ServiciosTecnicos/CapturaReportePruebas/Render.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/ServiciosTecnicos/CapturaReportePruebas/Captura.js"> </script>
