
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section breadcrumb {
    <li>
        <a href="@Url.Action("landing", "Home")"><span id="lblInicio"></span></a>
    </li>
    <li>
        <a href="#"><span id="ServiciosTecnicosHeader"></span></a>
    </li>
    <li class="active">
        <a href="@Url.Action("ImpresionPruebas", "ServiciosTecnicos")"><span id="lblImpresionPruebas"></span></a>
    </li>
}
<div id="FormImpresionPruebas" class="form clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="formNav clearfix">
                <div class="button-section editButtonSection">
                    <div class="btn-group save-group">
                        <button id="Guardar" onclick="javascript:void(0);" type="button" class="btn btn-yellow"><span id="botonGuardar"></span></button>
                        <button id="dropdown-toggle" type="button" class="btn btn-yellow dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caretWhite"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" id="btnGuardar"><span id="botonGuardar2"></span></a></li>
                            <li><a href="#" id="btnGuardarYNuevo"><span id="botonGuardarYNuevo"></span></a></li>
                        </ul>
                    </div>

                </div>

                <a id="Imprimir" href="#" class="btn btn-fadeBlue actionButtonSection"></a>
            </div>
        </div>
        <br />
        <div class="row addedSectionInLine">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div id="ContenedorGrid" class="row">
                        <div id="grid" data-role="grid" class="k-grid k-widget">
                        </div>
                    </div>
                </div>
            </div>
            <input id="hdAccionFiltrado" type="hidden" />
        </div>
        <div id="window">
        </div>
        <div class="row ">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="formNav clearfix">
                    <div class="button-section editButtonSection">
                        <div class="btn-group save-group">
                            <button id="GuardarPie" onclick="javascript:void(0);" type="button" class="btn btn-yellow"><span id="botonGuardar3"></span></button>
                            <button id="dropdown-toggle" type="button" class="btn btn-yellow dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caretWhite"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#" id="btnGuardar1"><span id="botonGuardar4"></span></a></li>
                                <li><a href="#" id="btnGuardarYNuevo1"><span id="botonGuardarYNuevo1"></span></a></li>
                            </ul>
                        </div>

                    </div>

                    <a id="Imprimir" href="#" class="btn btn-fadeBlue actionButtonSection"></a>


                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/AppComponents/ServiciosTecnicos/ImpresionPruebas/Ajax.js"> </script>
<script type="text/javascript" src="~/Scripts/AppComponents/ServiciosTecnicos/ImpresionPruebas/Handlers.js"> </script>
<script type="text/javascript" src="~/Scripts/AppComponents/ServiciosTecnicos/ImpresionPruebas/Render.js"> </script>
<script type="text/javascript" src="~/Scripts/AppComponents/ServiciosTecnicos/ImpresionPruebas/Captura.js"> </script>
