
@{
    ViewBag.Title = "ImpresionPruebas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<div id="FormListadoRequisicion" class="form clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="formNav clearfix">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="button-section editButtonSection">
                         
                            <a id="btnCancelar" class="btn btn-black"><span id="botonCancelar"></span></a>
                        </div>
                        
                        <a id="Imprimir" href="#" class="btn btn-fadeBlue actionButtonSection"></a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div>
                <div class="btn-group " data-toggle="buttons" role="group">
                    <label>&nbsp;</label>
                    <label class="btn btn-info" id="styleReporte">
                        <input type="radio" name="MostrarToodo" style="width:auto;" value="Si" /><span id="ImpresionPruebasMostrarTodo"></span>
                    </label>
                    <label class="btn btn-info" id="styleListado">
                        <input type="radio" name="MostrarToodo" style="width:auto;" value="No" /><span id="ImpresionPruebasNoMostrarTodo"> </span>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div id="ContenedorGrid" class="row">
                        <div id="grid" data-role="grid" class="k-grid k-widget">
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
    <input id="hdAccionFiltrado" type="hidden" />
    <div id="window">
    </div>
</div>

<script type="text/javascript" src="~/Scripts/AppComponents/ServiciosTecnicos/ImpresionPruebas/Ajax.js"> </script>
<script type="text/javascript" src="~/Scripts/AppComponents/ServiciosTecnicos/ImpresionPruebas/Handlers.js"> </script>
<script type="text/javascript" src="~/Scripts/AppComponents/ServiciosTecnicos/ImpresionPruebas/Render.js"> </script>
<script type="text/javascript" src="~/Scripts/AppComponents/ServiciosTecnicos/ImpresionPruebas/Captura.js"> </script>