@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section breadcrumb {
    <li>
        <a href="@Url.Action("landing", "Home")"><span id="lblInicio"></span></a>
    </li>
    <li>
        <a href="#"><span id="ServiciosTecnicosHeader"></span></a>
    </li>
    <li class="active">
        <a href="@Url.Action("ListadoRequisicion", "ServiciosTecnicos")"><span id="ListadodeRequisicion"></span></a>
    </li>
}



<div id="FormListadoRequisicion" class="form clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row" id="AgregarRequisicionDiv">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="button-section editButtonSection">
                <button id="btnAgregarRequisicion" type="button" class="btn btn-newArrival btn-yellow"><span id="spanAddReguisicion"></span></button>
            </div>
        </div>
    </div>
    <div class="row addedSectionInLine">
        <div class="btn-group tabList col-xs-12 col-sm-12 col-md-12 col-lg-12" role="group" id="divStatusRequisiciones" arial-label="tabList">

            @*<button  id="btnSinPermiso" class="btn btn-tabList"><span id="">Capturado </span><span id="">0</span></button>
            <button id="btnSinAutorizacion" class="btn btn-tabList active"><span id="">Asignados </span><span id="">0</span>10</button>
            <button id="btnColetos" class="btn btn-tabList"><span id="">Entregados </span><span id="">0</span></button>
            <button id="btnCompletos" class="btn btn-tabList"><span id="">Validados </span><span id="">0</span></button>*@
        </div>
        <div id="ContenedorGrid" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="grid" data-role="grid" class="k-grid k-widget">
            </div>
        </div>
        <input id="hdAccionFiltrado" type="hidden" />
    </div>


</div>
<script type="text/javascript" src="~/Scripts/AppComponents/ServiciosTecnicos/ListadoRequisicion/Ajax.js"></script>
<script type="text/javascript" src="~/Scripts/AppComponents/ServiciosTecnicos/ListadoRequisicion/Handlers.js"> </script>
<script type="text/javascript" src="~/Scripts/AppComponents/ServiciosTecnicos/ListadoRequisicion/Captura.js"> </script>
<script type="text/javascript" src="~/Scripts/AppComponents/ServiciosTecnicos/ListadoRequisicion/Seguridad.js"></script>

<script>
    @section JavascriptDocumentReadyFunctions {
    $authorizationModel["ListadoRequisicion"] = $ListadoRequisicionModel;
    }
</script>
