@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section breadcrumb {
    <li>
        <a href="@Url.Action("landing", "Home")"><span id="lblInicio"></span></a>
    </li>
    <li>
        <a href="#"><span id="ServiciosTecnicosHeader"></span></a>
    </li>
    <li class="active">
        <a href="@Url.Action("RequisicionesAsignadas", "ServiciosTecnicos")"><span id="RequisicionesAsignadas"></span></a>
    </li>
}

<div id="FormRequisicionesasignadas" class="form clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                        <div class="btn-group tabList col-xs-12 col-sm-12 col-md-12 col-lg-12" role="group" arial-label="tabList" id="divStatusRequisiciones">
                            @*<button id="btnSinPermiso" class="btn btn-tabList"><span id="">Pendiente </span><span id="">10</span></button>
                                <button id="btnSinAutorizacion" class="btn btn-tabList active"><span id="">espera Validacion </span><span id="">10</span>10</button>
                                <button id="btnColetos" class="btn btn-tabList"><span id="">Validadas </span><span id="">10</span></button>
                                <button id="btnCompletos" class="btn btn-tabList"><span id="">Rechazadas </span><span id="">20</span></button>*@
                        </div>
                    </div>
                    <div id="ContenedorGrid">
                        <div id="grid" data-role="grid" class="k-grid k-widget">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input id="hdAccionFiltrado" type="hidden" />
</div>
<script type="text/javascript" src="~/Scripts/AppComponents/ServiciosTecnicos/RequisicionesAsignadas/Ajax.js"> </script>
<script type="text/javascript" src="~/Scripts/AppComponents/ServiciosTecnicos/RequisicionesAsignadas/Handlers.js"> </script>
<script type="text/javascript" src="~/Scripts/AppComponents/ServiciosTecnicos/RequisicionesAsignadas/Captura.js"> </script>